@import url("https://fonts.googleapis.com/css?family=Helvetica");

  .ModuleList {
    position: relative;
    display: grid;
    justify-content: center;;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    margin-top: 10px;
    background-color: #FFFFFF;
    width: 99vw;
    height: 80vh;
    overflow: auto;
    border-radius: 8px;
    scrollbar-width: thin;
    scrollbar-color: var(--color) rgba(26, 26, 26, 0.32);
  }
  
  .ModuleList span {
    display: inline-block;
    width: 108px;
    height: 108px;
    cursor: pointer;
    font-weight: 500;
    padding: 20px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 1px 5px 15px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f6f6f6;
  }

  .MobileList {
    position: relative;
    top: -50px;
    display: grid;
    justify-content: center;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    overflow: auto;
    overflow-x: hidden;
    background-color: #FFFFFF;
  }
  
  .MobileList span {
    display: inline-block;
    width: 100px;
    height: 90px;
    cursor: pointer;
    font-weight: 500;
    padding: 20px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 1px 5px 15px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f6f6f6;
  }
  
  .check {
    display: inline-block;
    width: 87px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: rgba(26, 26, 26, 0.87);
    margin-left: -9px;
  }

  .check1 {
    display: inline-block;
    width: 85px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: rgba(26, 26, 26, 0.87);
    margin-left: -12px;
  }
  
  .image {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .Inven {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .HRMS {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .images {
    display: inline-block;
    margin-bottom: 5px;
  }

  .betweenspace{
    display: inline-block;
    //width:90px;
  }

  .betweenspace1{
    display: inline-block;
    //width:120px;
  }

  .betweenspace2{
    display: inline-block;
    //width:150px;
  }

  .betweenspace3{
    display: inline-block;
    //width:180px;
  }

  #leftbutton{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 7%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }
  #rightbutton{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 4%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }

  #leftbutton1{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 7%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }
  #rightbutton1{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 4%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }

  #leftbutton2{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 8.5%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }
  #rightbutton2{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 4%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }

  #leftbutton3{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    // right: 10%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }
  #rightbutton3{
    width: 28px;
    height: 28px;
    outline-style: none;
    position: absolute;
    right: 4%;
    bottom: 1.68%;
    background: #FFFFFF;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 4px;
  }
  
  #second{
    display: none;
  }

  #page2{
    display: none;
  }
  #page3{
    display: none;
  }

  #page12{
    display: none;
  }
  #page13{
    display: none;
  }

  #page22{
    display: none;
  }
  #page23{
    display: none;
  }

  #page24{
    display: none;
  }

  @media (min-width: 1300px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: block;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
    #forMobile{
      display: none;
    }
    #forMobile1{
      display: none;
    }
    .betweenspace{
        display: inline-block;
        width:90px;
      }
    
      .betweenspace1{
        display: inline-block;
        width:120px;
      }
    
      .betweenspace2{
        display: inline-block;
        width:150px;
      }
    
      .betweenspace3{
        display: inline-block;
        width:180px;
      }
  }

  @media (max-width: 1300px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: block;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
    #forMobile{
        display: none;
    }
    #forMobile1{
      display: none;
    }
    .betweenspace{
      width: 60px;
    }
  
  }

  @media (max-width: 1200px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: block;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
    #forMobile{
        display: none;
    }
    #forMobile1{
      display: none;
    }
    .betweenspace{
      width: 90px;
    }
  
  }

  @media (max-width: 1100px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: block;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
    #forMobile{
        display: none;
    }
    #forMobile1{
      display: none;
    }
    .betweenspace{
        width: 60px;
    }
  }

  @media (max-width: 1000px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: block;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
    #forMobile{
        display: none;
      }
      #forMobile1{
        display: none;
      }
    .betweenspace1{
        width: 90px;
    }
  }

  @media (max-width: 930px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: block;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
    #forMobile{
        display: none;
      }
      #forMobile1{
        display: none;
      }
    .betweenspace1{
        width: 60px;
    }
  }

  @media (max-width: 810px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: block;
    }
    #forthree{
      display: none;
    }
    #forMobile{
        display: none;
      }
      #forMobile1{
        display: none;
      }
    .betweenspace2{
        width: 90px;
    }
  }
  @media (max-width: 740px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: block;
    }
    #forthree{
      display: none;
    }
    #forMobile{
        display: none;
      }
      #forMobile1{
        display: none;
      }
    .betweenspace2{
        width: 60px;
    }
    #leftbutton3{
        right: 10%
    }
  }

  @media (max-width: 625px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: block;
    }
    #forMobile{
        display: none;
      }
      #forMobile1{
        display: none;
      }
    .betweenspace3{
        width: 90px;
    }
    #leftbutton3{
        right: 10%
    }
  }

  @media (max-width: 525px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: block;
    }
    #forMobile{
        display: none;
      }
      #forMobile1{
        display: none;
      }
    .betweenspace3{
        width: 60px;
    }
    #leftbutton3{
        right: 11%
    }
  }

  @media (max-width: 450px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: block;
    }
    #forMobile{
        display: none;
      }
      #forMobile1{
        display: none;
      }
    .betweenspace3{
        width: 30px;
    }
    #leftbutton3{
        right: 12%
    }
  }

  @media (max-width: 420px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
    #forMobile{
        display: block;
      }
      #forMobile1{
        display: none;
      }
    .betweenspace3{
        width: 10px;
    }
  }

  @media (max-width: 350px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
    #forMobile{
        display: none;
      }
      #forMobile1{
        display: block;
      }
    .betweenspace3{
        width: 30px;
    }
  }

  @media (max-width: 280px) {
    #modulelist{
      display: block;
    }
    #forseven{
      display: none;
    }
    #forsix{
      display: none;
    }
    #forfive{
      display: none;
    }
    #forfour{
      display: none;
    }
    #forthree{
      display: none;
    }
    #forMobile{
        display: none;
    }
    #forMobile1{
      display: block;
    }
    .betweenspace3{
        width: 10px;
    }
  }

  @media (max-width: 250px) {
    #forthree{
        display: none;
    }
  }