<div id="modulelist" style="background-color: #FFFFFF; border-radius: 8px;">
    <div id="forseven">
        <div class="ModuleList">
            <div id="first"  *ngIf="modulelist">
                <span *ngIf=modulelist[0] (click)="SelectedModuleId(modulelist[0])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[0].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[0].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[1] (click)="SelectedModuleId(modulelist[1])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[1].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[1].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[2] (click)="SelectedModuleId(modulelist[2])">
                    <img class="Inven" src='{{ "assets/custom_image/" + theme + "/" + modulelist[2].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[2].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[3] (click)="SelectedModuleId(modulelist[3])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[3].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[3].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[4] (click)="SelectedModuleId(modulelist[4])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[4].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[4].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[5] (click)="SelectedModuleId(modulelist[5])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[5].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[5].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[6] (click)="SelectedModuleId(modulelist[6])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[6].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[6].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[7] (click)="SelectedModuleId(modulelist[7])">
                    <img class="HRMS" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[7].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[7].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[8] (click)="SelectedModuleId(modulelist[8])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[8].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[8].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[9] (click)="SelectedModuleId(modulelist[9])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[9].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[9].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[10] (click)="SelectedModuleId(modulelist[10])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[10].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[10].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[11] (click)="SelectedModuleId(modulelist[11])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[11].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[11].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[12] (click)="SelectedModuleId(modulelist[12])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[12].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[12].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[13] (click)="SelectedModuleId(modulelist[13])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[13].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[13].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[14] (click)="SelectedModuleId(modulelist[14])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[14].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[14].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[15] (click)="SelectedModuleId(modulelist[15])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[15].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[15].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[16] (click)="SelectedModuleId(modulelist[16])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[16].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[16].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[17] (click)="SelectedModuleId(modulelist[17])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[17].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[17].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[18] (click)="SelectedModuleId(modulelist[18])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[18].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[18].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[19] (click)="SelectedModuleId(modulelist[19])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[19].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[19].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[20] (click)="SelectedModuleId(modulelist[20])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[20].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[20].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[21] (click)="SelectedModuleId(modulelist[21])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[21].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[21].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[22] (click)="SelectedModuleId(modulelist[22])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[22].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[22].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[23] (click)="SelectedModuleId(modulelist[23])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[23].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[23].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[24] 
                    (click)="SelectedModuleId(modulelist[24])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[24].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[24].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[25]  (click)="SelectedModuleId(modulelist[25])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[25].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[25].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[26] 
                    (click)="SelectedModuleId(modulelist[26])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[26].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[26].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[27] 
                    (click)="SelectedModuleId(modulelist[27])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[27].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[27].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[28] style="padding-top: 30px" 
                    (click)="SelectedModuleId(modulelist[28])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[28].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[28].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[29]  (click)="SelectedModuleId(modulelist[29])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[29].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[29].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[31]  (click)="SelectedModuleId(modulelist[31])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[31].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[31].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
            </div>
        </div>
    </div>




    <div id="forsix">
        <div class="ModuleList">
            <div id="first" *ngIf="modulelist">
                <span *ngIf=modulelist[0] (click)="SelectedModuleId(modulelist[0])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[0].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[0].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[1] (click)="SelectedModuleId(modulelist[1])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[1].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[1].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[2] (click)="SelectedModuleId(modulelist[2])">
                    <img class="Inven" src='{{ "assets/custom_image/" + theme + "/" + modulelist[2].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[2].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[3] (click)="SelectedModuleId(modulelist[3])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[3].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[3].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[4] (click)="SelectedModuleId(modulelist[4])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[4].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[4].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[5] (click)="SelectedModuleId(modulelist[5])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[5].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[5].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[6] (click)="SelectedModuleId(modulelist[6])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[6].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[6].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[7] (click)="SelectedModuleId(modulelist[7])">
                    <img class="HRMS" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[7].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[7].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[8] (click)="SelectedModuleId(modulelist[8])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[8].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[8].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[9] (click)="SelectedModuleId(modulelist[9])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[9].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[9].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[10] (click)="SelectedModuleId(modulelist[10])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[10].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[10].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[11] (click)="SelectedModuleId(modulelist[11])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[11].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[11].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[12] (click)="SelectedModuleId(modulelist[12])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[12].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[12].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[13] (click)="SelectedModuleId(modulelist[13])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[13].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[13].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[14] (click)="SelectedModuleId(modulelist[14])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[14].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[14].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[15] (click)="SelectedModuleId(modulelist[15])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[15].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[15].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[16] (click)="SelectedModuleId(modulelist[16])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[16].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[16].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[17] (click)="SelectedModuleId(modulelist[17])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[17].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[17].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[18] (click)="SelectedModuleId(modulelist[18])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[18].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[18].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[19] (click)="SelectedModuleId(modulelist[19])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[19].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[19].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[20] (click)="SelectedModuleId(modulelist[20])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[20].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[20].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[21] (click)="SelectedModuleId(modulelist[21])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[21].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[21].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[22] (click)="SelectedModuleId(modulelist[22])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[22].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[22].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[23] (click)="SelectedModuleId(modulelist[23])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[23].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[23].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[24] 
                    (click)="SelectedModuleId(modulelist[24])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[24].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[24].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[25]  (click)="SelectedModuleId(modulelist[25])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[25].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[25].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[26] 
                    (click)="SelectedModuleId(modulelist[26])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[26].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[26].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[27] 
                    (click)="SelectedModuleId(modulelist[27])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[27].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[27].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[28] style="padding-top: 30px" 
                    (click)="SelectedModuleId(modulelist[28])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[28].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[28].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
                <span *ngIf=modulelist[29]  (click)="SelectedModuleId(modulelist[29])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[29].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[29].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[31]  (click)="SelectedModuleId(modulelist[31])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[31].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[31].ModuleName}}</p>
                </span>
                <div class="betweenspace"></div>
            </div>
        </div>
    </div>



    <div id="forfive">
        <div class="ModuleList">
            <div id="page1" *ngIf="modulelist">
                <span *ngIf=modulelist[0] (click)="SelectedModuleId(modulelist[0])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[0].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[0].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[1] (click)="SelectedModuleId(modulelist[1])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[1].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[1].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[2] (click)="SelectedModuleId(modulelist[2])">
                    <img class="Inven" src='{{ "assets/custom_image/" + theme + "/" + modulelist[2].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[2].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[3] (click)="SelectedModuleId(modulelist[3])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[3].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[3].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[4] (click)="SelectedModuleId(modulelist[4])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[4].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[4].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[5] (click)="SelectedModuleId(modulelist[5])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[5].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[5].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[6] (click)="SelectedModuleId(modulelist[6])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[6].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[6].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[7] (click)="SelectedModuleId(modulelist[7])">
                    <img class="HRMS" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[7].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[7].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[8] (click)="SelectedModuleId(modulelist[8])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[8].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[8].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[9] (click)="SelectedModuleId(modulelist[9])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[9].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[9].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[10] (click)="SelectedModuleId(modulelist[10])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[10].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[10].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[11] (click)="SelectedModuleId(modulelist[11])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[11].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[11].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[12] (click)="SelectedModuleId(modulelist[12])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[12].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[12].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[13] (click)="SelectedModuleId(modulelist[13])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[13].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[13].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[14] (click)="SelectedModuleId(modulelist[14])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[14].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[14].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[15] (click)="SelectedModuleId(modulelist[15])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[15].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[15].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[16] (click)="SelectedModuleId(modulelist[16])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[16].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[16].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[17] (click)="SelectedModuleId(modulelist[17])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[17].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[17].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[18] (click)="SelectedModuleId(modulelist[18])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[18].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[18].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[19] (click)="SelectedModuleId(modulelist[19])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[19].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[19].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[20] (click)="SelectedModuleId(modulelist[20])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[20].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[20].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[21] (click)="SelectedModuleId(modulelist[21])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[21].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[21].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[22] (click)="SelectedModuleId(modulelist[22])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[22].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[22].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[23] (click)="SelectedModuleId(modulelist[23])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[23].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[23].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[24] (click)="SelectedModuleId(modulelist[24])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[24].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[24].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[25]  (click)="SelectedModuleId(modulelist[25])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[25].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[25].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[26] 
                    (click)="SelectedModuleId(modulelist[26])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[26].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[26].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[27] 
                    (click)="SelectedModuleId(modulelist[27])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[27].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[27].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[28] style="padding-top: 30px" 
                    (click)="SelectedModuleId(modulelist[28])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[28].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[28].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
                <span *ngIf=modulelist[29]  (click)="SelectedModuleId(modulelist[29])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[29].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[29].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[31]  (click)="SelectedModuleId(modulelist[31])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[31].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[31].ModuleName}}</p>
                </span>
                <div class="betweenspace1"></div>
            </div>
        </div>
    </div>




    <div id="forfour">
        <div class="ModuleList">
            <div id="page11" *ngIf="modulelist">
                <span *ngIf=modulelist[0] (click)="SelectedModuleId(modulelist[0])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[0].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[0].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[1] (click)="SelectedModuleId(modulelist[1])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[1].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[1].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[2] (click)="SelectedModuleId(modulelist[2])">
                    <img class="Inven" src='{{ "assets/custom_image/" + theme + "/" + modulelist[2].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[2].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[3] (click)="SelectedModuleId(modulelist[3])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[3].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[3].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[4] (click)="SelectedModuleId(modulelist[4])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[4].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[4].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[5] (click)="SelectedModuleId(modulelist[5])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[5].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[5].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[6] (click)="SelectedModuleId(modulelist[6])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[6].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[6].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[7] (click)="SelectedModuleId(modulelist[7])">
                    <img class="HRMS" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[7].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[7].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[8] (click)="SelectedModuleId(modulelist[8])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[8].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[8].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[9] (click)="SelectedModuleId(modulelist[9])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[9].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[9].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[10] (click)="SelectedModuleId(modulelist[10])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[10].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[10].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[11] (click)="SelectedModuleId(modulelist[11])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[11].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[11].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[12] (click)="SelectedModuleId(modulelist[12])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[12].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[12].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[13] (click)="SelectedModuleId(modulelist[13])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[13].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[13].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[14] (click)="SelectedModuleId(modulelist[14])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[14].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[14].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[15] (click)="SelectedModuleId(modulelist[15])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[15].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[15].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[16] (click)="SelectedModuleId(modulelist[16])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[16].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[16].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[17] (click)="SelectedModuleId(modulelist[17])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[17].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[17].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[18] (click)="SelectedModuleId(modulelist[18])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[18].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[18].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[19] (click)="SelectedModuleId(modulelist[19])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[19].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[19].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[20] (click)="SelectedModuleId(modulelist[20])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[20].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[20].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[21] (click)="SelectedModuleId(modulelist[21])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[21].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[21].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[22] (click)="SelectedModuleId(modulelist[22])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[22].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[22].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[23] (click)="SelectedModuleId(modulelist[23])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[23].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[23].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[24] 
                    (click)="SelectedModuleId(modulelist[24])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[24].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[24].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[25]  (click)="SelectedModuleId(modulelist[25])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[25].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[25].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[26] 
                    (click)="SelectedModuleId(modulelist[26])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[26].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[26].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[27] 
                    (click)="SelectedModuleId(modulelist[27])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[27].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[27].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[28] style="padding-top: 30px;"
                    (click)="SelectedModuleId(modulelist[28])">
                    <img class="image" img
                        src='{{ "assets/custom_image/" + theme + "/" + modulelist[28].ModuleName + ".png" }}' height="48px"
                        width="48px" alt="" />
                    <p class="check">{{modulelist[28].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[29] 
                    (click)="SelectedModuleId(modulelist[29])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[29].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[29].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
                <span *ngIf=modulelist[31]  (click)="SelectedModuleId(modulelist[31])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[31].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[31].ModuleName}}</p>
                </span>
                <div class="betweenspace2"></div>
            </div>
        </div>
    </div>




    <div id="forthree">
        <div class="ModuleList">
            <div id="page21" *ngIf="modulelist">
                <span *ngIf=modulelist[0] (click)="SelectedModuleId(modulelist[0])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[0].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[0].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[1] (click)="SelectedModuleId(modulelist[1])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[1].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[1].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[2] (click)="SelectedModuleId(modulelist[2])">
                    <img class="Inven" src='{{ "assets/custom_image/" + theme + "/" + modulelist[2].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[2].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[3] (click)="SelectedModuleId(modulelist[3])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[3].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[3].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[4] (click)="SelectedModuleId(modulelist[4])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[4].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[4].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[5] (click)="SelectedModuleId(modulelist[5])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[5].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[5].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[6] (click)="SelectedModuleId(modulelist[6])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[6].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[6].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[7] (click)="SelectedModuleId(modulelist[7])">
                    <img class="HRMS" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[7].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[7].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[8] (click)="SelectedModuleId(modulelist[8])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[8].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[8].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[9] (click)="SelectedModuleId(modulelist[9])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[9].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[9].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[10] (click)="SelectedModuleId(modulelist[10])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[10].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[10].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[11] (click)="SelectedModuleId(modulelist[11])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[11].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[11].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[12] (click)="SelectedModuleId(modulelist[12])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[12].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[12].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[13] (click)="SelectedModuleId(modulelist[13])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[13].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[13].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[14] (click)="SelectedModuleId(modulelist[14])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[14].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[14].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[15] (click)="SelectedModuleId(modulelist[15])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[15].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[15].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[16] (click)="SelectedModuleId(modulelist[16])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[16].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[16].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[17] (click)="SelectedModuleId(modulelist[17])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[17].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[17].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[18] (click)="SelectedModuleId(modulelist[18])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[18].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[18].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[19] (click)="SelectedModuleId(modulelist[19])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[19].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[19].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[20] (click)="SelectedModuleId(modulelist[20])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[20].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[20].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[21] (click)="SelectedModuleId(modulelist[21])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[21].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[21].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[22] (click)="SelectedModuleId(modulelist[22])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[22].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[22].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[23] (click)="SelectedModuleId(modulelist[23])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[23].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[23].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[24] 
                    (click)="SelectedModuleId(modulelist[24])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[24].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[24].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[25]  (click)="SelectedModuleId(modulelist[25])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[25].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[25].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[26] 
                    (click)="SelectedModuleId(modulelist[26])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[26].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[26].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[27] 
                    (click)="SelectedModuleId(modulelist[27])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[27].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[27].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[28] style="padding-top: 30px" 
                    (click)="SelectedModuleId(modulelist[28])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[28].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[28].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[29]  (click)="SelectedModuleId(modulelist[29])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[29].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[29].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[31]  (click)="SelectedModuleId(modulelist[31])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[31].ModuleName + ".png" }}'
                        height="48px" width="48px" alt="" />
                    <p class="check">{{modulelist[31].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
            </div>
        </div>
    </div>




    <div id="forMobile">
        <div class="MobileList">
            <div id="page21" *ngIf="modulelist">
                <span *ngIf=modulelist[0] (click)="SelectedModuleId(modulelist[0])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[0].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[0].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[1] (click)="SelectedModuleId(modulelist[1])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[1].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[1].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[2] (click)="SelectedModuleId(modulelist[2])">
                    <img class="Inven" src='{{ "assets/custom_image/" + theme + "/" + modulelist[2].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[2].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[3] (click)="SelectedModuleId(modulelist[3])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[3].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[3].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[4] (click)="SelectedModuleId(modulelist[4])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[4].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[4].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[5] (click)="SelectedModuleId(modulelist[5])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[5].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[5].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[6] (click)="SelectedModuleId(modulelist[6])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[6].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[6].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[7] (click)="SelectedModuleId(modulelist[7])">
                    <img class="HRMS" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[7].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[7].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[8] (click)="SelectedModuleId(modulelist[8])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[8].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[8].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[9] (click)="SelectedModuleId(modulelist[9])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[9].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[9].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[10] (click)="SelectedModuleId(modulelist[10])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[10].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[10].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[11] (click)="SelectedModuleId(modulelist[11])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[11].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[11].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[12] (click)="SelectedModuleId(modulelist[12])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[12].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[12].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[13] (click)="SelectedModuleId(modulelist[13])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[13].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[13].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[14] (click)="SelectedModuleId(modulelist[14])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[14].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[14].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[15] (click)="SelectedModuleId(modulelist[15])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[15].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[15].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[16] (click)="SelectedModuleId(modulelist[16])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[16].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[16].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[17] (click)="SelectedModuleId(modulelist[17])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[17].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[17].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[18] (click)="SelectedModuleId(modulelist[18])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[18].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[18].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[19] (click)="SelectedModuleId(modulelist[19])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[19].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[19].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[20] (click)="SelectedModuleId(modulelist[20])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[20].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[20].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[21] (click)="SelectedModuleId(modulelist[21])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[21].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[21].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[22] (click)="SelectedModuleId(modulelist[22])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[22].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[22].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[23] (click)="SelectedModuleId(modulelist[23])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[23].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[23].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[24] 
                    (click)="SelectedModuleId(modulelist[24])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[24].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[24].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[25]  (click)="SelectedModuleId(modulelist[25])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[25].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[25].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[26] 
                    (click)="SelectedModuleId(modulelist[26])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[26].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[26].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[27] 
                    (click)="SelectedModuleId(modulelist[27])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[27].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[27].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[28] style="padding-top: 30px" 
                    (click)="SelectedModuleId(modulelist[28])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[28].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[28].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[29]  (click)="SelectedModuleId(modulelist[29])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[29].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[29].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[31]  (click)="SelectedModuleId(modulelist[31])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[31].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[31].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
            </div>
        </div>
    </div>



    <div id="forMobile1">
        <div class="MobileList">
            <div id="page21" *ngIf="modulelist">
                <span *ngIf=modulelist[0] (click)="SelectedModuleId(modulelist[0])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[0].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[0].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[1] (click)="SelectedModuleId(modulelist[1])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[1].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[1].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[2] (click)="SelectedModuleId(modulelist[2])">
                    <img class="Inven" src='{{ "assets/custom_image/" + theme + "/" + modulelist[2].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[2].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[3] (click)="SelectedModuleId(modulelist[3])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[3].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[3].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[4] (click)="SelectedModuleId(modulelist[4])">
                    <img class="images" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[4].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[4].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[5] (click)="SelectedModuleId(modulelist[5])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[5].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[5].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[6] (click)="SelectedModuleId(modulelist[6])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[6].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[6].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[7] (click)="SelectedModuleId(modulelist[7])">
                    <img class="HRMS" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[7].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[7].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[8] (click)="SelectedModuleId(modulelist[8])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[8].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[8].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[9] (click)="SelectedModuleId(modulelist[9])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[9].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[9].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[10] (click)="SelectedModuleId(modulelist[10])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[10].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[10].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[11] (click)="SelectedModuleId(modulelist[11])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[11].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[11].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[12] (click)="SelectedModuleId(modulelist[12])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[12].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[12].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[13] (click)="SelectedModuleId(modulelist[13])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[13].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[13].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[14] (click)="SelectedModuleId(modulelist[14])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[14].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[14].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[15] (click)="SelectedModuleId(modulelist[15])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[15].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[15].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[16] (click)="SelectedModuleId(modulelist[16])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[16].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[16].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[17] (click)="SelectedModuleId(modulelist[17])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[17].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[17].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[18] (click)="SelectedModuleId(modulelist[18])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[18].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[18].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[19] (click)="SelectedModuleId(modulelist[19])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[19].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[19].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[20] (click)="SelectedModuleId(modulelist[20])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[20].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[20].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[21] (click)="SelectedModuleId(modulelist[21])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[21].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[21].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[22] (click)="SelectedModuleId(modulelist[22])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[22].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[22].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[23] (click)="SelectedModuleId(modulelist[23])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[23].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[23].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[24] 
                    (click)="SelectedModuleId(modulelist[24])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[24].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[24].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[25]  (click)="SelectedModuleId(modulelist[25])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[25].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[25].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[26] 
                    (click)="SelectedModuleId(modulelist[26])">
                    <img class="image" src='{{ "assets/custom_image/" + theme + "/" + modulelist[26].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[26].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[27] 
                    (click)="SelectedModuleId(modulelist[27])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[27].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[27].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[28] style="padding-top: 30px" 
                    (click)="SelectedModuleId(modulelist[28])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[28].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[28].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
                <span *ngIf=modulelist[29]  (click)="SelectedModuleId(modulelist[29])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[29].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[29].ModuleName}}</p>
                </span>
                <br>
                <span *ngIf=modulelist[31]  (click)="SelectedModuleId(modulelist[31])">
                    <img class="image" img src='{{ "assets/custom_image/" + theme + "/" + modulelist[31].ModuleName + ".png" }}'
                        height="32px" width="32px" alt="" />
                    <p class="check1">{{modulelist[31].ModuleName}}</p>
                </span>
                <div class="betweenspace3"></div>
            </div>
        </div>
    </div>
</div>