
<router-outlet></router-outlet>
<form [formGroup]='form'>
    <app-gb-input formControlName='Server' gbplaceholder='EnterServer' gblabel='ServerId'></app-gb-input><br/>
    <app-gb-input formControlName='UserName' gbplaceholder='EnterUsername' gblabel='UserID'></app-gb-input><br/>
    <app-gb-input formControlName="Password" gbplaceholder='EnterPassword' gblabel='Password' gbtype='Password'></app-gb-input><br/>
    <button>Login</button>
    <button>clear</button>
    </form>