<ActionBar>
    <Label text="Permission"></Label>
</ActionBar>

<ScrollView>

    <StackLayout class="p-20" [formGroup]="form">
    
       
           <RadDataForm tkExampleTitle tkToggleNavButton [source]="form.value"  (propertyCommitted)="dfPropertyCommitted($event)">
            <TKEntityProperty tkDataFormProperty name="type" displayName="Permission type" index="0"
                valuesProvider="Permission,On Duty">
                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="date" index="1">
                <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="fromtime" index="1">
                <TKPropertyEditor tkEntityPropertyEditor type="TimePicker" ></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="totime" index="1">
                <TKPropertyEditor tkEntityPropertyEditor type="TimePicker" ></TKPropertyEditor>
            </TKEntityProperty>
            <TKEntityProperty tkDataFormProperty name="duration" index="1">
                <TKPropertyEditor tkEntityPropertyEditor type="Label" ></TKPropertyEditor>
            </TKEntityProperty>
        </RadDataForm>
    
        <TextField formControlName="duration" hint="Duration" id="Duration" class="permissiontext"></TextField>
    
        <TextField formControlName="remarks" hint="Remarks" id="remarks" class="permissiontext"></TextField>
        <TextField formControlName="location" hint="location" id="location" class="permissiontext"></TextField>
        <Button class="Login" text="save" (tap)="save()"></Button>
    
    </StackLayout>
    </ScrollView>
<!--
<form [formGroup]="form">
    <StackLayout marginBottom="30" class="opener">
        <Label text="hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh" class="permissionlabel"></Label>
        <TextField text="test" id="location" class="permissiontext"></TextField>
        <TextField hint="Select Date" formControlName="date" (tap)="selectDate()" id="date" class="permissiontext">
        </TextField>
        <TextField readOnly="true" hint="Select from time" formControlName="fromtime" editable="false"
            (tap)="selectfromTime()" id="fromtime" class="permissiontext"></TextField>
        <TextField readOnly="true" hint="Select to time" formControlName="totime" editable="false"
            (tap)="selecttoTime()" id="totime" class="permissiontext"></TextField>
        <TextField formControlName="duration" hint="Duration" id="Duration" class="permissiontext"></TextField>

        <TextField formControlName="remarks" hint="Remarks" id="remarks" class="permissiontext"></TextField>
        <TextField formControlName="location" hint="location" id="location" class="permissiontext"></TextField>
        <Button class="Login" text="save" (tap)="save()"></Button>
    </StackLayout>
</form>-->



<!--<GridLayout class="page__content">
    <Label class="page__content-icon far" text="&#xf1ea;"></Label>
    <RadDataForm tkExampleTitle tkToggleNavButton [source]="form.value"  (propertyCommitted)="dfPropertyCommitted($event)">
        <TKEntityProperty tkDataFormProperty name="type" displayName="Permission type" index="0"
            valuesProvider="Permission,On Duty">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="date" index="1">
            <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="fromtime" index="1">
            <TKPropertyEditor tkEntityPropertyEditor type="TimePicker" ></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="totime" index="1">
            <TKPropertyEditor tkEntityPropertyEditor type="TimePicker" ></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="duration" displayName="duration" index="2"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="remarks" displayName="remarks" index="3"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="location" displayName="location" index="4"></TKEntityProperty>

    </RadDataForm>
  <!--  <Button class="Login" text="save" (tap)="save()"></Button>-->
   
<!--</GridLayout>-->

