
<div class="styled-header" style="width:65%; overflow:auto">
  <table class="styled-table" >
    <thead>
      <tr>
        <th *ngFor="let head of columnData" class="mon-eighth">{{head.headerName}}</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of rowData">
        <td *ngFor='let field of columnData'>{{item[field.field]}}</td>
      </tr>
    </tbody>
  </table>
</div>
