<div class="dbtable">
    <!-- <p class="D" style="display: inline-block; margin-left: 1100px; color: black; font-weight: bold;">Total Value :{{TotalValue | NumberFormat}}</p> -->
  <table class="Table">
      <thead class="thead">
          <tr class="theadtr">
              <th class="th cap1-bold-12-white" >Code</th>
              <th class="th cap1-bold-12-white" >Name</th>
              <th class="th cap1-bold-12-white" >UOM</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Open Qty</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Open Value</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">In Qty</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">In Value</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Out Qty</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Out Value</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Close Qty</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Close Value</th>
          </tr>
      </thead>
      <tbody class="tbody">
          <tr class="tr"*ngFor="let data of rowData; let i=index">
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.icode}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.iname}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.uom}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.openstock | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.openvalue | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.inqty | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.inptval | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.outqty | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.outptval | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.clstock | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.clval | NumberFormat}}</td>
          </tr>
      </tbody>
  </table>
</div>

