.packserv
{
  height: 300px
}

.packservs
{
  margin-left:15px ;
}
@media (max-width: 850px) {
  .packservs{
    margin-left:20px ;
  }
}

@media (max-width: 650px) {
  .packservs{
    margin-left:15px ;
  }
}