<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
</style>
<div class="floating-header-div">
  <div>
    <mat-toolbar>
      <button mat-icon-button (click)="clickMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <b class="Companyname">
        Bafna Surgicals
      </b><br>
      <p class="year">
        Financial Date(2019 - 2020)
      </p>
    </mat-toolbar>
  </div>
  <div class="headericon">
    <!-- <app-gbsearch class="search"></app-gbsearch>
    <app-module></app-module>
    <app-notification></app-notification>
    <app-settingmenu class="admin"></app-settingmenu> -->
    <a class="img"><img src="./../../../assets/icons/GBlogo.png" width="50px" height="50px"></a>
  </div>
  <ng-content></ng-content>
</div>


<!-- <style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
</style>
<div>
  <div class="floating-header-div">
    <mat-toolbar>
      <button mat-icon-button (click)="clickMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <b class="Companyname">
        Bafna Surgicals
      </b><br>
      <p class="year">
        Financial Date(2019 - 2020)
      </p>
      <div class="headericon">
        <app-gbsearch class="search"></app-gbsearch>
        <app-module></app-module>
        <app-notification></app-notification>
        <app-settingmenu class="admin"></app-settingmenu>
        <a class="img"><img src="./../../../assets/icons/GBlogo.png" width="50px" height="50px"></a>
      </div>
    </mat-toolbar>
  </div>
  <ng-content></ng-content>
</div> -->