.styled-table {
    display: inline;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    overflow:scroll;
    overflow-x: auto;
    min-height: 400px;
  }
  
  .styled-table thead tr {
    text-align: left;
  }
  
  .styled-table th{
      padding: 2px 6px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;  
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
  }
  
  .styled-table td {
      padding: 6px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;  
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      box-shadow: rgba(57, 56, 58, 0.15) 1px 5px 15px;
      border-left: 1px solid #666;
  }
  
  .styled-table tbody tr {
    padding: 3px;
    border-bottom: 1px solid #dddddd;
  }
  
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #666666;
  }
  
  .sticky-header{
    position:static;
    overflow-y: auto;
     min-width: 30%;
     height: auto;
     margin: 5px;
     max-width: 60%;
     min-height: 300px;
  }
  
  .styled-table thead tr{
    padding: 3px;
    position: sticky; 
    top: 0; 
  }
 
  .sticky-header::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .sticky-header::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .sticky-header::-webkit-scrollbar-thumb {
    background: #888;
  }
  .sticky-header::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #chart1{
    float: right;
    // margin-top: -450px;
    margin-right: 55px;
    width: 37%;
  }

  #chart2{
    float: right;
    // margin-top: -550px;
    margin-right: 55px;
    width: 37%;
  }

  #chart3{
    float: right;
    // margin-top: -450px;
    margin-right: 55px;
    width: 37%;
  }

  .Heading{
    font-size: 1.6em;
    font-weight: bold;
  }

  .lightbox{
    float:right;
    position: absolute;
    margin-left:650px ;
    margin-top: -20px;
  }
  .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 100px; /* Location of the box */
    margin-top: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.applybtn1{
margin-left:730px;
background-color: rgb(105, 216, 105);
}
.closebtn1{
margin-left:10px;
background-color: rgb(230, 93, 93);
}

.closeicon1{
  position:absolute; 
  margin-top: 4px;
  margin-left:1022px;
  cursor: pointer;
}

.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: auto;
  border-radius: 20px;
}

#myBtn{
  cursor: pointer;
}

.content1{
  border: 1px solid black;
  margin: auto;
  height: auto;
  padding: 10px;
}
