
<div class="abb">
    <p class="qty">Pen.Qty :{{pquality | NumberFormat}}</p>
    <p class="tot">Value :{{value | NumberFormat}}</p>
</div>
<div class="dbtable">


    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Pre.Doc.No</th>
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Qty</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Pre.Qty</th>
                <th class="th cap1-bold-12-white" >UOM</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Rate</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Cost</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Value</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of tabledata">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.pdocno }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.icode}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.pdes}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"style="text-align: right; padding-right: 150px;">{{data.tactqty |NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"style="text-align: right; padding-right: 150px;">{{data.pendqty |NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.uomcode }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"style="text-align: right; padding-right: 150px;">{{data.rate |NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"style="text-align: right; padding-right: 150px;">{{data.inetcose|NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"style="text-align: right; padding-right: 150px;">{{data.pgoodval |NumberFormat: data.bold}}</td>

            </tr>
        </tbody>
    </table>
</div>