<div style="text-align:center" *ngIf='chartsetting'>
  {{ type }}
<goodbooks-gbchart
[chartTemplate]='customItemTemplate' 
[chartdata]='chartdata' 
[chartsetting]='chartsetting' 
(typetoemit)='onNotified($event)'
></goodbooks-gbchart>
<ng-template #customItemTemplate >
<b>This is default Chart</b>
<div>
     <ngx-charts-area-chart
      [view]="chartsetting[0].view"
      [legend]="chartsetting[0].legend"
      [scheme]="chartsetting[0].colorScheme"
      [showXAxisLabel]="chartsetting[0].showXAxisLabel"
      [showYAxisLabel]="chartsetting[0].showYAxisLabel"
      [xAxis]="chartsetting[0].xAxis"
      [yAxis]="chartsetting[0].yAxis"
      [xAxisLabel]="chartsetting[0].xAxisLabel"
      [yAxisLabel]="chartsetting[0].yAxisLabel"
      [timeline]="chartsetting[0].timeline"
      [results]="chartdata"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
     >
    </ngx-charts-area-chart> 
</div> 
</ng-template>
</div> 
