<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="CityJSON.default.ObjectFields[0].CountryName"
        formControlName='CountryName' (Onselectdataids)="CityNot($event)"
        [defaultvalue]="form.get('CountryName').value"></app-entitylookup>

        <app-entitylookup    class="KeyField" [PicklistObj]="CityJSON.default.ObjectFields[0].StateName"
        formControlName='StateName' (Onselectdataids)="CityNot($event)"
        [defaultvalue]="form.get('StateName').value"></app-entitylookup>

        <br>
        <app-entitylookup style="display: inline-block;margin-top: 16px;" class="KeyField" [PicklistObj]="CityJSON.default.ObjectFields[0].CityCode"
        formControlName='CityCode' (Onselectdata)="Cityvalue($event)"
        [defaultvalue]="form.get('CityCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="CityJSON.default.ObjectFields[0].CityName"
        formControlName='CityName' (Onselectdata)="Cityvalue($event)"
        [defaultvalue]="form.get('CityName').value"></app-entitylookup>

        <app-gb-input formControlName='StdCode'></app-gb-input>

        <app-entitylookup class="KeyField" [PicklistObj]="CityJSON.default.ObjectFields[0].CityClassName"
        formControlName='CityClassName' (Onselectdataids)="CityNot($event)"
        [defaultvalue]="form.get('CityClassName').value"></app-entitylookup>

        <app-gb-textarea formControlName='TrafficRemarks'></app-gb-textarea>

        </form>
        </div>