<div class="abb">
    <p >Qty :{{ToatlVal }}</p>
    <p >Realisation :{{ToatlCost }}</p>
    <p >NetValue :{{ToatlRealisation }}</p>
    <p >Comp Qty :{{Toatlpadding }}</p>
    <p >Comp Realisation :{{ToatlpaddingCost }}</p>
    <p >Comp NetValue :{{ToatlMargiVal }}</p>

  </div>
  
  
  <div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Qty</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Realisation</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">NetValue</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Comp Qty</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Comp Realisation</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Comp NetValue</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowData">
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Particulars}}</td>
    
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.Qty | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.Realisation | NumberFormat }}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.NetValue | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.CompQty | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.CompRel | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.ComNet | NumberFormat }}</td>

        </tr>
      </tbody>
    </table>
    </div>
