@import url('./../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss');
.advancebtn {
  margin-left: 120px;
}

.no-clear {
  padding-top: 0px;
  // height: 35px;
  width: 408px;
  display: inline-block;
}

.focused {
  /* Add your focused styles here */
  border-bottom: 2px solid var(--color); /* For example */
  transition: .4s ease-in-out;
}

.labelFocused{
  color: var(--color);
  transition: .4s ease-in-out;
}

.picklistheading{
  border-radius: 4px;
  width: 100%;
  background-color: var(--color);
  color: #FFFFFF;
}

.picklistvalue{
  width: 100%;
}

.picklistdrop{
  font-weight: 700;
  display: inline-block;
  width: 50%;
  padding: 0 10px;
}

input::placeholder, textarea::placeholder{
  color: rgba(26, 26, 26, 0.5);
  font-size: inherit;
  font-weight: inherit;

}

::ng-deep .ng-dropdown-panel {
  z-index: 9999999 !important;
  display: none;
}

::ng-deep #entitylookupKeyField.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
  display: none;
}

::ng-deep #entitylookupKeyField.ng-select {
  padding-bottom: 0px;
}

::ng-deep #entitylookupKeyField.ng-select .ng-select-container:after {
  border-bottom: none;
  content: none;
}

::ng-deep #entitylookupKeyField.ng-select .ng-select-container {
  min-width: 37px;
  min-height: 35px;
}

::ng-deep #entitylookupKeyField.ng-select.ng-select-single .ng-select-container {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: rgba(26, 26, 26, 0.87);
}

::ng-deep .ng-dropdown-panel.ng-select-bottom {
  width: 400px;
  top: calc(100%);
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  padding: 0px !important;
}

::ng-deep #entitylookupKeyField.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
  // display: contents;
  bottom: 0px;
}

::ng-deep #entitylookupKeyField.ng-select-single .ng-select-container .ng-value-container .ng-placeholder{
  color: rgba(26, 26, 26, 0.5);
  font-weight: 700;
  font-family: 'Helvetica';
  font-size: 20px;
  font-style: normal;
  position: relative;
  padding-top: 0px;
}

::ng-deep #entitylookupKeyField.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder{
  color: rgba(26, 26, 26, 0.5);
  font-weight: 700;
  font-family: 'Helvetica';
  font-size: 20px;
  font-style: normal;
  position: relative;
  padding-top: 2px;
}

// ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input{
//   padding-bottom: 27px;
// }

// ::ng-deep #entitylookupKeyField.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
//   display: none;
// }

::ng-deep #entitylookupKeyField.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: rgba(26, 26, 26, 0.87);
  padding-top: 5px;
}

::ng-deep #entitylookupKeyField.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-clear-wrapper,
.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-arrow-wrapper {
  border-top: 0px !important;
}

::ng-deep #entitylookupKeyField.ng-select .ng-select-container .ng-value-container {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0px;
}

::ng-deep #entitylookupKeyField.ng-arrow-wrapper{
  border-top: 0px !important;
}

// ::ng-deep #entitylookupKeyField.ng-select.ng-select-disabled .ng-arrow-wrapper {
//   // display: none;
// }

::ng-deep #entitylookupKeyField.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  max-width: 360px;
  background-color: #F1EBFC;
  color: black;
  border-radius: 25px;
}

::ng-deep #entitylookupKeyField.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  color: #ED2531;
}

::ng-deep #entitylookupKeyField.ng-select .ng-clear-wrapper{
  color: #ED2531;
}

::ng-deep #entitylookupKeyField.ng-select .ng-clear-wrapper .ng-clear{
  font-size: 28px;
}

::ng-deep #entitylookupKeyField.ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

::ng-deep #entitylookupKeyField.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: none !important;
  border-style: none !important;
  border-width: 0 !important;
}

::ng-deep #entitylookupKeyField.ng-select .ng-arrow-wrapper {
  background-image: url('./../../../../apps/Goodbooks/Goodbooks/src/assets/icons/arrow.png');
  background-repeat: no-repeat;
  background-size: 21px;
  margin-top: 2px;
  width: 25.5px;
  display: var(--editmode);
}

::ng-deep #entitylookupKeyField.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-arrow-wrapper{
  border-top: 0px;
}

::ng-deep #entitylookup.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
  display: none;
}

::ng-deep #entitylookup.ng-select {
  padding-bottom: 0px;
}

::ng-deep #entitylookup.ng-select .ng-select-container:after {
  border-bottom: none;
  content: none;
}

::ng-deep #entitylookup.ng-select .ng-select-container {
  min-width: 37px;
  min-height: 35px;
}

::ng-deep #entitylookup.ng-select.ng-select-single .ng-select-container {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.87);
}

::ng-deep .ng-dropdown-panel.ng-select-bottom {
  width: 400px;
  top: calc(100%);
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  padding: 0px !important;
}

::ng-deep #entitylookup.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
  // display: contents;
  bottom: 6px;
}

// ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input{
//   padding-bottom: 27px;
// }

// ::ng-deep #entitylookup.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
//   display: none;
// }

::ng-deep #entitylookup.ng-select-single .ng-select-container .ng-value-container .ng-placeholder{
  color: rgba(26, 26, 26, 0.5);
  font-weight: 700;
  font-family: 'Helvetica';
  font-size: 14px;
  font-style: normal;
  position: relative;
  padding-top: 0px;
}

::ng-deep #entitylookup.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder{
  color: rgba(26, 26, 26, 0.5);
  font-weight: 700;
  font-family: 'Helvetica';
  font-size: 14px;
  font-style: normal;
  position: relative;
  padding-top: 2px;
}

::ng-deep #entitylookup.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.87);
  padding-top: 5px;
}

::ng-deep #entitylookup.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-clear-wrapper,
.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-arrow-wrapper {
  border-top: 0px !important;
}

::ng-deep #entitylookup.ng-select .ng-select-container .ng-value-container {
  padding-top: 9px;
  border-top: 0px;
  max-height: 100px;
  overflow: auto;
  scrollbar-width: thin;
  overflow-x: hidden;
}

::ng-deep #entitylookup.ng-arrow-wrapper{
  border-top: 0px !important;
}

// ::ng-deep #entitylookup.ng-select.ng-select-disabled .ng-arrow-wrapper {
//   // display: none;
// }

::ng-deep #entitylookup.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  max-width: 360px;
  background-color:#F1EBFC;
  color: black;
  border-radius: 25px;
}

::ng-deep #entitylookup.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  color: #ED2531;
}

::ng-deep #entitylookup.ng-select .ng-clear-wrapper{
  color: #ED2531;
}

::ng-deep #entitylookup.ng-select .ng-clear-wrapper .ng-clear{
  font-size: 28px;
}

::ng-deep #entitylookup.ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

::ng-deep #entitylookup.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: none !important;
  border-style: none !important;
  border-width: 0 !important;
}

::ng-deep #entitylookup.ng-select .ng-arrow-wrapper {
  background-image: url('./../../../../apps/Goodbooks/Goodbooks/src/assets/icons/arrow.png');
  background-repeat: no-repeat;
  background-size: 21px;
  margin-top: 2px;
  width: 25.5px;
  display: var(--editmode);
}

::ng-deep #entitylookup.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-arrow-wrapper{
  border-top: 0px;
}

.arrodownicon{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
  position: absolute;
  margin-left: 384.5px;
  margin-top: -25px;
  cursor: pointer;
}

::ng-deep .mat-select-arrow {
  border-left: 20px solid transparent !important;
  border-right: none !important;
  border-top: 20px solid transparent !important;
  border-image-source: url('./../../../../apps/Goodbooks/Goodbooks/src/assets/icons/arrow.png') !important;
  border-image-repeat: stretch !important;
}

@media (max-width: 965px){
  .no-clear {
    width: 278px;
  }
  .arrodownicon{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.54);
    position: relative;
    top: -19px;
    margin-left: 270.5px;
    cursor: pointer;
  }
}
@media (max-width: 600px){
  ::ng-deep #entitylookup.ng-select {
    padding-bottom: 0px;
    margin-top: -12px;
  }
  
}