<div class="form-group">
  <label>Enter From address</label> &nbsp;
  <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Enter From address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #searchfrom>
</div> 
<br>
<div class="form-group">
  <label>Enter To address</label> &nbsp;
  <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Enter To address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #searchto>
</div>
<br>
<div>
  <button (click)="getDirection()">search</button>
</div>
<br>
<agm-map [latitude]="latitude" [longitude]="longitude"> 
  <agm-direction [origin]="origin" [destination]="destination">
  </agm-direction>
</agm-map>