<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

       
            <app-entitylookup class="KeyField" [PicklistObj]="UserAccessRightsJSON.default.ObjectFields[0].UserName"
            formControlName='UserName' (Onselectdata)="UserAccessRightsPicklistFillValue($event)"
            [defaultvalue]="form.get('UserName').value"></app-entitylookup>
            
        <app-gb-formgrid formControlName='UserAccessRightsArray'
            [ArrayDetail]="form.get('UserAccessRightsArray').value"></app-gb-formgrid>

    </form>
</div>