<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField"
            [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].CodeCategoryCategoryName"
            formControlName='CodeCategoryCategoryName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('CodeCategoryCategoryName').value"></app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ItemCode"
            formControlName='ItemCode' (Onselectdata)="ItemFillData($event)"
            [defaultvalue]="form.get('ItemCode').value"></app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ItemName"
            formControlName='ItemName' (Onselectdata)="ItemFillData($event)"
            [defaultvalue]="form.get('ItemName').value"></app-entitylookup>
        <app-gb-input class="KeyField" formControlName="ItemShortName"></app-gb-input>
        <app-gb-input formControlName="ItemDescription"></app-gb-input>
        <app-gb-checkbox formControlName="ShowArchive"></app-gb-checkbox>

        <div class="FormTab">
            <button class="FormTabLinks TabHeading"
                (click)="ChangeTab($event, 'Classification')"> Classification*</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Purchase')">Purchase</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Sales')">Sales</button>
            <button class="FormTabLinks TabHeading"
                (click)="ChangeTab($event, 'Specifications')">Specifications</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Unit&Pack')">Unit & Pack*</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Stock')">Stock</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Duty&Tax')">Duty & Tax*</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Planning')">Planning</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Quality&Service')">Quality &
                Service</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'SKU')">SKU</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Asset')">Asset</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Addon')">Addon</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Store')">Store</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Alias')">Alias</button>
        </div>
        <div class="TabView">
            <div id="Classification" class="tabcontent">
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ItemTypeName"
                    formControlName='ItemTypeName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ItemTypeName').value"></app-entitylookup>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ItemBrandName"
                    formControlName='ItemBrandName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ItemBrandName').value"></app-entitylookup>
                <app-gb-combobox class="KeyField" formControlName='ItemStatus'></app-gb-combobox>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].CategoryName"
                    formControlName='CategoryName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('CategoryName').value"></app-entitylookup>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ModelName"
                    formControlName='ModelName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ModelName').value"></app-entitylookup>
                <app-gb-combobox class="KeyField" formControlName='ItemIsTransactable'></app-gb-combobox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].SubCategoryName"
                    formControlName='SubCategoryName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('SubCategoryName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].PriceCategoryName"
                    formControlName='PriceCategoryName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('PriceCategoryName').value"></app-entitylookup>
                <app-gb-combobox class="KeyField" formControlName='ItemIsPrepaid'></app-gb-combobox>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ItemGroupName"
                    formControlName='ItemGroupName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ItemGroupName').value"></app-entitylookup>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsActivity'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemNoOfPeriods'></app-gb-input>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ProcessGroupName"
                    formControlName='ProcessGroupName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ProcessGroupName').value"></app-entitylookup>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ActivityName"
                    formControlName='ActivityName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ActivityName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].DeferalPlanName"
                    formControlName='DeferalPlanName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('DeferalPlanName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].MaterialAccountName"
                    formControlName='MaterialAccountName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('MaterialAccountName').value"></app-entitylookup>
            </div>
            <div id="Purchase" class="tabcontent">
                <app-gb-checkbox class="KeyField" formControlName="ItemIsPurchasable"></app-gb-checkbox>
                <app-gb-input class="KeyField" formControlName='ItemMinLevel'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemCurrency'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemBOMTolleranceValue'></app-gb-input>
                <br>
                <app-gb-checkbox class="KeyField" formControlName="ItemIsBuyWithoutOrder"></app-gb-checkbox>
                <app-gb-input class="KeyField" formControlName='ItemMaxLevel'></app-gb-input>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].PurchaseCurrencyName"
                    formControlName='PurchaseCurrencyName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('PurchaseCurrencyName').value"></app-entitylookup>
                <app-gb-radiobox class="KeyField" formControlName='ItemTolleranceType'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ProcurmentInchargeName"
                    formControlName='ProcurmentInchargeName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ProcurmentInchargeName').value"></app-entitylookup>
                <app-gb-input class="KeyField" formControlName='ItemMinimumOrderQuantity'></app-gb-input>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].LastPurchaseCurrencyName"
                    formControlName='LastPurchaseCurrencyName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('LastPurchaseCurrencyName').value"></app-entitylookup>
                <app-gb-input class="KeyField" formControlName='ItemTolleranceValue'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemPurchaseRate'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemLotSize'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemLastPurchaseRate'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemPurchaseRateInclusive'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemLeadTime'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemPurchaseCostNLC'></app-gb-input>
            </div>
            <div id="Sales" class="tabcontent">
                <app-gb-radiobox class="KeyField" formControlName='ItemIsSaleableItem'></app-gb-radiobox>
                <app-gb-checkbox class="KeyField" formControlName="ItemIsDiscountApplicable"></app-gb-checkbox>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemSalesRate'></app-gb-input>
                <app-gb-checkbox class="KeyField" formControlName="ItemIsFreeApplicable"></app-gb-checkbox>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemSalesRateInclusive'></app-gb-input>
                <app-gb-radiobox class="KeyField" formControlName='ItemRateType'></app-gb-radiobox>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemMaximumDiscountPercentage'></app-gb-input>
                <app-gb-radiobox class="KeyField" formControlName='ItemPriceForType'></app-gb-radiobox>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemMRPRate'></app-gb-input>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsBuyBack'></app-gb-radiobox>
            </div>
            <div id="Specifications" class="tabcontent">
                <app-gb-radiobox class="KeyField" formControlName='ItemItemorTemplate'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemHeight'></app-gb-input>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].DefaultBOMName"
                    formControlName='DefaultBOMName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('DefaultBOMName').value"></app-entitylookup>
                <br>
                <app-gb-date class="KeyField" formControlName='ItemIntroducedDate' [date]="form.get('ItemId').value"
                    [default]="'today'"></app-gb-date>
                <app-gb-input class="KeyField" formControlName='ItemWeight'></app-gb-input>
                <app-gb-combobox class="KeyField" formControlName='ItemBOMType'></app-gb-combobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsItemRevised'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemLength'></app-gb-input>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].RawMaterialItemName"
                    formControlName='RawMaterialItemName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('RawMaterialItemName').value"></app-entitylookup>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ColorName"
                    formControlName='ColorName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ColorName').value"></app-entitylookup>
                <br>
                <app-gb-date class="KeyField" formControlName='ItemItemRevisedFrom'
                    [date]="form.get('ItemId').value"></app-gb-date>
                <app-gb-input class="KeyField" formControlName='ItemBreath'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='RawMaterialQuantity'></app-gb-input>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].ParameterSetName"
                    formControlName='ParameterSetName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('ParameterSetName').value"></app-entitylookup>
                <br>
                <app-gb-date class="KeyField" formControlName='ItemItemRevisedTo'
                    [date]="form.get('ItemId').value"></app-gb-date>
                <app-gb-input class="KeyField" formControlName='ItemThickness'></app-gb-input>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].RawMaterialSKUName"
                    formControlName='RawMaterialSKUName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('RawMaterialSKUName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemRevisionNumber'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemDrawingNumber'></app-gb-input>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].MaterialGroupName"
                    formControlName='MaterialGroupName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('MaterialGroupName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].RevisedFromItemName"
                    formControlName='RevisedFromItemName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('RevisedFromItemName').value"></app-entitylookup>
                <app-gb-input class="KeyField" formControlName='ItemCatalogueNumber'></app-gb-input>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].NestingPlanName"
                    formControlName='NestingPlanName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('NestingPlanName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].LinkItemName"
                    formControlName='LinkItemName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('LinkItemName').value"></app-entitylookup>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsVariablesizeItem'></app-gb-radiobox>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].RoutingName"
                    formControlName='RoutingName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('RoutingName').value"></app-entitylookup>
            </div>
            <div id="Unit&Pack" class="tabcontent">
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].PurchaseUOMName"
                    formControlName='PurchaseUOMName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('PurchaseUOMName').value"></app-entitylookup>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsPackingsDetailsRequired'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].StockUOMName"
                    formControlName='StockUOMName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('StockUOMName').value"></app-entitylookup>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].PackSetName"
                    formControlName='PackSetName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('PackSetName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].UOMSetName"
                    formControlName='UOMSetName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('UOMSetName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].DefaultPackName"
                    formControlName='DefaultPackName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('DefaultPackName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemConversionFactor'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemCaseCount'></app-gb-input>
            </div>
            <div id="Stock" class="tabcontent">
                <app-gb-radiobox class="KeyField" formControlName='ItemIsStockPosting'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsBatchStock'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsUniqueBatch'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsBinTrackingRequired'></app-gb-radiobox>
                <br>
                <app-gb-combobox class="KeyField" formControlName='ItemStockValuationType'></app-gb-combobox>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].CycleClassName"
                    formControlName='CycleClassName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('CycleClassName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].SizeSetName"
                    formControlName='SizeSetName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('SizeSetName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].MeasureTypeName"
                    formControlName='MeasureTypeName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('MeasureTypeName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].SKUSettingName"
                    formControlName='SKUSettingName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('SKUSettingName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].SupplyGroupName"
                    formControlName='SupplyGroupName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('SupplyGroupName').value"></app-entitylookup>
            </div>
            <div id="Duty&Tax" class="tabcontent">
                <app-gb-radiobox class="KeyField" style="width: 580px;" formControlName='ItemGSTType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemITCType'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField" style="width: 580px;"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].GSTTariffName" formControlName='GSTTariffName'
                    (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('GSTTariffName').value"></app-entitylookup>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].GSTTableName"
                    formControlName='GSTTableName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('GSTTableName').value"></app-entitylookup>
                <br>
                <app-gb-radiobox class="KeyField" style="width: 580px;"
                    formControlName='ItemIsDutyApplicable'></app-gb-radiobox>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].TaxTableName"
                    formControlName='TaxTableName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('TaxTableName').value"></app-entitylookup>
                <br>
                <app-gb-radiobox class="KeyField" style="width: 580px;"
                    formControlName='ItemIsCENVATApplicable'></app-gb-radiobox>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].VatCommodityName"
                    formControlName='VatCommodityName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('VatCommodityName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField" style="width: 580px;"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].DutyTableName" formControlName='DutyTableName'
                    (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('DutyTableName').value"></app-entitylookup>
                <app-gb-combobox class="KeyField" formControlName='ItemVATClaimType'></app-gb-combobox>
                <br>
                <app-entitylookup class="KeyField" style="width: 580px;"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].DutyTariffName"
                    formControlName='DutyTariffName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('DutyTariffName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].DutyFormTypeName"
                    formControlName='DutyFormTypeName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('DutyFormTypeName').value"></app-entitylookup>
            </div>
            <div id="Planning" class="tabcontent">
                <app-gb-radiobox class="KeyField" style="width: 515px;"
                    formControlName='ItemMasterPlanMethod'></app-gb-radiobox>
                <span class="FormSubHeading" style="width: 380px;display: inline-block;">Lead Time</span>
                <span class="FormSubHeading">Processing</span>
                <br>
                <app-gb-radiobox class="KeyField" style="width: 515px;"
                    formControlName='ItemIsMakeOrBuy'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemPreProcessingLeadTime'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemProcessingLeadTime'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemFixedLeadTime'></app-gb-input>
                <br>
                <app-gb-combobox class="KeyField" style="width: 515px;"
                    formControlName='ItemMRPPlanMethod'></app-gb-combobox>
                <app-gb-combobox class="KeyField" formControlName='ItemReservationType'></app-gb-combobox>
                <app-gb-input class="KeyField" formControlName='ItemVariableQuantity'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemVariableLeadTime'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField" style="width: 515px;"
                    formControlName='ItemSafetyStockMethod'></app-gb-radiobox>
                <span class="FormSubHeading" style="width: 382px;display: inline-block;"></span>
                <app-gb-input class="KeyField" formControlName='ItemLeadTimeLotSize'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemManufacturingLeadTime'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" style="width: 515px;" formControlName='ItemSafetyDays'></app-gb-input>
                <span class="FormSubHeading" style="width: 382px;display: inline-block;"></span>
                <app-gb-input class="KeyField" formControlName='ItemPostProcessingLeadTime'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemLeadTimeOffSet'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='ItemProductionNature'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].PlannerName"
                    formControlName='PlannerName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('PlannerName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].PlanningGroupName"
                    formControlName='PlanningGroupName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('PlanningGroupName').value"></app-entitylookup>
            </div>
            <div id="Quality&Service" class="tabcontent">
                <app-gb-radiobox class="KeyField" style="width: 500px;"
                    formControlName='ItemInspectionType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsWarrantyApplicable'></app-gb-radiobox>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].EWVendorName"
                    formControlName='EWVendorName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('EWVendorName').value"></app-entitylookup>
                <app-gb-input class="KeyField" formControlName='ItemSamplesPercentage'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField" style="width: 500px;"
                    formControlName='ItemIsExpirytrackingRequired'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemWarrantyPeriod'></app-gb-input>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].EWCategoryName"
                    formControlName='EWCategoryName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('EWCategoryName').value"></app-entitylookup>
                <app-gb-input class="KeyField" formControlName='ItemQualityPlanReferenceNo'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField" style="width: 500px;"
                    formControlName='ItemIsServiceApplicable'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsDefectiveToBeReturned'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemEWPriceFrom'></app-gb-input>
                <app-gb-combobox class="KeyField" formControlName='ItemIsEWType'></app-gb-combobox>
                <br>
                <app-gb-radiobox class="KeyField" style="width: 500px;" formControlName='ItemIsSpare'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemComprehensiveMonths'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ItemEWPriceTo'></app-gb-input>
                <app-gb-radiobox class="KeyField" formControlName='ItemIsEWOwn'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" style="width: 500px;"
                    formControlName='ItemIsPostToCustomerProduct'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemNonComprehensiveMonths'></app-gb-input>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].CallSetName"
                    formControlName='CallSetName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('CallSetName').value"></app-entitylookup>
                <br>
                <app-gb-radiobox style="width: 500px;" class="KeyField"
                    formControlName='ItemIsInstallationTrackingRequired'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='ItemMaxMonths'></app-gb-input>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].QualityParameterSetName"
                    formControlName='QualityParameterSetName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('QualityParameterSetName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='ItemLifeinDays'></app-gb-input>
            </div>
            <div id="SKU" class="tabcontent">
                <app-gb-checkbox class="KeyField" formControlName='ItemIsSKUTrackingapplicable'></app-gb-checkbox>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].DefaultSKUName"
                    formControlName='DefaultSKUName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('DefaultSKUName').value"></app-entitylookup>
                <br>
                <app-gb-checkbox class="KeyField" formControlName='ItemIsStyleApplicable'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='ItemIsMakeApplicable'></app-gb-checkbox>
                <br>
                <app-gb-checkbox class="KeyField" formControlName='ItemIsColorApplicable'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='ItemIsPricePointApplicable'></app-gb-checkbox>
                <br>
                <app-gb-checkbox class="KeyField" formControlName='ItemIsSizeApplicable'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='ItemIsGradeApplicable'></app-gb-checkbox>
                <br>
                <app-gb-checkbox class="KeyField" formControlName='ItemIsProcessApplicable'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='ItemIsSeasonApplicable'></app-gb-checkbox>
            </div>
            <div id="Asset" class="tabcontent">
                <app-gb-checkbox class="KeyField" style="width: 580px;" formControlName='ItemIsAsset'></app-gb-checkbox>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].AssetTypeName"
                    formControlName='AssetTypeName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('AssetTypeName').value"></app-entitylookup>
                <br>
                <app-gb-radiobox class="KeyField" style="width: 580px;"
                    formControlName='ItemAssetLinkType'></app-gb-radiobox>
                <app-entitylookup class="KeyField" [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].AssetName"
                    formControlName='AssetName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('AssetName').value"></app-entitylookup>
                <br>
                <app-gb-radiobox class="KeyField" style="width: 580px;"
                    formControlName='ItemAssetBatchLinkType'></app-gb-radiobox>
            </div>
            <div id="Addon" class="tabcontent">
                <h3>Addon</h3>
            </div>
            <div id="Store" class="tabcontent">
                <app-entitylookup class="KeyField"
                    [PicklistObj]="ItemMasterJSON.default.ObjectFields[0].OrganizationGroupName"
                    formControlName='OrganizationGroupName' (Onselectdataids)="PicklistPatchValue($event)"
                    [defaultvalue]="form.get('OrganizationGroupName').value"></app-entitylookup>
                <app-gb-formgrid formControlName='ItemStockDTO'
                    [ArrayDetail]="form.get('ItemId').value"></app-gb-formgrid>
            </div>
            <div id="Alias" class="tabcontent">
                <h3>Alias</h3>
            </div>
        </div>
    </form>
</div>