<div *transloco="let t">
  <div class="container" *ngIf='getaddress'>

    <div class="form-group">
      <label>{{t('Map.Address')}}</label>&nbsp;
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
        placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
        #search> &nbsp;
     <button (click)='directionenable()' *ngIf="isdirectionbutton">{{t('Map.Direction')}}</button>
    </div>
    <br>
    <agm-map class="maps" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">

      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>

  </div>
  <div *ngIf='direction'>
    <app-mapdirectionComponent></app-mapdirectionComponent>
  </div>
</div>