<div class="<%= camelize(name) %>Screen" *ngIf="form.bFormReady">
  <form [formGroup]="form">
    <!--
      <app-gb-input formControlName='PackCode'></app-gb-input>
      <app-gb-input formControlName='PackName'></app-gb-input>
      <app-gb-input formControlName="PackConversionType"></app-gb-input>
      <app-gb-numeric formControlName='PackConversionFactor'></app-gb-numeric>
    -->
  </form>
</div>
