

.input{
    width: 350px;
    line-height: 2px;
    background-color: rgb(238, 232, 232);;
    height:42px;
    margin-top:-4px;
    border-radius: 5px 5px 5px 5px;
}
.search{
    margin-top: -25px;
    font-weight: bold;
    padding-top: 6px;
}
.icon{
    margin-top: -33px;
    padding-top: 7px;
    padding-bottom: 5px;
}

@media (max-width: 991px) {
    app-gbsearch {
      margin: 0;
    }
}