<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="CashDiscountJson.default.ObjectFields[0].CashDiscountCode"
        formControlName='CashDiscountCode' (Onselectdata)="CashdiscountRetrivalValue($event)"
        [defaultvalue]="form.get('CashDiscountCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="CashDiscountJson.default.ObjectFields[0].CashDiscountName"
        formControlName='CashDiscountName' (Onselectdata)="CashdiscountRetrivalValue($event)"
        [defaultvalue]="form.get('CashDiscountName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="CashDiscountJson.default.ObjectFields[0].BasedOnName"
        formControlName='BasedOnName' (Onselectdataids)="CashdiscountPatchValue($event)"
        [defaultvalue]="form.get('BasedOnName').value"></app-entitylookup> 

        <app-gb-textarea formControlName='CashDiscountRemarks'></app-gb-textarea>
     
        <app-gb-formgrid formControlName='CashDiscountDetailArray'
            [ArrayDetail]="form.get('CashDiscountCode').value"></app-gb-formgrid>

    </form>
</div>