<table class="styled-table">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Section</th>
      <th>Description</th>
      <th>Type</th>
      <th>Ref.No</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let termSet of termsList">
      <tr>
        <td></td>
        <td style="font-weight: bold">{{ termSet.TermsSetName }}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr
        *ngFor="
          let termsSetDetail of termSet.TermsSetDetailArray;
          let index = index
        "
      >
        <td>{{ index + 1 }}</td>
        <td>
          {{ termsSetDetail.TermsSection }}
        </td>
        <td>{{ termsSetDetail.TermsDescription }}</td>
        <td>{{ termsSetDetail.TermsTypeDetailTypeName }}</td>
        <td>{{ termsSetDetail.TermsSetDetailReferenceNo }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
