<div (keydown.arrowdown)="onArrowDown()" (keydown.arrowup)="onArrowUp()" class="sticky-header"
  [style.width.vw]="Field?.Width!=undefined ? Field?.Width : '95'"  
  [style.max-height.px]="Field?.Height!=undefined ? Field?.Height : '350'">
  <div>
  <table class="styled-table">
    <thead>
      <tr>
        <th (click)="GridDataCheck()" *ngFor="let item of Field?.Grid" [style.position]="'sticky'"
          [style.left.px]="item.sticky ? item.left : null" [style.z-index]="item.sticky ? 10 : 1"
          [style.width.px]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? item.width :'0'"
          [style.max-width.px]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? item.width :'0'"
          [style.min-width.px]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? item.width :'0'"
          [style.padding]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? '0px 15px' : '0px'"
          [style.visibility]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? 'visible' : 'hidden'"
          style="color: #FFFFFF;">{{item.Label}}</th>
        <th *ngIf="IsEditRequired" [style.position]="'sticky'" style="color: #FFFFFF;"></th>
        <th *ngIf="DeleteRowNeeded" [style.position]="'sticky'" style="color: #FFFFFF;"></th>
      </tr>
    </thead>
    <tbody [formGroup]="orderForm">
      <tr formArrayName="items" style="height: 36px;"
        [style.border]="selectedRowIndex==i ? '1px solid #CD309E': 'unset'"
        [style.border-top]="selectedRowIndex==i ? '1px solid #CD309E': '1px solid #dddddd'"
        *ngFor="let data of items.controls; let i = index;" #tableRow (click)="onRowClick(i)"
        [attr.tabindex]="i === selectedRowIndex ? 0 : -1" [style.background-color]="getRowColor(i)">
        <td *ngFor="let item of Field?.Grid,let j = index" [style.position]="'sticky'"
          [style.left.px]="item.sticky ? item.left : null" [style.z-index]="item.sticky ? 8 : 'unset'"
          [style.background-color]="item.sticky ? 'white' : 'unset'"
          [style.width.px]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? item.width : '0'"
          [style.max-width.px]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? item.width : '0'"
          [style.padding]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? '0px 15px' : '0px'"
          [style.visibility]="item.IsVisible && (item?.DependendFieldName == undefined || (item?.DependendFieldValue == undefined || ArrayValues[item?.DependendFieldName] === item.DependendFieldValue))? 'visible' : 'hidden'"
          [formGroupName]="i" [style.background-color]="getRowColor(i)">

          <input *ngIf="item.Type.toLowerCase() == 'defaultsno'" style="outline-style: none;height: 30px;"
            [ngStyle]="{'width.px': item?.width-30}" readonly [value]="i+1" [style.background-color]="getRowColor(i)">

          <input *ngIf="item.Type.toLowerCase() == 'readonly' || item.Type.toLowerCase() == 'sno'"
            style="outline-style: none;height: 30px;" [ngStyle]="{'width.px': item?.width-30}" readonly
            [value]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? '' : getZerothIndexValue(i)[item.value]"
            [style.cursor]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'default' : 'auto'"
            [style.background-color]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'grey' : getRowColor(i)">

          <app-entitylookup *ngIf="item.Type.toLowerCase() == 'picklistdataretrival'"
            [PicklistObj]="item.PicklistDetail" [GridIndex]="i"
            (Onselectdata)="PicklistLoadCurrentRow($event,i,item.PicklistRetrivalURL,item.PicklistRetrivalIdField)"
            [defaultvalue]="getZerothIndexValue(i)[item.value]">
          </app-entitylookup>

          <app-entitylookup *ngIf="item.Type.toLowerCase() == 'picklist'" [PicklistObj]="item.PicklistDetail"
            [GridIndex]="i" (Onselectdataids)="PicklistPatchValue($event,i,item.PicklistDetail)"
            [defaultvalue]="getZerothIndexValue(i)[item.value]">
          </app-entitylookup>

          <app-entitylookup *ngIf="item.Type.toLowerCase() == 'fieldbasedpicklist'"
            [PicklistObj]="item.PicklistDetail[getZerothIndexValue(i)[item.DependendField]===''? item.DependentDefaultValue : getZerothIndexValue(i)[item.DependendField]]" [GridIndex]="i"
            (Onselectdataids)="PicklistPatchValue($event,i,item.PicklistDetail[getZerothIndexValue(i)[item.DependendField]===''? item.DependentDefaultValue : getZerothIndexValue(i)[item.DependendField]])"
            [defaultvalue]="getZerothIndexValue(i)[item.value[getZerothIndexValue(i)[item.DependendField]===''? item.DependentDefaultValue : getZerothIndexValue(i)[item.DependendField]]]">
          </app-entitylookup>

          <span *ngIf="item.Type.toLowerCase() == 'togglebutton'" style="display: inline-block;cursor: pointer;"
            [ngStyle]="{'width.px': item?.width-30}"
            (click)="editField(i,item.value,getZerothIndexValue(i)[item.value]==0 ? 1 : 0)"
            class="tooglebutton">{{ComboBoxValue(item.PickLists,getZerothIndexValue(i)[item.value]).value}}</span>

          <span *ngIf="item.Type.toLowerCase() == 'lightbox'" style="display: inline-block;cursor: pointer;"
            [ngStyle]="{'width.px': item?.width-30}" (click)="LightBox(i,item.value)"
            class="lightboxbutton">{{ComboBoxValue(item.PickLists,getZerothIndexValue(i)[item.value]).value}}</span>

          <input *ngIf="item.Type.toLowerCase() == 'number' || item.Type.toLowerCase() == 'string' || item.Type.toLowerCase() == 'mail' || item.Type.toLowerCase() == 'percentage'"
            [placeholder]="item?.Placeholder!=undefined ? item?.Placeholder : ''" [maxlength]="item.MaxLength"
            [ngStyle]="{'width.px': item?.width-30}" (input)="ValueSave(i,j,item.value,$event,item.Type)"
            [formControlName]="item.value" style="outline-style: none;height: 30px;" [mask]="item.Mask"
            [readonly]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField])"
            [style.cursor]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'default' : 'auto'"
            [style.opacity]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 1 : 1"
            [style.background-color]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'rgba(26, 26, 26,0.32)' : getRowColor(i)">

          <textarea *ngIf="item.Type.toLowerCase() == 'textarea'"
            [placeholder]="item?.Placeholder!=undefined ? item?.Placeholder : ''" [maxlength]="item.MaxLength"
            [ngStyle]="{'width.px': item?.width-30}" (input)="ValueSave(i,j,item.value,$event,item.Type)"
            [formControlName]="item.value" style="outline-style: none;height: 60px;" [mask]="item.Mask"
            [readonly]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField])"
            [style.cursor]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'default' : 'auto'"
            [style.opacity]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 1 : 1"
            [style.background-color]="item.Disabled!=undefined && item.DependendValue.includes(getZerothIndexValue(i)[item.DependendField]) ? 'rgba(26, 26, 26,0.32)' : getRowColor(i)"></textarea>

          <Table *ngIf="item.Type.toLowerCase() == 'checkbox'" style="height: 36px;">
            <tbody>
              <tr style="border-bottom: unset;">
                <td style="display: inline-flex;align-content: center;height: 36px;">
                  <mat-checkbox [checked]="!getZerothIndexValue(i)[item.value]" [ngStyle]="{'width.px': item?.width-30}"
                    style="display: inline-flex;justify-content: flex-start;padding-right: 16px;"
                    [disabled]="!isreadable" (change)="editField(i,item.value,!$event.checked ? 1 : 0)"
                    (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)"></mat-checkbox>
                </td>
              </tr>
            </tbody>
          </Table>

          <!-- <Table *ngIf="item.Type.toLowerCase() == 'time'" style="height: 36px;">
            <tbody>
              <tr style="border-bottom: unset;">
                <td class="form_value" style="display: flex;height: 36px;padding: 0px;"
                  [ngStyle]="{'width.px': item?.width-30}">
                  <input [formControlName]="item.value" [readonly]="!isreadable || Field?.ReadOnly" class="form_value"
                    [ngStyle]="{'width.px': item?.width-30}" [class.focused]="isFocused" (focus)="isFocused = true"
                    (focusout)="isFocused = false" style="outline-style: none;height: 36px;"
                    (input)="onTimeChange(i,item.value,$event)" type="text" mask="00:00">
                </td>
              </tr>
            </tbody>
          </Table> -->

          <Table *ngIf="item.Type.toLowerCase() == 'date'" style="height: 36px;">
            <tbody>
              <tr style="border-bottom: unset;">
                <td class="form_value" style="display: flex;height: 36px;padding: 0px;"
                  [ngStyle]="{'width.px': item?.width-30}">
                  <input matInput [matDatepicker]="picker1" type="text" class="period form_value"
                    [placeholder]="item.Placeholder" [ngStyle]="{'width.px': 1}" [class.focused]="isFocused"
                    (focus)="isFocused = true" (dateInput)="onDateChange(i,item.value,$event.value)"
                    (focusout)="isFocused = false" readonly>
                  <span class="DatePicker" [ngStyle]="{'max-width.px': item?.width-31}"
                    [ngStyle]="{'min-width.px': 80}">{{getDateValue(getZerothIndexValue(i)[item.value])}}</span>
                  <mat-datepicker-toggle [style.display]="isreadable ? 'block' : 'none'" matSuffix id="datepicker2"
                    class="dateperiod" [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker [style.display]="isreadable ? 'block' : 'none'" #picker1></mat-datepicker>
                </td>
              </tr>
            </tbody>
          </Table>

          <mat-select *ngIf="item.Type.toLowerCase() == 'combobox'"
            (selectionChange)="editField(i,item.value,$event.value,item)" [ngStyle]="{'width.px': item?.width-30}"
            class="form_label" style="padding-right: 0px;" [formControlName]="item.value">
            <mat-option *ngFor="let val of item.PickLists" [style.color]="val.PlaceHolder==true ? 'red' : ''" class="dropdown_list_data" [value]="val.key">
              {{ val.value }}
            </mat-option>
          </mat-select>
          <span *ngIf="item.Type.toLowerCase() == 'fieldbasedcombobox'">
            <input *ngIf="item.ComboBoxDetail[getZerothIndexValue(i)[item.DependendField]===''? item.DependentDefaultValue : getZerothIndexValue(i)[item.DependendField]].ReadOnly == true"
              [ngStyle]="{'width.px': item?.width-30}" style="outline-style: none;"
              [value]="ComboBoxValue(item.ComboBoxDetail[getZerothIndexValue(i)[item.DependendField]===''? item.DependentDefaultValue : getZerothIndexValue(i)[item.DependendField]].PickLists,getZerothIndexValue(i)[item.value[getZerothIndexValue(i)[item.DependendField]===''? item.DependentDefaultValue : getZerothIndexValue(i)[item.DependendField]]]).value"
              [style.background-color]="getRowColor(i)" readonly>
            <mat-select *ngIf="item.ComboBoxDetail[getZerothIndexValue(i)[item.DependendField]===''? item.DependentDefaultValue : getZerothIndexValue(i)[item.DependendField]].ReadOnly == false"
              (selectionChange)="editField(i,item.value,$event.value)" [ngStyle]="{'width.px': item?.width-30}"
              class="form_label" [formControlName]="item.value[getZerothIndexValue(i)[item.DependendField]===''? item.DependentDefaultValue : getZerothIndexValue(i)[item.DependendField]]">
              <mat-option *ngFor="let val of item.ComboBoxDetail[getZerothIndexValue(i)[item.DependendField]===''? item.DependentDefaultValue : getZerothIndexValue(i)[item.DependendField]].PickLists"
                class="dropdown_list_data" [value]="val.key">
                {{ val.value }}
              </mat-option>
            </mat-select>
          </span>
        </td>
        <td *ngIf="IsEditRequired" (click)="EditItem(i,Field?.SLNOField)"
          style="cursor: pointer;height: 36px;"><mat-icon
            style="width: 21px; color:var(--color);font-size: 23px;padding-top: 5px;">edit</mat-icon>
        </td>
        <td *ngIf="DeleteRowNeeded" (click)="removeItem(i,Field?.SLNOField)"
          style="cursor: pointer;display: flex;height: 36px;justify-content: right;align-items: center;"><mat-icon
            style="width: 21px; color:rgba(237, 37, 49, 1)">close</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<span *ngIf="AddrowNeeded" class="addrowbutton" (click)="addrow()"><img style="width: 18px;height: 18px;"
  src="assets/icons/addrow.png">Add Row</span>