.mat{
    max-width: 1200px;
    margin-left: 220px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .card{
    max-width: 1200px;
    margin-left: 220px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   }
   .icons
   {
   float:right;
   text-align:center;
   height:25px ;
   width: 30px !important;
   min-width: unset  !important;
   padding-left: 2px;
   line-height: 18px;
   
   }
  
  
  table {
      font-family: Poppins;
      border-collapse: collapse;
      width: 1170px;
      margin-left: 35px;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      width:500px;
    }
    
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #41394C;
      color: white;
      font-weight: normal;
    }
       .flex-container{
      border: none;
      outline: none;
      color: white;
      padding: 5px;
      margin: 1px 1px;
      line-height:20px;
      display: flex;
      flex-wrap: nowrap;
      text-align: center;
    }
    .check1{
    color: #009eb5;
    border-radius: 20px;
    width: 50px;
    font-size: 33px;
    font-family: Poppins;
    text-align: center;
    margin-right: 90px;
  
    }
    .check2{
     color: #D85678;
    border-radius: 20px;
    width: 20px;
    font-size: 33px;
    font-family: Poppins;
    text-align: center;
    margin-right: 90px;
    border-left: 1px solid rgba(0,0,0,0.2);
    }
  
    .check3{
    color: #ff8b3d;
    margin-right: 50px;
    border-radius: 20px;
    width: 50px;
    font-size: 33px;
    font-family: Poppins;
    text-align: center;
    }
    .check4{
      
      color:#8cc43c;
      margin-right: 70px;
      border-radius: 20px;
      width: 50px;  
      font-size: 33px;
      font-family: Poppins;
      text-align: center;
    }
    .style2{
      color: black;
      font-family: Poppins;
      font-size:18px;
      text-align:right;
      margin-left: 110px;
  
      }
  
  .tablehead{
    font-family: Poppins;
    font-size: 18px;
    color: #41394C;
    margin-left: 41px;
    
  
  }
  .right{
    float: right;
    text-align: right;
    margin-right: 70px;
  }
  
  
  @media(max-width: 650px){
    div.open{
      display:none
    }
    button.abc{
      display:inline-block
    }
  }
  @media (min-width: 641px){
    div.open{
     display:inline-block
   }
   button.abc{
    display:none
   }
  }