<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<mat-card class="card">
    <mat-card-actions>

        <div class="flex-container">
            <div class="style2">
                <p>Pending orders</p>
                <div class="check1"><b>13,58,653</b></div>
                <p>No of orders 5</p>
            </div>
            <div class="style2">
                <p>Sales YTD</p>
                <div class="check2"><b>36,12,692</b></div>
            </div>
            <div class="style2">
                <p>Sales MTD</p>
                <div class="check3"><b>58,651</b></div>
            </div>
            <div class="style2">
                <p>Outstanding</p>
                <div class="check4"><b>1,58,672</b></div>
                <p>No of bills 3</p>
            </div>

        </div>
        <br>
    </mat-card-actions>
</mat-card>
<br>
<mat-card class="mat">
    <mat-card-actions>

        <div class="tablehead">
            <p><b>Order List</b>

                <button class="icons" mat-stroked-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <button class="icons" mat-stroked-button>
                    <mat-icon>filter_alt</mat-icon>
                </button>
                <button class="icons" mat-stroked-button>
                    <mat-icon>description</mat-icon>
                </button>

                <button class="icons" mat-stroked-button>
                    <mat-icon>get_app</mat-icon>
                </button>

                <button class="icons" mat-stroked-button>
                    <mat-icon>refresh</mat-icon>
                </button>

                <button class="icons" mat-stroked-button>
                    <mat-icon>search</mat-icon>
                </button>

                <button mat-stroked-button class="right">
                    <mat-icon>add_circle</mat-icon>Add New
                </button>

                <button class="right" mat-stroked-button> Schedule level </button>

                <button class="right" mat-stroked-button>All</button>
            </p>

            <button mat-icon-button class="abc" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <div class="hidden">
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>filter_alt</mat-icon>
                        <span>Link1</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>description</mat-icon>
                        <span>Link2</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>get_app</mat-icon>
                        <span>Link3</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>refresh</mat-icon>
                        <span>Notification</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>search</mat-icon>
                        <span>Notification</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <div>
            <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-alpine" [rowData]="rowData"
                [columnDefs]="columnDefs">
            </ag-grid-angular>

        </div>
    </mat-card-actions>
</mat-card><br><br>