<div class="form-group" *ngIf="Field?.isKeyField == undefined || Field?.isKeyField == false">

  <ng-template *ngIf="ReadOnly===false;then editableTemplate; else readonlyTemplate">
  </ng-template>

  <ng-template #readonlyTemplate>
    <mat-label>{{Field?.Label}}</mat-label><br />
    <mat-label>{{value}}</mat-label>
  </ng-template>

  <ng-template #editableTemplate>
    <Table>
      <tbody>
        <tr>
          <td class="form_label" *ngIf="Screen != 'Login' && Field?.Label != ''" [class.labelFocused]="isFocused"
          [style.min-width.px]="Field?.LabelWidth == undefined ? 180 : Field?.LabelWidth">
            {{Field?.Label}}</td>
          <td *ngIf="Screen != 'Login'" style="height: 36px;">
            <span class="tooltip">
              <input #input matInput [ngStyle]="{'width.px': Field?.Width}" [formControl]='gbControl' name={{Field?.Name}}
              type='text' placeholder="{{Field?.Placeholder}}" maxlength={{Field?.MaxLength}}
              minlength={{Field?.MinLength}} [attr.minlength]="minLen" [attr.maxlength]="maxLen" min={{Field?.MinValue}}
              max={{Field?.MaxValue}} class="input" pattern={{HtmlPattern}} [class.focused]="isFocused"
              (focus)="isFocused = true" (focusout)="isFocused = false" (input)="validateInput($event)"
              [readonly]="Field?.ReadOnly == undefined && isreadable ? false : true" [mask]="Field?.Mask"><span *ngIf="Field?.Tooltip && Field?.Tooltip.length > 0"class="tooltiptext">{{Field?.Tooltip}}</span>
            </span>
          </td>
          <td *ngIf="Screen == 'Login'">
            <input #input matInput [ngStyle]="{'width.px': Field?.Width}" [formControl]='gbControl' name={{Field?.Name}}
            type={{Field?.Type}} placeholder="{{Field?.Placeholder}}" maxlength={{Field?.MaxLength}}
            minlength={{Field?.MinLength}} [attr.minlength]="minLen" [attr.maxlength]="maxLen" min={{Field?.MinValue}}
            max={{Field?.MaxValue}} class="inputLogin" pattern={{HtmlPattern}} (input)="validateInput($event)"
            [readonly]="false">
          </td>
        </tr>
      </tbody>
    </Table>
    
  </ng-template>

</div>

<div *ngIf="Field?.isKeyField" style="position: relative;" [style.top.px]="!isreadable ? -4 : -7">
  <div style="height: 21px;">
    <span class="form_label" [ngStyle]="{'width.px': Field?.Width}" style="display: inline-block;text-align: left" [class.labelFocused]="isFocused">{{Field?.Label}}</span>
  </div>
  <div style="height: 36px;">
    <span class="tooltip">
      <input #input matInput style="height: 24px;" [ngStyle]="{'width.px': Field?.Width}" [formControl]='gbControl' name={{Field?.Name}}
      type='text' placeholder="{{Field?.Placeholder}}" maxlength={{Field?.MaxLength}} minlength={{Field?.MinLength}}
      [attr.minlength]="minLen" [attr.maxlength]="maxLen" min={{Field?.MinValue}} max={{Field?.MaxValue}} class="form_key_value"
      pattern={{HtmlPattern}} [class.focused]="isFocused" (focus)="isFocused = true" (focusout)="isFocused = false"
      (input)="validateInput($event)" [readonly]="!isreadable"><span *ngIf="Field?.Tooltip && Field?.Tooltip.length > 0" class="tooltiptext">{{Field?.Tooltip}}</span>
    </span>
  </div>
</div>