@import url('./../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss');
@import url("https://fonts.googleapis.com/css?family=Helvetica");
.input{
    height: 24px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    outline-style: none;
    color: rgba(26, 26, 26, 0.87) !important;
}

.form_key_value{
  outline-style: none;
}

.inputLogin{
  height: 24px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  outline-style: none;
  color: rgba(26, 26, 26, 0.87) !important;
}

::ng-deep .mat-input-element::placeholder {
  color: rgba(26, 26, 26,0.5) !important;
  font-weight: 700;
  font-family: 'Helvetica';
  font-size: 14px;
  font-style: normal;
}

  
  .focused {
    /* Add your focused styles here */
    border-bottom: 2px solid var(--color); /* For example */
    transition: .4s ease-in-out;
  }

  .labelFocused{
    color: var(--color);
    transition: .4s ease-in-out;
  }