<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" style="padding-left: 20px;">Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Total</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Released</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Pending</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Inprogress</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Completed</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Overdue</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Appealed</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Accepted</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Closed</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" [ngClass]="{'color': (i%2 == 0)}" *ngFor="let data of RowData; let i=index">
                <td class="td cap2-med-12-type-primary" style="padding-left: 20px;">{{data.Code}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.Name}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.Number}}</td> 
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.OpenNumber}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.PendingNumber}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.InprogressNumber}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.CompletedNumber}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 20px;">{{data.OverdueNumber}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 20px;">{{data.AppealedNumber}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 20px;">{{data.AcceptedNumber}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 20px;">{{data.ClosedNumber}}</td>
            </tr>
        </tbody>
    </table>
</div>

