<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="CalenderJSON.default.ObjectFields[0].CalendarCode"
        formControlName='CalendarCode' (Onselectdataids)="PicklistPatchValueForMultipleControls($event)"
        [defaultvalue]="form.get('CalendarCode').value"></app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="CalenderJSON.default.ObjectFields[0].CalendarName"
        formControlName='CalendarName' (Onselectdataids)="PicklistPatchValueForMultipleControls($event)"
        [defaultvalue]="form.get('CalendarName').value"></app-entitylookup>
        <app-gb-date formControlName='CalendarFromDate' [date]="form.get('CalendarId').value" (DateValueOutPut)="FromDate($event)"></app-gb-date>
        <app-gb-date formControlName='CalendarToDate' [date]="form.get('CalendarId').value" (DateValueOutPut)="ToDate($event)"></app-gb-date>
        <span (click)="GridFill()">Fill</span>
        <app-gb-formgrid formControlName='CalendarDetailArray'
      [ArrayDetail]="form.get('CalendarDetailArray').value"></app-gb-formgrid>
    </form>
</div>