<footer  class="theme" [ngClass]="theme$ | async">
  <section id="statusmessage">
    Status Message goes here..., angular: {{ angularVersion }} Copyright
    2019-2020
  </section>
  <section id="toolbar">footer toolbar</section>
</footer>
