
<label>SourceDatabase</label> <span style="margin-left: 20px;">USCImpsys</span>
<br><br>

<label>TargetDatabase</label> <span style="margin-left: 20px;">GB4SC</span>
<br><br>

<label>Client</label> <span style="margin-left: 85px;">ADMIN</span>
<br><br>


<button mat-raised-button color="primary" (click)="reporttesting()" style="display:flex;">Report Testing</button>