@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.ebankbuttons{
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 2px 2px 0px #0000000F;
    border-radius: 6px;
    padding-top: 7px;
    color: #FFFFFF;
    width: 120px;
    height: 32px;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
  }

  .bankbalance{
    //styleName: h1/hel-34-bol;
font-family: Helvetica Neue;
font-size: 34px;
font-weight: 700;
line-height: 51px;
letter-spacing: 0em;
text-align: left;

  }

  .debit{
  font-family: Helvetica Neue;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  background-color: #ED2531;
  width: 36px;
  height: 36px;
  padding: 0px 9px;
  border-radius: 6px;
  }

  .credit{
  font-family: Helvetica Neue;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  background-color: #32AE73;
  width: 36px;
  height: 36px;
  padding: 0px 9px;
  border-radius: 6px;
  }

  #getstetmentbtn{
    
    border: 0.5px solid#6E3AB6;
  }

  .caption-med-12-type-primary {
    font-weight: 700;
    line-height: 36px;
}

.menudata {
  color: rgb(27, 27, 27, 0.87);
}

.menudata:hover {
  border: none !important;
  color: #FFFFFF !important;
}

.viewdata {
  padding-top: 13px;
}

.lightboxhead{
font:Helvetica Neue;
font-size: 16px;
font-weight: 700;
color: #CD309E;
}


input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #1A1A1A
}
// input:focus {
//   border-color: green;
// }