<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="OverHeadCostJson.default.ObjectFields[0].CostCenterName"
            formControlName='CostCenterName' (Onselectdata)="LottypeFillFunction($event)"
            [defaultvalue]="form.get('CostCenterName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="OverHeadCostJson.default.ObjectFields[0].CostCenterTypeCode"
            formControlName='CostCenterTypeCode' (Onselectdata)="LottypeFillFunction($event)"
            [defaultvalue]="form.get('CostCenterTypeCode').value"></app-entitylookup>

        <app-gb-formgrid formControlName='RoleModuleArray' [ArrayDetail]="form.get('RoleId').value"></app-gb-formgrid>

    </form>
</div>