.styled-table {
    
    width: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    display: flow-root;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .styled-table thead tr {
    text-align: left;
  }
  
  .styled-table th{
      padding: 12px 15px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      height: 50px;
      font-stretch: normal;  
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      
  }
  
  .styled-table td {
      padding: 12px 15px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;  
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      box-shadow: rgba(57, 56, 58, 0.15) 1px 5px 15px;
      border-left: 1px solid #666;
      border-right: 1px solid #666;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #666666;
  }
  
  .sticky-header{
    position: absolute;
    overflow-y: auto;
     min-width: 30%;
     height: 450px;
     margin: 5px;
     margin-top: -10px;
  }
  
  .styled-table thead tr{
    padding: 5px;
    position: sticky;
    top: 0;
    //z-index: 10; 
  }

   