
<!-- <app-customerlogin></app-customerlogin> -->
<!-- <app-customerheader></app-customerheader> -->
<!-- <app-customernavbar></app-customernavbar> -->
<!-- <app-customersidebar></app-customersidebar> -->
<!-- <app-ad></app-ad> -->
<!-- <app-customermaincontent></app-customermaincontent> --> 
<!-- <app-customerorder></app-customerorder>  -->
<!-- <app-customerorderstatus></app-customerorderstatus> -->
<!-- <app-updateorderdetails></app-updateorderdetails> -->
<!-- <app-customerfooter></app-customerfooter> -->
<!-- <app-customerdashboard></app-customerdashboard> -->
<router-outlet></router-outlet>
<!-- <div *ngIf="(loginDTOs$ | async); then main; else login">
</div>
<ng-template #login>
  <app-customerlogin></app-customerlogin>
</ng-template>

<ng-template #main>
    <app-customerdashboard></app-customerdashboard>
</ng-template>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" 
type = "square-jelly-box" [fullScreen] = "true">
<p> Loading... </p>
</ngx-spinner> -->

 
