<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
 
        <app-entitylookup class="KeyField" [PicklistObj]="SKUSettingJson.default.ObjectFields[0].SKUSettingCode"
        formControlName='SKUSettingCode' (Onselectdata)="SKUSettingRetrivalValue($event)"
        [defaultvalue]="form.get('SKUSettingCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="SKUSettingJson.default.ObjectFields[0].SKUSettingName"
        formControlName='SKUSettingName' (Onselectdata)="SKUSettingRetrivalValue($event)"
        [defaultvalue]="form.get('SKUSettingName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='SKUSettingDetailArray'
            [ArrayDetail]="form.get('SKUSettingCode').value"></app-gb-formgrid> 

    </form>
</div>