<div class="packdbservs">Pack Custom DBService & Generic Service Sample</div>
<div class='packdbserv' *ngIf="form.bFormReady">
  <form [formGroup]='form' class='packdbservs'>
  <app-gb-input formControlName='PackCode'></app-gb-input>
  <app-gb-input formControlName='PackName'></app-gb-input>
  <app-gb-input formControlName="PackConversionType"></app-gb-input>
  <app-gb-numeric formControlName='PackConversionFactor'></app-gb-numeric>
  </form>
  </div>



