<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

            <app-entitylookup class="KeyField" [PicklistObj]="EmployeeSalaryJSON.default.ObjectFields[0].EmployeeCode"
            formControlName='EmployeeCode' (Onselectdata)="EmployeeSalaryRetrivalValue($event)"
            [defaultvalue]="form.get('EmployeeCode').value"></app-entitylookup>
      
            <app-entitylookup class="KeyField" [PicklistObj]="EmployeeSalaryJSON.default.ObjectFields[0].EmployeeName"
            formControlName='EmployeeName' (Onselectdata)="EmployeeSalaryRetrivalValue($event)"
            [defaultvalue]="form.get('EmployeeName').value"></app-entitylookup>

         
            <app-gb-formgrid formControlName='EmployeeSalaryArray'
            [ArrayDetail]="form.get('EmployeeSalaryId').value"></app-gb-formgrid> 

    </form>
</div> 