<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="LeadCycleJSON.default.ObjectFields[0].LeadCycleCode"
        formControlName='LeadCycleCode' (Onselectdata)="LeadCycleFillData($event)"
        [defaultvalue]="form.get('LeadCycleCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="LeadCycleJSON.default.ObjectFields[0].LeadCycleName"
        formControlName='LeadCycleName' (Onselectdata)="LeadCycleFillData($event)"
        [defaultvalue]="form.get('LeadCycleName').value"></app-entitylookup>

        <app-gb-combobox formControlName="LeadCycleApplicableType"></app-gb-combobox>


        <app-gb-textarea formControlName='LeadCycleRemarks'></app-gb-textarea>

        <app-gb-formgrid formControlName='LeadCycleDetailArray'
        [ArrayDetail]="form.get('LeadCycleCode').value"></app-gb-formgrid>

        </form>
        </div>
