<div class="dbtable">
  <table class="Table">
      <thead class="thead">
          <tr class="theadtr">
              <th class="th cap1-bold-12-white" >Code</th>
              <th class="th cap1-bold-12-white" >Name</th>
              <th class="th cap1-bold-12-white" >Remarks</th>
              <th class="th cap1-bold-12-white" >Selected</th>
          </tr>
      </thead>
      <tbody class="tbody">
          <tr class="tr"*ngFor="let data of rowData; let i=index">
              <td class="td cap2-med-12-type-primary" >{{data.ItemBrandCode }}</td>
              <td class="td cap2-med-12-type-primary" >{{data.ItemBrandName}}</td>
              <td class="td cap2-med-12-type-primary" >{{data.ItemBrandRemarks}}</td>
              <td class="td cap2-med-12-type-primary" >{{data.ItemBrandIsSelected}}</td>
          </tr>
      </tbody>
  </table>
</div>

