<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Sno </th>
          <th class="th cap1-bold-12-white" >OU Name </th>
          <th class="th cap1-bold-12-white" >Supply Group Code </th>
          <th class="th cap1-bold-12-white" >Supply Group Name </th>
          <th class="th cap1-bold-12-white" >Party</th>
          <th class="th cap1-bold-12-white" >PartyBranch</th>
          <th class="th cap1-bold-12-white" >Particulars</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Share %</th>
          <th class="th cap1-bold-12-white" >Remarks</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowDatas"> 
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.sno}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.ouname}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.supgrupcode}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.supgrupname}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.partyname}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.partybranchname}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.particular}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 50px;">{{data.shareper}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.remarks}}</td>
        </tr>
      </tbody>
    </table>
    </div>