@import './../../../../styles/_utilities.scss';
@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/MainContent.scss';
.container {
  @include guideline();

  display: flex;
  align-items: center;
}

.viewlist{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.expand{
  outline-style: none;
}

::ng-deep .mat-menu-panel{
  overflow: auto !important;
}
