

<!--<ActionBar title="Add New Account"></ActionBar>
<GridLayout backgroundColor="black">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" height="600" backgroundColor="#FFFFFF">
                <form [formGroup]="form">
                    <StackLayout class="input-field" marginTop="80" marginLeft="18">
                        <Label text="Sign in to your account" color="black" class="label font-weight-bold"
                            fontSize="22"></Label>
                        <Label text="Please enter your credentials to login" color="black" class="label"
                            fontSize="12"></Label>
                    </StackLayout>
                    <stacklayout class="input-field" marginTop="20">
                        <TextField color="black" class="gb-textfield accheight" id="Server" hint="Server Name"
                            formControlName="Server">
                        </TextField>
                    </stacklayout>
                    <stacklayout class="input-field" marginTop="35">

                        <TextField color="black" class="gb-textfield accheight" id="UserName" hint="Usercode"
                            formControlName="UserName">
                        </TextField>
                    </stacklayout>
                    <stacklayout class="input-field" marginTop="35">
                        <TextField color="black" class="gb-textfield accheight" id="Password" secure="true"
                            hint="Password" formControlName="Password">
                        </TextField>
                    </stacklayout>
                </form>
                <stacklayout row="1" verticalAlignment="bottom" marginTop="35">
                    <StackLayout>
                        <Button class="Login" text="Login" (tap)="login()"></Button>
                    </StackLayout>
                    <Label text="Forgot password ?" color="black" class="label" color="Purple" marginLeft="13"
                        fontSize="15"></Label>
                    <Label text="-----------------------------------  or  -------------------------------------"
                        color="black" class="label" marginLeft="13" fontSize="15"></Label>
                </stacklayout>

                <stacklayout>
                    <Label text="Don't have an account?" color="black" class="noaccount" marginLeft="13"
                        fontSize="15"></Label>
                    <Label text="Sign Up" color="Purple" marginLeft="170" marginTop="-23"></Label>
                </stacklayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>-->





<!-- <ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="navigatetouseraccountlist()"></NavigationButton>
    <Label class="action-bar-title" text="Add New Account"></Label>
</ActionBar> -->

<!--<ActionBar class="action-bar">
    <GridLayout columns="*,2*,*" rows="*" width="100%">
        <label class="font-awesome gb-topbar-icon" text="&#xf060;" (tap)="navigation()" row="0" col="0"></label>
        <Label class="action-bar-title gb-text-center" text="Add New Account" row="0" col="1"></Label>
    </GridLayout>
</ActionBar>-->

<ActionBar title="Add New Account"></ActionBar>


<GridLayout rows="*,80">
    <ScrollView>
        <stacklayout row="0" class="form">
            <form [formGroup]="form">
            <stacklayout class="input-field" marginTop="15">

                <TextField class="gb-textfield accheight" id="server" hint="Server Name" formControlName="server" >
                </TextField>
            </stacklayout>
            <stacklayout class="input-field">
                <TextField class="gb-textfield accheight" id="domain" hint="URL" formControlName="domain" ></TextField>
            </stacklayout>
            <stacklayout class="input-field">
                <TextField class="gb-textfield accheight" id="database" hint="Database" formControlName="database" >
                </TextField> 
            </stacklayout>
            <stacklayout class="input-field">
                <TextField class="gb-textfield accheight" id="username" hint="Usercode" formControlName="username">
                </TextField>
            </stacklayout>
            <stacklayout class="input-field">
                <TextField class="gb-textfield accheight" id="password" secure="true" hint="Password"
                formControlName="Password">
                </TextField>
            </stacklayout>
        </form> 
        </stacklayout>
    </ScrollView>
    <stacklayout row="1" verticalAlignment="bottom" marginBottom="10">
        <StackLayout>
            <Button text="Add Account" (tap)="addaccount()" class="btn-primary gb-mb-15"></Button>
        </StackLayout>
    </stacklayout>
</GridLayout>


