<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="BudgetMasterJson.default.ObjectFields[0].BudgetCode"
            formControlName='BudgetCode' (Onselectdata)="BudgetMasterFillFunction($event)"
            [defaultvalue]="form.get('BudgetCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="BudgetMasterJson.default.ObjectFields[0].BudgetName"
            formControlName='BudgetName' (Onselectdata)="BudgetMasterFillFunction($event)"
            [defaultvalue]="form.get('BudgetName').value"></app-entitylookup>


        <!-- <app-gb-radiobox formControlName='BudgetAccountLevel'
            (RadioButtonOutPut)="setPatchValueToZero($event)"></app-gb-radiobox> -->
        <app-gb-combobox formControlName="BudgetAccountLevel"
            (ComboBoxOutPut)="setPatchValueToZero($event)"></app-gb-combobox>

        <!-- <app-gb-combobox formControlName="BudgetAccountLevel" (click)="setPatchValueToZero()"></app-gb-combobox> -->

        <app-entitylookup [PicklistObj]="BudgetMasterJson.default.ObjectFields[0].CostCategoryName"
            formControlName='CostCategoryName' (Onselectdataids)="BudgetMasterPatchValue($event)"
            [defaultvalue]="form.get('CostCategoryName').value"
            *ngIf="form.get('BudgetAccountLevel').value==1||form.get('BudgetAccountLevel').value==3||form.get('BudgetAccountLevel').value==4"></app-entitylookup>

        <app-entitylookup [PicklistObj]="BudgetMasterJson.default.ObjectFields[0].CriteriaConfigName"
            formControlName='CriteriaConfigName' (Onselectdataids)="BudgetMasterPatchValue($event)"
            [defaultvalue]="form.get('CriteriaConfigName').value"></app-entitylookup>

        <app-gb-radiobox formControlName='BudgetPeriodType'
            (RadioButtonOutPut)="setPatchValueToZero2($event)"></app-gb-radiobox>

        <div class="BudgetFromDate" *ngIf="form.get('BudgetPeriodType').value==1">
            <app-gb-date formControlName="BudgetFromDate" [date]="form.get('BudgetId').value" [default]="'today'"
                class="KeyField" (DateOutPut)="calculateDateDifference()"></app-gb-date>

            <app-gb-date formControlName="BudgetToDate" [date]="form.get('BudgetToDate').value" [default]="'today'"
                class="KeyField" (DateOutPut)="calculateDateDifference()"></app-gb-date>
        </div>
        <app-gb-date formControlName="BudgetCompareFromDate" [date]="form.get('BudgetCompareFromDate').value" [default]="'today'"
            *ngIf="form.get('BudgetPeriodType').value==1" class="KeyField" (DateOutPut)="calculateDateDifferences()"></app-gb-date>

        <app-gb-date formControlName="BudgetCompareToDate" [date]="form.get('BudgetCompareToDate').value" [default]="'today'"
            *ngIf="form.get('BudgetPeriodType').value==1" class="KeyField" (DateOutPut)="calculateDateDifferences()"></app-gb-date>

        <div class="BudgetCompareFromDate" *ngIf="form.get('BudgetPeriodType').value==2">
            <app-entitylookup [PicklistObj]="BudgetMasterJson.default.ObjectFields[0].GBPeriodName"
                formControlName='GBPeriodName' (Onselectdataids)="BudgetMasterPatchValue($event)"
                [defaultvalue]="form.get('GBPeriodName').value"
                *ngIf="form.get('BudgetPeriodType').value==2"></app-entitylookup>

            <app-entitylookup [PicklistObj]="BudgetMasterJson.default.ObjectFields[0].CompareGBPeriodName"
                formControlName='CompareGBPeriodName' (Onselectdataids)="BudgetMasterPatchValue($event)"
                [defaultvalue]="form.get('CompareGBPeriodName').value"
                *ngIf="form.get('BudgetPeriodType').value==2"></app-entitylookup>
        </div>

        <app-gb-textarea formControlName='BudgetRemarks'></app-gb-textarea>
    </form>
</div>