<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ItemTemplatePartJSON.default.ObjectFields[0].ItemTemplatePartCode"
            formControlName='ItemTemplatePartCode' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('ItemTemplatePartCode').value"></app-entitylookup>

            <app-entitylookup class="KeyField" [PicklistObj]="ItemTemplatePartJSON.default.ObjectFields[0].ItemTemplatePartName"
            formControlName='ItemTemplatePartName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('ItemTemplatePartName').value"></app-entitylookup> <br>

            <app-entitylookup class="KeyField"  [PicklistObj]="ItemTemplatePartJSON.default.ObjectFields[0].ParentName"
            formControlName='ParentName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('ParentName').value"></app-entitylookup>

            <app-entitylookup   class="KeyField"  [PicklistObj]="ItemTemplatePartJSON.default.ObjectFields[0].ParameterSetName"
            formControlName='ParameterSetName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('ParameterSetName').value"></app-entitylookup> <br>

            <app-entitylookup   class="KeyField"  [PicklistObj]="ItemTemplatePartJSON.default.ObjectFields[0].UOMName"
            formControlName='UOMName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('UOMName').value"></app-entitylookup>

            <app-gb-combobox class="KeyField" formControlName="ItemTemplatePartCalculationMethod"></app-gb-combobox> <br>

            <app-gb-combobox class="KeyField" formControlName="ItemTemplatePartItemLinkType"></app-gb-combobox>
            <app-gb-combobox class="KeyField" formControlName="ItemTemplatePartType"></app-gb-combobox> <br>

            <app-gb-textarea class="KeyField"  formControlName='ItemTemplatePartPartDescription'></app-gb-textarea>

            <app-entitylookup   class="KeyField"  [PicklistObj]="ItemTemplatePartJSON.default.ObjectFields[0].ItemTemplatePartLinkItemName"
            formControlName='ItemTemplatePartLinkItemName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('ItemTemplatePartLinkItemName').value" *ngIf="form.get('ItemTemplatePartItemLinkType').value == 1"></app-entitylookup>

            <app-gb-formgrid formControlName='ItemTemplatePartVsParameterArray'
            [ArrayDetail]="form.get('ItemTemplatePartCode').value"></app-gb-formgrid>
    
    </form>
</div>