<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

            <app-entitylookup class="KeyField" [PicklistObj]="EmployeeReferenceJSON.default.ObjectFields[0].EmployeeCode"
            formControlName='EmployeeCode' (Onselectdata)="EmployeeReferenceRetrivalValue($event)" (Onselectdataids)="EmployeeReferencePatchValue($event)" 
            [defaultvalue]="form.get('EmployeeCode').value"></app-entitylookup>
      
            <app-entitylookup class="KeyField" [PicklistObj]="EmployeeReferenceJSON.default.ObjectFields[0].EmployeeName"
            formControlName='EmployeeName' (Onselectdata)="EmployeeReferenceRetrivalValue($event)"(Onselectdataids)="EmployeeReferencePatchValue($event)" 
            [defaultvalue]="form.get('EmployeeName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='EmployeeReferenceArray'
            [ArrayDetail]="form.get('EmployeeReferenceId').value"></app-gb-formgrid> 

    </form>
</div> 
