<div class="topcorner">
<mat-form-field class="field"style="width: 90px;">
    <!-- <mat-label class="lang">Language</mat-label> -->
    <mat-select class="custom-select caption-med-12-type-primary" [(value)]="def" (selectionChange)="changelang($event.value)">
        <section style="margin-top: 10px;">
        <mat-option *ngFor="let lang of avaliblelang" class="caption-med-12-type-primary value"  [value]="lang">
           {{ lang }}
        </mat-option></section>
    </mat-select>
</mat-form-field>
<!-- <div class="Line-45"></div> -->
</div>



