<div class='FormOverview' *ngIf="form.bFormReady && TimeSlipJSON">
    <form [formGroup]='form'>
        <app-entitylookup [PicklistObj]="TimeSlipJSON.default.ObjectFields[0].BizTransactionTypeName"
            (Onselectdataids)="PicklistPatchValue($event)" formControlName='BizTransactionTypeName'
            [defaultvalue]="form.get('BizTransactionTypeName').value">
        </app-entitylookup>
        <app-entitylookup [PicklistObj]="TimeSlipJSON.default.ObjectFields[0].TimeSlipNumber"
            formControlName='TimeSlipNumber' (Onselectdata)="TimeSlipFillForm($event)"
            [defaultvalue]="form.get('TimeSlipNumber').value"></app-entitylookup>
        <app-gb-date formControlName='TimeSlipDate' [date]="form.get('TimeSlipId').value"
            [default]="'today'"></app-gb-date>
        <app-gb-date formControlName='TimeSlipAttendanceDate' [date]="form.get('TimeSlipId').value"
            [default]="'today'"></app-gb-date>
        <app-entitylookup [PicklistObj]="TimeSlipJSON.default.ObjectFields[0].EmployeeName"
            formControlName='EmployeeName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('EmployeeName').value"></app-entitylookup>
        <app-entitylookup [PicklistObj]="TimeSlipJSON.default.ObjectFields[0].ShiftDescription"
            (Onselectdataids)="PicklistPatchValue($event)" formControlName='ShiftDescription'
            [defaultvalue]="form.get('ShiftDescription').value"></app-entitylookup>
        <app-gb-datetime formControlName="TimeSlipShiftStartTime" [PrimaryId]="form.get('ShiftId').value"
            [time]="form.get('ShiftStartTime').value"></app-gb-datetime>
        <app-gb-datetime formControlName="TimeSlipShiftEndTime" [PrimaryId]="form.get('ShiftId').value"
            [time]="form.get('ShiftEndTime').value"></app-gb-datetime>
        <app-gb-combobox formControlName="TimeSlipType"></app-gb-combobox>
        <app-gb-input formControlName='TimeSlipReason'></app-gb-input>
        <app-gb-input formControlName='TimeSlipOnDutyLocation'></app-gb-input>
        <app-gb-datetime formControlName="TimeSlipFromTimeMailTemplate" (Minute)="PicklistPatchValue($event)"
            (Minute)="DurationCalculator($event)" [PrimaryId]="form.get('TimeSlipNumber').value"
            [time]="form.get('TimeSlipTimeSlipStartTime').value"></app-gb-datetime>
        <app-gb-datetime formControlName="TimeSlipToTimeMailTemplate" (Minute)="PicklistPatchValue($event)"
            [PrimaryId]="form.get('TimeSlipNumber').value" (Minute)="DurationCalculator($event)"
            [time]="form.get('TimeSlipTimeSlipEndTime').value"></app-gb-datetime>
        <app-gb-datetime formControlName="TimeSlipToDurtionMailTemplate" [PrimaryId]="form.get('TimeSlipNumber').value"
            [time]="form.get('TimeSlipDuration').value"></app-gb-datetime>
    </form>
</div>