<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" >UOM</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Total</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Good</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Rejected</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Rework</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Other</th>

            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.itemcode }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.itemname}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.uom}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.quantity}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.goodquantity}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.rejectquantity }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.reworkquantity}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 50px;">{{data.other}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  
  