<h3 style="align-items: center;">Pack</h3>
  <div class='pack'>
    <form [formGroup]='packForm'>
    <app-gb-input formControlName='PackCode' gbplaceholder="Code" gblabel="Code"></app-gb-input>
    <app-gb-input formControlName='PackName' gbplaceholder="Name" gblabel="Name"></app-gb-input>
    <app-gb-input formControlName="PackConversionType" gbplaceholder="Type" gblabel="Type"></app-gb-input>
    <app-gb-numeric formControlName='PackConversionFactor' gbplaceholder="Factor" gblabel="Factor"></app-gb-numeric>
  <button (click)="savepack()">Save</button>
  <button (click)="deletepack()">Delete</button>
  <button (click)="updatepack()">Update</button>
  <button (click)='clear()'>Clear</button>
</form>
</div>
