<div *ngIf="viewtype=='CUSHTMLVIEW'" class="FormOverview" style="display: inline-block;">
  <ndc-dynamic class="no-drag" [ndcDynamicComponent]="dynamicreport"></ndc-dynamic>
  <!-- <app-htmlview [rowData]='rowData' [columnData]='columnData'></app-htmlview> -->
</div>

<span *ngIf="viewtype=='Grid'" class="FormOverview" style="display: inline-block;">
  <goodbooks-gbgrid [rowData]='rowData' [columnData]='columnData' [defaultColDef]='defaultColDef'>
  </goodbooks-gbgrid>
</span>

<div *ngIf="viewtype=='STDHTMLVIEW'" class="FormOverview" style="display: inline-block;">
  <app-htmlview [rowData]='rowData' [columnData]='columnData'></app-htmlview>
</div>



 