<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="BudgetDataJSON.default.ObjectFields[0].BudgetName"
            formControlName='BudgetName' 
            [defaultvalue]="form.get('BudgetName').value" (Onselectdataids)="FindAccountLevel($event)"></app-entitylookup>

            <app-entitylookup class="KeyField" [PicklistObj]="BudgetDataJSON.default.ObjectFields[0].OUName"
            formControlName='OUName' (Onselectdata)="BudgetDataFillFunction($event)"
            [defaultvalue]="form.get('OUName').value"></app-entitylookup>

            <app-gb-date formControlName='BudgetDataFromDate' [date]="form.get('BudgetDataId').value"
            [default]="'today'" *ngIf="PeriodTypeStatus == 1"></app-gb-date>

            <app-gb-date formControlName='BudgetDataToDate' [date]="form.get('BudgetDataId').value"
            [default]="'today'" *ngIf="PeriodTypeStatus == 1"></app-gb-date>

            <app-entitylookup class="KeyField" [PicklistObj]="BudgetDataJSON.default.ObjectFields[0].CostCenterName"
            formControlName='CostCenterName' (Onselectdataids)="BudgetDataPatchValue($event)"
            [defaultvalue]="form.get('CostCenterName').value" *ngIf="AccountLevelStatus==1 || AccountLevelStatus==3 || AccountLevelStatus==4"></app-entitylookup>

            <app-entitylookup class="KeyField" [PicklistObj]="BudgetDataJSON.default.ObjectFields[0].AccountName"
            formControlName='AccountName' (Onselectdataids)="BudgetDataPatchValue($event)"
            [defaultvalue]="form.get('AccountName').value" *ngIf="AccountLevelStatus==0 || AccountLevelStatus==3"></app-entitylookup>

            <app-entitylookup class="KeyField" [PicklistObj]="BudgetDataJSON.default.ObjectFields[0].AccountGroupName"
            formControlName='AccountGroupName' (Onselectdataids)="BudgetDataPatchValue($event)"
            [defaultvalue]="form.get('AccountGroupName').value" *ngIf="AccountLevelStatus==2 || AccountLevelStatus==4"></app-entitylookup>

            <app-gb-formgrid formControlName='BudgetDataDetailArray'
            [ArrayDetail]="form.get('OUId').value"></app-gb-formgrid>


    </form>
</div>