<div class="abb">
    <p>Value : {{ Value | number:'1.2-2' }}</p>
    <p>Cost : {{ Cost | number:'1.2-2' }}</p>
    <p>Realisation : {{ Realisation | number:'1.2-2' }}</p>
    <p>Margin : {{ Margin | number:'1.2-2' }}</p>
    <p>Margin % Cost : {{ MarginCost | number:'1.2-2' }}</p>
    <p>Margin % Value : {{ MarginVal | number:'1.2-2' }}</p>
</div>
<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Particulars</th>
                <th class="th cap1-bold-12-white">No.of.Orders</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Qty</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Value</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Cost</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Realisation</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Margin</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Margin % Cost</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Margin % Value</th>

            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{ data.Code }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{ data.Name }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{
                    data.NumberOfOrder }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    [ngClass]="{'text-red': data.Quantity < 0}" style="text-align: right;">
                    {{ data.Quantity | number:'1.2-2' }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    [ngClass]="{'text-red': data.Value < 0}" style="text-align: right;">
                    {{ data.Value | number:'1.2-2' }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    [ngClass]="{'text-red': data.Cost < 0}" style="text-align: right;">
                    {{ data.Cost | number:'1.2-2' }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    [ngClass]="{'text-red': data.Realisation < 0}" style="text-align: right;">
                    {{ data.Realisation | number:'1.2-2' }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    [ngClass]="{'text-red': data.Margin < 0}" style="text-align: right;">
                    {{ data.Margin | number:'1.2-2' }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    [ngClass]="{'text-red': data.MarginPercentCost < 0}" style="text-align: right;">
                    {{ data.MarginPercentCost | number:'1.2-2' }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    [ngClass]="{'text-red': data.MarginPercentSale < 0}" style="text-align: right;">
                    {{ data.MarginPercentSale | number:'1.2-2' }}
                </td>



            </tr>
        </tbody>
    </table>
</div>