<div class='title'>
  SO0000106 (PO2342323)
  <h5 class='add'>
    <button (click)="addRecord()">New</button>
    <button (click)="deleteRecord()">Delete</button>
    <button (click)='moveFirst()'>|<</button>
    <button (click)='movePrev()'><</button>
    <button (click)='moveNext()'>></button>
    <button (click)='moveLast()'>>|</button>
    <button (click)="listView()">List</button>
  </h5>
</div>
