<div class="dbtable">
    <table style="margin-left: 1171px;">
        <tr>
            <td>
                <input type="checkbox" id="qtyCheckbox" />
                <label for="qtyCheckbox" style="margin-left: 5px;">Qty</label>
            </td>
            <td>
                <input type="checkbox" id="valueCheckbox" style="margin-left: 20px;" />
                <label for="valueCheckbox" style="margin-left: 5px;">Value</label>
            </td>
        </tr>
    </table>
    
    <div>
        <p>Total :{{rowData[0].TotalAgeValue?.toLocaleString(undefined, { maximumFractionDigits: 2,
            minimumFractionDigits: 2 })}}</p>
        <p>15 :{{rowData[0].TotalAge1Value?.toLocaleString(undefined, { maximumFractionDigits: 2,
            minimumFractionDigits: 2 })}}</p>
        <p>30 :{{rowData[0].TotalAge2Value?.toLocaleString(undefined, { maximumFractionDigits: 2,
            minimumFractionDigits: 2 })}}</p>
        <p>45 :{{rowData[0].TotalAge3Value?.toLocaleString(undefined, { maximumFractionDigits: 2,
            minimumFractionDigits: 2 })}}</p>
        <p>60 :{{rowData[0].TotalAge4Value?.toLocaleString(undefined, { maximumFractionDigits: 2,
            minimumFractionDigits: 2 })}}</p>
        <p>75 :{{rowData[0].TotalAge5Value?.toLocaleString(undefined, { maximumFractionDigits: 2,
            minimumFractionDigits: 2 })}}</p>
        <p>>75 :{{rowData[0].TotalAge6Value?.toLocaleString(undefined, { maximumFractionDigits: 2,
            minimumFractionDigits: 2 })}}</p>
    </div>
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 40px;">Total</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 40px;">15</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 40px;">37</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 40px;">45</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 40px;">60</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 40px;">75</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 40px;">>75</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of updatedtabledata; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.icode}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{data.iname}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    style="text-align: right;padding-right: 40px;">{{data.agevalue}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    style="text-align: right;padding-right: 40px;">{{data.age1value}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    style="text-align: right;padding-right: 40px;">{{data.age2value}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    style="text-align: right;padding-right: 40px;">{{data.age3value}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    style="text-align: right;padding-right: 40px;">{{data.age4value}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    style="text-align: right;padding-right: 40px;">{{data.age5value}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"
                    style="text-align: right;padding-right: 40px;">{{data.age6value}}</td>
            </tr>
        </tbody>
    </table>
</div>