<div class="dbtable">
    <p class="D" style="display: inline-block; margin-left: 10px; color: black; font-weight: bold;">Amount :{{TotalAmount | NumberFormat}}</p>
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Date</th>
                <th class="th cap1-bold-12-white" >Chq No</th>
                <th class="th cap1-bold-12-white" >Chq Dt</th>
                <th class="th cap1-bold-12-white" >Doc No</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" >Favouring Name</th>
                <th class="th cap1-bold-12-white" >Amt</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr"*ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vdate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.insno}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.insdate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.vno}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.ptname}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.favname}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.insamt | NumberFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>

