

<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField"  [PicklistObj]="EmployeeNomineeJSON.default.ObjectFields[0].EmployeeCode"
        formControlName='EmployeeCode' (Onselectdataids)="PicklistPatchValue($event)"
        [defaultvalue]="form.get('EmployeeCode').value"></app-entitylookup> <br>

        <app-entitylookup class="KeyField"  [PicklistObj]="EmployeeNomineeJSON.default.ObjectFields[0].EmployeeName"
        formControlName='EmployeeName' (Onselectdataids)="PicklistPatchValue($event)"
        [defaultvalue]="form.get('EmployeeName').value"></app-entitylookup> <br>

        <!-- <app-gb-combobox class="KeyField" formControlName="EmployeeNomineeNomineeType" (RadioButtonOutPut)="Rating($event)"></app-gb-combobox> -->
        <app-gb-combobox class="KeyField" formControlName="EmployeeNomineeNomineeType" (ComboBoxOutPut)="EmployeeNominee($event)"></app-gb-combobox>

        <app-gb-formgrid formControlName='EmployeeNomineeArray'
            [ArrayDetail]="form.get('EmployeeNomineeArray').value"></app-gb-formgrid>

    </form>
</div>