  <ag-grid-angular style="width: 550px; height: 180px;" class="ag-theme-alpine" 
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  (gridReady)="onGridReady($event)">
  </ag-grid-angular>
  <button mat-raised-button color="primary" (click)="AddRow()">Add</button>
  <button mat-raised-button color="primary" (click)="deleteRow()">Delete</button>