<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="DriverJSON.default.ObjectFields[0].DriverDriverName"
        formControlName='DriverDriverName' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('DriverDriverName').value"></app-entitylookup>

        <app-gb-date class="KeyField" formControlName='DriverDob' [date]="form.get('DriverId').value"
        [default]="'today'"></app-gb-date> <br>


        <app-gb-radiobox class="KeyField" formControlName='DriverSex' ></app-gb-radiobox> <br>
        
        <app-gb-input class="KeyField"  formControlName='DriverLicenseNumber'></app-gb-input>

  

    </form>
</div>