<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>


        <app-entitylookup class="KeyField" [PicklistObj]="SalesInvoiceGenerationJSON.default.ObjectFields[0].PartyName"
        formControlName='PartyName' (Onselectdataids)="SalesInvoiceGenerationNot($event)"
        [defaultvalue]="form.get('PartyName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="SalesInvoiceGenerationJSON.default.ObjectFields[0].PartyBranchName"
        formControlName='PartyBranchName' (Onselectdataids)="SalesInvoiceGenerationNot($event)"
        [defaultvalue]="form.get('PartyBranchName').value"></app-entitylookup>

        <br>

        <app-gb-date formControlName='FromDate' [date]="form.get('PartyBranchId').value" class="KeyField"></app-gb-date>

        <app-gb-date formControlName='ToDate' [date]="form.get('PartyBranchId').value"  class="KeyField"></app-gb-date>

        <br>

        <app-entitylookup class="KeyField" [PicklistObj]="SalesInvoiceGenerationJSON.default.ObjectFields[0].BizTransactionName"
        formControlName='BizTransactionName' (Onselectdataids)="SalesInvoiceGenerationNot($event)"
        [defaultvalue]="form.get('BizTransactionName').value"></app-entitylookup>

        <app-gb-date formControlName='DoccumentDate' [date]="form.get('PartyBranchId').value" class="KeyField"></app-gb-date>

        <br>

        <app-gb-input formControlName='ReferenceNumber'></app-gb-input>

        <app-gb-textarea formControlName='Remarks'></app-gb-textarea>

        <app-gb-checkbox formControlName='SoBasedGeneration'></app-gb-checkbox>

        <button id="SalesInvoiceGeneration" (click)="GetSalesInvoiceGenerate()">Generate</button>

        </form>
        </div>
