<div class="dbtable">
    <p class="NV">Net ValueFC :{{TotalNetValue.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
    <p class="NVFC">Net ValueFC :{{TotalNetValueFc.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
    <p class="BV">Basic Value :{{TotalBasicValue.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
    <p class="BVFC">Basic ValueFC :{{TotalBasicValueFc.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
    <p class="BIV">Bill Value :{{TotalBillValue.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
   <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Doc.No</th>
                <th class="th cap1-bold-12-white">Ref.No</th>
                <th class="th cap1-bold-12-white" >Ref.date</th>
                <th class="th cap1-bold-12-white" >Particulars</th>
                <th class="th cap1-bold-12-white">Person</th>
                <th class="th cap1-bold-12-white">Basic Value</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Basic Value FC</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Net Value</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Net Value FC</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Bill Value</th>
                <th class="th cap1-bold-12-white">Transaction</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.docno }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.refno}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.refdate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.partyname }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.inchargename}}</td>
                <td class="td cap2-med-12-type-primary"  style="text-align: right;padding-right: 20px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.basicvalue | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  style="text-align: right;padding-right: 20px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.basicvaluefc | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  style="text-align: right;padding-right: 20px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.netvalue | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  style="text-align: right;padding-right: 20px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.netvaluefc | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  style="text-align: right;padding-right: 20px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.billvalue | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.taxtypename}}</td>
            </tr>
        </tbody>
    </table>
</div>