<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="CostCenterTypeJSON.default.ObjectFields[0].CostCenterTypeCode"
        formControlName='CostCenterTypeCode' (Onselectdata)="CostCenterTypePicklistFillValue($event)"
        [defaultvalue]="form.get('CostCenterTypeCode').value"></app-entitylookup>
        
       <!-- <app-entitylookup [PicklistObj]="FindPicklist('CostCenterTypeCode')" formControlName='CostCenterTypeCode'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('CostCenterTypeCode').value"></app-entitylookup> -->
        <app-entitylookup class="KeyField" [PicklistObj]="CostCenterTypeJSON.default.ObjectFields[0].CostCenterTypeName"
        formControlName='CostCenterTypeName' (Onselectdata)="CostCenterTypePicklistFillValue($event)"
        [defaultvalue]="form.get('CostCenterTypeName').value"></app-entitylookup>
        

       <!-- <app-entitylookup [PicklistObj]="FindPicklist('CostCenterTypeName')" formControlName='CostCenterTypeName'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('CostCenterTypeName').value"></app-entitylookup> -->
  
        <app-gb-combobox formControlName='CostCenterTypeType'></app-gb-combobox>

        <app-entitylookup [PicklistObj]="CostCenterTypeJSON.default.ObjectFields[0].OrganizationUnitName"
        formControlName='OrganizationUnitName' (Onselectdataids)="CostCenterTypePicklistPatchValue($event)"
        [defaultvalue]="form.get('OrganizationUnitName').value" ></app-entitylookup>
        <!-- <app-entitylookup [PicklistObj]="FindPicklist('OrganizationUnitName')" formControlName='OrganizationUnitName'
        (Onselectdataids)="Getselectedids($event)" [defaultvalue]="form.get('OrganizationUnitName').value"></app-entitylookup> -->

    </form>
</div>
