<div class="AppraisalDashBoard">
    <table (click)="SummaryReportServiceCall()" class="dashboardbox" style="background: linear-gradient(164deg, #6E3AB6 5.98%, #9C69E4 100%);">
        <tr>
            <td class="cap2-med-12-white workcenter">Total</td>
            <td></td>
        </tr>
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{ AppraisalDetail.Number }}</td>
            <td></td>
        </tr>
        <tr>
            <td class="headline-med-20-white workordervalue">{{ AppraisalDetail.Employees }}</td>
            <td class="cap2-med-12-white">Employees</td>
        </tr>
    </table>
    
    <table (click)="SummaryReportServiceCall()" class="dashboardbox" style="background: linear-gradient(130deg, #32AE73 0%, #49CD8E 100%);">
        <tr>
            <td class="cap2-med-12-white workcenter">Released</td>
            <td></td>
        </tr>
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{AppraisalDetail.OpenNumber}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="headline-med-20-white workordervalue">{{AppraisalDetail.OpenEmployees}}</td>
            <td class="cap2-med-12-white">Employees</td>
        </tr>
    </table>
    <table (click)="SummaryReportServiceCall()" class="dashboardbox" style="background: linear-gradient(131deg, #F58D00 0%, #FFAC3C 101.21%);">
        <tr>
            <td class="cap2-med-12-white workcenter">Pending</td>
            <td></td>
        </tr>
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{AppraisalDetail.PendingNumber}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="headline-med-20-white workordervalue">{{AppraisalDetail.PendingEmployees}}</td>
            <td class="cap2-med-12-white">Employees</td>
        </tr>
    </table>
    <table (click)="SummaryReportServiceCall()" class="dashboardbox" style="background: linear-gradient(164deg, #6E3AB6 5.98%, #9C69E4 100%);">
        <tr>
            <td class="cap2-med-12-white workcenter">Inprogress</td>
            <td></td>
        </tr>
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{AppraisalDetail.inprogressNumber}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="headline-med-20-white workordervalue">{{AppraisalDetail.InprogressEmployees}}</td>
            <td class="cap2-med-12-white">Employees</td>
        </tr>
    </table>
    <table (click)="SummaryReportServiceCall()" class="dashboardbox" style="background: linear-gradient(130deg, #32AE73 0%, #49CD8E 100%);">
        <tr>
            <td class="cap2-med-12-white workcenter">Submitted</td>
            <td></td>
        </tr>
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{AppraisalDetail.CompletedNumber}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="headline-med-20-white workordervalue">{{AppraisalDetail.CompletedEmployees}}</td>
            <td class="cap2-med-12-white">Employees</td>
        </tr>
    </table>
    <table (click)="SummaryReportServiceCall()" class="dashboardbox" style="background: linear-gradient(131deg, #EF476F 0%, #FF7193 101.39%);">
        <tr>
            <td class="cap2-med-12-white workcenter">Overdue</td>
            <td></td>
        </tr>
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{AppraisalDetail.OverdueNumber}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="headline-med-20-white workordervalue">{{AppraisalDetail.OverdueEmployees}}</td>
            <td class="cap2-med-12-white">Employees</td>
        </tr>
    </table>
    <table (click)="SummaryReportServiceCall()" class="dashboardbox" style="background: linear-gradient(131deg, #F58D00 0%, #FFAC3C 101.21%);">
        <tr>
            <td class="cap2-med-12-white workcenter">Appealed</td>
            <td></td>
        </tr>
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{AppraisalDetail.AppealedNumber}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="headline-med-20-white workordervalue">{{AppraisalDetail.AppealedEmployees}}</td>
            <td class="cap2-med-12-white">Employees</td>
        </tr>
    </table>
    <table (click)="SummaryReportServiceCall()" class="dashboardbox" style="background: linear-gradient(130deg, #32AE73 0%, #49CD8E 100%);">
        <tr>
            <td class="cap2-med-12-white workcenter">Accepted</td>
            <td></td>
        </tr>
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{AppraisalDetail.AcceptedNumber}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="headline-med-20-white workordervalue">{{AppraisalDetail.AcceptedEmployees}}</td>
            <td class="cap2-med-12-white">Employees</td>
        </tr>
    </table>
    <table (click)="SummaryReportServiceCall()" class="dashboardbox" style="background: linear-gradient(131deg, #74777B 0%, #B0B2B5 101.39%);">
        <tr>
            <td class="cap2-med-12-white workcenter">Closed</td>
            <td></td>
        </tr>
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{AppraisalDetail.ClosedNumber}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="headline-med-20-white workordervalue">{{AppraisalDetail.ClosedEmployees}}</td>
            <td class="cap2-med-12-white">Employees</td>
        </tr>
    </table>
</div>
<div class="type">
    <span style="padding-right: 16px;" class="body-semi-14-type-primary">Summary</span>
    <span style="display: flex;" *ngFor="let radiobutton of Summary">
        <input class="radiobutton" type="radio" (click)="SummaryModel.option = Summary.indexOf(radiobutton)" (click)="SummaryReportServiceCall()" name="SummaryOption">
        <span style="padding-left:8px; padding-right: 12px;"
            class="cap1-bold-12-type-primary">{{radiobutton}}</span>
    </span>
</div>
<div>
    <app-AppraisalSummary [FilterData]="filterData"  [ReportType]="ReportType"></app-AppraisalSummary>
</div>
