@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
.C2C {
    margin-right: 850px;
    margin-bottom: -20px;
    color: black;
    font-weight: bold;
    text-align: right;
   }
  
   .CPH {
    margin-right: 570px;
    margin-bottom:-20px;
    color: black;
    font-weight: bold;
    text-align: right;
   }
   .RPH {
      margin-right: 320px;
      margin-bottom:-20px;
      color: black;
      font-weight: bold;
      text-align: right;
     }
 .Mon{
    margin-right: 20px;
    margin-bottom: 0px;
    color: black;
    font-weight: bold;
    text-align: right;
 }