<div>
    <p class="C2C">OpeningValue:{{TotalBill | number:'1.2-2'}}</p>
    <p class="CPH">InwardValue:{{TotalTds | number:'1.2-2' }}</p>
    <p class="RPH">OutwardValue:{{TotalCess | number:'1.2-2'}}</p>
    <p class="Mon">ClosingValue:{{Totalmon | number:'1.2-2' }}</p>

  </div>

<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name</th>
          <th class="th cap1-bold-12-white" style="text-align: right;">Open Qty</th>
          <th class="th cap1-bold-12-white" style="text-align: right;">Open Value</th>
          <th class="th cap1-bold-12-white" style="text-align: right;">In Qty</th>
          <th class="th cap1-bold-12-white" style="text-align: right;">In Value</th>
          <th class="th cap1-bold-12-white" style="text-align: right;">Out Qty</th>
          <th class="th cap1-bold-12-white" style="text-align: right;">Out Value</th>
          <th class="th cap1-bold-12-white" style="text-align: right;">Close Qty</th>
          <th class="th cap1-bold-12-white" style="text-align: right;">Close Value</th>


        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowData"> 
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Code }}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Name }}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.OpeningStock | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.OpeningValue | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.InwardQuantity | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.InwardPostedValue | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.OutwardQuantity | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.OutwardPostedValue | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.ClosingStock | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right;">{{data.ClosingValue | NumberFormat}}</td>

        
        </tr>
      </tbody>
    </table>
    </div>

