<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ProgramClassJSON.default.ObjectFields[0].ProgramClassCode"
        formControlName='ProgramClassCode' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('ProgramClassCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="ProgramClassJSON.default.ObjectFields[0].ProgramClassName"
        formControlName='ProgramClassName' (Onselectdata)="FormFillFunction($event)"
        [defaultvalue]="form.get('ProgramClassName').value"></app-entitylookup>

        <app-entitylookup    [PicklistObj]="ProgramClassJSON.default.ObjectFields[0].ProgramAssemblyName"
        formControlName='ProgramAssemblyName' (Onselectdataids)="PicklistPatchValue($event)"
        [defaultvalue]="form.get('ProgramAssemblyName').value"></app-entitylookup>

        <app-gb-input  formControlName='ProgramClassSection'></app-gb-input>
        <app-gb-textarea formControlName='ProgramClassRemarks'></app-gb-textarea> 
       


    </form>
</div>