<div class='FormOverview' *ngIf="form.bFormReady">
  <form [formGroup]='form'>


    <app-entitylookup  [PicklistObj]="ItemSubCategoryJSON.default.ObjectFields[0].ItemSubCategoryItemCategoryName"
      formControlName='ItemSubCategoryItemCategoryName' (Onselectdataids)="ItemsubCategoryNew($event)"
      [defaultvalue]="form.get('ItemSubCategoryItemCategoryName').value"></app-entitylookup>

    <app-entitylookup class="KeyField" style="margin-top: 16px;" [PicklistObj]="ItemSubCategoryJSON.default.ObjectFields[0].ItemSubCategoryCode"
      formControlName='ItemSubCategoryCode' (Onselectdata)="ItemSubCategoryValue($event)"
      [defaultvalue]="form.get('ItemSubCategoryCode').value"></app-entitylookup>


    <app-entitylookup class="KeyField" [PicklistObj]="ItemSubCategoryJSON.default.ObjectFields[0].ItemSubCategoryName"
      formControlName='ItemSubCategoryName' (Onselectdata)="ItemSubCategoryValue($event)"
      [defaultvalue]="form.get('ItemSubCategoryName').value"></app-entitylookup>



    <app-gb-checkbox formControlName='ItemSubCategoryIsSelected'></app-gb-checkbox>


    <app-gb-checkbox formControlName='ItemSubCategoryIsAsset'></app-gb-checkbox>


    <app-gb-checkbox formControlName='ItemSubCategoryIsItem'></app-gb-checkbox>

    <app-gb-textarea formControlName='ItemSubCategoryRemarks'></app-gb-textarea>

  </form>
</div>