<div class="sticky-header">
    <table class="styled-table" >
      <thead>
        <tr>
          <th *ngFor="let head of columnData">{{head.headerName}}</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let data of rowData">
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.name}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.display}}</td>
          <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.type}}</td>
          
        </tr> 
      </tbody>
    </table>
  </div>