<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="NOCListJSON.default.ObjectFields[0].NOCListCode"
        formControlName='NOCListCode' (Onselectdata)="NOCListValue($event)"
        [defaultvalue]="form.get('NOCListCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="NOCListJSON.default.ObjectFields[0].NOCListName"
        formControlName='NOCListName' (Onselectdata)="NOCListValue($event)"
        [defaultvalue]="form.get('NOCListName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='NOCListDetailArray'
        [ArrayDetail]="form.get('NOCListId').value"></app-gb-formgrid>

    </form>
</div>