<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form' class='Party'>

        <app-entitylookup class="KeyField" [PicklistObj]="ContractSettingjson.default.ObjectFields[0].PartyName"
            formControlName='PartyName' (Onselectdataids)="ContractSettingPicklists($event)"
            [defaultvalue]="form.get('PartyName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="ContractSettingjson.default.ObjectFields[0].PartyBranchName"
            formControlName='PartyBranchName' (Onselectdataids)="ContractSettingPicklists($event)"
            [defaultvalue]="form.get('PartyBranchName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="ContractSettingjson.default.ObjectFields[0].ContractSettingVersionNo"
            formControlName='ContractSettingVersionNo' (Onselectdata)="ContractSettingPicklist($event)"
            [defaultvalue]="form.get('ContractSettingVersionNo').value" ></app-entitylookup>

        <app-gb-date formControlName="ContractSettingEffectiveFrom" [date]="form.get('PartyId').value"
            [default]="'today'" class="KeyField"></app-gb-date>
        <app-gb-date formControlName="ContractSettingEffectiveTo" [date]="form.get('PartyId').value" [default]="'today'"
            class="KeyField"></app-gb-date>
        <br>
        <app-gb-input formControlName="ContractSettingNumber" class="KeyField"></app-gb-input>
        <app-gb-input formControlName="ContractSettingReferenceNumber" class="KeyField"></app-gb-input>
        <br>
        <app-gb-radiobox formControlName="ContractSettingPricingType" class="KeyField"></app-gb-radiobox>

        <app-entitylookup [PicklistObj]="ContractSettingjson.default.ObjectFields[0].ContractStatusName"
            formControlName='ContractStatusName' (Onselectdataids)="ContractSettingPicklists($event)"
            [defaultvalue]="form.get('ContractStatusName').value" class="KeyField"></app-entitylookup>
        <br>
   

        <app-gb-input formControlName="ContractSettingBasePrice"></app-gb-input>
        <br>
        <app-gb-input formControlName="ContractSettingChangePrice" class="KeyField"></app-gb-input>
        <app-gb-input formControlName="ContractSettingChangePercent" class="KeyField"></app-gb-input>
        <br>
        <app-gb-radiobox formControlName="ContractSettingIsFirstHitchCondition"></app-gb-radiobox>
        <app-gb-radiobox formControlName="ContractSettingVolumeDiscountType"></app-gb-radiobox>
        <app-gb-input formControlName="ContractSettingEligibleVolume"></app-gb-input>
        <app-gb-input formControlName="ContractSettingVolumeDiscountPercent"></app-gb-input>
        <app-gb-input formControlName="ContractSettingMaxVolumeDiscountPercent"></app-gb-input>

        <app-gb-textarea formControlName='ContractSettingRemarks'></app-gb-textarea>


    </form>
</div>