
<!--<input type="file" multiple (change)="onFileChange($event)" />
<button (click)="upload()">Upload</button>-->

<angular-file-uploader
      [config]="afuConfig">
</angular-file-uploader>



<!--<angular-file-uploader 
      [config]="afuConfig"
      [resetUpload]=resetVar
      (ApiResponse)="DocUpload($event)">
</angular-file-uploader>-->