
<table class="styled-table">
    <thead>
      <tr>
        <th *ngFor="let head of columnData">{{head.headerName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rowData">
        <td *ngFor='let field of columnData'>{{item[field.field]}}</td>
      </tr>
    </tbody>
  </table>