.start-button, .download-button {
    background-color: rgb(127, 229, 254); /* Green */
    margin-left: 100px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .stop-button {
    background-color: rgba(118, 146, 254, 0.69); /* Green */
    border: none;
    margin-left: 100px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;

  }

  .cancel-button {
    background-color: #af7541; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-left: 100px;

    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;

  }
