<div *ngIf="!isreadable">
  <Table style="height: 36px;">
    <tbody>
      <tr>
        <td class="form_label" [class.labelFocused]="isFocused" *ngIf="Field?.Label != ''" [style.min-width.px]="Field?.LabelWidth == undefined ? 180 : Field?.LabelWidth">
          {{Field.Label}}</td>
        <td [ngStyle]="{'width.px': Field?.Width}"><input type="text" style="outline-style: none;" class="form_value" [class.focused]="isFocused"
            (focus)="isFocused = true" (focusout)="isFocused = false" [value]="foundObject()"
            readonly></td>
      </tr>
    </tbody>
  </Table>
</div>
<div *ngIf="isreadable">
  <table class="styled-table" style="height: 36px;">
    <tbody>
      <tr>
        <td class="form_label" *ngIf="Field?.Label != ''" [class.labelFocused]="isFocused" [style.min-width.px]="Field?.LabelWidth == undefined ? 180 : Field?.LabelWidth">
          {{Field.Label}}</td>
        <td [ngStyle]="{'min-width.px': Field?.Width}">
          <mat-radio-group [formControl]='gbControl'>
            <span *ngFor='let val of Field.PickLists' class="tooltip">
          <td style="min-width: 80px;padding-right: 16px;">
            <mat-radio-button (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)" (change)="onRadioButtonChange($event)" [checked]='val.checked' [value]='val.key'>{{val.value}}</mat-radio-button>&nbsp;&nbsp;<span *ngIf="val?.Tooltip && val?.Tooltip.length > 0" class="tooltiptext">{{val?.Tooltip}}</span>
          </td>
        </span>
        </mat-radio-group>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <mat-radio-group [formControl]='gbControl'>
  <span  *ngFor='let val of Field.PickLists'>
 <mat-radio-button style="margin-left: 100px;" [value]='val.key' >{{val.value}}</mat-radio-button>&nbsp;&nbsp;
</span>
</mat-radio-group> -->
<!-- <span class="form_value" style="width: 180px;" *ngIf="isreadable==false">{{defaultvalue.value}}</span>
<table *ngIf="isreadable==true" class="styled-table" style="display: inline;">
  <tbody style="display: block;padding-top: 5px;">
    <tr>
          <mat-radio-group (change)="onRadioButtonChange($event)">
            <span *ngFor='let val of picklistdata'>
              <td style="width: 150px; padding-right: 8px;">
                <mat-radio-button class="form_value" [checked]="checkedid == val.key ? true : false" [value]='val.key'>{{val.value}}</mat-radio-button>&nbsp;&nbsp;
              </td>
            </span>
          </mat-radio-group>
    </tr>
  </tbody>
</table> -->