<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

            <app-entitylookup class="KeyField" [PicklistObj]="SelectionCycleJSON.default.ObjectFields[0].SelectionCycleCode"
            formControlName='SelectionCycleCode' (Onselectdata)="SelectionCyclePicklistFillValue($event)"
            [defaultvalue]="form.get('SelectionCycleCode').value"></app-entitylookup>

             <app-entitylookup class="KeyField" [PicklistObj]="SelectionCycleJSON.default.ObjectFields[0].SelectionCycleName"
            formControlName='SelectionCycleName' (Onselectdata)="SelectionCyclePicklistFillValue($event)"
            [defaultvalue]="form.get('SelectionCycleName').value"></app-entitylookup>

            <app-gb-textarea formControlName='SelectionCycleRemarks'></app-gb-textarea>

        <app-gb-formgrid formControlName='SelectionCycleDetailArray'
            [ArrayDetail]="form.get('SelectionCycleId').value"></app-gb-formgrid>

    </form>
</div>