<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        

        <app-entitylookup class="KeyField" [PicklistObj]="PartyBranchLocationjson.default.ObjectFields[0].PartyBranchLocationCode" formControlName='PartyBranchLocationCode'
        (Onselectdata)="PartyBranchLocationFillFunction($event)" [defaultvalue]="form.get('PartyBranchLocationCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PartyBranchLocationjson.default.ObjectFields[0].PartyBranchLocationName" formControlName='PartyBranchLocationName'
        (Onselectdata)="PartyBranchLocationFillFunction($event)" [defaultvalue]="form.get('PartyBranchLocationName').value"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="PartyBranchLocationjson.default.ObjectFields[0].PartyBranchName" formControlName='PartyBranchName'
        (Onselectdata)="PartyBranchLocationPatchValue($event)" [defaultvalue]="form.get('PartyBranchName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PartyBranchLocationjson.default.ObjectFields[0].ParentLocationName" formControlName='ParentLocationName'
        (Onselectdata)="PartyBranchLocationPatchValue
        ($event)" [defaultvalue]="form.get('ParentLocationName').value"></app-entitylookup>
    

        <app-gb-input formControlName="PartyBranchLocationNature"></app-gb-input>


    </form>
</div>