<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="MRPPartyTypeJSON.default.ObjectFields[0].MRPPartyTypeCode"
        formControlName='MRPPartyTypeCode' (Onselectdata)="MRPPartyTypePicklistFillValue($event)"
        [defaultvalue]="form.get('MRPPartyTypeCode').value"></app-entitylookup>
        
        
        <app-entitylookup class="KeyField" [PicklistObj]="MRPPartyTypeJSON.default.ObjectFields[0].MRPPartyTypeName"
        formControlName='MRPPartyTypeName' (Onselectdata)="MRPPartyTypePicklistFillValue($event)"
        [defaultvalue]="form.get('MRPPartyTypeName').value"></app-entitylookup>

        <app-gb-textarea formControlName='MRPPartyTypeParticulars'></app-gb-textarea>

        <app-gb-formgrid formControlName='MRPPartyTypeDetailArray'
            [ArrayDetail]="form.get('MRPPartyTypeDetailArray').value" ></app-gb-formgrid>
           
    </form>
</div>