<span id="Chart">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
      [title]="chartOptions.title" [labels]="chartOptions.labels" [annotations]="chartOptions.annotations"></apx-chart>
</span>