::ng-deep [data-ctrl-ec-id] circle {
  fill: #6e3ab6 !important;
}

::ng-deep [data-l-id] path {
  stroke: #6e3ab6;
}

::ng-deep [data-n-id] rect {
  fill: #f7f7f7;
}

.OrientationBtn {
  background: #f9f9f9;
  color: #8c8c8c !important;
  position: absolute;
  z-index: 100;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #cacaca;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
