<div class="FormOverview" *ngIf="form.bFormReady">

    <form [formGroup]='form'>

        <app-gb-radiobox formControlName='SingleEmployee'></app-gb-radiobox>

        <app-entitylookup class="KeyField" [PicklistObj]="GenerateEmptyDeclarationJSON.default.ObjectFields[0].EmployeeCode"
        formControlName='EmployeeCode' (Onselectdataids)="GenerateEmptyDeclarationNot($event)"
        [defaultvalue]="form.get('EmployeeCode').value"   *ngIf="form.get('SingleEmployee').value == 0"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="GenerateEmptyDeclarationJSON.default.ObjectFields[0].PeriodName"
        formControlName='PeriodName' (Onselectdataids)="GenerateEmptyDeclarationNot($event)"
        [defaultvalue]="form.get('PeriodName').value"></app-entitylookup>



        </form>

        </div>
