<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Designation</th>
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" >In Time</th>
                <th class="th cap1-bold-12-white" >In Date</th>
                <th class="th cap1-bold-12-white" >OUT Time</th>
                <th class="th cap1-bold-12-white" >OUT Date</th>
                <th class="th cap1-bold-12-white" >Worked hrs</th>
                <th class="th cap1-bold-12-white" >Leave</th>
                <th class="th cap1-bold-12-white" >Status</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary" >{{data.Designation}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.EmployeeCode }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.EmployeeName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.INTime | DateFormatter : 'time'}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.INTime }}</td>
                
                <td class="td cap2-med-12-type-primary" >{{data.OUTTime | DateFormatter : 'time'}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.OUTTime  }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.WorkedHrs |NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.LeaveName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.StatusName}}</td>
            </tr>
        </tbody>
    </table>
</div>