<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">S.No</th>
                <th class="th cap1-bold-12-white" >Item Code</th>
                <th class="th cap1-bold-12-white" >Item Name</th>
                <th class="th cap1-bold-12-white" >SKU Name</th>

                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 40px;">OrderQty</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 40px;">Pack Number</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 40px;">Packed Quality</th>
                <th class="th cap1-bold-12-white" >Status</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr"*ngFor="let data of rowData; let i=index">
                
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.slno}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.icode}}</td>

                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.iname == 0 || data.iname == "NONE" ? '':data.iname}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.skuname == 0 || data.skuname == "NONE" ? '':data.skuname}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 40px;">{{data.netwgt == 0 ? '':data.netwgt}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 40px;">{{data.packno == 0 ? '':data.packno}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 40px;">{{data.goodqty == 0 ? '':data.goodqty}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.packnostatus}}</td>
            </tr>
        </tbody>
    </table>
</div>

