<div class="LightBoxmodal" *ngIf="showLightbox==true">
        <span class="LightBoxcloseicon" (click)="closeLightBox()"><img style="display: inline-block;" width="24px" src="assets/icons/exiticon.png"></span>
        <app-MMLightBox class="LightBox-content" [DocumentId]="DocumentId"></app-MMLightBox>
</div>

<p style="margin-left: 20px;" class="header-title-type-primary">{{BiztransactionClassName}} - {{ ReportType==0 ? 'Total' : 'Pending' }}</p>
<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" style="padding-left: 20px;">Date</th>
                <th class="th cap1-bold-12-white">Document. No</th>
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white">Ref. No</th>
                <th class="th cap1-bold-12-white">Ref. Date</th>
                <th class="th cap1-bold-12-white">Pt. Ref. No</th>
                <th class="th cap1-bold-12-white">Pt. Ref. Date</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">No. of Details</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Total Quantity</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Total Value</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" [ngClass]="{'color': (i%2 == 0)}" *ngFor="let data of RowData; let i=index">
                <td class="td cap2-med-12-type-primary" style="padding-left: 20px;">{{data.DocumentDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary tooltip" (click)="showlightbox(data.DocumentId)">
                    {{data.DocumentNumber}} <span class="tooltiptext">To View MM Light Box</span></td>
                <td class="td cap2-med-12-type-primary">{{data.PartyCode}}</td>
                <td class="td cap2-med-12-type-primary">{{data.PartyName}}</td>
                <td class="td cap2-med-12-type-primary">{{data.ReferenceNumber}}</td>
                <td class="td cap2-med-12-type-primary">{{data.ReferenceDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary">{{data.PartyReferenceNumber}}</td>
                <td class="td cap2-med-12-type-primary">{{data.PartyReferenceDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.NumberOfPendingParty}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.TotalQuantity}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 20px;">
                    {{data.TotalValue.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2
                    })}}</td>
            </tr>
        </tbody>
    </table>
</div>