<button id="myBtn" class="filterbutton" style="margin-left: 8px;" height="32px" width="32px" (click)="btnfilter()">
    <!-- <mat-icon>signal_wifi_4_bar</mat-icon> -->
    <img src="assets/icons/material-symbols_filter-alt-outline-sharp.png" height="16px" width="16px">
</button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="title mon-sixth">{{heading}}</span>
        <span class="closeicon" (click)="close()"><mat-icon>cancel</mat-icon></span>
        <div>
            <button mat-raised-button [ngClass]="isactive==1 ? 'activedatebtn' : 'datebtn'"
                (click)="Date()"><span>Period</span></button>
            <button mat-raised-button [ngClass]="isactive==2 ? 'activefilterbtn' : 'filterbtn'"
                (click)="Filter()"><span>Filter</span></button>
            <button mat-raised-button [ngClass]="isactive==3 ? 'activereportbtn' : 'reportbtn'"
                (click)="Report()"><span>Report</span></button>
            <button mat-raised-button [ngClass]="isactive==4 ? 'activeconfigbtn' : 'configbtn'"
                (click)="Configration()"><span>Configuration</span></button>
            <button mat-raised-button class="applybtn" (click)="apply()">Apply</button>
            <button mat-raised-button class="closebtn" (click)="filterchange()">Clear</button>
        </div>
        <form class="form-container" [formGroup]="form">
            <div id="dateform" style="height: 350px;">
                <br>
                <!-- Betweendate -->
                <table class="periodtable" *ngIf="datecount==2">
                    <tr>
                        <td class="periodfloats">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" value="DTD"
                                (change)="radiobtnclicked($event)">&nbsp;
                            <span class="caption-med-12-type-primary">DTD</span>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" value="CurrentYear"
                                (change)="radiobtnclicked($event)">&nbsp;
                            <span class="caption-med-12-type-primary">Current Year</span>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" value="PreviousYearDTD"
                                (change)="radiobtnclicked($event)">&nbsp;
                            <span class="caption-med-12-type-primary">Previous Year DTD</span>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" value="PreviousYear"
                                (change)="radiobtnclicked($event)">&nbsp;
                            <span class="caption-med-12-type-primary">Previous Year</span>
                        </td>
                    </tr>
                    <!-- <br> -->
                    <tr>
                        <td class="periodfloats">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="WTD">&nbsp;
                            <label class="caption-med-12-type-primary">WTD</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="CurrentMonth">&nbsp;
                            <label class="caption-med-12-type-primary">Current Month</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="PreviousYearWTD">&nbsp;
                            <label class="caption-med-12-type-primary">Previous Year WTD</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="PreviousMonth">&nbsp;
                            <label class="caption-med-12-type-primary">Previous Month</label>
                        </td>
                    </tr>
                    <!-- <br> -->
                    <tr>
                        <td class="periodfloats">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="MTD">&nbsp;
                            <label class="caption-med-12-type-primary">MTD</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="Yesterday">&nbsp;
                            <label class="caption-med-12-type-primary">Yesterday</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="PreviousYearMTD">&nbsp;
                            <label class="caption-med-12-type-primary">Previous Year MTD</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="PreviousYearMonth">&nbsp;
                            <label class="caption-med-12-type-primary">Previous Year Month</label>
                        </td>
                    </tr>
                    <!-- <br> -->
                    <tr>
                        <td class="periodfloats">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="YTD">&nbsp;
                            <label class="caption-med-12-type-primary">YTD</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="PreviousWeek">&nbsp;
                            <label class="caption-med-12-type-primary">Previous Week</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="PreviousYearYTD">&nbsp;
                            <label class="caption-med-12-type-primary">Previous Year YTD</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="Others">&nbsp;
                            <label class="caption-med-12-type-primary">Others</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="All">&nbsp;
                            <label class="caption-med-12-type-primary">All</label>
                        </td>
                    </tr>
                </table>

                <!-- Asondate -->
                <table class="periodtable" *ngIf="datecount!=2">
                    <tr>
                        <td class="periodfloats">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" value="DTD"
                                (change)="radiobtnclicked($event)">&nbsp;
                            <span class="caption-med-12-type-primary">Today</span>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="Yesterday">&nbsp;
                            <label class="caption-med-12-type-primary">Yesterday</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="Others">&nbsp;
                            <label class="caption-med-12-type-primary">Others</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="All">&nbsp;
                            <label class="caption-med-12-type-primary">All</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" value="WTD"
                                (change)="radiobtnclicked($event)">&nbsp;
                            <span class="caption-med-12-type-primary">Week End</span>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" value="CurrentYear"
                                (change)="radiobtnclicked($event)">&nbsp;
                            <span class="caption-med-12-type-primary">Year End</span>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" value="PreviousYear"
                                (change)="radiobtnclicked($event)">&nbsp;
                            <span class="caption-med-12-type-primary">Previous Year End</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="CurrentMonth">&nbsp;
                            <label class="caption-med-12-type-primary">Current Month</label>
                        </td>&nbsp;&nbsp;&nbsp;&nbsp;
                        <td class="periodfloat">
                            <input name="options" class="radiobutton" type="radio" [(ngModel)]="readioSelected"
                                [ngModelOptions]="{standalone: true}" (change)="radiobtnclicked($event)"
                                value="PreviousMonth">&nbsp;
                            <label class="caption-med-12-type-primary">Previous Month</label>
                        </td>
                    </tr>
                </table>
                <br>
                <span class="monthperiod">
                    <span *ngFor="let ss of form.get('AttributesCriteriaList')?.controls;let i = index"
                        [formGroup]="ss">
                        <span *ngIf="ss.value.selectyperemove=='DATE'">
                            <span *ngIf="PeriodFromArray?.includes(ss.value.FieldName)">
                                <p class="captionsec-reg-12-type-primary periods">{{ss.value.CriteriaAttributeName}}</p>
                                &nbsp;
                                <!-- <input class="period" type="date" formControlName="CriteriaAttributeValue" [(ngModel)] ="Fromdate"> -->
                                <input class="captionHead-semibold-12-type-primary period" matInput
                                    formControlName="CriteriaAttributeValue" (dateChange)="onDateSelected($event)"
                                    [(ngModel)]="Fromdate" [matDatepicker]="dp1">
                                <mat-datepicker-toggle id="datepicker1" class="dateperiod" matSuffix
                                    [for]="dp1"></mat-datepicker-toggle>
                                <mat-datepicker class="dateperiod" #dp1></mat-datepicker>
                            </span>

                            <span *ngIf="PeriodToArray?.includes(ss.value.FieldName)">
                                <p class="captionsec-reg-12-type-primary periods" style="margin-left: 36px;">
                                    {{ss.value.CriteriaAttributeName}}</p>&nbsp;
                                <!-- <input class="period" type="date" formControlName="CriteriaAttributeValue" [(ngModel)] ="Todate"> -->
                                <input class="captionHead-semibold-12-type-primary period" matInput
                                    formControlName="CriteriaAttributeValue" (dateChange)="onDateSelected($event)"
                                    [(ngModel)]="Todate" [matDatepicker]="dp2">
                                <mat-datepicker-toggle id="datepicker2" class="dateperiod" matSuffix
                                    [for]="dp2"></mat-datepicker-toggle>
                                <mat-datepicker class="dateperiod" #dp2></mat-datepicker>
                            </span>
                        </span>
                    </span>
                </span>
                <span style="display: none;" class="selection">
                    <span class="captionsec-reg-12-type-primary">Month </span>
                    <select class="captionHead-semibold-12-type-primary months">
                        <option value=5>Jan</option>
                        <option value=6>Feb</option>
                        <option value=5>Mar</option>
                        <option value=6>Apr</option>
                        <option value=5>May</option>
                        <option value=6>Jun</option>
                        <option value=5>July</option>
                        <option value=6>Aug</option>
                        <option value=5>Sept</option>
                        <option value=6>Oct</option>
                        <option value=5>Nov</option>
                        <option value=6>Dec</option>
                    </select>
                    <span class="captionsec-reg-12-type-primary">Year </span>
                    <select class="captionHead-semibold-12-type-primary years">
                        <option value=5>1988</option>
                        <option value=6>1989</option>
                        <option value=5>1990</option>
                        <option value=6>1991</option>
                        <option value=5>2000</option>
                        <option value=6>2001</option>
                        <option value=5>2002</option>
                        <option value=6>2003</option>
                        <option value=5>2004</option>
                        <option value=6>2005</option>
                        <option value=5>2006</option>
                        <option value=6>2007</option>
                        <option value=6>2008</option>
                        <option value=5>2009</option>
                        <option value=6>2010</option>
                        <option value=5>2011</option>
                        <option value=6>2012</option>
                        <option value=5>2013</option>
                        <option value=6>2014</option>
                        <option value=6>2015</option>
                        <option value=5>2016</option>
                        <option value=6>2017</option>
                        <option value=5>2018</option>
                        <option value=6>2019</option>
                        <option value=5>2020</option>
                        <option value=6>2021</option>
                        <option value=5>2022</option>
                        <option value=6>2023</option>
                    </select>
                </span>
            </div>
            <div id="filterform" style="height: 350px;">
                <br>
                <input type="checkbox" style="outline-style: none; margin-left: 5px;"
                    (change)="changeCheckevent($event)"><b class="AF">Advanced Filter</b>
                <br>
                <div class="ab">
                    <table class="filtertable">
                        <thead class="mon-sixth" style="height: 40px;">
                            <tr>
                                <th class="boxes captionHead-semibold-12-white" style="width: 20%;">Particulars</th>
                                <th class="boxes captionHead-semibold-12-white" [hidden]="!Advancefilter"
                                    style="width: 5%;">Operators</th>
                                <th class="boxes captionHead-semibold-12-white">Value(s)</th>
                                <th class="boxes captionHead-semibold-12-white" [hidden]="!Advancefilter">Variable</th>
                                <th class="boxes captionHead-semibold-12-white" [hidden]="!Advancefilter">Join</th>
                            </tr>
                        </thead>
                        <tbody [ngClass]="{'whitecolor': (i%2 == 0),'box': (i%2 == 1)}"
                            *ngFor="let filtercriteria of form.get('AttributesCriteriaList')?.controls;let i = index"
                            [formGroup]="filtercriteria">
                            <tr *ngIf="filtercriteria.value.selectyperemove=='PICKLIST'">
                                <td style="padding-left: 25px;" class="caption-med-12-type-primary">
                                    {{filtercriteria.value.CriteriaAttributeName}}</td>
                                <td class="caption-med-12-type-primary" [hidden]="!Advancefilter" style="width: 5%;">
                                    <mat-select [ngClass]="{'whitecolor': (i%2 == 0),'graycolor': (i%2 == 1)}"
                                        class="ifAdvance" style="margin-left: 30px;" formControlName="OperationType">
                                        <mat-option value=5>In</mat-option>
                                        <mat-option value=6>NotIn</mat-option>
                                    </mat-select>
                                </td>
                                <td style="padding-left: 30px;" class="caption-med-12-type-primary">
                                    <app-entitylookup (click)='selecteddata()'
                                        [picklisturl]="filtercriteria.value.picklisturlremove"
                                        (Onselectdata)="Getselectedid($event)"
                                        [picklistsearchfields]="filtercriteria.value.searchfieldsremove"
                                        [picklistdisplaytext]="filtercriteria.value.displaytext"
                                        formControlName="CriteriaAttributeValue"
                                        [picklisttitle]="filtercriteria.value.picklisttitle"
                                        [FieldName]="filtercriteria.value.FieldName"
                                        [dependpicklist]="filtercriteria.value.dependpicklist"
                                        [picklistselection]="filtercriteria.value.picklistselection"
                                        [multiple]="filtercriteria.value.multiple"
                                        [label]="filtercriteria.value.CriteriaAttributeName" [isFilter]="true"
                                        [defaultvalue]="filtercriteria.value.defaultvalue">
                                    </app-entitylookup>
                                </td>
                                <td class="caption-med-12-type-primary" [hidden]="!Advancefilter">
                                    <mat-select [ngClass]="{'whitecolor': (i%2 == 0),'graycolor': (i%2 == 1)}"
                                        class="ifAdvance" formControlName="OperationType">
                                        <mat-option value=5>Select</mat-option>
                                        <mat-option value=6>NONE</mat-option>
                                    </mat-select>
                                </td>
                                <td class="caption-med-12-type-primary" [hidden]="!Advancefilter">
                                    <mat-select [ngClass]="{'whitecolor': (i%2 == 0),'graycolor': (i%2 == 1)}"
                                        class="ifAdvance" formControlName="OperationType">
                                        <mat-option value=5>OR</mat-option>
                                        <mat-option value=6>NONE</mat-option>
                                        <mat-option value=7>AND</mat-option>
                                    </mat-select>
                                </td>
                            </tr>
                            <tr *ngIf="filtercriteria.value.selectyperemove=='LIST'">
                                <td style="padding-left: 25px;" class=" caption-med-12-type-primary">
                                    {{filtercriteria.value.CriteriaAttributeName}}</td>
                                <td class=" caption-med-12-type-primary" [hidden]="!Advancefilter" style="width: 5%;">
                                    <mat-select [ngClass]="{'whitecolor': (i%2 == 0),'graycolor': (i%2 == 1)}"
                                        class="ifAdvance" style="margin-left: 30px;" formControlName="OperationType">
                                        <mat-option value=1>Equal</mat-option>
                                        <mat-option value=2>Like</mat-option>
                                        <mat-option value=3>Or</mat-option>
                                        <mat-option value=4>And</mat-option>
                                        <mat-option value=7>NotEqual</mat-option>
                                        <mat-option value=5>In</mat-option>
                                        <mat-option value=6>NotIn</mat-option>
                                    </mat-select>
                                </td>
                                <td style="padding-left: 30px;" class=" caption-med-12-type-primary">
                                    <!-- <mat-select [ngClass]="{'whitecolor': (i%2 == 0),'graycolor': (i%2 == 1)}"
                                        class="option" formControlName="CriteriaAttributeValue" ngDefaultControl>
                                        <mat-option *ngFor="let data of filtercriteria.value.listvalueremove; let i = index;"
                                            [value]="[data , i]">{{data}}
                                        </mat-option>
                                    </mat-select> -->
                                    <select [ngClass]="{'whitecolor': (i%2 == 0),'graycolor': (i%2 == 1)}"
                                        class="option caption-med-12-type-primary"
                                        formControlName="CriteriaAttributeValue" ngDefaultControl>
                                        <option value="">Select</option>
                                        <option class="caption-med-12-type-primary"
                                            *ngFor="let data of filtercriteria.value.listvalueremove; let i = index;"
                                            [value]="i">
                                            {{data}}
                                            <!-- [value]="[data , i]" [selected]="i == ss.value.defaultvalue">{{data}} -->
                                        </option>
                                    </select>
                                </td>
                                <td class=" caption-med-12-type-primary" [hidden]="!Advancefilter">
                                    <mat-select [ngClass]="{'whitecolor': (i%2 == 0),'graycolor': (i%2 == 1)}"
                                        class="ifAdvance" formControlName="OperationType">
                                        <mat-option value=5>Select</mat-option>
                                        <mat-option value=6>NONE</mat-option>
                                    </mat-select>
                                </td>
                                <td class=" caption-med-12-type-primary" [hidden]="!Advancefilter">
                                    <mat-select [ngClass]="{'whitecolor': (i%2 == 0),'graycolor': (i%2 == 1)}"
                                        class="ifAdvance" formControlName="OperationType">
                                        <mat-option value=5>OR</mat-option>
                                        <mat-option value=6>NONE</mat-option>
                                        <mat-option value=7>AND</mat-option>
                                    </mat-select>
                                </td>
                                <br><br>
                            </tr>
                            <tr *ngIf="filtercriteria.value.selectyperemove=='NUMERICENTRY'">
                                <td style="padding-left: 25px;" class=" caption-med-12-type-primary">
                                    {{filtercriteria.value.CriteriaAttributeName}}</td>
                                <td [hidden]="!Advancefilter"></td>
                                <td style="padding-left: 30px;" class=" caption-med-12-type-primary">
                                    <input [ngClass]="{'whitecolor': (i % 2 == 0), 'graycolor': (i % 2 == 1)}"
                                        type="text" class="input" maxlength="4" formControlName="CriteriaAttributeValue"
                                        (input)="validateInput($event)">
                                </td>
                                <td></td>
                                <td></td>
                                <br><br>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </form>
        <div id="Reportform" style="height: 350px;">
            <br><br>
            <span class="captionHead-semibold-12-type-primary">Report Format</span>&nbsp;&nbsp;
            <select class="reportoption" (change)="selectedreportformat($event.target.value)" ngDefaultControl>
                <option *ngFor="let data of Reportformat" [value]="data.ReportFormatId">{{data.ReportFormatName}}
                </option>
            </select>
            <!-- <mat-divider style="width: 290px; margin-left: 103px;"></mat-divider> -->
        </div>
        <div id="Configrationform" style="height: 350px;">
            <br><br>
            <!-- <span>Configuration</span>&nbsp;&nbsp; -->
            <input placeholder="Configuration" class="Configrationoption" type="text"
                #nameddata>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <span>Records Per Page</span>&nbsp;&nbsp; -->
            <input placeholder="Records Per Page" [(ngModel)]="RecordsPerPage" class="Records" type="text">
            <br><br><br>
            <input style="margin-left: 20px;" type="checkbox">&nbsp;
            <label>Share this settings with everyone</label>
            <br><br>
            <input style="margin-left: 20px;" type="checkbox">&nbsp;
            <label>Make this my default filter</label>
            <br><br><br><br>
            <button mat-raised-button class="savebtn"
                (click)="SaveConfigration(nameddata.value)">Save</button>&nbsp;&nbsp;
            <button mat-raised-button class="delbtn">Delete</button>
        </div>
        <br>
        <div class="mobilefilter">
            <button mat-raised-button class="applymobilebtn" (click)="apply()">Apply</button>
            <button mat-raised-button class="closemobilebtn" (click)="close()">Clear</button>
        </div>
    </div>

</div>





<!-- <div class="table">
    <br>
    <div class="headings">
        <span id="Particulars">Particulars</span>
        <span id="head2">Value(s)</span>
    </div>
    <br>
    <table *ngFor="let ss of form.get('AttributesCriteriaList')?.controls;let i = index"
        [formGroup]="ss">
        <tr class="grid" *ngIf="ss.value.selectyperemove=='PICKLIST'">
            <td id="label">{{ss.value.CriteriaAttributeName}}</td>
            <td id="checktype" [hidden]="!Advancefilter">
                <select class="option" formControlName="OperationType">
                    <option value=5>In</option>
                    <option value=6>NotIn</option>
                </select>
            </td>
            <td id="value">
                <app-entitylookup (click)='selecteddata()' [picklistid]="ss.value.picklistidremove"
                    formControlName="CriteriaAttributeValue">
                </app-entitylookup>
            </td>
        </tr>
        <tr class="selectdata" *ngIf="ss.value.selectyperemove=='LIST'">
            <td id="name">{{ss.value.CriteriaAttributeName}}</td>
            <td id="typecheck" [hidden]="!Advancefilter">
                <select class="option" formControlName="OperationType">
                    <option value=1>Equal</option>
                    <option value=2>Like</option>
                    <option value=3>Or</option>
                    <option value=4>And</option>
                    <option value=7>NotEqual</option>
                    <option value=5>In</option>
                    <option value=6>NotIn</option>
                </select>
            </td>
            <td id="dropdown"><select class="selectstyle" formControlName="CriteriaAttributeValue"
                    ngDefaultControl>
                    <option *ngFor="let data of ss.value.listvalueremove" [value]="data">{{data}}
                    </option>
                </select></td>
            <br><br>
        </tr>
    </table>



                    <span *ngFor="let ss of form.get('AttributesCriteriaList')?.controls;let i = index" [formGroup]="ss">
                    <span *ngIf="ss.value.selectyperemove=='DATE'">
                        <p class="periods">{{ss.value.CriteriaAttributeName}}:</p>&nbsp;
                        <input class="period" type="date" formControlName="CriteriaAttributeValue">
                    </span>
                </span>
</div> -->