body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #E4F0FF;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 12px;
  grid-template-areas:
  "header header"
  "nav content"
  "footer footer";
  height: 100vh;
}

app-header {
  color: white;
  font-size: 14px;
  grid-area: header;
  text-align: center;
  background-color: #FA7D44;
}

app-nav {
  grid-area: nav;
  margin-left: 0.6rem;
  background-color: #2A92BF;
}

.content {
  grid-area: content;
  background-color: #F4CE46;
  margin-right: 0.6rem;
  padding: 25px;
}

app-footer {
  grid-area: footer;
  background-color:#2BB961;
  color: white;
  text-align: center;
  padding: 25px 0;
}

ul li {
  color: white;
}
ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  app-nav {
    margin: 0;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";
    grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
  }
}
