<table class="styled-table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Short Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ccItem of ccList">
      <td [ngStyle]="{ fontWeight: ccItem.bold ? 'bold' : 400 }">
        {{ ccItem.code }}
      </td>
      <td>{{ ccItem.name }}</td>
      <td>{{ ccItem.shortName }}</td>
    </tr>
  </tbody>
</table>
