@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.caption-med-12-type-primary{
    font-weight: 700;
    line-height: 36px;
} 

.moveNext{
    align-content: space-between;
    margin-right: 12px;
}
.movePrev{
    align-content: space-between;
    margin-right: 5px;
}

.delete{
    align-content: space-between;
    margin-right: 5px;
}
.edit{
    align-content: space-between;
    margin-right: 5px;
}
.save{
    align-content: space-between;
    margin-right: 5px;
}

.vert{
    border-radius: 5px;
}

@media (min-width: 641px) {
    button.icon {display:none}
    span.btns {display:inline-block}
  }
  
  @media (max-width: 650px) {
    button.icon {display:inline-block}
    span.btns {display:none}
  }

  @media (max-width: 830px) {
    button.icon {display:inline-block}
    span.btns {display:none}
  }
