<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <span class="btns" [ngClass]="themeClass$ | async">
    <button class="movePrev"  mat-raised-button (click)="movePrev()"><mat-icon class="keyboard_arrow">keyboard_arrow_left</mat-icon></button>
    <button class="moveNext"  mat-raised-button (click)="moveNext()"><mat-icon class="keyboard_arrow">keyboard_arrow_right</mat-icon></button>
    <button class="caption-med-12-type-primary save"  mat-raised-button (click)="saveRecord()"><mat-icon>save</mat-icon>Save</button> 
    <button class="caption-med-12-type-primary delete"  mat-raised-button (click)="deleteRecord()"><mat-icon>delete</mat-icon>Delete</button>
    <button class="caption-med-12-type-primary edit"  mat-raised-button (click)="clearRecord()"><mat-icon>edit</mat-icon> Edit</button> 
    <button mat-raised-button class="caption-med-12-type-primary text" (click)='clearRecord()'><mat-icon>add_circle</mat-icon>Add New</button>
    <button color="" [matMenuTriggerFor]="matmenu" class="btn vert"  mat-raised-button ><mat-icon>more_vert</mat-icon>
        <mat-menu #matmenu="matMenu" class="mymegamenu" >
            <button mat-menu-item>
                <mat-icon>autorenew</mat-icon>
                <span class="caption-med-12-type-primary">Refresh</span>
            </button> 
            <button mat-menu-item disabled>
                <mat-icon>receipt</mat-icon>
                <span class="caption-med-12-type-primary">Report</span>
            </button>
            <button mat-menu-item>
                <mat-icon>picture_as_pdf</mat-icon>
                <span class="caption-med-12-type-primary">PDF</span>
            </button>
            <button mat-menu-item>
                <mat-icon>photo_filter</mat-icon>
                <span class="caption-med-12-type-primary">CSV</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>email</mat-icon>
                <span class="caption-med-12-type-primary">Mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon (click)="gblogclick()">home</mat-icon>
                <span (click)="gblogclick()" class="caption-med-12-type-primary">Gb Log</span>
            </button>
            <button mat-menu-item>
                <mat-icon (click)="aboutclick()">home</mat-icon>
                <span (click)="aboutclick()" class="caption-med-12-type-primary">About</span>
            </button>
            <button mat-menu-item>
                <mat-icon>search</mat-icon>
                <span class="caption-med-12-type-primary">Pivot</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>open_in_new</mat-icon>
                <span class="caption-med-12-type-primary">View</span>
            </button>
            <button mat-menu-item>
                <mat-icon>build</mat-icon>
                <span class="caption-med-12-type-primary">View Settings</span>
            </button>
            <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span class="caption-med-12-type-primary">Scheduler</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>print</mat-icon>
                <span class="caption-med-12-type-primary">Print</span>
            </button>
            <button mat-menu-item>
                <mat-icon>favorite_border</mat-icon>
                <span class="caption-med-12-type-primary">Add/Remove Favorite</span>
            </button>
        </mat-menu>
    </button>
</span> 

<ng-template #prompt>
    <span #prompt>
        <button color="" [matMenuTriggerFor]="matmenu" class="btn vert" mat-raised-button><mat-icon>more_vert</mat-icon>
            <mat-menu #matmenu="matMenu" class="mymegamenu" >
                <button mat-menu-item>
                    <mat-icon>autorenew</mat-icon>
                    <span class="caption-med-12-type-primary">Refresh</span>
                </button> 
                <button mat-menu-item disabled>
                    <mat-icon>receipt</mat-icon>
                    <span class="caption-med-12-type-primary">Report</span>
                </button>
                <button mat-menu-item (click)="pdf()">
                    <mat-icon>picture_as_pdf</mat-icon>
                    <span class="caption-med-12-type-primary">PDF</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>photo_filter</mat-icon>
                    <span class="caption-med-12-type-primary">CSV</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>email</mat-icon>
                    <span class="caption-med-12-type-primary">Mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon (click)="gblogclick()">home</mat-icon>
                    <span (click)="gblogclick()" class="caption-med-12-type-primary">Gb Log</span>
                </button>
                <button mat-menu-item>
                    <mat-icon (click)="aboutclick()">home</mat-icon>
                    <span (click)="aboutclick()" class="caption-med-12-type-primary">About</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>search</mat-icon>
                    <span class="caption-med-12-type-primary">Pivot</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>open_in_new</mat-icon>
                    <span class="caption-med-12-type-primary">View</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>build</mat-icon>
                    <span class="caption-med-12-type-primary">View Settings</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>subject</mat-icon>
                    <span class="caption-med-12-type-primary">Scheduler</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>print</mat-icon>
                    <span class="caption-med-12-type-primary">Print</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>favorite_border</mat-icon>
                    <span class="caption-med-12-type-primary">Add/Remove Favorite</span>
                </button>
            </mat-menu>
        </button>
    </span>
</ng-template>


 
<button class="icon" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item class="movePrev"  (click)="movePrev()"><mat-icon class="keyboard_arrow">keyboard_arrow_left</mat-icon></button>
    <button mat-menu-item class="moveNext"  (click)="moveNext()"><mat-icon class="keyboard_arrow">keyboard_arrow_right</mat-icon></button>
    <button mat-menu-item class="caption-med-12-type-primary save"  (click)="saveRecord()"><mat-icon>save</mat-icon></button>
    <button mat-menu-item class="caption-med-12-type-primary delete"  (click)="deleteRecord()"><mat-icon>delete</mat-icon></button>
    <button mat-menu-item class="caption-med-12-type-primary edit"  (click)="saveRecord()"><mat-icon>edit</mat-icon></button>
    <button mat-menu-item [matMenuTriggerFor]="for" class="btn vert" ><mat-icon>more_vert</mat-icon>
        <mat-menu #for="matMenu" class="s">
            <button mat-menu-item>
                <mat-icon>autorenew</mat-icon>
                <span class="caption-med-12-type-primary">Refresh</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>receipt</mat-icon>
                <span class="caption-med-12-type-primary">Report</span>
            </button>
            <button mat-menu-item>
                <mat-icon>picture_as_pdf</mat-icon>
                <span class="caption-med-12-type-primary">PDF</span>
            </button>
            <button mat-menu-item>
                <mat-icon>photo_filter</mat-icon>
                <span class="caption-med-12-type-primary">CSV</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>email</mat-icon>
                <span class="caption-med-12-type-primary">Mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon (click)="gblogclick()">home</mat-icon>
                <span (click)="gblogclick()" class="caption-med-12-type-primary">Gb Log</span>
            </button>
            <button mat-menu-item>
                <mat-icon (click)="aboutclick()">home</mat-icon>
                <span (click)="aboutclick()" class="caption-med-12-type-primary">About</span>
            </button>
            <button mat-menu-item>
                <mat-icon>search</mat-icon>
                <span class="caption-med-12-type-primary">Pivot</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>open_in_new</mat-icon>
                <span class="caption-med-12-type-primary">View</span>
            </button>
            <button mat-menu-item>
                <mat-icon>build</mat-icon>
                <span class="caption-med-12-type-primary">View Settings</span>
            </button>
            <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span class="caption-med-12-type-primary">Scheduler</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>print</mat-icon>
                <span class="caption-med-12-type-primary">Print</span>
            </button>
            <button mat-menu-item>
                <mat-icon>favorite_border</mat-icon>
                <span class="caption-med-12-type-primary">Add/Remove Favorite</span>
            </button>
        </mat-menu>
    </button>
</mat-menu>
