<div class="WorkOrderDashboard">
    <table (click)="SummaryAndListReportServiceCall()" class="dashboardbox" style="background: linear-gradient(135deg, #69297F 0%, #A952C7 100%);">
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{WorkOrderDetail.NoofWorkOrder | NumberFormatter}}</td>
            <td class="cap2-med-12-white">Work Orders</td>
        </tr>
        <tr>
            <td class="header-bold-34-white workordervalue">{{WorkOrderDetail.NoofItems | NumberFormatter}}</td>
            <td class="cap2-med-12-white">Items</td>
        </tr>
    </table>
    <table (click)="SummaryAndListReportServiceCall()" class="dashboardbox" style="background: linear-gradient(135deg, #C75F93 0%, #D78EB2 100%);">
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{WorkOrderDetail.NoofWorkcenter | NumberFormatter}}</td>
            <td class="cap2-med-12-white">Work Centers</td>
        </tr>
        <tr>
            <td class="header-bold-34-white workordervalue">{{WorkOrderDetail.NoofPartybranch | NumberFormatter}}</td>
            <td class="cap2-med-12-white">Sub Contracts</td>
        </tr>
    </table>
    <table (click)="SummaryAndListReportServiceCall()" class="dashboardbox" style="background: linear-gradient(136deg, #E98118 0%, #EFA65C 100%);">
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{WorkOrderDetail.Planned | NumberFormatter}}</td>
            <td class="cap2-med-12-white">Planned</td>
        </tr>
        <tr>
            <td class="header-bold-34-white workordervalue">{{WorkOrderDetail.PendingOrderQuantity | NumberFormatter}}</td>
            <td class="cap2-med-12-white">Pending</td>
        </tr>
    </table>
    <table (click)="SummaryAndListReportServiceCall()" class="dashboardbox" style="background: linear-gradient(135deg, #48A9A6 0%, #70C2C0 100%);">
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{WorkOrderDetail.Produced | NumberFormatter}}</td>
            <td class="cap2-med-12-white">Produced</td>
        </tr>
        <tr>
            <td class="header-bold-34-white workordervalue">{{WorkOrderDetail.RejectedQuantity | NumberFormatter}}</td>
            <td class="cap2-med-12-white">Rejected</td>
        </tr>
    </table>
    <table (click)="SummaryAndListReportServiceCall()" class="dashboardbox" style="background: linear-gradient(136deg, #BF1C7F 0%, #E863B4 100%);">
        <tr class="firstrow">
            <td class="header-bold-34-white workordervalue">{{WorkOrderDetail.InProcessQuantity | NumberFormatter}}</td>
            <td class="cap2-med-12-white">In Progress</td>
        </tr>
        <tr>
            <td class="header-bold-34-white workordervalue">{{WorkOrderDetail.ReworkQuantity | NumberFormatter}}</td>
            <td class="cap2-med-12-white">Rework</td>
        </tr>
    </table>
</div>
<div *ngIf="SelectSummary==true" class="type">
    <span style="padding-right: 16px;" class="body-semi-14-type-primary">Summary</span>
    <span style="display: flex;" *ngFor="let radiobutton of Summary">
        <input class="radiobutton" type="radio" (click)="SummaryModel.option = Summary.indexOf(radiobutton)" (click)="SummaryAndListReportServiceCall()"
            [checked]="radiobutton === Summary[SummaryModel.option]" name="SummaryOption">
        <span style="padding-left:8px; padding-right: 12px;"
            class="cap1-bold-12-type-primary">{{radiobutton}}</span>
    </span>
    <span style="display: flex; padding-left: 64px;">
        <input class="radiobutton" type="radio" (click)="SummaryModel.option = 4" 
            [checked]="radiobutton === SummaryModel.option" name="SummaryOption">
        <span style="padding-left:8px; padding-right: 12px;"
            class="cap1-bold-12-type-primary">List</span>
    </span>
</div>
<div *ngIf="SelectSummary==true && SummaryModel.option != 4">
    <app-WorkOrderSummary [FilterData]="filterData" [ReportType]="ReportType"></app-WorkOrderSummary>
</div>
<div *ngIf="SelectSummary==true && SummaryModel.option == 4">
    <app-WorkOrderList [FilterData]="filterData"></app-WorkOrderList>
</div>