@import './../../../../../apps//Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.WorkOrderDashboard{
    display: flex;
    margin-top: 28px;
    justify-content: center;
}

.dashboardbox{
    display: inline-block;
    width: 242px;
    height: 120px;
    margin: 0px 10px;
    padding: 20px;
    border-radius: 2px;
    cursor: pointer;
}

.workordervalue{
    display: inline-block;
    min-width: 60px;
}

.firstrow{
    display: -webkit-inline-box;
    width: 195px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);;
}

.type{
    margin-top: 32px;
    margin-bottom: 16px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    accent-color: var(--color)
}

.radiobutton{
    width: 20px;
    height: 20px;
    outline-style: none;
}