<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="LeaveTypeJSON.default.ObjectFields[0].LeaveCode"
        formControlName='LeaveCode' (Onselectdata)="LeaveTypeValue($event)"
        [defaultvalue]="form.get('LeaveCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="LeaveTypeJSON.default.ObjectFields[0].LeaveName"
        formControlName='LeaveName' (Onselectdata)="LeaveTypeValue($event)"
        [defaultvalue]="form.get('LeaveName').value"></app-entitylookup>

          <app-gb-combobox formControlName='LeaveLeaveType'></app-gb-combobox>

          <app-entitylookup class="KeyField" [PicklistObj]="LeaveTypeJSON.default.ObjectFields[0].LeaveLTALeaveNames"
          formControlName='LeaveLTALeaveNames' (Onselectdataids)="LeaveTypeNot($event)"
          [defaultvalue]="form.get('LeaveLTALeaveNames').value" *ngIf="form.get('LeaveLeaveType').value == 9"></app-entitylookup>

          <app-gb-checkbox formControlName='LeaveIsBalanceMaintained'></app-gb-checkbox>

          <app-gb-checkbox formControlName='LeaveIsCarriedOver'></app-gb-checkbox>

          <app-gb-checkbox formControlName='LeaveIsEncashable'></app-gb-checkbox>

          <app-gb-combobox formControlName='LeaveCreditMethod'></app-gb-combobox>

          <app-gb-combobox formControlName='LeaveIncludeHoliday'></app-gb-combobox>

          <app-gb-checkbox formControlName='LeaveSurroundingDay'></app-gb-checkbox>

          <app-gb-input formControlName='LeaveLeaveSalaryPercent'></app-gb-input>

          <app-entitylookup  [PicklistObj]="LeaveTypeJSON.default.ObjectFields[0].LeaveCreditFormulaName"
          formControlName='LeaveCreditFormulaName' (Onselectdataids)="LeaveTypeNot($event)"
          [defaultvalue]="form.get('LeaveCreditFormulaName').value"></app-entitylookup>

        

          <app-entitylookup  [PicklistObj]="LeaveTypeJSON.default.ObjectFields[0].LeaveSalaryFormulaName"
          formControlName='LeaveSalaryFormulaName' (Onselectdataids)="LeaveTypeNot($event)"
          [defaultvalue]="form.get('LeaveSalaryFormulaName').value"></app-entitylookup>
       
            <app-gb-checkbox formControlName='LeaveIsApplicable'></app-gb-checkbox>

        </form>
        </div>