<div style="height: 62vh; background-color: #FFFFFF;border-radius: 8px; overflow: auto;margin-right: 5px;">
    <div class="MainMenuFrequent">
        <p class="body-semi-14-purple-accent FrequentUsed">Frequently Used</p>
        <span *ngFor="let data of FrequentList">
            <div class="FrequentBox" (click)='MenuData(data)'>
                <span style="width: 20px;"><img style="display: inline-block;" src='{{ "assets/MenuList/" + theme + "/Vehicle.png" }}'
                        width="20px"></span>
                <span class="caption-med-12-purple-accent">{{data.DisplayName}}</span>
            </div>
        </span>
    </div>
</div>