@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.FrequentBox{
    display: inline-block;
    width: 170px;
    height: 20px;
    margin: 5px 5px;
    cursor: pointer;
}

.FrequentUsed{
    margin-top: 20px;
    margin-bottom: 12px;
}

.MainMenuFrequent{
    position: absolute;
    bottom: 0px;
    border-radius: 8px;
    border: 0.5px solid rgba(26, 26, 26, 0.32);
    background: #FFF;
    padding-left: 28px;
    padding-bottom: 28px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
}

@media (max-height: 350px) {
    .MainMenuFrequent{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .FrequentUsed{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (max-height: 270px) {
    .MainMenuFrequent{
        display: none;
    }
}