<div *transloco="let t">
    <div *ngIf="form.bFormReady">
        <form class='PartyWithBranchs' [formGroup]='form' ngxsForm="PartyWithBranch.currentData">
            <Lable class="captionsec-reg-12-type-primary">{{t('Common.code')}}</Lable><ng-select [disabled]="true"
                [items]="Picklistvalues" [virtualScroll]="true" bindValue="Code" bindLabel="Code"
                formControlName='PartyCode' [closeOnSelect]="true" [clearable]="true" [loading]="dataLoading"
                [multiple]='false' addTagText="Create New" [addTag]="true" [(ngModel)]="selection"
                class="captionHead-semibold-12-type-primary" [readonly]="isnoteditable" (change)="changeFn(selection)">
            </ng-select><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Common.name')}}</Lable><ng-select [disabled]="true"
                [items]="Picklistvalues1" [virtualScroll]="true" bindValue="Name" bindLabel="Name"
                formControlName='PartyName' [closeOnSelect]="true" [clearable]="true" [loading]="dataLoading"
                [multiple]='false' addTagText="Create New" [addTag]="true" [(ngModel)]="selections"
                class="captionHead-semibold-12-type-primary" [readonly]="isnoteditable"
                (change)="changeFn1(selections)">
            </ng-select><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.ControlAccountName')}}</Lable><input
                [readonly]="isnoteditable" class="captionHead-semibold-12-type-primary"
                formControlName='ControlAccountName'><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.AccountGroupName')}}</Lable><input [readonly]="isnoteditable" 
                class="captionHead-semibold-12-type-primary" formControlName='AccountGroupName'><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.CurrencyName')}}</Lable><input
                [readonly]="isnoteditable" class="captionHead-semibold-12-type-primary"
                formControlName='CurrencyName'><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.CodeDefineCategoryName')}}</Lable><input
                [readonly]="isnoteditable" class="captionHead-semibold-12-type-primary"
                formControlName='CodeDefineCategoryName'><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyShortName')}}</Lable><input [readonly]="isnoteditable" 
            class="captionHead-semibold-12-type-primary" formControlName='PartyShortName'><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyStatus')}}</Lable><app-gb-combobox
                formControlName="PartyStatus"></app-gb-combobox><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.AccountLinkName')}}</Lable><input [readonly]="isnoteditable" 
                class="captionHead-semibold-12-type-primary" formControlName='AccountLinkName'><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyBranchIsSubContract')}}</Lable><app-gb-checkbox
                formControlName='PartyBranchIsSubContract'></app-gb-checkbox><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyIsAccount')}}</Lable><app-gb-checkbox
                formControlName='PartyIsAccount'></app-gb-checkbox><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyIsVendor')}}</Lable><app-gb-checkbox
                formControlName='PartyIsVendor'></app-gb-checkbox><br>
            <!-- <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyIsProspect')}}</Lable><app-gb-checkbox
                formControlName='PartyIsProspect'></app-gb-checkbox><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyIsServiceProvider')}}</Lable><app-gb-checkbox
                formControlName='PartyIsServiceProvider'></app-gb-checkbox><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyIsBank')}}</Lable><app-gb-checkbox
                formControlName='PartyIsBank'></app-gb-checkbox><br>
            <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyIsCustomer')}}</Lable><app-gb-checkbox
                formControlName='PartyIsCustomer'></app-gb-checkbox><br> -->
           <div class="tab">
                <span class="tabcontent">Branch</span>
                <span class="tabcontent">TDS & Tax</span>
                <span class="tabcontent">General*</span>
                <span class="tabcontent">Contact</span>
                <span class="tabcontent">Sales*</span>
                <span class="tabcontent">Purchase*</span>
                <span class="tabcontent">Address*</span>
                <span class="tabcontent">Bank / Branch*</span>
                <span class="tabcontent">Addon</span>
                <span class="tabcontent">Party OU Posting</span>
            </div>
            <div id="branch">
                <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyShortName')}}</Lable><input [readonly]="isnoteditable" 
                    class="captionHead-semibold-12-type-primary" formControlName='PartyBranchCode'><br>
                <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyShortName')}}</Lable><input [readonly]="isnoteditable" 
                    class="captionHead-semibold-12-type-primary" formControlName='PartyBranchName'><br>
                <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyShortName')}}</Lable><input [readonly]="isnoteditable" 
                    class="captionHead-semibold-12-type-primary" formControlName='PartyBranchShortName'><br>
                <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyShortName')}}</Lable><input [readonly]="isnoteditable" 
                    class="captionHead-semibold-12-type-primary" formControlName='PartyBranchPartyInfo'><br>
                <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyShortName')}}</Lable><input [readonly]="isnoteditable" 
                    class="captionHead-semibold-12-type-primary" formControlName='DistributionListId'><br>
                <!-- <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyStatus')}}</Lable><app-gb-combobox
                    formControlName="PartyBranchMSMERegNo"></app-gb-combobox><br>
                <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyStatus')}}</Lable><app-gb-combobox
                    formControlName="PartyBranchIndustryType"></app-gb-combobox><br>
                <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyStatus')}}</Lable><app-gb-combobox
                    formControlName="PartyBranchRegistration"></app-gb-combobox><br>
                <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyStatus')}}</Lable><app-gb-combobox
                    formControlName="PartyBranchStatus"></app-gb-combobox><br> -->
                <Lable class="captionsec-reg-12-type-primary">{{t('Party.PartyIsVendor')}}</Lable><app-gb-checkbox
                    formControlName='PartyBranchType'></app-gb-checkbox><br>
            </div>
            
        </form>
    </div>
</div>