@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/Form.scss';
.PartyWithBranchs
{
  padding-left:30px;
  width: 75%;
  transform:translate(5%, 0%);
  font-size: 14px;
  font-weight: 500;
}

.tab{
  display: flex;
  width: 904px;
  background-color: #F6F6F6;
  border-radius: 4px;
  margin-left: 20px;
}

.tabcontent{
  height: 40px;
  padding:10px 16px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgba(26, 26, 26, 0.87);
}

.tabcontent:hover{
  background-color: #69297F;
  color: #FFFFFF;
  border-radius: 4px;
}

@media (max-width: 650px) {
 .PartyWithBranchs{
    width: 85%;
    margin-top: 15px;
    transform:translate(9.5%, 5%); 
  }
}

@media (min-width: 768px) and (max-width: 1000px){ 
 .PartyWithBranchs{
    width: 85%;
    margin-top: 3.5%;
    transform:translate(9%, 20.5%);
  }
}

::ng-deep .ng-select .ng-arrow-wrapper {
  background-image: url('./../../../../../apps/Goodbooks/Goodbooks/src/assets/icons/arrow.png');
  background-repeat: no-repeat;
  background-size: 21px;
  margin-top: 2px;
  width: 25.5px;
}

::ng-deep .mat-select-arrow{
  border-left: 20px solid transparent !important;
  border-right: none !important;
  border-top: 20px solid transparent !important;
  border-image-source: url('./../../../../../apps/Goodbooks/Goodbooks/src/assets/icons/arrow.png') !important;
  border-image-repeat: stretch !important;
}
