<div *ngIf="form.bFormReady">
  <form [formGroup]="form">
    <app-gb-combobox formControlName='title'></app-gb-combobox>
    <app-gb-input formControlName='firstName'></app-gb-input>
    <app-gb-input formControlName='middleName'></app-gb-input>
    <app-gb-input formControlName='lastName'></app-gb-input>
    <app-gb-date formControlName='dob'></app-gb-date>
    <app-gb-datetime formControlName='datetime'></app-gb-datetime>
    <app-gb-radiobox formControlName='gender'></app-gb-radiobox>
    <app-gb-email formControlName='email'></app-gb-email><br />
    <app-gb-mobile formGroupName='mobile'></app-gb-mobile><br />
    <app-gb-phone formGroupName='homephone'></app-gb-phone>
    <app-gb-phone formGroupName='workphone'></app-gb-phone>
    <app-gb-address formGroupName='homeaddress'></app-gb-address>
    <app-gb-address formGroupName='workaddress'></app-gb-address>
    <app-gb-checkbox formControlName='terms'></app-gb-checkbox>
    <app-gb-textarea formControlName='aboutus' rows='2'></app-gb-textarea><br />

  </form>
  <button>Save</button>
  <p gbform>
    Form Value: {{ form?.value | json }}
  </p>
</div>
