<div class="dbtable">
    <p class="D">Debit :{{rowData[0].FinalDebit.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>
    <p class="C">Credit :{{rowData[0].FinalCredit.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 150px">Debit</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 150px">Credit</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <!-- <ng-container > -->
            <tr *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary">{{data.AccountScheduleCode}}</td>
                <td class="td cap2-med-12-type-primary">{{data.AccountScheduleName}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 150px;">{{data.Debit.toLocaleString(undefined, { maximumFractionDigits:
                    2, minimumFractionDigits: 2 })}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 150px">{{data.Credit.toLocaleString(undefined, { maximumFractionDigits:
                    2, minimumFractionDigits: 2 })}}</td>
            </tr>
            <!-- </ng-container> -->
        </tbody>
    </table>
</div>