<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="CurrencyJSON.default.ObjectFields[0].CurrencyCode"
            formControlName='CurrencyCode' (Onselectdata)="CurrencyPicklistFillValue($event)"
            [defaultvalue]="form.get('CurrencyCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="CurrencyJSON.default.ObjectFields[0].CurrencyName"
            formControlName='CurrencyName' (Onselectdata)="CurrencyPicklistFillValue($event)"
            [defaultvalue]="form.get('CurrencyName').value"></app-entitylookup>

        <app-gb-input formControlName="CurrencySymbol"></app-gb-input>
        <app-gb-input formControlName="CurrencyFull"></app-gb-input>
        <app-gb-input formControlName="CurrencyDecimalName"></app-gb-input>
        <app-gb-input formControlName="CurrencyCurrencyDecimal"></app-gb-input>

        <app-entitylookup [PicklistObj]="CurrencyJSON.default.ObjectFields[0].GainAccountName"
            formControlName='GainAccountName' (Onselectdataids)="CurrencyPicklistPatchValue($event)"
            [defaultvalue]="form.get('GainAccountName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="CurrencyJSON.default.ObjectFields[0].LossAccountName"
            formControlName='LossAccountName' (Onselectdataids)="CurrencyPicklistPatchValue($event)"
            [defaultvalue]="form.get('LossAccountName').value"></app-entitylookup>

        <app-gb-input formControlName="CurrencyGstCurrencyCode"></app-gb-input>
    </form>
</div>