
<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        
        <app-entitylookup class="KeyField" [PicklistObj]="UomJSON.default.ObjectFields[0].UOMCode" formControlName='UOMCode'
        (Onselectdata)="UOMRetrivalValue($event)" [defaultvalue]="form.get('UOMCode').value"></app-entitylookup>  

        <app-entitylookup class="KeyField" [PicklistObj]="UomJSON.default.ObjectFields[0].UOMName" formControlName='UOMName'
        (Onselectdata)="UOMRetrivalValue($event)" [defaultvalue]="form.get('UOMName').value"></app-entitylookup>  

        <app-gb-combobox [label]="'Type'" formControlName="UOMType"></app-gb-combobox>

        <app-gb-combobox [label]="'No Of Decimals'" formControlName="UOMNoOfDecimals"></app-gb-combobox>

        <app-gb-input [label]="'Gst UOM Code*'" formControlName='UOMGstUOMCode'></app-gb-input>
    </form>
    </div>