<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>
     <app-gb-combobox class="KeyField" formControlName='ContactSalutation'></app-gb-combobox>
   
    <span style="padding-left:50px;"> <app-gb-combobox class="KeyField" formControlName='ContactSex'></app-gb-combobox> </span>
    <span style="padding-left:20px;"><app-gb-input class="KeyField" formControlName='ContactFirstName'></app-gb-input></span>
    <span style="padding-left:25px;"><app-gb-input class="KeyField" formControlName='ContactMiddleName'></app-gb-input></span>
    <app-gb-input class="KeyField" formControlName='ContactLastName'></app-gb-input>
    <span  class="KeyField">
      <span class="gg" style="width: 94px; height: 104px; border-radius: 6px; display: inline-block; vertical-align: middle;">
        <img class="imagephoto" [src]="form.get('ContactDefaultImageId').value ? form.get('ContactImageViewUrl').value : 'assets/icons/contactimage.png'">
      </span>
      
      <input type="file" style="display: none;" #fileInput (change)="onFileSelected($event)">
    </span>
    <br>
    <div style="display: flex; flex-direction: row; ">
      <div>
        <div class="div2" >  <span  >Phone Number</span>
        </div>

        <div class="div3" style=" display:flex; flex-direction: row;  align-items: center; height: 20px;">
          <app-gb-combobox formControlName="CountryISDCode"
            ></app-gb-combobox>
          <app-gb-input formControlName='ContactPhoneNo' ></app-gb-input>
        </div>
      </div>
      <div >
        <div class="div2" ><span >Mobile Number</span></div>

        <div class="div3" style=" display:flex; flex-direction: row;  align-items: center; height: 20px;">
          <app-gb-combobox formControlName="CountryISDCode" style="height: 10px1444444444444;"
            ></app-gb-combobox>
          <app-gb-input formControlName='ContactMobileNo'#myinput [class.labelFocused]="isFocused"  (focus)="isFocused = true" ></app-gb-input>
        </div>
      </div>
      <div>
        <app-gb-input class="KeyField" formControlName='ContactMailId'></app-gb-input>
      
        <app-gb-date class="KeyField" formControlName="ContactDob" [date]="form.get('ContactId').value"
        [default]="'today'"></app-gb-date>
      </div>
      <div>
                <p *ngIf="form.get('ContactDefaultImageId').value == '' && editMode" style="text-align: center; word-wrap: break-word; margin-top: 42px; margin-left: -82px;" class="tt"></p>

        <a *ngIf="editMode">
          <span style="text-align: center; display: block; margin-top: 5px; cursor: pointer; color: #6E3AB6;
            font-family: Helvetica !important;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            font-size: 12px;
            width: 90px;
            padding-left: 6px;" (click)="openFileInput()">{{form.get('ContactDefaultImageId').value == '' ? 'Add Picture' : 'Change Picture'}}</span>
          <span style="display: block;width: 85px;margin-left: 5px;">
            <hr style="border-color: #1A1A1A52;">
          </span>
        </a>
      </div>
      </div>
    
    <br>

    <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;"> Details</span>
    <span class="FormSubHeading" style="position: relative;top: 4px; ">Address</span>

    <br>
    <!---->
    <div class="companyttr" style="display: inline-flex;">
      <app-gb-input formControlName='ContactCompany'></app-gb-input>
      <span formGroupName='AddressDTO' style="display: flex;margin-left: 50px;">
        <span style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 10px;">AddressLine1</span>
        <app-gb-input formControlName='AddressLine1' style="height: 10px;margin-left: 14px;width:300px"></app-gb-input>
        <span style="align-items: center; height: 40px;margin-top: 8px;margin-left: 62px;">GEO Code</span>
        <app-gb-input class="KeyField" formControlName='AddressGeoCode'  style="margin-left: 12px;"></app-gb-input>

      </span>
    </div>
    <br>
    <!---->
   <div class="companyttr" style="display: inline-flex;">
    <app-gb-input  formControlName='ContactDesignation'></app-gb-input>
    <span formGroupName='AddressDTO' style="display: flex;margin-left: 50px;">
      <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 10px;">AddressLine2</span>
      <app-gb-input  formControlName='AddressLine2' style="height: 10px;margin-left: 14px;width:300px"></app-gb-input>
      <span style="align-items: center; height: 40px;margin-top: 8px;margin-left: 89px;">GSTIN</span>
      <app-gb-input class="KeyField" formControlName='AddressGSTIn' style="margin-left: 12px;"></app-gb-input>
    </span>
   </div>
    <br>
    <!---->
    <div class="companyttr" style="display: inline-flex;">
      <app-gb-combobox  formControlName='ContactLinkType'></app-gb-combobox>
      <span formGroupName='AddressDTO' style="display: flex;margin-left: 100px;">
        <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 90px;">AddressLine3</span>
        <app-gb-input formControlName='AddressLine3' style="height: 10px;margin-left: 14px;width:300px"></app-gb-input>
        <span style="align-items: center; height: 40px;margin-top: 8px;margin-left: 36px;">Phone Number</span>
        <!-- <app-gb-combobox class="KeyField" formControlName='CountryISDCode'></app-gb-combobox> -->
        <app-gb-input class="KeyField" formControlName='AddressPhone' style="margin-left: 12px;"></app-gb-input>
      </span>
    </div>    
    <br>
    <!---->
    <div class="companyttr" style="display: inline-flex;">
      <app-gb-combobox  formControlName='ContactStatus'></app-gb-combobox>
      <span formGroupName='AddressDTO' style="display: flex;margin-left: 100px;">
        <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 90px;">AddressLine4</span>
        <app-gb-input formControlName='AddressLine4' style="height: 10px;margin-left: 14px;width: 300px;"></app-gb-input>
        <span style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 36px;">Mobile Number</span>
        <!-- <app-gb-combobox class="KeyField" formControlName='CountryISDCode'></app-gb-combobox> -->
        <app-gb-input class="KeyField" formControlName='AddressMobile' style="margin-left: 12px;"></app-gb-input>
      </span>
    </div>  
    <br>
    <!---->
    <div class="companyttr" style="display: inline-flex;">
      <app-entitylookup  [PicklistObj]="ContactJSON.default.ObjectFields[0].ReportingToName"
      formControlName='ReportingToName' (Onselectdataids)="ContactPatchFunction($event)"
      [defaultvalue]="form.get('ReportingToName').value"></app-entitylookup>
      <span formGroupName='AddressDTO' style="display: flex;margin-left: 50px;">
      <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 10px;">AddressLine5</span>
      <app-gb-input style="height: 10px;margin-left: 14px;width: 300px;" formControlName='AddressLine5'></app-gb-input>
      <span style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 52px;">Fax Number</span>
      <app-gb-input class="KeyField" formControlName='AddressFax' style="margin-left: 12px;"></app-gb-input>
    </span>
    </div>   
    <br>
    <!---->
    <div class="companyttr" style="display: inline-flex;">
      <app-gb-checkbox  formControlName='ContactSave'></app-gb-checkbox>
      <span formGroupName='AddressDTO' style="display: flex;">
        <app-entitylookup class="KeyField"
          [PicklistObj]="ContactJSON.default.ObjectFields[0].CountryName" formControlName='CountryName'
          (Onselectdataids)="ContactPatchFunction($event)"
          [defaultvalue]="form.get('AddressDTO').value.CountryName"></app-entitylookup></span>
          <span formGroupName='AddressDTO' style="display: flex;">
        <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 52px;">Mail ID</span>
        <app-gb-input style="height: 10px;margin-left: 12px;" formControlName='AddressMail'></app-gb-input>
      </span>
    </div>   
    <br>
    <!---->
    <div class="companyttr" style="display: inline-flex;">
      <span formGroupName='AddressDTO' style="display: flex;">
        <app-entitylookup class="KeyField"
         [PicklistObj]="ContactJSON.default.ObjectFields[0].CityName" formControlName='CityName'
         (Onselectdataids)="ContactPatchFunction($event)"
         [defaultvalue]="form.get('AddressDTO').value.CityName"></app-entitylookup></span>
         <span formGroupName='AddressDTO' style="display: flex;">
       <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 6px;">Web Address</span>
       <app-gb-input style="height: 10px;margin-left: 12px;" formControlName='AddressWeb'></app-gb-input>
     </span>
    </div>   
    <br>
    <!---->
    <div class="companyttr" style="display: inline-flex;">
      <span formGroupName='AddressDTO' style="display: flex;">
        <app-entitylookup class="KeyField"
          [PicklistObj]="ContactJSON.default.ObjectFields[0].StateName" formControlName='StateName'
          (Onselectdataids)="ContactPatchFunction($event)"
          [defaultvalue]="form.get('AddressDTO').value.StateName"></app-entitylookup></span>  
    </div>  
    <br>
    <!---->
    <div class="companyttr" style="display: inline-flex;">
      <span formGroupName='AddressDTO' style="display: flex;">
        <app-entitylookup class="KeyField"
          [PicklistObj]="ContactJSON.default.ObjectFields[0].StandardRegionName" formControlName='StandardRegionName'
          (Onselectdataids)="ContactPatchFunction($event)"
          [defaultvalue]="form.get('AddressDTO').value.StandardRegionName"></app-entitylookup></span>
    </div>  
    <br>
    <!---->
    <div class="companyttr" style="display: inline-flex;">
      <span formGroupName='AddressDTO' style="display: flex;margin-left: 422px;">
        <span  style="align-items: center;  height: 40px;margin-top: 8px;margin-left: 16px;">Zip Code</span>
        <app-gb-input style="height: 10px;margin-left: 14px;" formControlName='AddressZipCode'></app-gb-input>
      </span>
    </div>
    
  <!-- </form>
</div> -->