@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
.imagephoto {

    width: 94px;
    height: 104px;
    border-radius: 6px;
    margin-left: -25px;
    border: 1px solid #F6F6F6;
    cursor: pointer;
    display: inline-block;
    // position:fixed;
    // margin-top:-51px;
    // padding-bottom: 20px;
     margin-top: 2px;
}
#inline-input{
    display: inline-block;
    align-items: center;
}
.hr-line {
    margin-top: 5px; /* Adjust as needed */
    margin-bottom: 5px; /* Adjust as needed */
    border-width: 0;
    border-top: 1px solid #6E3AB6;
  }
  .detail ,.address{
        font-family: Helvetica !important;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #6B9EC7;
        padding-left: 32px;
        padding-top: 20px;
        text-decoration: underline;
        // padding-bottom: 10px;
    } 
    .div2{
      color: rgba(26, 26, 26, 0.87);
  font-family: "Helvetica";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  // padding-right: 16px;
    }
    .labelFocused{
        color:#6E3AB6;
        transition: .4s ease-in-out;
      }
      
    //  .Column1h td { 

    //       padding-top: 0px;
    //       padding-left: 32px;
    //       padding-bottom: -2px;
    //   }
// // :root {
// //     --Tableheight: 490px;
// // }

// // .division {
// //     max-height: var(--Tableheight);
// //     overflow-y: scroll;
// // }
// .division {
//     max-height: var(--Tableheight);
//     overflow-y: auto;
//     margin-right: 40px;
//     scrollbar-width: thin;
//     scrollbar-color: #6E3AB6 #f4f4f4;
//     // overflow-x: hidden;

// }
// .division::-webkit-scrollbar {
//     width: 12px; /* Adjust as needed */
// }

// .division::-webkit-scrollbar-thumb {
//     background-color: #6E3AB6; /* Adjust as needed */
// }

// .division::-webkit-scrollbar-track {
//     background-color: #f4f4f4; /* Adjust as needed */
// }
// .division::-webkit-scrollbar-button {
//     display: none;
// }
//   td.salutation1 {
//     margin-bottom: 0;
//     padding-bottom: 0;
//   }
// .responsive-container {
//     width: 90%;

// }
// .inline-input {
//     display: inline-block; 
   
//   }
//   .one{
//     padding-bottom:2px;
//   }
// .Column1h td { 

//     padding-top: 0px;
//     padding-left: 32px;
//     padding-bottom: -2px;
// }

// .Column1d td {
//     padding-left: 32px;
// }

// .Column2h td {
//     // padding-top: 20px;
//     padding-left: 32px;
//     padding-bottom: -2px;

// }

// .Column2d td {
//     padding-left: 32px;
//     padding-top: 20px;
//     padding-bottom: -2px;
//     width: 100px;
// }

// .tablemobile {
//     display: none;
// }
// .salutation,.Gender,.FirstName,.MiddleName,.LastName,.dob,.CountryCode,.MobileNumber,.PhoneNumber,.Email{

//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     // padding-left: 32px;
// }

// .salutation1 ,.Gender1,.FirstName1,.MiddleName1,.LastName1,.CountryCode1,.Email1,.MobileNumber1,
// .PhoneNumber1,.Email1{
//     color: #1A1A1ADE; 
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     // padding-left: 32px;
// }
// .dob1{
//     color: #1A1A1ADE; 
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     padding-right:72px;
// }
// .detail ,.address{
//     font-family: Helvetica !important;
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 24px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #6B9EC7;
//     padding-left: 32px;
//     padding-top: 20px;
//     text-decoration: underline;
//     // padding-bottom: 10px;
// }

// .Company1 {
   
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
// }
// .City{
//     padding-bottom: 0px;
// }
// .addressline1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;

// }

// .geocode1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
// }

// .Designation1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
// }

// .Addressline2 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;

// }

// .GSITIN1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
// }

// .LinkTytde1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
// }

// .Addressline3 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;

// }

// .PhoneNo1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
//     display: inline-block;
//   padding-top: 8px;
// }

// .Status1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
// }

// .Addressline4 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;

// }

// .MobileNo1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
//     display: inline-block;
//   padding-top: 8px;
// }

// .Retdorting1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
// }

// .Addressline5 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;

// }

// .FAXNo1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
// }

// .save1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
//     padding-bottom: 0px;
// }

// .City1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
//     padding-bottom: 0px;

// }

// .MailID1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
//     padding-bottom: 0px;
// }

// .Country1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
//     padding-bottom: -20px;
// }

// .WebAddress1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
//     padding-bottom: 0px;
// }

// .ZItdCode1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
//     padding-bottom: 0px;
// }

// .Region1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
//     padding-bottom: 0px;
// }

// .State1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     color: #1A1A1ADE;
//     padding-left: 16px;
//     padding-bottom: 0px;
// }


// .Company {
   
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
   
// }

// .Addressl1 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
//     padding-left: 36px;

// }

// .GEOCode {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
   
// }

// .Designation {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
  
// }

// .Addressl2 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
   

// }

// .GSITIN {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
    

// }

// .LinkTytde {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
  

// }

// .Addressl3 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
   
// }

// .PhoneNo {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
  

// }

// .Status {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
    

// }

// .Addressl4 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
    
// }

// .MobileNo {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
    

// }

// .Retdorting {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
//     padding-left: 32px;

// }

// .Addressl5 {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
    
// }

// .FAXNo {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
    
// }

// .save {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
  
// }

// .City {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
//     padding-bottom: 0px;
// }

// .MailID {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
//     padding-bottom: 0px;
// }

// .Country {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
//     padding-bottom: 0px;
// }

// .WebAddress {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
//     padding-left: 36px;
//     padding-bottom: 0px;
// }

// .ZItdCode {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
//     padding-bottom: 0px;
// }

// .Region {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
//     padding-bottom: 0px;
// }

// .State {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400; 
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: right;
//     padding-bottom: 10px;
// }
// .Companycon td {

//     height: 36px;
// }

// .imagephoto {

//     width: 94px;
//     height: 104px;
//     border-radius: 6px;
//     margin-left: 2px;
//     border: 1px solid #F6F6F6;
//     cursor: pointer;
//     // position:fixed;
//     // margin-top:-51px;
//     // padding-bottom: 20px;
//      margin-top: -2px;
// }
// .tt{ 
    
// font-family: Helvetica Neue;
// font-size: 12px;
// font-weight: 400;
// line-height: 18px;
// letter-spacing: 0em;
// text-align: center;
// padding-top: 17px;
// }


// .checkbox-container {
//     position: relative;
//     margin-right: 19px;
//     padding-top: 4px;
// }

// .checkbox-container input {
//     position: absolute;
//     opacity: 0;
// }

// .checkmark {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 20px;
//     /* Set the height */
//     width: 20px;
//     /* Set the width */
//     border: 1px solid #ccc;
//     background-color: #fff;
//     border-radius: 4px;
//     padding-right: 3px;
// }

// .checkbox-container input:checked+.checkmark {
//     background-color: #6E3AB6;
//     /* Customize the color when the checkbox is checked */
// }

// .checkmark svg {
//     fill: #6E3AB6;
//     /* Customize the color of the checkmark icon */
// }

// .respond,.mobiledivision,.table-wrapper,.paginationfooter,.containerbox {
//     display: none;
// }

// // #tabContent2 {
// //     display: none;
// // }


// @media (min-width: 1060px) and (max-width: 1329px) {
//     .responsive-container {
//         width: 100%;
//         height: 100%;
//     }

//     .imagephoto {
//         width: 94px;
//         height: 104px;
//         border-radius: 6px;
//         // position: fixed;
//         cursor: pointer;
//         // margin-top: 6px;

//         // margin-left: -25px;
//     }
// }

// @media (min-width: 1000px) and (max-width: 1059px) {
//     .responsive-container {
//         width: 100%;
//         height: 100%;
        
//     }

//     .imagephoto {
//         width: 94px;
//         height: 104px;
//         border-radius: 6px;
//         // position: fixed;
//         margin-top: -2px;
//         cursor: pointer;
//         // margin-left: -74px;
//     }
// }

// @media (min-width: 949px) and (max-width: 999px) {
//     .responsive-container {
//         width: 100%;
//         height: 100%;
        
//     }

//     .containerbox {
//         display: block;
//     }

//     .respond,
//     .mobiledivision,
//     .tablemobile,
//     .table-wrapper,
//     .paginationfooter,
//     .tableinform,
//     .tabledetail {
//         display: none;
//     }

//     #tabContent2,
//     #tabContent3,
//     #tabContent1 {
//         display: none;
//     }

//     .X td {

//         padding-top: 20px;
//         padding-left: 32px;
//         padding-bottom: -2px;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .XX td {
//         padding-left: 32px;
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .Y td {
//         padding-top: 20px;
//         padding-left: 32px;
//         padding-bottom: -2px;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;

//     }

//     .YY td {
//         padding-left: 32px;
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;

//     }

//     .imagephot {

//         width: 100px;
//         height: 110px;
//         border-radius: 6px;
//         margin-left: -18px;
//     }

//     .addre {
//         font-family: Helvetica !important;
//         font-size: 16px;
//         font-weight: 400;
//         line-height: 24px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: #6B9EC7;
//         padding-left: 32px;
//         padding-top: 20px;
//         text-decoration: underline;
//         padding-bottom: 10px;

//     }

//     .abc {
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: right;
//         padding-left: 36px;
//         padding-bottom: 16px;
//     }

//     .xyz {

//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: #1A1A1ADE;
//         padding-left: 16px;
//         padding-bottom: 16px;
//     }

//     .kkk {
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .vvv {
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         white-space: nowrap; 
//         overflow: hidden; 
//         text-overflow: ellipsis;
//     }

// }

// @media (min-width: 840px) and (max-width: 948px) {
//     .responsive-container {
//         width: 100%;
//         height: 100%;
//         //    background-color: rgb(17, 148, 28);
//     }

//     .containerbox {
//         display: block;
//     }

//     .respond,
//     .mobiledivision,
//     .tablemobile,
//     .table-wrapper,
//     .paginationfooter,
//     .tableinform,
//     .tabledetail {
//         display: none;
//     }

//     #tabContent2,
//     #tabContent3,
//     #tabContent1 {
//         display: none;
//     }

//     .X td {

//         padding-top: 20px;
//         padding-left: 20px;
//         padding-bottom: -2px;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .XX td {
//         padding-left: 20px;
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .Y td {
//         padding-top: 20px;
//         padding-left: 20px;
//         padding-bottom: -2px;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;

//     }

//     .YY td {
//         padding-left: 20px;
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;

//     }

//     .imagephot {

//         width: 98px;
//         height: 105px;
//         border-radius: 6px;
//         // margin-left: -8px;
//     }

//     .addre {
//         font-family: Helvetica !important;
//         font-size: 16px;
//         font-weight: 400;
//         line-height: 24px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: #6B9EC7;
//         padding-left: 32px;
//         padding-top: 20px;
//         text-decoration: underline;
//         padding-bottom: 10px;

//     }

//     .abc {
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: right;
//         padding-left: 36px;
//         padding-bottom: 16px;
//     }

//     .xyz {

//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: #1A1A1ADE;
//         padding-left: 16px;
//         padding-bottom: 16px;
//     }

//     .kkk {
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .vvv {
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }
// }

// @media (min-width: 800px) and (max-width: 839px) {
//     .responsive-container {
//         width: 100%;
//         height: 100%;
//         //    background-color: rgb(17, 148, 28);
//     }

//     .containerbox {
//         display: block;
//     }

//     .respond,
//     .mobiledivision,
//     .tablemobile,
//     .table-wrapper,
//     .paginationfooter,
//     .tableinform,
//     .tabledetail {
//         display: none;
//     }

//     #tabContent2,
//     #tabContent3,
//     #tabContent1 {
//         display: none;
//     }

//     .X td {

//         padding-top: 20px;
//         padding-left: 20px;
//         padding-bottom: -2px;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .XX td {
//         padding-left: 20px;
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .Y td {
//         padding-top: 20px;
//         padding-left: 20px;
//         padding-bottom: -2px;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;

//     }

//     .YY td {
//         padding-left: 20px;
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;

//     }

//     .imagephot {

//         width: 98px;
//         height: 105px;
//         border-radius: 6px;
//         // margin-left: -8px;
//     }

//     .addre {
//         font-family: Helvetica !important;
//         font-size: 16px;
//         font-weight: 400;
//         line-height: 24px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: #6B9EC7;
//         padding-left: 32px;
//         padding-top: 20px;
//         text-decoration: underline;
//         padding-bottom: 10px;

//     }

//     .abc {
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: right;
//         padding-left: 36px;
//         padding-bottom: 16px;
//     }

//     .xyz {

//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: #1A1A1ADE;
//         padding-left: 16px;
//         padding-bottom: 16px;
//     }

//     .kkk {
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .vvv {
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }
// }
// @media (min-width: 750px) and (max-width: 799px) {
//     .responsive-container {
//         width: 100%;
//         height: 100%;
//         //    background-color: pink;
//     }

//     .containerbox {
//         display: block;
//     }

//     .respond,
//     .mobiledivision,
//     .tablemobile,
//     .table-wrapper,
//     .paginationfooter,
//     .tableinform,
//     .tabledetail {
//         display: none;
//     }

//     #tabContent2,
//     #tabContent3,
//     #tabContent1 {
//         display: none;
//     }

//     .X td {

//         padding-top: 20px;
//         padding-left: 25px;
//         padding-bottom: -2px;
//         font-family: Helvetica !important;
//         font-size: 12px;
//         font-weight: 350;
//         line-height: 18px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .XX td {
//         padding-left: 25px;
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 12px;
//         font-weight: 600;
//         line-height: 18px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .Y td {
//         padding-top: 20px;
//         padding-left: 25px;
//         padding-bottom: -2px;
//         font-family: Helvetica !important;
//         font-size: 12px;
//         font-weight: 350;
//         line-height: 18px;
//         letter-spacing: 0em;
//         text-align: left;

//     }

//     .YY td {
//         padding-left: 25px;
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 12px;
//         font-weight: 600;
//         line-height: 18px;
//         letter-spacing: 0em;
//         text-align: left;
//         overflow: hidden; 
//         text-overflow: ellipsis; 
//         white-space: nowrap;  
//     }

//     .imagephot {

//         width: 98px;
//         height: 105px;
//         border-radius: 6px;
//         margin-left: -9px;

//     }

//     .addre {
//         font-family: Helvetica !important;
//         font-size: 16px;
//         font-weight: 400;
//         line-height: 24px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: #6B9EC7;
//         padding-left: 25px;
//         padding-top: 20px;
//         text-decoration: underline;
//         padding-bottom: 10px;

//     }

//     .abc {
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: right;
//         padding-left: 25px;
//         padding-bottom: 16px;
//         overflow: hidden; 
//         text-overflow: ellipsis; 
//         white-space: nowrap;  
//     }

//     .xyz {

//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: #1A1A1ADE;
//         padding-left: 16px;
//         padding-bottom: 16px;
//         overflow: hidden; 
//         text-overflow: ellipsis; 
//         white-space: nowrap;  
//     }

//     .kkk {
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         overflow: hidden; 
//         text-overflow: ellipsis; 
//         white-space: nowrap;  
//     }

//     .vvv {
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         overflow: hidden; 
//         text-overflow: ellipsis; 
//         white-space: nowrap;  
//     }
// }
// @media (min-width: 700px) and (max-width: 749px) {
//     .responsive-container {
//         width: 100%;
//         height: 100%;
//         //    background-color: pink;
//     }

//     .containerbox {
//         display: block;
//     }

//     .respond,
//     .mobiledivision,
//     .tablemobile,
//     .table-wrapper,
//     .paginationfooter,
//     .tableinform,
//     .tabledetail {
//         display: none;
//     }

//     #tabContent2,
//     #tabContent3,
//     #tabContent1 {
//         display: none;
//     }

//     .X td {

//         padding-top: 20px;
//         padding-left: 25px;
//         padding-bottom: -2px;
//         font-family: Helvetica !important;
//         font-size: 12px;
//         font-weight: 350;
//         line-height: 18px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .XX td {
//         padding-left: 25px;
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 12px;
//         font-weight: 600;
//         line-height: 18px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .Y td {
//         padding-top: 20px;
//         padding-left: 25px;
//         padding-bottom: -2px;
//         font-family: Helvetica !important;
//         font-size: 12px;
//         font-weight: 350;
//         line-height: 18px;
//         letter-spacing: 0em;
//         text-align: left;

//     }

//     .YY td {
//         padding-left: 25px;
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 12px;
//         font-weight: 600;
//         line-height: 18px;
//         letter-spacing: 0em;
//         text-align: left;
//         overflow: hidden; 
//         text-overflow: ellipsis; 
//         white-space: nowrap;  
//     }

//     .imagephot {

//         width: 98px;
//         height: 105px;
//         border-radius: 6px;
//         margin-left: -9px;

//     }

//     .addre {
//         font-family: Helvetica !important;
//         font-size: 16px;
//         font-weight: 400;
//         line-height: 24px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: #6B9EC7;
//         padding-left: 25px;
//         padding-top: 20px;
//         text-decoration: underline;
//         padding-bottom: 10px;

//     }

//     .abc {
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: right;
//         padding-left: 25px;
//         padding-bottom: 16px;
//         overflow: hidden; 
//         text-overflow: ellipsis; 
//         white-space: nowrap;  
//     }

//     .xyz {

//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: #1A1A1ADE;
//         padding-left: 16px;
//         padding-bottom: 16px;
//         overflow: hidden; 
//         text-overflow: ellipsis; 
//         white-space: nowrap;  
//     }

//     .kkk {
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         overflow: hidden; 
//         text-overflow: ellipsis; 
//         white-space: nowrap;  
//     }

//     .vvv {
//         color: #1A1A1ADE;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         overflow: hidden; 
//         text-overflow: ellipsis; 
//         white-space: nowrap;  
//     }
// }
// @media (max-width: 480px) {
//     .respond {
//         display: block;
//     }

//     .mobiledivision {
//         display: block;
//         // margin-left:33px;
//     }

//     #tabContent2 {
//         display: block;
//         margin-left: 33px;
//     }

//     #tabcontent3 {
//         width: 100%;
//         margin-left: 33px;
//     }

//     .table-wrapper {
//         display: block;
//     }

//     .paginationfooter {
//         display: block;
//     }

//     .tablemobile {
//         display: block;
//         margin: 0px 20px;
//         width: 100%;
//     }

//     .tabledetail {
//         display: none;
//     }

//     .tableinform {
//         display: none;
//     }

//     .tablebodymob {
//         width: 100%;
//         display: inline-block;
//     }
// .imagephoto{
//     border-radius: 50px;
//     width: 100px;
//     height: 100px;
//     cursor: pointer;
// }
//     .imagemobile {

//         width: 100px;
//         height: 100px;
//         top: 132px;
//         left: 130px;
//         border-radius: 50px;
//         border: 1px;
//         // margin-top: 46px;
//         // margin-bottom: 24px;
//     }

//     .imgager {
//         width: 100%;
//         display: inline-block;
//         margin-top:28px;
//     }

//     .image-cell {
//         display: flex;
//         justify-content: center;
//         width: 100%;
//         margin-top:28px;
//     }

//     .fixed-footer {
//         overflow-x: hidden;
//         overflow-y: scroll;
//         position: fixed;
//         left: 0;
//         bottom: 0;
//         width: 100%;
//         background-color: #fff;
//         padding-top: 20px;
//         padding-bottom: 15px;
//         padding-left: 32px;
//         padding-right: 32px;
//     }

//     .salutationmob,
//     .MiddleNamemob,
//     .LastNamemob,
//     .dobmob,
//     .MobileNumbermob,
//     .PhoneNumbermob,
//     .Emailmob {
//         padding-left: 33px;
//         padding-top: 16px;
//         font-family: Helvetica !important;
//         font-size: 10px;
//         font-weight: 400;
//         line-height: 12px;
//         letter-spacing: 0em;
//         text-align: left;
//         // width: 200px;
//     }

//     .salutationmob1,
//     .MiddleNamemob1,
//     .LastNamemob1,
//     .dobmob1,
//     .MobileNumbermob1,
//     .PhoneNumbermob1,
//     .Emailmob1 {
//         padding-left: 33px;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;

//     }

//     .Companymob,
//     .Designationmob,
//     .LinkTytdemob,
//     .Statusmob,
//     .Retdortingmob {
//         padding-left: 33px;
//         padding-top: 16px;
//         font-family: Helvetica !important;
//         font-size: 10px;
//         font-weight: 400;
//         line-height: 12px;
//         letter-spacing: 0em;
//         text-align: left;
//         width: 400px;

//     }

//     .Companymob1,
//     .Designationmob1,
//     .LinkTytdemob1,
//     .Statusmob1,
//     .Retdortingmob1 {
//         padding-left: 33px;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;

//     }

//     .Addressl1mob,
//     .Addressl2mob,
//     .Addressl3mob,
//     .Addressl4mob,
//     .Addressl5mob,
//     .Citymob,
//     .Countrymob,
//     .ZItdCodemob,
//     .Regionmob,
//     .Statemob,
//     .GEOCodemob,
//     .GSITINmob,
//     .PhoneNomob,
//     .MobileNomob,
//     .FAXNomob,
//     .MailIDmob,
//     .WebAddressmob {
//         padding-left: 33px;
//         padding-top: 16px;
//         font-family: Helvetica !important;
//         font-size: 10px;
//         font-weight: 400;
//         line-height: 12px;
//         letter-spacing: 0em;
//         text-align: left;
//         width: 400px;
//     }

//     .addressline1mob,
//     .Addressline2mob,
//     .Addressline3mob,
//     .Addressline4mob,
//     .Addressline5mob,
//     .Citymob1,
//     .Countrymob1,
//     .ZItdCodemob1,
//     .Regionmob1,
//     .Statemob1,
//     .geocodemob1,
//     .GSITINmob1,
//     .PhoneNomob1,
//     .MobileNomob1,
//     .FAXNomob1,
//     .MailIDmob1,
//     .WebAddressmob1 {
//         padding-left: 33px;
//         //styleName: content/hel-14-bol;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//     }

//     .FirstNamemob {
//         // padding-left: 50px;
//         font-family: Helvetica !important;
//         font-size: 10px;
//         font-weight: 400;
//         line-height: 12px;
//         letter-spacing: 0em;
//         text-align: left;
//         padding-top: 16px;
//     }

//     .FirstNamemob1 {
//         // padding-left: 50px;
//         font-family: Helvetica !important;
//         font-size: 14px;
//         font-weight: 700;
//         line-height: 21px;
//         letter-spacing: 0em;
//         text-align: left;
//         // padding-top:16px;
//     }

//     /* CSS Styles */
//     .pagination {

//         display: flex;

//     }

//     #tabContent1,
//     #tabContent2,
//     #tabContent3 {

//         overflow-y: auto;
//         scrollbar-width: thin;
//         scrollbar-color: #6E3AB6 #f4f4f4;
//         /* Add vertical scrollbar if content exceeds max height */
//     }

//     .tab-bar {
//         display: flex;
//         border: 1px solid #ccc;
//         border-radius: 25px;
//         padding-left: 10px;
//         margin-left: 20px;
//         margin-right: 20px;
//     }

//     .mobiledivision {
//         margin-left: -20px;
//         margin-top: -20px;
//         position: absolute;
//         width: 100%
//     }

//     .tabh1 {

//         padding-left: 10px;
//         padding-right: 10px;

//     }

//     .tabh2 {

//         padding-left: 10px;
//         padding-right: 10px;

//     }

//     .tabh3 {

//         padding-left: 10px;
//         padding-right: 10px;

//     }

//     .aaa {
//         background-color: #fff;
//         padding-top: 8px;
//     }

//     .table-wrapper {

//         max-height: calc(90vh - 100px);
//         overflow-y: auto;
//         overflow-x: hidden;
//         scrollbar-width: thin;
//         scrollbar-color: #6E3AB6 #f4f4f4;
//         margin-top: 0px;
//     }


//     button:focus {
//         outline: unset;
//     }
//     .ttt{
//         font-family: Helvetica Neue;

// font-weight: 400;
// line-height: 15px;
// letter-spacing: 0em;
// text-align: center;

//     }

// }