<div class="FormOverview" *ngIf="form.bFormReady">

    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ShiftMasterJSON.default.ObjectFields[0].ShiftCode"
        formControlName='ShiftCode' (Onselectdata)="ShiftMasterValue($event)"
        [defaultvalue]="form.get('ShiftCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="ShiftMasterJSON.default.ObjectFields[0].ShiftDescription"
        formControlName='ShiftDescription' (Onselectdata)="ShiftMasterValue($event)"
        [defaultvalue]="form.get('ShiftDescription').value"></app-entitylookup>

        <app-gb-checkbox formControlName='ShiftIsProductionShift'></app-gb-checkbox>
<br>
        <app-gb-datetime formControlName="TotalShiftStartTime" (Minute)="TimeCalculator($event)"
            [time]="form.get('ShiftStartTime').value"
            (Minute)="Getselectedids($event)" class="KeyField"></app-gb-datetime>


            
        <app-gb-datetime formControlName="TotalShiftEndTime" (Minute)="EndTimeCalculator($event)"
        [time]="form.get('ShiftEndTime').value" 
        (Minute)="Getselectedids($event)" class="KeyField"></app-gb-datetime>

            <br>

        <app-gb-datetime formControlName="FirstHalfStartTimeExtraField" (Minute)="Getselectedids($event)"
            [time]="form.get('ShiftStartTime').value" class="KeyField"></app-gb-datetime>

        <app-gb-datetime formControlName="FirstHalfEndTimeExtraField" (Minute)="FirsthalfEndTime($event)"
            [time]="form.get('ShiftFirstHalfEndTime').value" class="KeyField"></app-gb-datetime>

            <br>

        <app-gb-datetime formControlName="ShiftSecondHalfStartTimeSelfName" (Minute)="Getselectedids($event)"
            [time]="form.get('ShiftSecondHalfStartTime').value" class="KeyField"></app-gb-datetime>

        <app-gb-datetime formControlName="ShiftSecondHalfEndTimeSelfName" (Minute)="Getselectedids($event)"
            [time]="form.get('ShiftEndTime').value" (TimeOutput)="Changevalueout($event)" class="KeyField"></app-gb-datetime>

            <br>

        <app-gb-input formControlName='ShiftShiftMinutes' class="KeyField"></app-gb-input>

        <app-gb-input formControlName='ShiftGraceMinutes' class="KeyField"> </app-gb-input>


        <app-gb-checkbox formControlName='ShiftIsBreakApplicable' (click)="settingPatchValue()"></app-gb-checkbox>

        <br>
        <app-gb-input formControlName='ShiftBreakMinutes'class="KeyField" ></app-gb-input>

        <app-gb-input formControlName='ShiftSortOrder' class="KeyField"></app-gb-input>
        <br>
        <app-gb-input formControlName='ShiftWorkingMinutes'class="KeyField"></app-gb-input>

       


        <app-gb-input formControlName='ShiftCutOffMinutes'class="KeyField"></app-gb-input>

   

       <br>
      
        <app-gb-input formControlName='ShiftFullDayMinutes' class="KeyField"></app-gb-input>

        <app-gb-input formControlName='ShiftCutOffMinutesOut' class="KeyField"></app-gb-input>



<br>
        <app-gb-input formControlName='ShiftHalfDayMinutes' class="KeyField"></app-gb-input>

        <app-gb-combobox formControlName="ShiftWorkTimeMethod" class="KeyField"></app-gb-combobox>

        <br>
        <app-gb-textarea formControlName='ShiftRemarks'></app-gb-textarea>
    </form>
</div>