<div class="host" *transloco="let t">
  <style>
  </style>
  <mat-card class="container" [formGroup]='form'>
    <div class="right">
      <img class="logo" style="  position: absolute; left: 32px; padding-top: 40px;" src="assets/icons/GB_Logo.png">
      <section>
        <p class="title2-med-22-type-primary headingsign">{{t('Login.title')}}</p>
      </section>
      <section>
        <p style="margin-top: 35px; margin-bottom: 20px;" class="captionHead-semibold-12-type-primary 12">{{t('Login.LoginTitle')}}</p>
      </section>
      <app-gb-input class="userserver" formControlName='Server' gbplaceholder="{{t('Login.server')}}" [Screen]="'Login'"
        gblabel="{{t('Login.server')}}"></app-gb-input><a class="database"><img width="20px" src="assets/icons/database_logo.png"></a>
      <div class="Line-45"></div><br>
      <app-gb-input class="userserver" formControlName='UserName' gbplaceholder="{{t('Login.Username')}}" [Screen]="'Login'"
        gblabel="{{t('Login.Username')}}"></app-gb-input><a class="user"><img width="20px" src="assets/icons/User.png"></a>
      <div class="Line-45"></div><br>
      <app-gb-input class="userserver" formControlName="Password" [Screen]="'Login'" gbplaceholder="{{t('Login.password')}}" gblabel="{{t('Login.password')}}"
        [gbtype]="hide ? 'password' : 'text'"></app-gb-input><mat-icon *ngIf="hide" (click)="hide = !hide" class="icon"
        style="color: #1A1A1A;">visibility_off </mat-icon>
        <mat-icon *ngIf="!hide" (click)="hide = !hide" class="icon" style="color: #1A1A1A;">visibility_on </mat-icon>
      <div class="Line-45"></div>
      <p class="Forgtpassw">{{t('Login.Forget')}}</p>
      <button mat-flat-button style="margin-top: 20px; outline-style: none;" class="CTA-Button-Primary" (click)='Login()'><b class="title2-med-22-white">{{t('Login.loginbutton')}}</b></button>
      <div style="margin-top: 10px; margin-left: 215px;">
        <button class="helpbutton"><img style="display: inline;"
            width="20px" src="assets/icons/Question.png">
          <a href="http://help.goodbookserp.com/" target="_blank">
            <u class="caption-med-12-purple-accent help">{{t('Login.help')}}</u>
          </a></button>
      </div>
      <p style="font-weight: 700; margin-top: 40px; margin-bottom: 100px;" class="caption-med-12-type-secondary">{{t('Login.noaccount')}}<span
          class="body-semi-14-purple-Accent" style="cursor: pointer;"><u>{{t('Login.signup')}}</u></span></p>
    </div>
    <div class="left"> 
      <app-corosalimage *ngIf ="isToggle"></app-corosalimage>
      <app-textanimation *ngIf ="!isToggle"></app-textanimation>
      



      <!-- <div class="container_slider">
        <div class="imageslide" style="padding-left: 20px;">
          <ng-template ngFor [ngForOf]="slides" let-slide let-i="index">
            <img class="slideimage" *ngIf="isCurrentSlideIndex(i)" (swiperight)="nextSlide()" (swipeleft)="prevSlide()"
              [src]="slide.image">
          </ng-template>
        </div>
        <nav class="nav">
          <div class="wrapper">
            <ul class="dots">
              <li class="dot" *ngFor="let slide of slides; let i = index;">
                <span [ngClass]="{'active':isCurrentSlideIndex(i)}"
                  (click)="setCurrentSlideIndex(i);">{{slide.description}}</span>
              </li>
            </ul>
          </div>
        </nav>
      </div> -->
    </div>
    <app-translate></app-translate>

  </mat-card>
</div>

<app-gbappfooter style="position: fixed; bottom: 0px; left: 0px; width: 100%;"></app-gbappfooter>