<div class="dbtable">
    <p class="Op">
        Opening : {{rowData[0].FinalOpening.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}} {{rowData[0].FinalOpening > 0 ? 'Dr' : 'Cr'}}
      </p>
      
      <p class="Db">Debit :{{rowData[0].FinalDebit.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>
    <p class="Cr">Credit :{{rowData[0].FinalCredit.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>

      <p class="Cl">
        Closing : {{rowData[0].FinalClosing.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}} {{rowData[0].FinalClosing > 0 ? 'Dr' : 'Cr'}}
      </p>
      
  
    
       
        <!-- <p class="Cl">Closing :{{rowData[0].FinalClosing.toLocaleString(undefined, { maximumFractionDigits: 2,
            minimumFractionDigits: 2 })}}</p> -->
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 80px">Opening</th>
                <th></th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">Debit</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">Credit</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 80px">Closing</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary">{{data.AccountScheduleCode }}</td>
                <td class="td cap2-med-12-type-primary">{{data.AccountScheduleName}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px">{{data.Opening.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.Opening > 0 ? 'D' : 'C'}}</td><td></td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px">{{data.Debit.toLocaleString(undefined, { maximumFractionDigits:
                    2, minimumFractionDigits: 2 })}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px">{{data.Credit.toLocaleString(undefined, { maximumFractionDigits:
                    2, minimumFractionDigits: 2 })}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px;">{{data.Closing.toLocaleString(undefined, { maximumFractionDigits:
                    2, minimumFractionDigits: 2 })}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.Closing > 0 ? 'D' : 'C'}}</td>
            </tr>
        </tbody>
    </table>
</div>