@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
 .C2C {
   margin-left: 790px;
   margin-bottom: -20px;
   color: black;
   font-weight: bold;
  }
 
  .CPH {
   margin-left: 945px;
   margin-bottom:-20px;
   color: black;
   font-weight: bold;
  }
  .RPH {
     margin-left: 1130px;
     margin-bottom:0px;
     color: black;
     font-weight: bold;
    }

 
 