<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="DAPointGroupJSON.default.ObjectFields[0].DAPointGroupCode"
        formControlName='DAPointGroupCode' (Onselectdata)="DAPointGroupValue($event)"
        [defaultvalue]="form.get('DAPointGroupCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="DAPointGroupJSON.default.ObjectFields[0].DAPointGroupName"
        formControlName='DAPointGroupName' (Onselectdata)="DAPointGroupValue($event)"
        [defaultvalue]="form.get('DAPointGroupName').value"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="DAPointGroupJSON.default.ObjectFields[0].DAPointGroupDAPointGroupSet"
        formControlName='DAPointGroupDAPointGroupSet' (Onselectdataids)="DAPointGroupNot($event)"
        [defaultvalue]="form.get('DAPointGroupDAPointGroupSet').value"></app-entitylookup>
 
           <app-gb-input formControlName='DAPointGroupBaseIndex'></app-gb-input>

           <app-gb-input formControlName='DAPointGroupRatePerPoint'></app-gb-input>


    </form>
    </div>