<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup  [PicklistObj]="InspectionAreaJSON.default.ObjectFields[0].InspectionAreaArea"
            formControlName='InspectionAreaArea' (Onselectdata)="InspectionAreaPicklistFillValue($event)"
            [defaultvalue]="form.get('InspectionAreaArea').value"></app-entitylookup>


        <app-entitylookup  [PicklistObj]="InspectionAreaJSON.default.ObjectFields[0].InspectionAreaType"
            formControlName='InspectionAreaType' (Onselectdataids)="InspectionAreaPicklistPatchValue($event)"
            [defaultvalue]="form.get('InspectionAreaType').value"></app-entitylookup>


        <app-entitylookup [PicklistObj]="InspectionAreaJSON.default.ObjectFields[0].WorkCenterName" formControlName='WorkCenterName'
            (Onselectdataids)="InspectionAreaPicklistPatchValue($event)"
            [defaultvalue]="form.get('WorkCenterName').value"></app-entitylookup>

            <app-gb-input formControlName='InspectionAreaSortOrder'></app-gb-input>

            <app-gb-textarea formControlName='InspectionAreaRemarks'></app-gb-textarea>
    </form>
</div>