<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup [PicklistObj]="ReportFormatjson.default.ObjectFields[0].ModuleName"
            formControlName='ModuleName' (Onselectdataids)="ReportFormatPatchValue($event)"
            [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>

            <app-entitylookup [PicklistObj]="ReportFormatjson.default.ObjectFields[0].ClientName"
            formControlName='ClientName' (Onselectdataids)="ReportFormatPatchValue($event)"
            [defaultvalue]="form.get('ClientName').value" class="KeyField"></app-entitylookup>
        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="ReportFormatjson.default.ObjectFields[0].ReportFormatCode"
            formControlName='ReportFormatCode' (Onselectdata)="ReportFormatFillFunction($event)"
            [defaultvalue]="form.get('ReportFormatCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="ReportFormatjson.default.ObjectFields[0].ReportFormatName"
            formControlName='ReportFormatName' (Onselectdata)="ReportFormatFillFunction($event)"
            [defaultvalue]="form.get('ReportFormatName').value"></app-entitylookup>

        <br>
        <app-gb-input formControlName='ReportFormatReportFile' class="KeyField"></app-gb-input>
      
        <br>
        <app-gb-input formControlName='ReportFormatDataSourceFileName' class="KeyField"></app-gb-input>

        <app-entitylookup class="KeyField" [PicklistObj]="ReportFormatjson.default.ObjectFields[0].WebServiceName"
            formControlName='WebServiceName' (Onselectdataids)="ReportFormatPatchValue($event)"
            [defaultvalue]="form.get('WebServiceName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="ReportFormatjson.default.ObjectFields[0].ReportFormatPurpose"
            formControlName='ReportFormatPurpose' (Onselectdataids)="ReportFormatPatchValue($event)"
            [defaultvalue]="form.get('ReportFormatPurpose').value"></app-entitylookup>
        <br>

        <app-entitylookup class="KeyField" [PicklistObj]="ReportFormatjson.default.ObjectFields[0].ReportFormatSection"
            formControlName='ReportFormatSection' (Onselectdataids)="ReportFormatPatchValue($event)"
            [defaultvalue]="form.get('ReportFormatSection').value"></app-entitylookup>

        <app-gb-input formControlName='ReportFormatISOReferenceNumber' class="KeyField"></app-gb-input>

        <br>
        <app-gb-textarea formControlName='ReportFormatRemarks' class="KeyField"></app-gb-textarea>
        <app-gb-checkbox formControlName='ReportFormatIsPrintLogo' class="KeyField"></app-gb-checkbox>


    </form>
</div>