<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <div style="display: flex; align-items: flex-end;">
            <span>
                <app-entitylookup [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CodeDefineCategoryName"
                    formControlName='CodeDefineCategoryName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CodeDefineCategoryName').value"></app-entitylookup>
            </span>
            <span>
                <app-gb-checkbox formControlName='ShowArchiveValue'></app-gb-checkbox>
            </span>
            <span>
                <app-gb-combobox formControlName="EmployeeEmployerStatus" style="margin-left: auto;"></app-gb-combobox>
            </span>
        </div>

        <br>

        <app-entitylookup class="KeyField" [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeCode"
            formControlName='EmployeeCode' (Onselectdata)="RVLEmployeeMasterFillFunction($event)"
            [defaultvalue]="form.get('EmployeeCode').value"></app-entitylookup>
        <br>


        <app-gb-input formControlName='FirstName' (InputOutPut)="FirstNamePatch($event)"
            class="KeyField"></app-gb-input>
        <app-gb-input class="KeyField" formControlName='EmployeeName'></app-gb-input>
        <br>

        <app-gb-input class="KeyField" formControlName='MiddleName'
            (InputOutPut)="MiddleNamePatch($event)"></app-gb-input>
        <app-gb-combobox class="KeyField" formControlName="EmployeeStatus"></app-gb-combobox>
        <br>

        <app-gb-input class="KeyField" formControlName='LastName' (InputOutPut)="LastNamePatch($event)"></app-gb-input>
        <app-gb-date class="KeyField" formControlName='EmployeeVersionFrom' [date]="form.get('EmployeeId').value"
            [default]="'today'"></app-gb-date>



        <br>

        <app-gb-date formControlName='EmployeeDateOfIntimation' [date]="form.get('EmployeeId').value"
            [default]="'today'" *ngIf="form.get('EmployeeEmployerStatus').value==1"></app-gb-date>

        <app-gb-date formControlName='EmployeeDateOfResignation' [date]="form.get('EmployeeId').value"
            [default]="'today'" *ngIf="form.get('EmployeeEmployerStatus').value==1"></app-gb-date>

        <app-gb-input formControlName='EmployeeReasonForLeaving'
            *ngIf="form.get('EmployeeEmployerStatus').value==1"></app-gb-input>

        <app-gb-input class="KeyField" formControlName='EmployeeSortingEmployee' style="display: none;"></app-gb-input>



        <div class="TabView">
            <!-- Employee Master TAB Button -->
            <div class="FormTab">
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Working')">Working</button>

                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Personal')">Personal</button>

                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Company')">Company</button>

                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Attendance')">Attendance</button>

                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Salary')">Salary*</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'PF')">PF</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'ESI')">ESI</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Physical')">Physical</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Applicable')">Applicable</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Addon')">Addon</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Product')">Product</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Contact')">Contact</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Present Address')">Present
                    Address</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Permanent Address')">Permanent
                    Address</button>
            </div>
            <!-- Working Tab -->
            <div id="Working" class="tabcontent">

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeTypeName"
                    formControlName='EmployeeTypeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('EmployeeTypeName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].DepartmentName"
                    formControlName='DepartmentName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('DepartmentName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].DesignationName"
                    formControlName='DesignationName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('DesignationName').value"></app-entitylookup>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].PayGroupName"
                    formControlName='PayGroupName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('PayGroupName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].SegmentName"
                    formControlName='SegmentName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('SegmentName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].JobPositionName"
                    formControlName='JobPositionName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('JobPositionName').value"></app-entitylookup>

                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].StaffTypeName"
                    formControlName='StaffTypeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('StaffTypeName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].UnitName" formControlName='UnitName'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('UnitName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].SalaryGradeName"
                    formControlName='SalaryGradeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('SalaryGradeName').value"></app-entitylookup>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].WorkTypeName"
                    formControlName='WorkTypeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('WorkTypeName').value"></app-entitylookup>

                    <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].LocationName"
                    formControlName='LocationName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('LocationName').value"></app-entitylookup>

                    <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].DAPointGroupName"
                    formControlName='DAPointGroupName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('DAPointGroupName').value"></app-entitylookup>


                <!-- 

                

             
                <br>
                


                
               

                <br>

               


                
              

                <br>


                


                

                 -->


            </div>
            <!-- Personal Tab -->
            <div id="Personal" class="tabcontent">
                <app-gb-input class="KeyField" formControlName='EmployeeFatherName'></app-gb-input>

                <app-gb-date class="KeyField" formControlName='EmployeeDateOfBirth'
                    [date]="form.get('EmployeeId').value" [default]="'today'"
                    (DateOutPut)="GetEmployeeAge($event)"></app-gb-date>

                <app-gb-input class="KeyField" formControlName='EmployeeAge'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeMotherName'></app-gb-input>

                <app-gb-date class="KeyField" formControlName='EmployeeActualDateOfBirth'
                    [date]="form.get('EmployeeId').value" [default]="'today'"></app-gb-date>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CasteName" formControlName='CasteName'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CasteName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeBloodGroup"
                    formControlName='EmployeeBloodGroup' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('EmployeeBloodGroup').value"></app-entitylookup>
                <br>

                <app-gb-radiobox class="KeyField" formControlName='EmployeeSex'></app-gb-radiobox>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].NationalityName"
                    formControlName='NationalityName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('NationalityName').value"></app-entitylookup>
                <br>
                <app-gb-combobox class="KeyField" formControlName="EmployeeMaritalStatus"></app-gb-combobox>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].ReligionName"
                    formControlName='ReligionName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('ReligionName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeAdharNumber'></app-gb-input>


                <app-gb-input class="KeyField" formControlName='EmployeeNominee'></app-gb-input>
                <br>

                <app-gb-input class="KeyField" formControlName='EmployeeSpouseName'
                    *ngIf="form.get('EmployeeMaritalStatus').value==1"></app-gb-input>

                <app-gb-input class="KeyField" formControlName='EmployeeNomineeRelation'></app-gb-input>

                <br>
                <app-gb-input class="KeyField" formControlName='EmployeePlaceOfBirth'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeNativePlace'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeNativeDistrict'></app-gb-input>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].VillageName"
                    formControlName='ReligionName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('ReligionName').value"></app-entitylookup>
                <br>




                <app-gb-textarea class="KeyField" formControlName='EmployeeExperience'></app-gb-textarea>
            </div>

            <!-- Company Tab -->
            <div id="Company" class="tabcontent">
                <app-gb-date class="KeyField" formControlName='EmployeeDateOfJoining'
                    [date]="form.get('EmployeeId').value" [default]="'today'"></app-gb-date>

                <app-gb-date class="KeyField" formControlName='EmployeeCalculatedDateOfRetirment'
                    [date]="form.get('EmployeeId').value" [default]="'today'"></app-gb-date>
                <br>
                <app-gb-date class="KeyField" formControlName='EmployeeProbationStartDate'
                    [date]="form.get('EmployeeId').value" [default]="'today'"></app-gb-date>

                <app-gb-date class="KeyField" formControlName='EmployeeActualDateOfRetirment'
                    [date]="form.get('EmployeeId').value" [default]="'today'"></app-gb-date>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeTrainingPeriod'></app-gb-input>

                <app-gb-combobox class="KeyField" formControlName="EmployeeIsCrossOU"></app-gb-combobox>
                <br>

                <app-gb-date class="KeyField" formControlName='EmployeeTrainingendingDate'
                    [date]="form.get('EmployeeId').value" [default]="'today'"></app-gb-date>

                <app-gb-combobox class="KeyField" formControlName="EmployeeCostCenterType"></app-gb-combobox>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].OUGroupName"
                    formControlName='OUGroupName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('OUGroupName').value"
                    *ngIf="form.get('EmployeeIsCrossOU').value==0"></app-entitylookup>
                <br>

                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsConfirmed'></app-gb-checkbox>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CostCenterCode"
                    formControlName='CostCenterCode' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CostCenterCode').value"
                    *ngIf="form.get('EmployeeCostCenterType').value==0"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CostCenterAllocationName"
                    formControlName='CostCenterAllocationName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CostCenterAllocationName').value"
                    *ngIf="form.get('EmployeeCostCenterType').value==1"></app-entitylookup>
                <br>

                <app-gb-date class="KeyField" formControlName='EmployeeDateOfConfirmation'
                    [date]="form.get('EmployeeId').value" [default]="'today'"></app-gb-date>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeCommonName"
                    formControlName='EmployeeCommonName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('EmployeeCommonName').value"></app-entitylookup>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].WorkOUName"
                    formControlName='WorkOUName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('WorkOUName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].ResourceTypeName"
                    formControlName='ResourceTypeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('ResourceTypeName').value"></app-entitylookup>

                <br>

                <app-gb-input class="KeyField" formControlName='EmployeeLegacyEmployeeCode'></app-gb-input>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].GratuityGroupName"
                    formControlName='GratuityGroupName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('GratuityGroupName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeNoticePeriodInDays'></app-gb-input>
                <br>
                <app-gb-combobox class="KeyField" formControlName="EmployeeNature"></app-gb-combobox>
                <br>
                <span class="spanLabel" *ngIf="form.get('EmployeeNature').value==1">Date of Rejoin</span>
                <span class="spanLabel" *ngIf="form.get('EmployeeNature').value==2">Gratuity Eligible From</span>
                <app-gb-date class="KeyField dateChange" formControlName='EmployeeDateOfReJoin'
                    [date]="form.get('EmployeeId').value" [default]="'today'"
                    *ngIf="form.get('EmployeeNature').value==1 || form.get('EmployeeNature').value==2"></app-gb-date>

                <br>



            </div>

            <!-- Attendance Tab -->
            <div id="Attendance" class="tabcontent">
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].ShiftDescription"
                    formControlName='ShiftDescription' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('ShiftDescription').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='EmployeeTemporaryCardNumber'></app-gb-input>

                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsDailyReport'></app-gb-checkbox>
                <br>

                <app-gb-input class="KeyField" formControlName='shiftpattern'></app-gb-input>

                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsTimeSheetRequired'></app-gb-checkbox>
                <br>
                <app-gb-input class="KeyField" formControlName='shiftdate'></app-gb-input>
                <mat-icon style="padding: 0px 0px 30px 0px; cursor: pointer;" (click)="addnew(template3)">Assign/Change
                    Shift Pattern</mat-icon>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CalendarName"
                    formControlName='CalendarName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CalendarName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].ReportInttoEmployeeName"
                    formControlName='ReportInttoEmployeeName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('ReportInttoEmployeeName').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].AdminReportingToName"
                    formControlName='AdminReportingToName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('AdminReportingToName').value"></app-entitylookup>
                <br>

                <app-gb-combobox class="KeyField" formControlName="EmployeeWeekOfDay"></app-gb-combobox>
                <br>
                <app-gb-combobox class="KeyField" formControlName="EmployeeAttendanceType"></app-gb-combobox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeLocationNames"
                    formControlName='EmployeeLocationNames' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('EmployeeLocationNames').value"></app-entitylookup>
                <br>
                <app-gb-combobox class="KeyField" formControlName="EmployeePunchType"></app-gb-combobox>

                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsPostingRequired'></app-gb-checkbox>
            </div>

            <!-- Salary Tab -->
            <div id="Salary" class="tabcontent">
                <app-gb-radiobox formControlName='EmployeeBasicOn'></app-gb-radiobox>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].PayConfigurationName"
                    formControlName='PayConfigurationName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('PayConfigurationName').value"></app-entitylookup>

                <app-gb-combobox class="KeyField" formControlName="EmployeeIsTDSApplicable"></app-gb-combobox>
                <br>
                <app-gb-combobox class="KeyField" formControlName="EmployeePayMode"></app-gb-combobox>

                <app-gb-input class="KeyField" formControlName='EmployeePANNumber'></app-gb-input>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeBankBranchName"
                    formControlName='EmployeeBankBranchName'
                    (Onselectdataids)="RVLEmployeeMasterRetrievalFillFunction($event)"
                    [defaultvalue]="form.get('EmployeeBankBranchName').value"></app-entitylookup><mat-icon
                    style="padding: 0px 0px 30px 0px; cursor: pointer;" (click)="addnew(template)">add_box</mat-icon>

                <app-gb-combobox class="KeyField" formControlName="EmployeeOTPayMode"></app-gb-combobox>


                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].BankName" formControlName='BankName'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('BankName').value"></app-entitylookup><mat-icon
                    style="padding: 0px 0px 30px 0px; cursor: pointer;" (click)="addnew(template2)">add_box</mat-icon>

                <app-gb-combobox class="KeyField" formControlName="EmployeeOtType"></app-gb-combobox>


                <br>
                <app-gb-input class="KeyField" formControlName='BankBranchName'></app-gb-input>
                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsPiRequired'></app-gb-checkbox>

                <br>

                <app-gb-input class="KeyField" formControlName='EmployeeAccountNumber'></app-gb-input>

                <!-- <app-gb-input class="KeyField" formControlName='EmployeePANNumber'></app-gb-input> -->

                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeIBANNumber'></app-gb-input>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].SalaryAccountName"
                    formControlName='SalaryAccountName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('SalaryAccountName').value"></app-entitylookup>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].AdvanceAccountName"
                    formControlName='AdvanceAccountName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('AdvanceAccountName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].AccountName"
                    formControlName='AccountName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('AccountName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CurrencyName"
                    formControlName='CurrencyName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CurrencyName').value"></app-entitylookup>
            </div>
            <!-- PF Tab -->
            <div id="PF" class="tabcontent">

                <app-gb-combobox class="KeyField" formControlName="EmployeeIsPFApplicable"></app-gb-combobox>

                <app-gb-radiobox style="display: none;" formControlName='EmployeePFStatus'></app-gb-radiobox>

                <app-gb-date class="KeyField" formControlName='EmployeePFJoinDate' [date]="form.get('EmployeeId').value"
                    [default]="'today'"></app-gb-date>

                <br>

                <app-gb-input class="KeyField" formControlName='EmployeePFNumber'></app-gb-input>

                <app-gb-date class="KeyField" formControlName='EmployeePFEndDate' [date]="form.get('EmployeeId').value"
                    [default]="'today'"></app-gb-date>

                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeEmployeePFPercentage'></app-gb-input>
                <p class="KeyField">(99.999)</p>
                <app-gb-input style="display: none;" formControlName='EmployeeStatutorypfPercentage'></app-gb-input>

                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeEmployerPFPercentage'></app-gb-input>
                <p class="KeyField">(99.999)</p>
                <app-gb-textarea class="KeyField" formControlName='EmployeeReasonForPFLeaving'></app-gb-textarea>
                <br>

                <br>
                <app-gb-input class="KeyField" formControlName='EmployeePFUANNumber'></app-gb-input>

                <app-gb-combobox class="KeyField" formControlName="EmployeeIsFamilyPension"
                    (ComboBoxOutPut)="FindValue($event)"></app-gb-combobox>



                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeFamilyPensionNumber'
                    *ngIf="form.get('EmployeeIsFamilyPension').value==0"></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeFamilyPensionPercentage'
                    *ngIf="form.get('EmployeeIsFamilyPension').value==0"></app-gb-input>

                <app-gb-input style="display: none;" formControlName='EmployeeAccountNumber'></app-gb-input>
            </div>
            <!-- ESI Tab -->
            <div id="ESI" class="tabcontent">
                <app-gb-combobox class="KeyField" formControlName="EmployeeIsESIApplicable"></app-gb-combobox>
                <app-gb-input class="KeyField" formControlName='EmployeeESIDispensary'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeESINumber'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='EmployeeEmployeeESIPercentage'></app-gb-input>
                <span>(99.999)</span>
                <br>
                <app-gb-date class="KeyField" formControlName='EmployeeESIJoinDate'
                    [date]="form.get('EmployeeId').value" [default]="'today'"></app-gb-date>
                <span>(01/Jan/9999)</span>

                <app-gb-radiobox formControlName='EmployeeESIStatus' style="display: none;"></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='EmployeeEmployerESIPercentage'></app-gb-input>
                <span>(99.999)</span>
                <br>
                <app-gb-date class="KeyField" formControlName='EmployeeESIEndDate' [date]="form.get('EmployeeId').value"
                    [default]="'today'"></app-gb-date>
                <span>(01/Jan/9999)</span>
                <app-gb-textarea class="KeyField" formControlName='EmployeeReasonForESILeaving'></app-gb-textarea>
                <br>



                <app-gb-combobox class="KeyField" formControlName="EmployeeIsESIHourlyContribution"></app-gb-combobox>

            </div>

            <!-- Physical Tab -->

            <div id="Physical" class="tabcontent">
                <app-gb-input class="KeyField" formControlName='EmployeeHeightInCMS'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='EmployeeChestSize'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeeWeightInKGS'></app-gb-input>
                <app-gb-combobox class="KeyField" formControlName="EmployeeIsHandiCapped"></app-gb-combobox>
                <br>
                <app-gb-textarea class="KeyField" formControlName='EmployeeIdentificationMark'></app-gb-textarea>
                <app-gb-textarea class="KeyField" formControlName='EmployeePhysicalCondition'></app-gb-textarea>
            </div>
            <!-- Product Tab -->
            <div id="Product" class="tabcontent">
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeProductCategoryNames"
                    formControlName='EmployeeProductCategoryNames'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('EmployeeProductCategoryNames').value"></app-entitylookup>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].EmployeeProductPriceCategoryNames"
                    formControlName='EmployeeProductPriceCategoryNames'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('EmployeeProductPriceCategoryNames').value"></app-entitylookup>
            </div>
            <!-- Applicable Tab -->
            <div id="Applicable" class="tabcontent">
                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsPurchase'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsSales'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsService'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsProduction'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsUser'></app-gb-checkbox>
                <br>
                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsMarketing'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsPlanning'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='EmployeeIsContract'></app-gb-checkbox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].RoleName" formControlName='RoleName'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)" [defaultvalue]="form.get('RoleName').value"
                    *ngIf="form.get('EmployeeIsUser').value==0"></app-entitylookup>
                <app-gb-radiobox class="KeyField" formControlName='PasswordType'
                    *ngIf="form.get('EmployeeIsUser').value==0"></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='Password'
                    *ngIf="form.get('EmployeeIsUser').value==0"></app-gb-input>
            </div>
            <!-- Cantact Tab -->
            <div id="Contact" class="tabcontent">
                <app-gb-input class="KeyField" formControlName='EmployeePrimaryEMailId'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='EmployeePrimaryMobile'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='SecondaryMailId'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='SecondaryMobile'></app-gb-input>
                <br>

                <span class="FormSubHeading" style="width: 380px;display: inline-block;">---------Emergency Contact
                    Details--------- </span>
                <br>

                <span class="KeyField">Salutation</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactSalutation'></app-gb-input></span>

                <span class="KeyField">Emergency No1</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactMobileNo'></app-gb-input></span>

                <br>
                <span class="KeyField">Contact Name</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactName'></app-gb-input></span>

                <span class="KeyField">Emergency No2</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactPhoneNo'></app-gb-input></span>

                <br>
                <span class="KeyField">Relationship</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactRelationShip'></app-gb-input></span>

                <span class="KeyField">Email</span>
                <span formGroupName='ContactDTO'><app-gb-input class="KeyField"
                        formControlName='ContactMailId'></app-gb-input></span>

            </div>
            <!-- Present Address Tab -->
            <div id="Present Address" class="tabcontent">
                <p class="KeyField">Address1</p>

                <span formGroupName='PresentAddressDTO'><app-gb-input class="KeyField"
                        formControlName='AddressLine1'></app-gb-input></span>

                <p class="KeyField">Zip Code</p>

                <span formGroupName='PresentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressZipCode'></app-gb-input>
                </span>

                <span formGroupName='PresentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CountryName"
                        formControlName='CountryName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PresentAddressDTO').value.CountryName"></app-entitylookup>
                </span>
                <br>

                <span class="KeyField">Address2</span>
                <span formGroupName='PresentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressLine2'></app-gb-input>
                </span>

                <span formGroupName='PresentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CityName"
                        formControlName='CityName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PresentAddressDTO').value.CityName"></app-entitylookup>
                </span>

                <span class="KeyField">Mobile No</span>
                <span formGroupName='PresentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressMobile'></app-gb-input>
                </span>

                <br>
                <span class="KeyField">Address3 </span>
                <span formGroupName='PresentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressLine3'></app-gb-input>
                </span>

                <span formGroupName='PresentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].StateName"
                        formControlName='StateName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PresentAddressDTO').value.StateName"></app-entitylookup>
                </span>

                <span class="KeyField">Phone No</span>
                <span formGroupName='PresentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressPhone'></app-gb-input>
                </span>

            </div>

            <!-- Permanent Address Tab -->
            <div id="Permanent Address" class="tabcontent">

                <app-gb-checkbox class="KeyField" formControlName='Employeefilladdress'
                    (CheckBoxOutPut)="getPresentAddress($event)"></app-gb-checkbox>


                <br>

                <p class="KeyField">Address1</p>

                <span formGroupName='PermanentAddressDTO'><app-gb-input class="KeyField"
                        formControlName='AddressLine1'></app-gb-input></span>

                <p class="KeyField">Zip Code</p>

                <span formGroupName='PermanentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressZipCode'></app-gb-input>
                </span>

                <span formGroupName='PermanentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CountryName"
                        formControlName='CountryName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PermanentAddressDTO').value.CountryName"></app-entitylookup>
                </span>
                <br>

                <span class="KeyField">Address2</span>
                <span formGroupName='PermanentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressLine2'></app-gb-input>
                </span>

                <span formGroupName='PermanentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CityName"
                        formControlName='CityName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PermanentAddressDTO').value.CityName"></app-entitylookup>
                </span>

                <span class="KeyField">Mobile No</span>
                <span formGroupName='PermanentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressMobile'></app-gb-input>
                </span>

                <br>
                <span class="KeyField">Address3 </span>
                <span formGroupName='PermanentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressLine3'></app-gb-input>
                </span>

                <span formGroupName='PermanentAddressDTO'>
                    <app-entitylookup class="KeyField"
                        [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].StateName"
                        formControlName='StateName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                        [defaultvalue]="form.get('PermanentAddressDTO').value.StateName"></app-entitylookup>
                </span>
                <span class="KeyField">PhoneNumber</span>
                <span formGroupName='PermanentAddressDTO'>
                    <app-gb-input class="KeyField" formControlName='AddressPhone'></app-gb-input>
                </span>



                <!-- <app-gb-input class="KeyField" formGroupName='PermanentAddressDTO'
                    formControlName='AddressLine1'></app-gb-input>

                <app-gb-input class="KeyField" formGroupName='PermanentAddressDTO'
                    formControlName='PartyZipCode'></app-gb-input>

                <app-entitylookup class="KeyField" formGroupName='PermanentAddressDTO'
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CountryName"
                    formControlName='CountryName' (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CountryName').value"></app-entitylookup>

                <br>

                <app-gb-input class="KeyField" formGroupName='PermanentAddressDTO'
                    formControlName='AddressLine2'></app-gb-input>

                <app-entitylookup class="KeyField" formGroupName='PermanentAddressDTO'
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].CityName" formControlName='CityName'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('CityName').value"></app-entitylookup>
                <span formGroupName='PermanentAddressDTO'><app-gb-input class="KeyField"
                        formControlName='MobileNumber'></app-gb-input></span>

                <br>
                <app-gb-input class="KeyField" formGroupName='PermanentAddressDTO'
                    formControlName='AddressLine3'></app-gb-input>

                <app-entitylookup class="KeyField" formGroupName='PermanentAddressDTO'
                    [PicklistObj]="RVLEmployeeMasterJSON.default.ObjectFields[0].StateName" formControlName='StateName'
                    (Onselectdataids)="RVLEmployeeMasterPatchValue($event)"
                    [defaultvalue]="form.get('StateName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formGroupName='PermanentAddressDTO'
                    formControlName='PhoneNumber'></app-gb-input> -->

            </div>

            <!-- <ng-template #template>
                <h4>Bank Branch</h4>
                <app-General (Onselectdata)="BankBranchPicklistFillValue($event)"></app-General>
                <button mat-stroked-button color="primary" (click)="newsave()">Save</button>
            </ng-template> -->

            <ng-template #template2>
                <h4>Bank</h4>
                <app-Bank (Onselectdata)="BankFillFunction($event)"></app-Bank>
                <button mat-stroked-button color="primary" (click)="newsave2()">Save</button>
            </ng-template>

            <ng-template #template3>
                <h4>Bank</h4>
                <app-Bank (Onselectdata)="BankFillFunction($event)"></app-Bank>
                <button mat-stroked-button color="primary" (click)="newsave2()">Save</button>
            </ng-template>


        </div>

    </form>
</div>