<!-- <ActionBar class="action-bar">
    <GridLayout columns="*,2*,*" rows="*" width="100%">
        <Label text="Add New Account" row="0" col="1"></Label>
    </GridLayout>
</ActionBar>


<GridLayout rows="*,80">
    <ScrollView>
        <stacklayout row="0">
            <form [formGroup]="form">


            <stacklayout class="input-field" marginTop="15">
                <TextField class="gb-textfield accheight" id="Server" hint="Server Name" formControlName= "Server" >
                </TextField>
            </stacklayout>
            <stacklayout class="input-field">

                <TextField class="gb-textfield accheight" id="UserName" hint="Usercode"
                formControlName="UserName" >
                </TextField>
            </stacklayout>
            <stacklayout class="input-field">
                <TextField class="gb-textfield accheight" id="Password" secure="true" hint="Password"
                formControlName="Password"  >
                </TextField>
            </stacklayout>
        </form>
        </stacklayout>
    </ScrollView>
    <stacklayout row="1" verticalAlignment="bottom" marginBottom="10">
        <StackLayout>
            <Button text="Login" (tap)="login()"></Button>
        </StackLayout>
    </stacklayout>
</GridLayout> -->


<!-- <GridLayout columns="*,2*" rows="2*,3*" width="300" height="300" backgroundColor="lightgray">
    <Label text="Label 1" col="0" row="0" backgroundColor="red" ></Label>
    <Label text="Label 2" col="1" row="0" backgroundColor="green" ></Label>
    <Label text="Label 3" col="0" row="1" backgroundColor="blue" ></Label>
    <Label text="Label 4" col="1" row="1" backgroundColor="yellow" ></Label>
</GridLayout> -->


<ActionBar title="Add New Account"></ActionBar>
<GridLayout backgroundColor="black">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" height="600" backgroundColor="#FFFFFF">
                <form [formGroup]="form">
                    <StackLayout class="input-field" marginTop="80" marginLeft="18">
                        <Label text="Sign in to your account" color="black" class="label font-weight-bold"
                            fontSize="22"></Label>
                        <Label text="Please enter your credentials to login" color="black" class="label"
                            fontSize="12"></Label>
                    </StackLayout>
                    <stacklayout class="input-field" marginTop="20">
                        <TextField color="black" class="gb-textfield accheight" id="Server" hint="Server Name"
                            formControlName="Server">
                        </TextField>
                    </stacklayout>
                    <stacklayout class="input-field" marginTop="35">

                        <TextField color="black" class="gb-textfield accheight" id="UserName" hint="Usercode"
                            formControlName="UserName">
                        </TextField>
                    </stacklayout>
                    <stacklayout class="input-field" marginTop="35">
                        <TextField color="black" class="gb-textfield accheight" id="Password" secure="true"
                            hint="Password" formControlName="Password">
                        </TextField>
                    </stacklayout>
                </form>
                <stacklayout row="1" verticalAlignment="bottom" marginTop="35">
                    <StackLayout>
                        <Button class="Login" text="Login" (tap)="login()"></Button>
                    </StackLayout>
                    <Label text="Forgot password ?" color="black" class="label" color="Purple" marginLeft="13"
                        fontSize="15"></Label>
                    <Label text="-----------------------------------  or  -------------------------------------"
                        color="black" class="label" marginLeft="13" fontSize="15"></Label>
                </stacklayout>

                <stacklayout>
                    <Label text="Don't have an account?" color="black" class="noaccount" marginLeft="13"
                        fontSize="15"></Label>
                    <Label text="Sign Up" color="Purple" marginLeft="170" marginTop="-23"></Label>
                </stacklayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>