<div class='FormOverview' *ngIf="form.bFormReady">

    <form [formGroup]='form'>


        <app-entitylookup class="KeyField" [PicklistObj]="ForeCastSetJSON.default.ObjectFields[0].ForeCastSetCode"
            formControlName='ForeCastSetCode' (Onselectdata)="ForeCastSetFormVal($event)"
            [defaultvalue]="form.get('ForeCastSetCode').value"></app-entitylookup>

        <app-entitylookup   class="KeyField" [PicklistObj]="ForeCastSetJSON.default.ObjectFields[0].ForeCastSetName"
            formControlName='ForeCastSetName' (Onselectdata)="ForeCastSetFormVal($event)"
            [defaultvalue]="form.get('ForeCastSetName').value"></app-entitylookup>

        <br>
        <app-entitylookup [PicklistObj]="ForeCastSetJSON.default.ObjectFields[0].InchargeName"
            formControlName='InchargeName' (Onselectdataids)="ForeCastSetpatch($event)"
            [defaultvalue]="form.get('InchargeName').value" class="KeyField"></app-entitylookup>

        <app-gb-radiobox formControlName='ForeCastSetIsForeCastConsume' class="KeyField"></app-gb-radiobox>
        <br>

        <app-gb-combobox formControlName="ForeCastSetPeriodType" class="KeyField"></app-gb-combobox>

        <app-gb-input formControlName='ForeCastSetMaxPercentPerDocument' class="KeyField"
            *ngIf="form.get('ForeCastSetIsForeCastConsume').value == 0 "></app-gb-input>

        <br>
        <app-gb-combobox formControlName="ForeCastSetLevel" class="KeyField"></app-gb-combobox>

        <app-gb-input formControlName='ForeCastSetForwardDays' class="KeyField"
            *ngIf="form.get('ForeCastSetIsForeCastConsume').value == 0 "></app-gb-input>

        <br>

        <app-gb-input formControlName='ForeCastSetBackwardDays' class="KeyField"
            *ngIf="form.get('ForeCastSetIsForeCastConsume').value == 0 "></app-gb-input>



    </form>
</div>