<div class='FormOverview' *ngIf="form.bFormReady">
  <form [formGroup]='form'>

    <app-entitylookup class="KeyField" [PicklistObj]="DeviceJSON.default.ObjectFields[0].DeviceCode"
      formControlName='DeviceCode' (Onselectdata)="DevicePicklistFillValue($event)"
      [defaultvalue]="form.get('DeviceCode').value"></app-entitylookup>

    <app-entitylookup class="KeyField" [PicklistObj]="DeviceJSON.default.ObjectFields[0].DeviceName"
      formControlName='DeviceName' (Onselectdata)="DevicePicklistFillValue($event)"
      [defaultvalue]="form.get('DeviceName').value"></app-entitylookup>
    <br>
    <app-entitylookup class="KeyField" [PicklistObj]="DeviceJSON.default.ObjectFields[0].DeviceTypeName"
      formControlName='DeviceTypeName' (Onselectdataids)="DevicePicklistPatchValue($event)"
      [defaultvalue]="form.get('DeviceTypeName').value"></app-entitylookup>

    <app-gb-combobox class="KeyField" formControlName='DeviceDeviceLocationType'></app-gb-combobox>
    <app-gb-checkbox class="KeyField" formControlName='DeviceIsVerified'></app-gb-checkbox>
    <br>
    <app-gb-radiobox class="KeyField" formControlName='DeviceDeviceUserType'></app-gb-radiobox>
    <span style="width: 360px;display: inline-block;">
      <app-entitylookup class="KeyField" [PicklistObj]="DeviceJSON.default.ObjectFields[0].OrganizationUnitName"
      formControlName='OrganizationUnitName' (Onselectdataids)="DevicePicklistPatchValue($event)"
      [defaultvalue]="form.get('OrganizationUnitName').value" *ngIf="form.get('DeviceDeviceLocationType').value == 1"
      ></app-entitylookup>
      <app-entitylookup class="KeyField" [PicklistObj]="DeviceJSON.default.ObjectFields[0].PartyName"
      formControlName='PartyName' (Onselectdataids)="DevicePicklistPatchValue($event)"
      [defaultvalue]="form.get('PartyName').value" *ngIf="form.get('DeviceDeviceLocationType').value == 2"
      ></app-entitylookup>
      <app-entitylookup class="KeyField" [PicklistObj]="DeviceJSON.default.ObjectFields[0].PartyBranchLocationName"
      formControlName='PartyBranchLocationName' (Onselectdataids)="DevicePicklistPatchValue($event)"
      [defaultvalue]="form.get('PartyBranchLocationName').value" *ngIf="form.get('DeviceDeviceLocationType').value == 3"
      ></app-entitylookup>
    </span>
    <app-gb-input class="KeyField" formControlName='DeviceMachineIp'></app-gb-input> 
    <br>
    <app-entitylookup class="KeyField" [PicklistObj]="DeviceJSON.default.ObjectFields[0].UserName" formControlName='UserName'
    (Onselectdataids)="DevicePicklistPatchValue($event)" [defaultvalue]="form.get('UserName').value"
    *ngIf="form.get('DeviceDeviceUserType').value == '0'"></app-entitylookup>
    <app-entitylookup class="KeyField" [PicklistObj]="DeviceJSON.default.ObjectFields[0].DeviceUserGroupName"
    formControlName='DeviceUserGroupName' (Onselectdataids)="DevicePicklistPatchValue($event)"
    [defaultvalue]="form.get('DeviceUserGroupName').value"
    *ngIf="form.get('DeviceDeviceUserType').value == '1'"></app-entitylookup>
    
    <span style="width: 360px;display: inline-block;">
      <app-entitylookup class="KeyField" [PicklistObj]="DeviceJSON.default.ObjectFields[0].PartyBranchName"
      formControlName='PartyBranchName' (Onselectdataids)="DevicePicklistPatchValue($event)"
      [defaultvalue]="form.get('PartyBranchName').value" *ngIf="form.get('DeviceDeviceLocationType').value == 2"
      ></app-entitylookup>
    </span>
    <app-gb-input class="KeyField" formControlName='DevicePortNumber'></app-gb-input>
    <br>
    <app-gb-textarea class="KeyField" formControlName='DeviceDeviceUniqueDetail'></app-gb-textarea>
    
  </form>
</div>