<div class="form-group" style="margin-top: 10px;margin-bottom: 10px;">
  <div>
    <Table>
      <tbody>
        <tr>
          <td class="form_label" *ngIf="Field?.Label != ''" [class.labelFocused]="isFocused"
            style="display: flex;justify-content: end;" [style.min-width.px]="Field?.LabelWidth == undefined ? 180 : Field?.LabelWidth">
            {{Field?.Label}}</td>
          <td style="height: auto;">
            <textarea #input matInput [ngStyle]="{'width.px': Field?.Width}" [formControl]='gbControl'
              name={{Field?.Name}} type='text' placeholder="{{Field?.Placeholder}}" maxlength={{Field?.MaxLength}}
              minlength={{Field?.MinLength}} [attr.minlength]="minLen" [attr.maxlength]="maxLen"
              class="textarea" pattern={{HtmlPattern}} [class.focused]="isFocused"
              (focus)="isFocused = true" (focusout)="isFocused = false" (input)="validateInput($event)"
              [readonly]="!isreadable"></textarea>
          </td>
        </tr>
      </tbody>
    </Table>
    </div>
</div>