@import url('./../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss');
@import url("https://fonts.googleapis.com/css?family=Helvetica");

.textarea {
    height: 65px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    outline-style: none;
    color: rgba(26, 26, 26, 0.87) !important;
    resize: both; /* Allow both height and width resizing */
    overflow: auto; /* Ensure proper overflow behavior */
    min-width: 100px; /* Set a minimum width */
    min-height: 50px; /* Set a minimum height */
    padding-top: 4px;
}

.focused {
    /* Add your focused styles here */
    border-bottom: 2px solid var(--color);
    /* For example */
    transition: .4s ease-in-out;
}

.labelFocused {
    color: var(--color);
    transition: .4s ease-in-out;
}

::ng-deep .mat-input-element::placeholder {
    color: rgba(26, 26, 26,0.5) !important;
    font-weight: 700;
    font-family: 'Helvetica';
    font-size: 14px;
    font-style: normal;
}

::placeholder {
    color: rgba(26, 26, 26,0.5) !important;
    font-family: 'Helvetica';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }