<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
         
        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].ActivityCode" formControlName='ActivityCode'
        (Onselectdata)="ActivityFillFunction($event)" [defaultvalue]="form.get('ActivityCode').value"></app-entitylookup>
        
        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].ActivityName" formControlName='ActivityName'
        (Onselectdata)="ActivityFillFunction($event)" [defaultvalue]="form.get('ActivityName').value"></app-entitylookup>


       <br>
        <app-gb-checkbox formControlName='ActivityIsProductive' class="KeyField"></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].ActivityTypeName" formControlName='ActivityTypeName'
        (Onselectdataids)="ActivityPatchValue($event)" [defaultvalue]="form.get('ActivityTypeName').value" ></app-entitylookup>
        <br>

        <app-gb-checkbox formControlName='ActivityIsExpense' class="KeyField"></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].BillAccountName" formControlName='BillAccountName'
        (Onselectdataids)="ActivityPatchValue($event)" [defaultvalue]="form.get('BillAccountName').value" ></app-entitylookup>

<br>
      

        <app-gb-checkbox formControlName='ActivityIsTravel' class="KeyField"></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].ExpenseAccountName" formControlName='ExpenseAccountName'
        (Onselectdataids)="ActivityPatchValue($event)" [defaultvalue]="form.get('ExpenseAccountName').value" ></app-entitylookup>

<br>

        <app-gb-checkbox formControlName='ActivityIsClaim' class="KeyField"></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].ItemName" formControlName='ItemName'
        (Onselectdataids)="ActivityPatchValue($event)" [defaultvalue]="form.get('ItemName').value" ></app-entitylookup>

<br>
        <app-gb-checkbox formControlName='ActivityRecoveryType' class="KeyField"></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].SKUName" formControlName='SKUName'
        (Onselectdataids)="ActivityPatchValue($event)" [defaultvalue]="form.get('SKUName').value" ></app-entitylookup>
      

        <br>

        <app-gb-checkbox formControlName='ActivityIsScore' class="KeyField"></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].UOMName" formControlName='UOMName'
        (Onselectdataids)="ActivityPatchValue($event)" [defaultvalue]="form.get('UOMName').value" ></app-entitylookup>
       
<br>

        <app-gb-checkbox formControlName='ActivityIsLetter' class="KeyField"></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].ParameterSetName" formControlName='ParameterSetName'
        (Onselectdataids)="ActivityPatchValue($event)" [defaultvalue]="form.get('ParameterSetName').value" ></app-entitylookup>

<br>

        <app-gb-checkbox formControlName='ActivityIsCityClass' class="KeyField"></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].ActivityApplicableResultsValue" formControlName='ActivityApplicableResultsValue'
        (Onselectdataids)="ActivityPatchValue($event)" [defaultvalue]="form.get('ActivityApplicableResultsValue').value" ></app-entitylookup>

        <br>

        <app-gb-checkbox formControlName='ActivityIsGrade' class="KeyField"></app-gb-checkbox>

        <app-entitylookup class="KeyField" [PicklistObj]="ActivityJSON.default.ObjectFields[0].ActivityApplicableStagesValue" formControlName='ActivityApplicableStagesValue'
        (Onselectdataids)="ActivityPatchValue($event)" [defaultvalue]="form.get('ActivityApplicableStagesValue').value" ></app-entitylookup>


        <app-gb-checkbox formControlName='ActivityIsMode'></app-gb-checkbox>

        <app-gb-checkbox formControlName='ActivityIsVehicleType'></app-gb-checkbox>

        <app-gb-checkbox formControlName='ActivityIsDistance'></app-gb-checkbox>

       

        <app-gb-input formControlName='ActivityRecoveryPercentage'></app-gb-input>

       
        <app-gb-textarea formControlName='ActivityRemarks'></app-gb-textarea>

        


    </form>
</div>