<div class="abb">
    <p>F : FullWorkingDay</p>
    <p>HW : HalfWorkingDay </p>
    <p>Woff : WeeklyOff</p>
    <p>L : Leave</p>
    <p>HL : HalfLeave</p>
    <p>CW : CompensateWorking</p>
    <p>COff : CompensateOff</p>
    <p>A : Absent</p>
    <p>H : Holiday</p>
    <p>O : Others</p>
</div>
<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <!-- <th class="th cap1-bold-12-white" >Sno</th> -->
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name</th>
          <th class="th cap1-bold-12-white" >Shift</th>
          <th class="th cap1-bold-12-white" >In</th>
          <th class="th cap1-bold-12-white" >Out</th>
          <th class="th cap1-bold-12-white" >Duration</th>
          <th class="th cap1-bold-12-white" >S</th>
          <th class="th cap1-bold-12-white" >Type</th>

        </tr>
      </thead>
      <tbody class="tbody">

        <tr *ngFor="let data of rowDatas">
          <!-- <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.sno}}</td> -->
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code | DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.name}}</td>
          <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.shift}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.timein}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.timeout}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.duration}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.daytype}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
            {{ data.type === "NONE" ? '' : data.type }}
        </td>
        
        </tr>
      </tbody>
    </table>
    </div>