@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';


.abb{
    display: flex;
    margin-top: 20px;
}


.abb p{
    color: black;
    font-weight: bold;
    padding-left: 20px;
}