<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="SubjectJSON.default.ObjectFields[0].SubjectCode"
        formControlName='SubjectCode' (Onselectdata)="SubjectValue($event)"
        [defaultvalue]="form.get('SubjectCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="SubjectJSON.default.ObjectFields[0].SubjectName"
        formControlName='SubjectName' (Onselectdata)="SubjectValue($event)"
        [defaultvalue]="form.get('SubjectName').value"></app-entitylookup>

        <app-gb-textarea formControlName='SubjectParticulars'></app-gb-textarea>

    </form>
</div>