<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup  [PicklistObj]="MeasureOptionJSON.default.ObjectFields[0].LovTypeName"
        formControlName='LovTypeName' (Onselectdataids)="onFileSelected($event)"
        [defaultvalue]="form.get('LovTypeName').value" (Onselectdataids)="GetCodeDefineId($event)"></app-entitylookup>

        <app-entitylookup class="KeyField" style="margin-top: 16px;" [PicklistObj]="MeasureOptionJSON.default.ObjectFields[0].LovCode"
        formControlName='LovCode' (Onselectdata)="MeasureOptionPicklistFillValue($event)"
        [defaultvalue]="form.get('LovCode').value"></app-entitylookup>
     
        <app-entitylookup class="KeyField" [PicklistObj]="MeasureOptionJSON.default.ObjectFields[0].LovName"
        formControlName='LovName' (Onselectdata)="MeasureOptionPicklistFillValue($event)"
        [defaultvalue]="form.get('LovName').value" ></app-entitylookup>
        
        <app-gb-input formControlName='LovScore'(input)="validatePercent($event)"></app-gb-input>


    </form>
</div>
