@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

::ng-deep .mat-dialog-container{
    min-width: 400px;
    border-radius: 12px;
}

.alertbutton{
    display: inline-block;
    width: 120px;
    height: 28px;
    border-radius: 4px;
    padding-top: 6px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Helvetica';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    background-color: var(--color);
    margin-right:20px ;
    cursor: pointer;
}