<div id="FilterPicklist">
  <h4 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <mat-toolbar role="toolbar" class="task-header">
      <span style="font-weight: 700;" class="headline-med-20-type-primary">{{title}}</span>
      <span class="fx-spacer"></span>
      <span class="closeicon" (click)="onClose()"><mat-icon>cancel</mat-icon></span>
      <!-- <button mat-icon-button (click)="onClose()">
      <mat-icon mat-list-icon>cancel</mat-icon>
    </button> -->
    </mat-toolbar>
  </h4>
  <div class="search-bar-and-buttons">
    <div class="search-bar-container">
      <input #myInput id="myInput" class="PicklistsearchBar" [maxlength]="maxlength" type='text' placeholder="Search" [(ngModel)]="searchText"
        (keyup)="quicksearch($event.target.value)">
      <mat-icon class="searchIcon" (click)="OnServiceCall()">search</mat-icon>
    </div>
    <div class="btns" *ngIf='showbutton'>
      <button mat-raised-button class="SelectButton" *ngIf="multiples=='multiple'" (click)='selecteddata()'>Select</button>
      <button mat-raised-button class="ClearButton" (click)="DeselectSelectedCells()">Clear</button>
    </div>
  </div>
  <div mat-dialog-content>
    <ag-grid-angular id="entityGrid" style="height: 420px;" class="ag-theme-material" [rowData]="rowData" (rowClicked)="!data.multiple ? selecteddata() : select()"
      [columnDefs]="columnDefs" [icons]="icons" [rowSelection]="multiples" (gridReady)="onGridReady($event)"
      (rowDoubleClicked)="selecteddata()">
    </ag-grid-angular>
  </div>
  <div class="icons" *ngIf='showbutton'>
    <img src="assets/icons/select.png" width="60px" height="60px" class="Selecticon" (click)='selecteddata()'>
    <img src="assets/icons/clear.png" width="60px" height="60px" class="Clearicon" (click)="DeselectSelectedCells()">
  </div>
</div>