@import './../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

#FilterPicklist{
  container-type: inline-size;
}

.task-header {
  background-color: transparent;
  padding: 0 5px;
  height: 20px;
  //  background-color: gray;
}

.fx-spacer {
  flex: 1 1 auto;
}

.closeicon {
  cursor: pointer;
  color: rgba(26, 26, 26, 0.87);
}

.PicklistsearchBar {
  border-bottom: 1px solid rgba(26, 26, 26, 0.5);
  width: 300px;
  height: 25px;
  font-size: 16px;
  font-family: 'Helvetica';
  outline-style: none;
  margin-bottom: 20px;
  margin-right: 10px;
  color: rgba(26, 26, 26, 0.87);
}

::placeholder {
  font-family: 'Helvetica';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgba(26, 26, 26, 0.87);
  /* 21px */
}



.searchIcon {
  cursor: pointer;
  font-size: 20px;
  width: 20px;
  height: 23px;
  margin-left: -10px;
  color: rgba(26, 26, 26, 0.5);
  border-bottom: 1px solid rgba(26, 26, 26, 0.5);
  margin-bottom: 18px;
  padding-bottom: 10px;
}

.SelectButton,
.ClearButton {
  color: #FFFFFF;
  height: 28px;
  border-radius: 4px;
  flex: 1;
  /* Use flex to distribute available space */
  max-width: 120px;
  box-sizing: border-box;
  /* Include padding and border in width calculation */
}

.SelectButton {
  background-color: #09926D;
  margin-right: 2%;
}

.ClearButton {
  // background-color: #E3170A;
  color: #ED2531;
  border: 1px solid #ED2531;
  margin-left: 16px;
}

.btns {
  margin-left: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: right;
  width: 100%;
}

.icons{
  display: none;
  justify-content: center;
}

.Selecticon{
  display: inline-block;
  margin-right: 40px;
}

.Clearicon{
  display: inline-block;
}

.ag-theme-material {
  --ag-odd-row-background-color: #F6F6F6;
}

::ng-deep.ag-theme-material .ag-header-cell {
  background-color: inherit !important;
  color: #FFFFFF;
}

// #entityGrid::ng-deep.ag-icon{
//   color: #FFFFFF;
// }

::ng-deep.ag-theme-material .ag-ltr .ag-header-cell:not(.ag-right-aligned-header) .ag-header-label-icon {
  color: #FFFFFF;
}

::ng-deep.ag-theme-material .ag-header{
  height: 36px !important;
  min-height: 36px !important;
  background: linear-gradient(90deg, #834DD0 0%, #CD309E 51.17%, #6E3AB6 100%);
}

::ng-deep.ag-theme-material .ag-header-cell:first-of-type:not(.ag-header-cell-moving):hover{
  background-color: inherit;
}

::ng-deep.ag-theme-material .ag-header-row{
  height: 36px !important;
}

::ng-deep.ag-theme-material .ag-icon-menu {
  background: transparent url(./../../../../apps/Goodbooks/Goodbooks/src/assets/icons/sort.png) center/contain no-repeat;
  color: transparent;
  background-size: 25px;
}

::ng-deep.mat-dialog-container {
  width: 650px;
  height: auto;
  resize: both;
  overflow: auto;
  background: #fff;
}

#entityGrid::ng-deep.ag-header-cell-text {
  font-family: 'Helvetica';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  /* 18px */
}

::ng-deep.ag-theme-material .ag-row{
  border-width: 0px;
}

#entityGrid::ng-deep.ag-body-horizontal-scroll-viewport {
  overflow: auto;
}


#entityGrid ::ng-deep.ag-body-viewport.ag-layout-normal {
  width: auto;
}

#entityGrid ::ng-deep .ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

#entityGrid ::ng-deep .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}

#entityGrid ::ng-deep .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb {
  background: var(--color);
}

#entityGrid ::ng-deep .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

#entityGrid ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

#entityGrid ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}

#entityGrid ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb {
  background: var(--color);
}

#entityGrid ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

::ng-deep.ag-theme-material .ag-header-select-all .ag-checkbox-input-wrapper.ag-checked::after{
  color: white;
}

::ng-deep.ag-theme-material .ag-header-select-all .ag-checkbox-input-wrapper::after{
  color: white;
}

::ng-deep.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after{
  color: var(--color);
}

::ng-deep.ag-theme-material .ag-row{
  height: 36px !important;
}

::ng-deep.ag-theme-material .ag-row-hover{
  background-color:#F6F6F6 5%
}

::ng-deep.ag-theme-material .ag-cell{
  // width: fit-content !important;
  // max-width: 200px !important;
  line-height: 36px !important;
}

// ::ng-deep.ag-center-cols-container{
  // width: auto !important;
// }

// .btns {
//   margin-left: 380px;
//   display: flex;
//   align-items: center;
//   margin-left: 10px;
// }

.search-bar-and-buttons {
  display: flex;
  align-items: center;
}

.search-bar-container {
  display: flex;
  align-items: center;
}

@container (max-width: 500px) {
  .btns{
    display: none !important;
  }

  .icons{
    display: flex !important;
  }
}