<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="Vehiclejson.default.ObjectFields[0].VehicleNumber"
            formControlName='VehicleNumber' (Onselectdata)="VehicleFillFunction($event)"
            [defaultvalue]="form.get('VehicleNumber').value"></app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="Vehiclejson.default.ObjectFields[0].VehicleOUIdsName"
            formControlName='VehicleOUIdsName' (Onselectdataids)="VehiclePatchValue($event)"
            [defaultvalue]="form.get('VehicleOUIdsName').value"></app-entitylookup>
        <br>
        <app-entitylookup [PicklistObj]="Vehiclejson.default.ObjectFields[0].VehicleTypeName"
            formControlName='VehicleTypeName' (Onselectdataids)="VehiclePatchValue($event)"
            [defaultvalue]="form.get('VehicleTypeName').value"></app-entitylookup>
        <app-gb-combobox formControlName="VehicleOwnerShipType"
            (ComboBoxOutPut)="ComboBoxOutPut($event)"></app-gb-combobox>
        <app-entitylookup [PicklistObj]="Vehiclejson.default.ObjectFields[0].AssetName" formControlName='AssetName'
            (Onselectdataids)="VehiclePatchValue($event)"
            [defaultvalue]="form.get('AssetName').value"></app-entitylookup>
        <app-entitylookup [PicklistObj]="Vehiclejson.default.ObjectFields[0].TransporterName"
            formControlName='TransporterName' (Onselectdataids)="VehiclePatchValue($event)"
            [defaultvalue]="form.get('TransporterName').value"></app-entitylookup>
        <app-gb-input formControlName='VehicleEmptyWeight' (InputOutPut)="InputOutPut($event)"></app-gb-input>
        <app-gb-input formControlName='VehicleTonnage' (InputOutPut)="InputOutPut($event)"></app-gb-input>
        <app-gb-input formControlName='VehicleMinimumTonnage' (InputOutPut)="InputOutPut($event)"></app-gb-input>
        <app-entitylookup [PicklistObj]="Vehiclejson.default.ObjectFields[0].InsurancePolicyNumber"
            formControlName='InsurancePolicyNumber' (Onselectdataids)="VehiclePatchValue($event)"
            [defaultvalue]="form.get('InsurancePolicyNumber').value"></app-entitylookup>
        <br>
        <app-entitylookup  class="KeyField" [PicklistObj]="Vehiclejson.default.ObjectFields[0].OwnerContactName"
            formControlName='OwnerContactName' (Onselectdataids)="VehiclePatchValue($event)"
            [defaultvalue]="form.get('OwnerContactName').value"></app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="Vehiclejson.default.ObjectFields[0].MakeCode"
            formControlName='MakeCode' (Onselectdataids)="VehiclePatchValue($event)"
            [defaultvalue]="form.get('MakeCode').value"></app-entitylookup>
        <br>
        <app-gb-combobox formControlName="VehicleYOM" (ComboBoxOutPut)="ComboBoxOutPut($event)"></app-gb-combobox>
        <app-gb-date class="KeyField" formControlName="VehicleRoadTaxValidity" [date]="form.get('VehicleId').value"
            [default]="'today'"></app-gb-date>
        <br>
        <app-gb-date formControlName="VehicleFCDate" [date]="form.get('VehicleId').value"
            [default]="'today'"></app-gb-date>
        <app-gb-date class="KeyField" formControlName="VehicleFCExpiryDate" [date]="form.get('VehicleId').value"
            [default]="'today'"></app-gb-date>
        <br>
        <app-entitylookup [PicklistObj]="Vehiclejson.default.ObjectFields[0].FuelTypeName"
            formControlName='FuelTypeName' (Onselectdataids)="VehiclePatchValue($event)"
            [defaultvalue]="form.get('FuelTypeName').value"></app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="Vehiclejson.default.ObjectFields[0].CapacityRangeCode"
            formControlName='CapacityRangeCode' (Onselectdataids)="VehiclePatchValue($event)"
            [defaultvalue]="form.get('CapacityRangeCode').value"></app-entitylookup>
    </form>
</div>