
<div class="abb">
    <p class="qty">Qty :{{quality | NumberFormat}}</p>
    <p class="tot">Total :{{total | NumberFormat}}</p>
</div>
<div class="dbtable">


    

    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Doc.No</th>
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 150px;">Qty</th>
                <th class="th cap1-bold-12-white" >UOM</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 150px;">Rate</th>
                <th class="th cap1-bold-12-white"  style="text-align: right; padding-right: 150px;">Value</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of tabledata">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.predocno |DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.itemcode}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.itemname |NumberFormat }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"  style="text-align: right; padding-right: 150px;">{{data.actualqty |NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" >{{data.transuom}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"  style="text-align: right; padding-right: 150px;">{{data.transrate |NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"  style="text-align: right; padding-right: 150px;">{{data.totalval |NumberFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>