.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  overflow:auto;
}

.styled-table thead tr {
  //background: rgb(131,51,216);
  // background: linear-gradient(180deg, rgba(131,51,216,1) 0%, rgba(87,51,216,1) 150%);
  text-align: left;
}

.styled-table th{
    padding: 12px 15px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;  
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.styled-table td {
    padding: 12px 15px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;  
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    box-shadow: rgba(57, 56, 58, 0.15) 1px 5px 15px;
    border-left: 1px solid #666;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}


.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #666666;
}

.sticky-header{
//   overflow-y: auto;
   width: var(--screenwidth);
   height: 450px;
   margin: 5px;
}

.styled-table thead tr{
  padding: 5px;
  position: sticky; 
  top: 0;
  z-index: 10; 
}


// td, th {
//   border: 1px solid #dddddd;
//   text-align: left;
//   padding: 8px;
// }
// tr:nth-child(even) {
//   background-color: #dddddd;
// }
// th {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   text-align: left;
//   background-color: #4CAF50;
//   color: white;
// }

.sticky-header {
	display: block;
	width: 98vw;

	.table {
		width: 100vw;
		max-width: 100%;
		overflow: auto;
		margin-bottom: 10px;
		display: table;
		border-collapse: collapse;
		margin: 0px;
		background-color: rgb(238, 238, 238);
	}
  
	.row,
	.header-row {
		display: table-row;
		min-height: 36px !important;
	}

	.cell,
	.header-cell {
		word-wrap: initial;
		display: table-cell;
        padding: 0px 5px;
		line-break: unset;
		width: fit-content;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
		text-align: center;
	}

	.header-row,
	.header-cell {
		margin: 0 auto;
		min-height: 100px !important;
		text-align: center;
		vertical-align: middle;
		align-self: center;
	}

	.sort-header {
		display: flex;
		align-content: center;
		text-align: center;
		justify-content: center;
		font-size: 12pt;
	}

	.header-cell {
		font-weight: bold;
	}
}


.styled-table {
  display: block !important;
}

.styled-table::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.styled-table::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}
.styled-table::-webkit-scrollbar-thumb {
  background: var(--color);
}
.styled-table::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

