@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/form.scss';

::ng-deep .ng-select .ng-arrow-wrapper {
  background-image: url('./../../../../../apps/Goodbooks/Goodbooks/src/assets/icons/arrow.png');
  background-repeat: no-repeat;
  background-size: 21px;
  margin-top: 2px;
  width: 25px;
}

.LabelForm{
  color: rgba(26, 26, 26, 0.87);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.ValueForm{
  color: rgba(26, 26, 26, 0.87);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px
}

.period {
  float: left;
  width: 80px;
  margin-top: 11px;
  outline-style: none;
}

.dateperiod {
  float: left;
  outline-style: none;
}


#datepicker1::ng-deep.mat-icon-button{
  padding-right: 1px;
  outline-style: none !important;
}

#datepicker1::ng-deep.material-icons{
  font-size: 20px;
}

::ng-deep.mat-calendar-table-header th{
    font-weight: 500;
    color: rgba(26, 26, 26, 0.87);
    font-size: 14px;
}

::ng-deep.mat-calendar-body-label{
  color: rgba(26, 26, 26, 0.87) !important;
}

input[type="checkbox"] {
  display: none; 
}

/* 토글 버튼 내부의 원. 감춘 체크박스와 연동한다. */
.toggle-button-switch {
  display: block;
  position: relative;
  top: 6px;
  left: 5px;
  width: 12px;
  height: 12px;
  background-color:var(--color);
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  transition: left 0.3s;
}

/* 토글 버튼의 바탕 */
.toggle-button-text {
  margin-top: -10px;
  width: 40px;
  height: 20px;
  overflow: hidden;
  border: 1px solid rgba(26, 26, 26, 0.5);
  background-color: #FFFFFF;
  border-radius: 25px;
  // box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s;
}

/* 토글 버튼의 텍스트 */
.toggle-button-text-on,
.toggle-button-text-off {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 20px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

/* 체크박스가 체크 상태이면 토글 버튼 내부의 원을 오른쪽으로 52px 이동 */
input[type="checkbox"]:checked ~ .toggle-button-switch {
  left: 22px;
  background-color: #fff;
}

/* 체크박스가 체크 상태이면 토글 버튼의 배경색 변경 */
input[type="checkbox"]:checked ~ .toggle-button-text {
  background-color: var(--color);
}
