<!-- <div>
    <div>
        <form class='form' [formGroup]='form'>
            <Table class="FormTable">
                <tr>
                    <td style="text-align: right;"><label class="LabelForm FormLabel">Picklist</label></td>
                    <td><ng-select [disabled]="true"
                        [items]="InstrumentNamePicklist" [virtualScroll]="true" bindValue="InstrumentName"
                        bindLabel="InstrumentName" formControlName='InstrumentName' [closeOnSelect]="true" [clearable]="true"
                        [loading]="dataLoading" [multiple]='false' addTagText="Create New"
                        (change)="changeInstrumentNameFn(selectionName)" [(ngModel)]="selectionName" [addTag]="true"
                        class="ValueForm FormValue picklist" [readonly]="!isnoteditable">
                    </ng-select></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><label class="LabelForm FormLabel">Combo Box</label></td>
                    <td><app-gb-combobox [(ngModel)]="DataType"
                        formControlName="InstrumentType" [picklistid]="form.get('InstrumentType').value"
                        (childEvent)="DataType=$event" [picklistdata]="DataTypePicklists"></app-gb-combobox></td>
                </tr>
                <tr>
                    <td style="padding-top: 5px;text-align: right;"><label class="LabelForm FormLabel">Radio Box</label></td>
                    <td><app-gb-radiobox [(ngModel)]="TypeofInfo"
                        formControlName="InstrumentAccountPostType" [checkedid]="form.get('InstrumentAccountPostType').value"
                        (childEvent)="TypeofInfo=$event" [picklistdata]="TypeofInfoPicklist"></app-gb-radiobox></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><label class="LabelForm FormLabel">Textbox</label></td>
                    <td><input class="ValueForm FormValue" maxlength="4" type="text" style="outline-style: none;height: 20px;width: 30px;margin-top: -18px;"
                        formControlName="InstrumentValidityPeriodInDays" [readonly]="!isnoteditable" /></td>
                </tr>
                <tr>
                    <td style="text-align: right;"> <label class="LabelForm FormLabel">Checkbox</label></td>
                    <td><app-gb-checkbox [isChecked]="form.get('InstrumentIsApplicableForBank').value" [(ngModel)]="SelectedCriteriaCheck" (childEvent)="SelectedCriteriaCheck=$event"
                        formControlName='InstrumentIsApplicableForBank'></app-gb-checkbox></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><label class="LabelForm FormLabel">Multiple Picklist</label></td>
                    <td><ng-select [disabled]="true"
                        [items]="OUPicklist" [virtualScroll]="true" bindValue="InstrumentOuNames"
                        bindLabel="InstrumentOuNames" formControlName='InstrumentOuNames' [closeOnSelect]="true"
                        [clearable]="true" [loading]="dataLoading" [multiple]='true' addTagText="No Match Found" [addTag]="false"
                        [(ngModel)]="OUselection" class="ValueForm FormValue picklist"
                        (change)="changeOUNameFn(OUselection)" [readonly]="!isnoteditable">
                    </ng-select></td>
                </tr>
                <tr>
                    <td style="text-align: right;"> <label class="LabelForm FormLabel">Toggle Button</label></td>
                    <td>
                        <input type="checkbox" id="toggle-button-checkbox">
                        <label class="toggle-button-switch" for="toggle-button-checkbox"></label>
                        <div class="toggle-button-text">
                            <div class="toggle-button-text-on"></div>
                            <div class="toggle-button-text-off"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;"> <label class="LabelForm FormLabel">Date</label></td>
                    <td>
                        <input class="captionHead-semibold-12-type-primary period" matInput
                                formControlName="InstrumentDate" [(ngModel)]="Fromdate" [matDatepicker]="dp1">
                        <mat-datepicker-toggle id="datepicker1" class="dateperiod" matSuffix [for]="dp1">
                            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker class="dateperiod" #dp1></mat-datepicker>
                    </td>
                </tr>
            </Table>
        </form>
    </div>
</div> -->