<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="Termssheetjson.default.ObjectFields[0].TermsSetName"
            formControlName='TermsSetName' (Onselectdata)="TermssheetFillFunction($event)"
            [defaultvalue]="form.get('TermsSetName').value"></app-entitylookup>
        <br>

        <app-gb-checkbox formControlName='TermsSetIsSalesApplicable' (CheckBoxOutPut)="Checkboxoutput($event)"
           ></app-gb-checkbox>

        <app-gb-checkbox formControlName='TermsSetIsPurchaseApplicable' (CheckBoxOutPut)="Checkboxoutput($event)"
           ></app-gb-checkbox>
        <br>
        <app-gb-formgrid formControlName='TermsSetDetailArray'
            [ArrayDetail]="form.get('TermsSetName').value"></app-gb-formgrid>
    </form>
</div>