<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
      <app-entitylookup class="KeyField" [PicklistObj]="PartyPriceCategoryJSON.default.ObjectFields[0].PartyPriceCategoryCode" formControlName='PartyPriceCategoryCode'
      (Onselectdata)="PartyPriceCategoryFillFunction($event)" [defaultvalue]="form.get('PartyPriceCategoryCode').value"></app-entitylookup> 

      <app-entitylookup class="KeyField" [PicklistObj]="PartyPriceCategoryJSON.default.ObjectFields[0].PartyPriceCategoryName" formControlName='PartyPriceCategoryName'
      (Onselectdata)="PartyPriceCategoryFillFunction($event)" [defaultvalue]="form.get('PartyPriceCategoryName').value"></app-entitylookup> 

        <app-gb-formgrid formControlName='PartyPriceCategoryDetailArray'
      [ArrayDetail]="form.get('PartyPriceCategoryCode').value"></app-gb-formgrid>
    </form>
</div>