@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
.form
{
  width:50%;
  transform:translate(5%, 0%);
  font-size: 14px;
  font-weight: 500;
}

.captionsec-reg-12-type-primary{
  display: inline-block;
  min-width: 130px;
  padding-right: 16px;
  height: 40px;
  text-align: right;
}

.captionHead-semibold-12-type-primary{
  position: absolute;
  width: 180px;
  height: 37px;
  line-height: 20px;
  display: inline-block;
  padding-bottom: 0px;
  border-bottom: none;
  outline-style: none;
  background-color: #FFFFFF;
}

  @media (max-width: 650px) {
    .form{
      width: 85%;
      margin-top: 15px;
      transform:translate(9.5%, 20.5%); 
    }
  }
  
  @media (min-width: 768px) and (max-width: 1000px){ 
  .form{
      width: 85%;
      margin-top: 3.5%;
      transform:translate(9%, 20.5%);
    }
  }

  .form
  {
    width:50%;
    transform:translate(5%, 0%);
    font-size: 14px;
    font-weight: 500;
  }
  
  .captionsec-reg-12-type-primary{
    display: inline-block;
    min-width: 130px;
    padding-right: 16px;
    height: 40px;
    text-align: right;
  }
  
  .captionHead-semibold-12-type-primary{
    width: 180px;
    height: 37px;
    line-height: 20px;
    display: inline-block;
    padding-bottom: 0px;
    border-bottom: none;
    outline-style: none;
    background-color: #FFFFFF;
  }

  .GSTCode{
    margin-top: -6px;
  }
  
  ::ng-deep .ng-select .ng-select-container:after {
    border-bottom: none;
    content: none;
  }
  
  ::ng-deep .ng-select .ng-select-container{
    min-width: 37px;
    min-height: 40px;
  }
  
  // ::ng-deep .ng-select.ng-select-single .ng-select-container{
  //   font-family: 'Montserrat';
  //   font-style: normal;
  //   font-weight: 700;
  //   font-size: 12px;
  //   line-height: 20px;
  //   color: rgba(26, 26, 26, 0.87);  
  // }
  
  ::ng-deep .ng-dropdown-panel.ng-select-bottom{
    width: 240px;
    top: calc(100%);
  }
  
  ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper{
   // display: contents;
    bottom: 20px;
  }
  
  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input{
    padding-bottom: 15px;
  }
  
  ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-clear-wrapper{
    display: none;
  }
  
  ::ng-deep .ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: rgba(26, 26, 26, 0.87);
  }
  
  ::ng-deep .ng-select.ng-select-disabled .ng-arrow-wrapper{
    display: none;
  }
  
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
    bottom: 0px;
  }
  
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0px;
  }
  
  ::ng-deep .mat-form-field-infix{
    padding: 0px;
    border-top: 0px;
  }
  
  ::ng-deep .mat-select-disabled .mat-select-trigger{
    display: none;
  }
  
  ::ng-deep .ng-select .ng-select-container .ng-value-container {
    padding: 0px;
    border: 0px;
  }
  
  ::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: none !important;
    border-style: none !important;
    border-width: 0 !important;
  }
  
  ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
      color: #FFFFFF !important;
      border-radius: 4px !important;
      background-color: var(--selectcolor) !important;
  }
  
  ::ng-deep .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
      color: #FFFFFF !important;
      border-radius: 4px !important;
      background-color: var(--color) !important;
  }
  
  ::ng-deep .mat-option.mat-active{
    background-color: #FFFFFF;
  }
  
  ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{
    background-color: var(--color) !important;
    border-radius: 4px !important;
    color: #FFFFFF !important;
  }
  
  ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: var(--selectcolor) !important;
    border-radius: 4px !important;
    color: #FFFFFF !important;
  }
  
  ::ng-deep .ng-dropdown-panel .scroll-host{
    width: 240px;
  }
  
  ::ng-deep .mat-select-panel{
    overflow: scroll;
    overflow-x: hidden;
    width: 240px;
  }
  
  ::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar {
    width: 2px;
  }
  
  ::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar-track {
    background: #F7F7F7;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  
  ::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar-thumb {
    background: var(--color);
    border-radius: 4px;
  }
  
  ::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar-thumb:hover {
    background: var(--color);
    border-radius: 4px;
  }
  
  ::ng-deep .mat-select-panel::-webkit-scrollbar {
    width: 2px;
  }
  
  ::ng-deep .mat-select-panel::-webkit-scrollbar-track {
    background: #F7F7F7;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  
  ::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
    background: var(--color);
    border-radius: 4px;
  }
  
  ::ng-deep .mat-select-panel::-webkit-scrollbar-thumb:hover {
    background: var(--color);
    border-radius: 4px;
  }
  

::ng-deep .ng-select .ng-arrow-wrapper {
  background-image: url('./../../../../../apps/Goodbooks/Goodbooks/src/assets/icons/arrow.png');
  background-repeat: no-repeat;
  background-size: 21px;
  margin-top: 2px;
  width: 25.5px;
}

::ng-deep .mat-select-arrow{
  border-left: 20px solid transparent !important;
  border-right: none !important;
  border-top: 20px solid transparent !important;
  border-image-source: url('./../../../../../apps/Goodbooks/Goodbooks/src/assets/icons/arrow.png') !important;
  border-image-repeat: stretch !important;
}
