<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PaymentTermJSON.default.ObjectFields[0].PaymentTermCode"
        formControlName='PaymentTermCode' (Onselectdata)="PaymentTermPicklistFillValue($event)"
        [defaultvalue]="form.get('PaymentTermCode').value"></app-entitylookup>
        
        
            <app-entitylookup class="KeyField" [PicklistObj]="PaymentTermJSON.default.ObjectFields[0].PaymentTermName"
            formControlName='PaymentTermName' (Onselectdata)="PaymentTermPicklistFillValue($event)"
            [defaultvalue]="form.get('PaymentTermName').value"></app-entitylookup>
                

            <app-gb-textarea formControlName='PaymentTermRemarks'></app-gb-textarea>
    
        <app-gb-formgrid formControlName='PaymentTermDetailArray'
            [ArrayDetail]="form.get('PaymentTermCode').value"></app-gb-formgrid>

    </form>
</div>