<div  class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="CountryJson.default.ObjectFields[0].CountryCode"
        formControlName='CountryCode' (Onselectdata)="CountryRetrivalValue($event)"
        [defaultvalue]="form.get('CountryCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="CountryJson.default.ObjectFields[0].CountryName"
        formControlName='CountryName' (Onselectdata)="CountryRetrivalValue($event)"
        [defaultvalue]="form.get('CountryName').value"></app-entitylookup>

        <app-gb-input formControlName='CountryISDCode'></app-gb-input>
 
        <app-gb-input formControlName='CountryGstCountryCode'></app-gb-input>


    </form>
</div>
