<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField"
 [PicklistObj]="CheckingOptionJSON.default.ObjectFields[0].ModuleName"  formControlName='ModuleName'
        (Onselectdataids)="CheckingOptionPatchValue($event)" [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>

        <app-gb-combobox formControlName="CheckingOptionType"></app-gb-combobox>

        <app-entitylookup class="KeyField"
        [PicklistObj]="CheckingOptionJSON.default.ObjectFields[0].EntityName"  formControlName='EntityName'
               (Onselectdata)="CheckingOptionFillFunction($event)" [defaultvalue]="form.get('EntityName').value" *ngIf="form.get('CheckingOptionType').value==0"></app-entitylookup>

               <app-entitylookup class="KeyField"
               [PicklistObj]="CheckingOptionJSON.default.ObjectFields[0].BIZTransactionClassName"  formControlName='BIZTransactionClassName'
                      (Onselectdata)="CheckingOptionFillFunction($event)" [defaultvalue]="form.get('BIZTransactionClassName').value" *ngIf="form.get('CheckingOptionType').value==1"></app-entitylookup>

                      <app-gb-formgrid formControlName='CheckingOptionDetailArray'
            [ArrayDetail]="form.get('ModuleName').value"></app-gb-formgrid>
    </form>
</div>