<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField"
            [PicklistObj]="ProcessOperationJson.default.ObjectFields[0].ProcessOperationCode"
            formControlName='ProcessOperationCode' (Onselectdata)="ProcessOperationPicklist($event)"
            [defaultvalue]="form.get('ProcessOperationCode').value"></app-entitylookup>
            
        <app-entitylookup  class="KeyField"
            [PicklistObj]="ProcessOperationJson.default.ObjectFields[0].ProcessOperationName"
            formControlName='ProcessOperationName' (Onselectdata)="ProcessOperationPicklist($event)"
            [defaultvalue]="form.get('ProcessOperationName').value"></app-entitylookup>

<br>

        <app-entitylookup [PicklistObj]="ProcessOperationJson.default.ObjectFields[0].ProcessName"
            formControlName='ProcessName' (Onselectdataids)="ProcessOperationPicklists($event)"
            [defaultvalue]="form.get('ProcessName').value" class="KeyField"></app-entitylookup>

<br>

        <app-gb-input formControlName='ProcessOperationSortOrder' class="KeyField"  ></app-gb-input>


    </form>
</div>