<div class="dbtable">
  <p class="TA">Amount Plus:{{TotalAdd.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
  <p class="TL">Amount Minus:{{TotalLess.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
  <p class="TC">NetCost:{{TotalCost.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white">Code</th>
          <th class="th cap1-bold-12-white">Name</th>
          <th class="th cap1-bold-12-white">Process</th>
          <th class="th cap1-bold-12-white">FC Rate</th>
          <th class="th cap1-bold-12-white">Currency</th>
          <th class="th cap1-bold-12-white">Rate</th>
          <th class="th cap1-bold-12-white">Add</th>
          <th class="th cap1-bold-12-white">Less</th>
          <th class="th cap1-bold-12-white">Cost</th>
          <th class="th cap1-bold-12-white">Days</th>
          <th class="th cap1-bold-12-white">S</th>
          <th class="th cap1-bold-12-white">%</th>
          <th class="th cap1-bold-12-white">I.PartyCode</th>
          <th class="th cap1-bold-12-white">I.PartyName</th>
          <th class="th cap1-bold-12-white">F.Date</th>
        </tr>
      </thead>
      <tbody class="tbody">
        
          <tr *ngFor="let data of rowData">
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.ptycode}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.ptyname}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.pcsname}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.rate?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.curcode}}</td>
  
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.conrate?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.plus?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.minus?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.cost?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.days}}</td>
  
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.parsts}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.ival?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.iparcode}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.iparname}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.date | DateFormatter}}</td>
          </tr>
        
      </tbody>
    </table>
  </div>
  