<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].CodeDefineCategoryName"
            formControlName='CodeDefineCategoryName' (Onselectdataids)="AssetTypePatchValue($event)"
            [defaultvalue]="form.get('CodeDefineCategoryName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].AssetTypeCode"
            formControlName='AssetTypeCode' (Onselectdata)="AssetTypeRetrivalValue($event)"
            [defaultvalue]="form.get('AssetTypeCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].AssetTypeName"
            formControlName='AssetTypeName' (Onselectdata)="AssetTypeRetrivalValue($event)"
            [defaultvalue]="form.get('AssetTypeName').value"></app-entitylookup>

        <app-gb-combobox formControlName="AssetTypeTrackingType"></app-gb-combobox>

        <app-entitylookup class="KeyField" [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].ParameterSetName"
            formControlName='ParameterSetName' (Onselectdataids)="AssetTypePatchValue($event)"
            [defaultvalue]="form.get('ParameterSetName').value"></app-entitylookup>

        <app-gb-combobox formControlName="AssetTypeNature"></app-gb-combobox>

        <app-entitylookup class="KeyField" [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].AssetScheduleName"
            formControlName='AssetScheduleName' (Onselectdataids)="AssetTypePatchValue($event)"
            [defaultvalue]="form.get('AssetScheduleName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].ResourceTypeName"
            formControlName='ResourceTypeName' (Onselectdataids)="AssetTypePatchValue($event)"
            [defaultvalue]="form.get('ResourceTypeName').value"></app-entitylookup>

        <div class="TabView">
            <div class="FormTab">
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Activity')">Activity*</button>
                <button class="FormTabLinks TabHeading"
                    (click)="ChangeTab($event, 'Depreciation')">Depreciation*</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Accounts')">Accounts</button>
                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Options')">Options</button>
            </div>
            <div id="Activity" class="tabcontent">
                <app-gb-formgrid formControlName='AssetTypeActivityArray'
                    [ArrayDetail]="form.get('AssetTypeId').value"></app-gb-formgrid>
            </div>
            <div id="Depreciation" class="tabcontent">
                <p>Depriciation</p>
                <app-gb-checkbox formControlName='AssetTypeIsDepreciationApplicable'></app-gb-checkbox>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].DepreciationName"
                    formControlName='DepreciationName' (Onselectdataids)="AssetTypePatchValue($event)"
                    [defaultvalue]="form.get('DepreciationName').value"
                    *ngIf="this.form.get('AssetTypeIsDepreciationApplicable').value==0"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='AssetTypeDepreciationPercentage'
                    *ngIf="this.form.get('AssetTypeIsDepreciationApplicable').value==0"></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='AssetTypeLife'
                    *ngIf="this.form.get('AssetTypeIsDepreciationApplicable').value==0"></app-gb-input>

                <br>
                <p>Tax Depriciation</p>
                <app-gb-checkbox formControlName='AssetTypeIstaxdepreciationApplicable'></app-gb-checkbox>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].TaxDepreciationName"
                    formControlName='TaxDepreciationName' (Onselectdataids)="AssetTypePatchValue($event)"
                    [defaultvalue]="form.get('TaxDepreciationName').value"
                    *ngIf="this.form.get('AssetTypeIstaxdepreciationApplicable').value==0"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='AssetTypeTaxDepreciationPercentage'
                    *ngIf="this.form.get('AssetTypeIstaxdepreciationApplicable').value==0"></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='AssetTypeLife'
                    *ngIf="this.form.get('AssetTypeIstaxdepreciationApplicable').value==0"></app-gb-input>


            </div>
            <div id="Accounts" class="tabcontent">
                <app-gb-radiobox formControlName='AssetTypeAccountingType'></app-gb-radiobox>

                <app-entitylookup [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].AssetWipAccountName"
                formControlName='AssetWipAccountName' (Onselectdataids)="AssetTypePatchValue($event)"
                [defaultvalue]="form.get('AssetWipAccountName').value"></app-entitylookup>

                <app-entitylookup [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].AssetAccountName"
                formControlName='AssetAccountName' (Onselectdataids)="AssetTypePatchValue($event)"
                [defaultvalue]="form.get('AssetAccountName').value"></app-entitylookup>

                <app-entitylookup [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].DepreciationAccountName"
                formControlName='DepreciationAccountName' (Onselectdataids)="AssetTypePatchValue($event)"
                [defaultvalue]="form.get('DepreciationAccountName').value"></app-entitylookup>

                <app-entitylookup [PicklistObj]="AssetTypeJSON.default.ObjectFields[0].AccumulatedDepreciationAccountName"
                formControlName='AccumulatedDepreciationAccountName' (Onselectdataids)="AssetTypePatchValue($event)"
                [defaultvalue]="form.get('AccumulatedDepreciationAccountName').value"></app-entitylookup>

            </div>
            <div id="Options" class="tabcontent">
                <app-gb-checkbox formControlName='AssetTypeMMTrackingRequired' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsMeter' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsGenerator' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsAMC' class="KeyField"></app-gb-checkbox>
                <br>
                <app-gb-checkbox formControlName='AssetTypeIsInsurance' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsInstallation' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsLocation' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsWarranty' class="KeyField"></app-gb-checkbox>
                <br>
                <app-gb-checkbox formControlName='AssetTypeIsMaintenance' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsLicense' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsBarcode' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsRegistration' class="KeyField"></app-gb-checkbox>
                <br>
                <app-gb-checkbox formControlName='AssetTypeIsLease' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsCenvat' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsResponsible' class="KeyField"></app-gb-checkbox>
                <app-gb-checkbox formControlName='AssetTypeIsManufacturer' class="KeyField"></app-gb-checkbox>
            </div>
        </div>
    </form>
</div>