<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Work Order</th>
                <th class="th cap1-bold-12-white" >Production</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">In Time</th>
                <th class="th cap1-bold-12-white"style="text-align: right; padding-right: 150px;" >Out Time</th>
                <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Duration</th>
                <th class="th cap1-bold-12-white" >Reason</th>
                <th class="th cap1-bold-12-white" >Remarks</th>
                
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of tabledata">
                
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.indentno | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.productionno}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.fromtime | DateFormatter : 'time'
                }}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right; padding-right: 150px;">{{data.totime| DateFormatter : 'time'
                }}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}"style="text-align: right; padding-right: 150px;">{{data.stopduration | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.reasonname}}</td>
                <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.remarks}}</td>
            
            </tr>
        </tbody>
    </table>
</div>