// .container {
//     display: grid;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     margin: 20px;
//   }
@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.addressmobile {
  display: none;
}
.address{
  padding-bottom: 10px;
}
#container1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  // padding-left: 32px;
  // margin-top: 20px;
}

#container3 {
  display: flex;
  grid-template-columns: repeat(4, 1fr);

}

#container4 {
  display: flex;
  grid-template-columns: repeat(6, 1fr);

}

.con1 {
  display: grid;
  padding-left: 32px;
  margin-top: 16px;
}

.con2 {
  display: grid;
  padding-left: 16px;
  margin-top: 16px;
}

.con3 {
  display: grid;
  padding-left: 36px;
  margin-top: 16px;
}

.con4 {
  display: grid;
  padding-left: 16px;
  margin-top: 16px;
}

.con11 {
  display: grid;
  padding-left: 32px;
  margin-top: 16px;
}

.con12 {
  display: grid;
  padding-left: 16px;
  margin-top: 16px;
}

.con13 {
  display: grid;
  padding-left: 36px;
  margin-top: 16px;
}

.con14 {
  display: grid;
  padding-left: 16px;
  margin-top: 16px;
}

.con15 {
  display: grid;
  padding-left: 36px;
  margin-top: 16px;
}

.con16 {
  display: grid;
  padding-left: 16px;
  margin-top: 16px;
}
.abcabc{
  margin-bottom: 16px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}
.xyzxyz{
  margin-bottom: 16px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}
.personal {
  padding-left: 1px;
  color: #6B9EC7;
  text-decoration: underline;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
// padding-bottom: 10px;
}

.bussiness {
  padding-left: 1px;
  color: #6B9EC7;
  text-decoration: underline;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.abc {
  margin-bottom: 16px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
  padding-left: 33px;
  padding-right: 16px;
  height: 36px;
  padding-bottom: 0px;
}

.xyz {
  display: block;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  // margin-bottom: 16px;

}

.mape {
  width: 247px;
  height: 88px;

  border-radius: 8px;

}

.add1 {
  padding-bottom: 16px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.add2 {
  padding-bottom: 16px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.add3 {
  padding-bottom: 16px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.add4 {
  padding-bottom: 16px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.add5 {
  padding-bottom: 16px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.location {
  padding-bottom: 0px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.city {
  padding-bottom: 0px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.region {
  padding-bottom: 0px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.zip {
  padding-bottom: 0px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.state {
  padding-bottom: 0px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.country {
  padding-bottom: 0px;
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

.locationdata {
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 16px;
}

.statedata {
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 16px;
}

.countrydata {
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 16px;
}

.regiondata {
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 16px;
}

.zipdata {
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 16px;
}

.citydata {
  font-family: Helvetica !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 16px;
}
@media (max-width: 480px) {
  #container1{
display: none;
  }
  #page1{
    display: none;
  }
  #page2{
    display: none;
  }
  .addressmobile {
        display: block;
      }
        button {
    background-color: #6B9EC7;
    color: white;
    padding: 4px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .btn {
    //styleName: content/hel-12-reg;
    //styleName: h5/hel-18-bol;
    font-family: Helvetica !important;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

    color: #6E3AB6;
    background: white;
    border: 1px solid;
    // padding: 15px 75px;
    width: 296px;
    height: 44px;
  }

  .abcd {
    font-family: Helvetica !important;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: right;
    color: #6E3AB6;
  }

  .xyzw {
    font-family: Helvetica !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    // margin-bottom: 16px;
    color: #6E3AB6;

  }
  .button-container {
    // display: flex;
    // justify-content: center;
    // margin-top: 20px;
    border-radius:5px;
    margin-left: -8px;
  }
#container{
  // display: flex;
  padding-top: 28px;
}
  .button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid;
    width: 140px;
    height: 36px;
  }
  .cells{
    padding-bottom: 28px;
    padding-left: 33px;

  }
  .button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure the span takes the full height of the button */
}
.fixed-footer {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
}
#prevButton{
  background-color: white;
}
#nextButton{
  background-color: white;
}
.previousbtn{
 width:50px;
 height: 50px;

}
.nextbtn{
width:50px;
height: 50px;
margin-left: 20px;
}
.addresscon{
  display: none;
}
.mobaddressline1,.mobaddressline2,.mobaddressline3,.mobaddressline4,.mobaddressline5,.moblocation,.mobcity,.mobphoneno,.mobmobileno,.mobaltmobno,.mobmailid,.mobwebaddress,.mobgstin,.mobpan,.mobtan,.mobtinno,.mobgstno,.mobserviceno{
  font-family: Helvetica !important;
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: #6E3AB6;
padding-left: 33px;
}
.mobaddressline1data,.mobaddressline2data,.mobaddressline3data,.mobaddressline4data,.mobaddressline5data,.moblocationdata,.mobcitydata,.mobphonenodata,.mobmobilenodata,.mobaltmobnodata,.mobmailiddata,.mobwebaddressdata,.mobgstindata,.mobpandata,.mobtandata,.mobtinnodata,.mobgstnodata,.mobservicenodata{
  //styleName: content/hel-14-reg;
font-family: Helvetica !important;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #1A1A1ADE;
padding-left: 33px;
padding-bottom: 28px;
}
.personalpage,
.personalpage1,
.personalpage2
  {
    max-height: 300px; /* Adjust the max height according to your design */
    overflow-y: auto;
  }

.businesspage1,
.businesspage2,
.businesspage3 {
  max-height: 300px; /* Adjust the max height according to your design */
  overflow-y: auto;
}
}

// @media (max-width: 480px) {
//   .addressmobile {
//     display: block;
//   }

//   #container1 {
//     display: none;
//   }

//   #container3 {
//     display: none;
//   }

//   #container4 {
//     display: none;

//   }

//   #prefinal {
//     display: none;
//   }

//   #final {
//     display: none;
//   }

//   button {
//     background-color: #6B9EC7;
//     color: white;
//     padding: 4px 10px;
//     border: none;
//     cursor: pointer;
//     border-radius: 4px;
//   }

//   .btn {
//     //styleName: content/hel-12-reg;
//     //styleName: h5/hel-18-bol;
//     font-family: Helvetica !important;
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 27px;
//     letter-spacing: 0em;
//     text-align: center;

//     color: #6E3AB6;
//     background: white;
//     border: 1px solid;
//     // padding: 15px 75px;
//     width: 296px;
//     height: 44px;
//   }

//   .abcd {
//     font-family: Helvetica !important;
//     font-size: 10px;
//     font-weight: 400;
//     line-height: 12px;
//     letter-spacing: 0em;
//     text-align: right;
//     color: #6E3AB6;
//   }

//   .xyzw {
//     font-family: Helvetica !important;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: left;
//     // margin-bottom: 16px;
//     color: #6E3AB6;

//   }
//   .button-container {
//     // display: flex;
//     // justify-content: center;
//     // margin-top: 20px;
//     border-radius:5px;
//     margin-left: -8px;
//   }
// #container{
//   // display: flex;
//   padding-top: 28px;
// }
//   .button {
//     padding: 10px 20px;
//     margin: 0 10px;
//     font-size: 16px;
//     cursor: pointer;
//     background-color: #fff;
//     color: #000;
//     border: 1px solid;
//     width: 140px;
//     height: 36px;
//   }
//   .cells{
//     padding-bottom: 28px;
//     padding-left: 33px;

//   }
//   .button-text {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%; /* Ensure the span takes the full height of the button */
// }
// .fixed-footer {
//   overflow-x: hidden;
//   overflow-y: scroll;
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   background-color: #fff;
//   padding-top: 20px;
//   padding-bottom: 15px;
//   padding-left: 32px;
//   padding-right: 32px;
// }
// .pagination {
//   display: flex;
//   justify-content: flex-end;
// }
// #prevButton{
//   background-color: white;
// }
// #nextButton{
//   background-color: white;
// }
// .previousbtn{
//  width:28px;
//  height: 28px;

// }
// .nextbtn{
// width:28px;
// height: 28px;
// }
// .addresscon{
//   display: none;
// }
// }