.container{
    display: flex;
    font-family:Arial;
  }
  .right{
    margin-left: 841px;
    color: darkviolet;
  }

  .image{
    margin-left: 35px;
  }

  @media (max-width: 991px) {
    app-footer {
      margin: 0;
    }
}