<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Item Code</th>
          <th class="th cap1-bold-12-white" >Item Name</th>
          <th class="th cap1-bold-12-white" >Issue Number</th>
          <th class="th cap1-bold-12-white" >Issue Date</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Issue Qty</th>
          <th class="th cap1-bold-12-white" >Return Number</th>
          <th class="th cap1-bold-12-white" >Return Date</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 150px;">Return Qty</th>

         
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowData">
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.ItemCode}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.ItemName | DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.AdjDocumentNumber}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.AdjDocumentDate | DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{ fontWeight: data.bold ? 'bold' : 400 }" style="text-align: right; padding-right: 150px;"> {{ data.AdjQuantity === 0 ? '' : data.AdjQuantity }}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.SecondAllocDocumentNumber}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.SecondAllocDocumentDate | DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{ fontWeight: data.bold ? 'bold' : 400 }" style="text-align: right; padding-right: 150px;">{{ data.SecondAllocAdjQuantity === 0 ? '' : data.SecondAllocAdjQuantity }} </td>
          
        </tr>
      </tbody>
    </table>
    </div>