<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="RegionJSON.default.ObjectFields[0].RegionCode"
            formControlName='RegionCode' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('RegionCode').value">
        </app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="RegionJSON.default.ObjectFields[0].RegionName"
            formControlName='RegionName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('RegionName').value">
        </app-entitylookup>
        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="RegionJSON.default.ObjectFields[0].ParentRegionName"
            formControlName='ParentRegionName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('ParentRegionName').value"></app-entitylookup>
        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="RegionJSON.default.ObjectFields[0].RegionTypeName"
            formControlName='RegionTypeName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('RegionTypeName').value"></app-entitylookup>


    </form>
</div>