<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="BizTransactionKeyJSON.default.ObjectFields[0].BIZTransactionTypeClassName"
        formControlName='BIZTransactionTypeClassName' (Onselectdataids)="BizTransactionKeyPicklistPatchValue($event)"
        [defaultvalue]="form.get('BIZTransactionTypeClassName').value"></app-entitylookup>
      
        <app-entitylookup class="KeyField" [PicklistObj]="BizTransactionKeyJSON.default.ObjectFields[0].BIZTransactionTypeSubClassName"
        formControlName='BIZTransactionTypeSubClassName' (Onselectdataids)="BizTransactionKeyPicklistPatchValue($event)"
        [defaultvalue]="form.get('BIZTransactionTypeSubClassName').value"></app-entitylookup>
     
        <app-entitylookup [PicklistObj]="BizTransactionKeyJSON.default.ObjectFields[0].BIZTransactionName"
        formControlName='BIZTransactionName' (Onselectdata)="BizTransactionKeyPicklistFillValue($event)"
        [defaultvalue]="form.get('BIZTransactionName').value" ></app-entitylookup>

        <br>    
        <app-gb-input class="KeyField" formControlName='BIZTransactionTypeNOGenerationType'></app-gb-input>

   
        <app-gb-input class="KeyField" formControlName='BIZTransactionTypeNumberSize'></app-gb-input>
        <br>
        <app-gb-input class="KeyField" formControlName='BIZTransactionTypePrefix'></app-gb-input>

        <app-gb-input class="KeyField" formControlName='BIZTransactionTypeSuffix'></app-gb-input>
        <br>
        <app-gb-input formControlName='BIZTransactionKeysLastNo'></app-gb-input>

        <app-gb-input formControlName='BIZTransactionKeysLastNumber'></app-gb-input>


    </form>
</div>
