@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/DashboardStyleSheet.scss';

.pagination {
    position: relative;
    margin-right: 24px;
    top: 5px;
    float: right;
}

.pagebutton {
    margin: 0px 3px;
    width: 48px;
    height: 28px;
    color: #6E3AB6;
    outline-style: none;
}

.pagenumber {
    color: #6E3AB6;
    font-family: 'Helvetica';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-right: 16px;
}