<div class="dbtable">
    <p class="D" style="display: inline-block; margin-left: 1100px; color: black; font-weight: bold;">Total Value :{{TotalValue | NumberFormat}}</p>
  <table class="Table">
      <thead class="thead">
          <tr class="theadtr">
              <th class="th cap1-bold-12-white" >Code</th>
              <th class="th cap1-bold-12-white" >Name</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Total Qty</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Good Qty</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Rejected</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Rework</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Others</th>
              <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px;">Value</th>
          </tr>
      </thead>
      <tbody class="tbody">
          <tr class="tr"*ngFor="let data of rowData; let i=index">
              <td class="td cap2-med-12-type-primary" >{{data.Code }}</td>
              <td class="td cap2-med-12-type-primary" >{{data.Name}}</td>
              <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px;">{{data.Quantity | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px;">{{data.GoodQuantity | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px;">{{data.RejectedQuantity | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px;">{{ data.ReworkQuantity !== 0 ? data.ReworkQuantity.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 }) : '' }}</td>
              <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px;">{{data.OtherQuantity | NumberFormat}}</td>
              <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px;">{{data.PostedValue | NumberFormat}}</td>
          </tr>
      </tbody>
  </table>
</div>

