
<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <!-- <th class="th cap1-bold-12-white" >Sno</th> -->
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 20px;">Present</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 20px;">Absent</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 20px;">Leave</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 20px;">Weekly Off</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 20px;">Paid</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 20px;">Days</th>
          <th class="th cap1-bold-12-white"style="text-align: right; padding-right: 20px;" >PL</th>
          <th class="th cap1-bold-12-white"style="text-align: right; padding-right: 20px;" >SL</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 20px;">CL</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 20px;">LOP</th>

        </tr>
      </thead>
      <tbody class="tbody">

        <tr *ngFor="let data of rowDatas">
          <!-- <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.sno}}</td> -->
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.name}}</td>
          <td class="td cap2-med-12-type-primary"  [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 20px;">{{data.present}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 20px;">{{data.absent}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 20px;">{{data.leave}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"style="text-align: right; padding-right: 20px;">{{data.woff}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"style="text-align: right; padding-right: 20px;">{{data.paid}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"style="text-align: right; padding-right: 20px;">{{data.days}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"style="text-align: right; padding-right: 20px;">{{data.pl | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"style="text-align: right; padding-right: 20px;">{{data.sl | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"style="text-align: right; padding-right: 20px;">{{data.cl | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"style="text-align: right; padding-right: 20px;">{{data.lop | NumberFormat}}</td>

        </tr>
      </tbody>
    </table>
    </div>