.packboth
{
  height: 300px;
}

.packboths
{
  margin-left:15px ;
}
@media (max-width: 850px) {
  .packboths{
    margin-left:20px ;
  }
}

@media (max-width: 650px) {
  .packboths{
    margin-left:15px ;
  }
}