        <div class="FormOverview" *ngIf="form.bFormReady">
          <form [formGroup]='form'>
      
              <app-entitylookup class="KeyField" [PicklistObj]="MeasureOptionsTypeJSON.default.ObjectFields[0].LovTypeCode"
              formControlName='LovTypeCode' (Onselectdata)="MeasureOptionsTypeValue($event)"
              [defaultvalue]="form.get('LovTypeCode').value"></app-entitylookup>
      
              <app-entitylookup class="KeyField" [PicklistObj]="MeasureOptionsTypeJSON.default.ObjectFields[0].LovTypeName"
              formControlName='LovTypeName' (Onselectdata)="MeasureOptionsTypeValue($event)"
              [defaultvalue]="form.get('LovTypeName').value"></app-entitylookup>

              <app-gb-radiobox formControlName='LovTypeScoreRequired'></app-gb-radiobox> 

        <app-gb-radiobox formControlName='LovTypeLovNature'></app-gb-radiobox>


          <app-gb-radiobox formControlName='LovTypeGenerationType'></app-gb-radiobox>


              <app-entitylookup  [PicklistObj]="MeasureOptionsTypeJSON.default.ObjectFields[0].ParentLovTypeName"
              formControlName='ParentLovTypeName' (Onselectdataids)="MeasureOptionsTypeRetrival($event)"
              [defaultvalue]="form.get('ParentLovTypeName').value"></app-entitylookup>
            
      
          </form>
      </div>