<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" style="padding-left: 20px;">Indent No</th>
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">#WO</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Planned</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Produced</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Pending</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Rejected</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Rework</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" [ngClass]="{'color': (i%2 == 0)}" *ngFor="let data of RowData; let i=index">
                <td class="td cap2-med-12-type-primary" style="padding-left: 20px;">{{data.IndentNumber }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.ItemCode }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.ItemName}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.NoofWorkOrder}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.Planned}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.Produced}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.PendingOrderQuantity}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.RejectedQuantity}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 20px;">{{data.ReworkQuantity}}</td>
            </tr>
        </tbody>
    </table>
</div>

