<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="SelectionRoundJSON.default.ObjectFields[0].SelectionRoundCode"
        formControlName='SelectionRoundCode' (Onselectdata)="SelectionRoundValue($event)"
        [defaultvalue]="form.get('SelectionRoundCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="SelectionRoundJSON.default.ObjectFields[0].SelectionRoundName"
        formControlName='SelectionRoundName' (Onselectdata)="SelectionRoundValue($event)"
        [defaultvalue]="form.get('SelectionRoundName').value"></app-entitylookup>

        <app-gb-textarea formControlName='SelectionRoundRemarks'></app-gb-textarea>

        <app-gb-formgrid formControlName='SelectionRoundDetailArray'
        [ArrayDetail]="form.get('SelectionRoundCode').value"></app-gb-formgrid>

        </form>
        </div>
