@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

// #FormReportHeader{
//     container-type: inline-size;
// }
.caption-med-12-type-primary {
    font-weight: 700;
    line-height: 36px;
}

.span {
    width: 100%;
}

.moveNext {
    padding: 0px !important;
    display: inline-grid;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 48px;
    height: 28px;
}

.movePrev {
    padding: 0px !important;
    display: inline-grid;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 48px;
    height: 28px;
}

.pagination {
    position: relative;
    top: -19px;
    margin-right: 24px;
}

.pagebutton {
    margin: 0px 3px;
    width: 48px;
    height: 28px;
    font-size: 16px;
    outline-style: none;
}

.pagenumber {
    color: #6E3AB6;
    font-family: 'Helvetica';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-right: 16px;
}

.delete {
    padding: 0px !important;
    display: inline-block;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 120px;
    height: 32px;
}

.edit {
    padding: 0px !important;
    display: inline-block;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 120px;
    height: 32px;
    // color: var(--color) !important;
}

.save {
    padding: 0px !important;
    display: inline-block;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 120px;
    height: 32px;
}

.text {
    padding: 0px !important;
    display: inline-grid;
    align-content: center;
    margin-right: 5px;
    outline-style: none;
    min-width: 120px;
    height: 32px;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
    color: unset;
}

.save::ng-deep.material-icons {
    font-size: 18px !important;
}

.save::ng-deep.mat-icon {
    height: 20px;
}

.text::ng-deep.material-icons {
    font-size: 18px !important;
}

.text::ng-deep.mat-icon {
    height: 20px;
}

.edit::ng-deep.material-icons {
    font-size: 18px !important;
}

.edit::ng-deep.mat-icon {
    height: 20px;
}

.delete::ng-deep.material-icons {
    font-size: 18px !important;
}

.delete::ng-deep.mat-icon {
    height: 20px;
}

.more {
    top: -4px;
    position: relative;
    outline-style: none;
    right: 24px;
    height: 32px;
    width: 48px;
    color: #6E3AB6;
}

.viewlist {
    top: -15.5px;
    width: 48px;
    height: 28px;
    border-radius: 3px;
    outline-style: none;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    position: relative;
    display: inline-flex;
    border: 0.5px solid #1A1A1A52;
    box-shadow: 0px 2px 2px 0px #0000000F;
}

.viewdata {
    padding-top: 13px;
}

.vert {
    top: -15.5px;
    right: 8px;
    border-radius: 3px;
    outline-style: none;
    margin-left: 16px;
    height: 28px;
    width: 48px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    position: relative;
    display: inline-flex;
    border: 0.5px solid #1A1A1A52;
    box-shadow: 0px 2px 2px 0px #0000000F;
}

.menudata {
    color: rgb(27, 27, 27, 0.87);
}

#prevprevbutton {
    top: 3.5px;
    width: 48px;
    height: 28px;
    border-radius: 3px;
    outline-style: none;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    position: relative;
    display: inline-flex;
    border: 0.5px solid #1A1A1A52;
    box-shadow: 0px 2px 2px 0px #0000000F;
}

#prevbutton {
    top: 3.5px;
    width: 48px;
    height: 28px;
    border-radius: 3px;
    outline-style: none;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    position: relative;
    display: inline-flex;
    border: 0.5px solid #1A1A1A52;
    box-shadow: 0px 2px 2px 0px #0000000F;
}

#nextnextbutton {
    top: 3.5px;
    width: 48px;
    height: 28px;
    border-radius: 3px;
    outline-style: none;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    position: relative;
    display: inline-flex;
    border: 0.5px solid #1A1A1A52;
    box-shadow: 0px 2px 2px 0px #0000000F;
}

#nextbutton {
    top: 3.5px;
    width: 48px;
    height: 28px;
    border-radius: 3px;
    outline-style: none;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    position: relative;
    display: inline-flex;
    border: 0.5px solid #1A1A1A52;
    box-shadow: 0px 2px 2px 0px #0000000F;
}

::ng-deep .mat-menu-item .mat-icon-no-color,
.mat-menu-item-submenu-trigger::after {
    color: unset !important;
}

.menudata:hover {
    border: none !important;
    color: #FFFFFF !important;
}

// ::ng-deep.mat-raised-button.mat-button-disabled.mat-button-disabled {
//     background-color: rgb(26, 26, 26, 0.1) !important;
// }

::ng-deep.mat-raised-button {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    padding: 0px;
}

::ng-deep .mat-menu-item:hover:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {
    // background-color: var(--color) !important;
    color: #FFFFFF !important;
}

#mob_formaction::ng-deep .mat-menu-content {
    width: 150px;
    height: 182px;
    overflow: hidden !important;
}

::ng-deep .mat-menu-content {
    margin-top: 10px !important;
}


.FormBtns {
    width: max-content;
    position: relative;
}

.ReportIcon {
    display: none
}

.addnewreportsetting {
    margin-left: 250px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    overflow: auto;
}

.styled-table thead tr {
    //background: rgb(131,51,216);
    // background: linear-gradient(180deg, rgba(131,51,216,1) 0%, rgba(87,51,216,1) 150%);
    text-align: left;
}

.styled-table th {
    padding: 12px 15px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.styled-table td {
    padding: 12px 15px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    box-shadow: rgba(57, 56, 58, 0.15) 1px 5px 15px;
    border: 1px solid #666;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #666666;
}

.styled-table thead tr {
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
}

#reportviewsettingsform {
    display: none;
}


#reportviewsettingreportmodel {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#settingsss {
    display: block;
    overflow: auto;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border: 1px solid #888;
    width: 960px;
    height: 600px;
    border-radius: 10px;
}


.reporttable {
    width: 100%;
    height: 300px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    overflow: auto;
    display: block;
    max-width: 900px;
}

.reporttable thead tr {
    //background: rgb(131,51,216);
    // background: linear-gradient(180deg, rgba(131,51,216,1) 0%, rgba(87,51,216,1) 150%);
    text-align: left;
}

.reporttable th {
    padding: 12px 15px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.reporttable td {
    padding: 12px 15px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    box-shadow: rgba(57, 56, 58, 0.15) 1px 5px 15px;
    border: 1px solid #666;
}

.reporttable tbody tr {
    border-bottom: 1px solid #dddddd;
}


.reporttable tbody tr:last-of-type {
    border-bottom: 2px solid #666666;
}

.reporttable thead tr {
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
}

#infoformmodel {
    display: none;
    position: fixed;
    margin-top: 120px;
    margin-left: 380px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

#infosetting {
    overflow: auto;
    justify-content: center;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border: 1px solid #09f529;
    width: 520px;
    height: 250px;
    border-radius: 10px;
    background-color: white;
}

.container {
    margin-top: -15px;
    display: flex;
}

.forminfocloseicon {
    margin-left: 370px;
    cursor: pointer;
    color: white;
}

#copyfrommodal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

.copyfrom_content {
    display: block;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border: 1px solid #888;
    width: 600px;
    height: 300px;
    border-radius: 10px;
  }

  .closeicon {
    height: 25px;
    display: flex;
    justify-content: right;
    cursor: pointer;
    margin-bottom: 20px;
  }
  

#reportschedulermodel {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


#reportschedulerform {
    display: none;
}

.caption-med-12-type-primary {
    font-weight: 700;
}

.option {
    height: 40px;
    outline-style: none;
    width: 200px;
}

#AdvancedSchdulerModel {
    border: 1px solid rgb(45, 207, 23);
}

#AdvancedSchdulerTo {
    display: block;
}

#AdvancedSchdulerMailCC {
    display: none;
}

#AdvancedSchdulerMailBCC {
    display: none;
}

#AdvancedSchdulerReportMail {
    display: none;
}

.black-border {
    border: 1px solid black;
}

.reportschedulerformtable td {
    padding: 12px 15px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

#commentmodel {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#comment {
    display: block;
    overflow: auto;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border: 1px solid #888;
    width: 960px;
    height: 600px;
    border-radius: 10px;
}

#newcomment {
    display: none;
}

.commemtlistviewheader {
    background-color: white;
}

#commemtlistviewcontent {
    background-color: #F6F6F6;
    display: flex;
    padding: 7px;
    border-bottom: 1px solid #2b2a2a;
}

#commemtlistviewcontent img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#commentlistdetailcontent{
    display: none;
}

input[type="checkbox"] {
    accent-color:rgb(226, 56, 113);
}

@media (max-width: 1070px) {
    .FormBtns {
        left: -40px;
    }
}

@media (max-width: 1040px) {
    .FormBtns {
        left: -75px;
    }
}

@media (max-width: 1120px) {
    // .FormBtns{
    //     //left: -150px;
    // }
}

@media (max-width: 1040px) {
    // .FormBtns{
    //     //left: -200px;
    // }
}

//   @media (max-width: 980px) {
//     .FormBtns{
//         left: -225px;
//     }
//   }

@media (min-width: 971px) {
    .FormIcon {
        display: none
    }

    .FormBtns {
        display: inline-block
    }
}

@media (max-width: 970px) {
    .FormIcon {
        display: inline-block
    }

    .FormBtns {
        display: none
    }
}