<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<span id="FormReportHeader">
    <span class="btns" [ngClass]="themeClass$ | async">
        <div *ngIf="viewmode=='Reports' || viewmode ==='Report&forms'"></div>
        <div class="FormBtns" *ngIf="viewmode=='Forms' || viewmode=='FormsWithDataStoreValue'">
            <button class="movePrev" mat-raised-button *ngIf="viewmode=='FormsWithDataStoreValue'" (click)="movePrev()">
                <mat-icon class="keyboard_arrow">keyboard_arrow_left</mat-icon>
            </button>
            <button class="moveNext" mat-raised-button *ngIf="viewmode=='FormsWithDataStoreValue'" (click)="moveNext()">
                <mat-icon class="keyboard_arrow">keyboard_arrow_right</mat-icon>
            </button>
            <button class="caption-med-12-type-primary save" *ngIf="Save == true" [disabled]="disableButton" mat-raised-button
            (click)="saveRecord()" [ngStyle]="{ 'opacity': buttonOpacity }" style="background-color: #32AE73;color: #FFFFFF;">
            <mat-icon>save</mat-icon>Save
            </button>
            <button class="caption-med-12-type-primary save" *ngIf="Save == false" [disabled]="disableButton" mat-raised-button
                (click)="saveRecord()" style="background-color: #32AE73;color: #FFFFFF;">
                <mat-icon>check_circle</mat-icon>Update
            </button>
            <button class="caption-med-12-type-primary delete" [disabled]="disableButton" mat-raised-button
                (click)="deleteRecord()" [ngStyle]="{ 'opacity': buttonOpacity }" style="border: 0.5px solid;color: #ED2531;">
                <mat-icon>delete</mat-icon>Delete
            </button>
            <button mat-raised-button class="caption-med-12-type-primary text"
                (click)='clearRecord()' style="border: 0.5px solid;color: #6E3AB6;" [disabled]="disableButton">
                <mat-icon>add_circle</mat-icon>Add New
            </button>
            <button class="caption-med-12-type-primary edit" mat-raised-button [disabled]="editDisableButton" [ngStyle]="{ 'opacity': editButtonOpacity }" (click)="editRecord()" style="background-color: #834DD0;color: #FFFFFF;">
                <mat-icon>edit</mat-icon> Edit
            </button>
            

            <button [matMenuTriggerFor]="Formsettings" mat-raised-button class="caption-med-12-type-primary text" style="border: 0.5px solid;color: #6E3AB6;">
                <mat-icon><mat-icon>settings</mat-icon></mat-icon>

                <mat-menu #Formsettings="matMenu">
                    <div>
                        <span (click)="Infoform()" mat-menu-item class="viewdata">
                            <mat-icon>info</mat-icon>INFO
                        </span>
                    </div>

                    <div>
                        <span (click)="CommentModel()" mat-menu-item class="viewdata">
                            <mat-icon>question_answer</mat-icon>Comment
                        </span>
                    </div>

                    <div>
                        <span (click)="saveDraft()" mat-menu-item class="viewdata">
                            <mat-icon>autorenew</mat-icon>Draft
                        </span>
                    </div>

                    <div *ngIf="CopyFromDisplay">
                        <span (click)="copyFrom()" mat-menu-item class="viewdata">
                            <mat-icon>file_copy</mat-icon>CopyFrom
                        </span>
                    </div>
                </mat-menu>
            </button>
            <!-- ViewSetting for form -->
            <!-- <button [matMenuTriggerFor]="formViewList" class="btn viewlist">
                <img width="16px" height="16px" src="assets/icons/mdi_eye-refresh.png">
                <mat-menu #formViewList="matMenu">
                    <div>
                        <span mat-menu-item class="viewdata" (click)='selectedformview({View: value})'
                            *ngFor="let value of formviewtypes">{{ value }}</span>
                    </div>
                </mat-menu>
            </button> -->
        </div>
        <div class="ReportBtns" *ngIf="viewmode=='Reports' || viewmode ==='Report&forms'" style="padding-top: 15px;">
            <span *ngIf="ReportId != -1399990799" class="pagination"><span class="pagenumber">{{firstnumber}} -
                    {{maxresult}} of
                    {{TotalRecord}}</span><button class="pagebutton" id="prevprevbutton" (click)="prepreviousset()"><img
                        src="assets/icons/Frame 626 (1).png" width="16px" height="16px"></button><button
                    class="pagebutton" id="prevbutton" (click)="previousset()"><img
                        src="assets/icons/clarity_step-forward-2-line (1).png" width="16px"
                        height="16px"></button><button class="pagebutton" id="nextbutton" (click)="nextset()"><img
                        src="assets/icons/clarity_step-forward-2-line.png" width="16px" height="16px"></button><button
                    class="pagebutton" id="nextnextbutton" (click)="nextnextset()"><img src="assets/icons/Frame 626.png"
                        width="16px" height="16px"></button></span>
            <button mat-raised-button style="top: -20px; margin-right: 10px; height: 28px;"
                *ngIf="viewmode =='Report&forms'" (click)="path()"><mat-icon
                    style="font-size: 16px; width: 16px; height: 16px;">add_box</mat-icon></button>
            <button [matMenuTriggerFor]="ViewList" class="btn viewlist">
                <img width="16px" height="16px" src="assets/icons/mdi_eye-refresh.png">
                <mat-menu #ViewList="matMenu">
                    <div>
                        <span mat-menu-item class="viewdata"
                            (click)='selectedview({Id: values.ReportViewId, View: values.ReportViewType , SecondTemplateLocation: values.SecondTemplateLocation,ViewName: values.ReportViewName , TemplateLocation: values.TemplateLocation})'
                            *ngFor="let values of viewtypes">{{ values.ReportViewName }}</span>
                    </div>
                </mat-menu>
            </button>
            <app-gbfilter></app-gbfilter>
            <button color="" [matMenuTriggerFor]="matmenu" class="btn vert">
                <img src="assets/icons/ph_dots-three-vertical.png" width="16px" height="16px">
                <mat-menu #matmenu="matMenu" class="mymegamenu">
                    <div mat-menu-item class="caption-med-12-type-primary menudata viewdata" (click)="refresh()">
                        <mat-icon>cached</mat-icon>
                        <span>Refresh</span>
                    </div>
                    <div mat-menu-item class="caption-med-12-type-primary menudata viewdata" (click)="pdf()">
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span>PDF</span>
                    </div>
                    <div mat-menu-item [matMenuTriggerFor]="excel"
                        class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon>description</mat-icon>
                        <span>Excel</span>
                    </div>
                    <mat-menu #excel="matMenu" class="mymegamenu">
                        <span *ngFor="let data of exceldata">
                            <span *ngIf="data.TemplateId=='-1'">
                                <div (click)="Excel(data)" mat-menu-item
                                    class="caption-med-12-type-primary menudata viewdata">
                                    <mat-icon>description</mat-icon>
                                    <span>{{ data.ReportViewName }}</span>
                                </div>
                            </span>
                        </span>
                    </mat-menu>
                    <div mat-menu-item [matMenuTriggerFor]="csv" class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon>description</mat-icon>
                        <span>CSV</span>
                    </div>
                    <mat-menu #csv="matMenu" class="mymegamenu">
                        <span *ngFor="let data of exceldata">
                            <span *ngIf="data.TemplateId=='-1'">
                                <div (click)="CSV(data)" mat-menu-item class="caption-med-12-type-primary menudata viewdata">
                                    <mat-icon>description</mat-icon>
                                    <span>{{ data.ReportViewName }}</span>
                                </div>
                            </span>
                        </span>
                    </mat-menu>
                    <div mat-menu-item class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon (click)="gblogclick()">home</mat-icon>
                        <span (click)="gblogclick()">Gb Log</span>
                    </div>
                    <div mat-menu-item class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon (click)="aboutclick()">info</mat-icon>
                        <span (click)="aboutclick()">About</span>
                    </div>

                    <div (click)="reportviewsetting()" mat-menu-item
                        class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon>settings_system_daydream</mat-icon>
                        <span class="caption-med-12-type-primary">Report View Settings</span>
                    </div>

                    <div (click)="reportviewscheularmodel()" mat-menu-item
                        class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon>assignment</mat-icon>
                        <span class="caption-med-12-type-primary">Scheduler</span>
                    </div>

                    <div (click)="openemaildailogbox(template)" mat-menu-item
                        class="caption-med-12-type-primary menudata viewdata">
                        <mat-icon>email</mat-icon>
                        <span class="caption-med-12-type-primary">Mail</span>
                    </div>


                </mat-menu>
            </button>
        </div>
    </span>

    <ng-template #template>
        <h1>Direct Mail Sending</h1>
        <br><br>
        <span>Send To Mail-Ids</span>&nbsp;&nbsp;<input #emailid type="text">
        <br><br>
        <span>PDF</span>&nbsp;<input value="1" name="type" #pdfinputmail
            type="radio">&nbsp;&nbsp;<span>CSV</span>&nbsp;<input #csvinputmail value="0" name="type" type="radio">
        <br><br>
        <button mat-flat-button color="primary" (click)="emailtosumbit()">Ok</button>
    </ng-template>

    <ng-template #prompt>
        <span #prompt>
            <button color="" [matMenuTriggerFor]="matmenu" class="btn vert" mat-raised-button>
                <mat-icon>more_vert</mat-icon>
                <mat-menu #matmenu="matMenu" class="mymegamenu">
                    <button mat-menu-item>
                        <mat-icon>autorenew</mat-icon>
                        <span class="caption-med-12-type-primary">Refresh</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>receipt</mat-icon>
                        <span class="caption-med-12-type-primary">Report</span>
                    </button>
                    <button mat-menu-item (click)="pdf()">
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span class="caption-med-12-type-primary">PDF</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>photo_filter</mat-icon>
                        <span class="caption-med-12-type-primary">CSV</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>email</mat-icon>
                        <span class="caption-med-12-type-primary">Mail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon (click)="gblogclick()">home</mat-icon>
                        <span (click)="gblogclick()" class="caption-med-12-type-primary">Gb Log</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon (click)="aboutclick()">home</mat-icon>
                        <span (click)="aboutclick()" class="caption-med-12-type-primary">About</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>search</mat-icon>
                        <span class="caption-med-12-type-primary">Pivot</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>open_in_new</mat-icon>
                        <span class="caption-med-12-type-primary">View</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>build</mat-icon>
                        <span class="caption-med-12-type-primary">View Settings</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>subject</mat-icon>
                        <span class="caption-med-12-type-primary">Scheduler</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>print</mat-icon>
                        <span class="caption-med-12-type-primary">Print</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>favorite_border</mat-icon>
                        <span class="caption-med-12-type-primary">Add/Remove Favorite</span>
                    </button>
                </mat-menu>
            </button>
        </span>
    </ng-template>


    <div id="reportviewsettingreportmodel">
        <div id="settingsss">
            <mat-icon style="color: rgb(226, 56, 113); margin-left: 895px; cursor: pointer;" (click)="reportsettingclose()">cancel</mat-icon><br>
            <span>Views For Report</span> <button class="addnewreportsetting" mat-flat-button color="primary"
                id="Addnewreport" (click)="Addnewreport()">ADD NEW</button>
            <br><br>

            <div id="reportviewsettingstable">
                <table class="styled-table" [ngClass]="themeClass$ | async">
                    <thead>
                        <tr class="mon-sixth" style="color: #FFFFFF;">
                            <td>#</td>
                            <td>S</td>
                            <td>Name</td>
                            <td>Type</td>
                            <td>Particulars</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of Reportviewreportsettings; let i=index;">
                            <td>{{i+1}}.</td>
                            <td>D</td>
                            <td>{{item.ReportViewName}}</td>
                            <td>{{item.ReportViewType}}</td>
                            <td>{{item.ReportViewRemarks}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="Reportviewsetttingtype">
                <div *ngIf="Reportviewaddnewsettings">
                <form [formGroup]="reportsettingform">
                    <app-entitylookup [picklisturl]="'Reportsetting'"
                        [formControl]="reportsettingform?.get('ReportViewName')" [label]="'View Name'"
                        [picklistdisplaytext]="'Name'" [picklistsearchfields]="'Name'" [multiple]="false"
                        (Onselectdataids)="Getselectedid($event)" [picklistselection]="'Id'" [width]="'200'"
                        [picklisttitle]="'Name'" [defaultvalue]="''"
                        [dependpicklist]="dependentPicklistEmployee"></app-entitylookup>
                    <label>Remarks</label><input [formControl]="reportsettingform?.get('ReportViewRemarks')"
                        type="text"><br><br>
                    <label>ViewType</label><mat-radio-group [formControl]="reportsettingform?.get('ReportViewType')">
                        <span *ngFor='let val of ViewtypePickLists'>
                            <mat-radio-button [checked]='val.checked'
                                [value]='val.key'>{{val.value}}</mat-radio-button>&nbsp;&nbsp;
                        </span>
                    </mat-radio-group>&nbsp;&nbsp;&nbsp;
                    <label>Column Freeze</label><input [formControl]="reportsettingform?.get('ReportViewColumnFreeze')"
                        type="text"><br><br>
                    <label>Report Title</label><input type="text"><br><br>
                    <label>Isvisible</label><input type="checkbox"><br><br>
                    <label>Show Display Fields</label><input type="checkbox">&nbsp;&nbsp;
                    <label> Show Non Display Fields</label><input type="checkbox">
                    &nbsp;&nbsp;<label>SelectAll</label>
                    &nbsp;&nbsp;<label>Deselect All</label>
                    &nbsp;&nbsp;<label>Advanced</label>

                    <table class="reporttable" [ngClass]="themeClass$ | async"
                        *ngIf="Reportviewaddnewsettings && Reportviewaddnewsettings.length > 0">
                        <thead>
                            <tr class="mon-sixth" style="color: #FFFFFF;">
                                <td>#</td>
                                <td>Name</td>
                                <td>Display Name</td>
                                <td>Format</td>
                                <td>Display</td>
                                <td>M</td>
                                <td>G</td>
                                <td>ST</td>
                                <td>GT</td>
                                <td>ifEmpty</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr formArrayName="ReportViewFieldsDTOs"
                                *ngFor="let field of ReportViewFieldsDTOs.controls; let i = index">
                                <td>{{i+1}}.</td>
                                <td>{{ field.get('ReportVsFieldsFieldName').value }}</td>
                                <td [formGroupName]="i"><input [formControl]="field.get('ReportViewFieldsFieldTitle')"
                                        type="text"></td>
                                <td [formGroupName]="i"><input [formControl]="field.get('ReportViewFieldsCalFormat')"
                                        type="text"></td>
                                <td [formGroupName]="i"><input [formControl]="field.get('ReportViewFieldsIsDisplay')"
                                        type="checkbox"></td>
                                <td [formGroupName]="i"><input
                                        [formControl]="field.get('ReportViewFieldsIsMergeColumn')" type="checkbox"></td>
                                <td [formGroupName]="i"><input
                                        [formControl]="field.get('ReportViewFieldsIsGroupcolumn')" type="checkbox"></td>
                                <td [formGroupName]="i"><input [formControl]="field.get('ReportViewFieldsIsSubTotal')"
                                        type="checkbox"></td>
                                <td [formGroupName]="i"><input [formControl]="field.get('ReportViewFieldsIsGrandTotal')"
                                        type="checkbox"></td>
                                <td [formGroupName]="i"><input
                                        [formControl]="field.get('ReportViewFieldsSuppressIfEmpty')" type="checkbox">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <br>
                <button mat-flat-button (click)="reportsettingsave()" color="primary">Save</button>&nbsp;&nbsp;
                <button mat-flat-button color="primary">Clear</button>&nbsp;&nbsp;
                <button mat-flat-button color="primary">Close</button>&nbsp;&nbsp;
                <button mat-flat-button color="primary">Delete</button>&nbsp;&nbsp;
                <button mat-flat-button color="primary">Copy From</button>

                <b>M</b>>><span>Merge</span>;&nbsp;<b>G</b>>><span>Group</span>;&nbsp;<b>ST</b>>><span>Sub
                    Total</span>;&nbsp;<b>GT</b>>><span>Grand Total</span>;&nbsp;
                <b>DT</b>>><span>DisplayType</span>;&nbsp;<b>AT</b>>><span>AggregationType</span>;&nbsp;<b>CT</b>>><span>ColumnTotal</span>;&nbsp;<b>RT</b>>><span>RowTotal</span>;&nbsp;
                <b>PL</b>>><span>PivotLevel</span>;&nbsp;
                </div>
            </div>
        </div>
        <br>
    </div>

    <div id="infoformmodel">
        <div id="infosetting">
            <div class="container mon-sixth">
                <h4 style="color:white;">Info Form</h4>
                <mat-icon class="forminfocloseicon" (click)="infomodelclose()">close</mat-icon>
            </div>
            <br>
            <table class="styled-table">
                <tbody>
                    <tr>
                        <td>Object</td>
                        <td><span>{{Infoformid}}</span><br><span>{{Inforformname}}</span></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{Infostatus}}</td>
                    </tr>
                    <tr>
                        <td>Created On</td>
                        <td>{{Infolastcreatedon | DateFormatter}}</td>
                    </tr>
                    <tr>
                        <td>Last Modified On</td>
                        <td>{{Infolastmodifiedon | DateFormatter}}</td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>{{Infoversion}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <span>Object</span>&nbsp;&nbsp;<span>{{Infoformid}}</span><br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{Inforformname}}</span><br><br>
            <span>Status</span>&nbsp;&nbsp;<span>{{Infostatus}}</span><br><br>
            <span>Created On</span>&nbsp;&nbsp;<span>{{Infolastcreatedon}}</span><br><br>
            <span>Last Modified On</span>&nbsp;&nbsp;<span>{{Infolastmodifiedon}}</span><br><br>
            <span>Version</span>&nbsp;&nbsp;<span>{{Infoversion}}</span> -->
        </div>
    </div>

    <div id="copyfrommodal">
        <span class="copyfrom_content">
            <span class="closeicon" (click)="close()"><mat-icon>cancel</mat-icon></span>
            <div *ngIf="CopyFrom">
                <app-entitylookup class="KeyField" [PicklistObj]="CopyFromJSON.ObjectFields[0][CopyFromName]"
                (Onselectdata)="CopyFromPatchValue($event)"
                [defaultvalue]="''"></app-entitylookup>    
            </div>
            <span (click)="copyfromsave()">Save</span>
        </span>
    </div>

    <div id="reportschedulermodel">
        <div id="settingsss">
            <mat-icon style="color: rgb(226, 56, 113); margin-left: 895px; cursor: pointer;" (click)="schedulerclose()">cancel</mat-icon><br>
            <span>Action Setting</span> <button class="addnewreportsetting" mat-flat-button
                color="primary" id="Addnewscheduler" (click)="Addnewschdeular()">ADD NEW</button>
            <br><br>

            <div id="reportschedulertable">
                <table class="styled-table" [ngClass]="themeClass$ | async">
                    <thead>
                        <tr class="mon-sixth" style="color: #FFFFFF;">
                            <td>#</td>
                            <td>Type</td>
                            <td>Name</td>
                            <td>Mail Template</td>
                            <td>Action Type</td>
                            <td>To</td>
                            <td>Cc</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ReporttableScheduler; let i=index;">
                            <td>{{i+1}}.</td>
                            <td>{{item.Type}}</td>
                            <td>{{item.JobName}}</td>
                            <td>{{item.MailTemplateName}}</td>
                            <td>{{item.ActionType}}</td>
                            <td>{{item.To}}</td>
                            <td>{{item.MailCC}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="reportScheduler" id="reportschedulerform" [formGroup]="reportScheduler">
                <table class="reportschedulerformtable" [ngClass]="themeClass$ | async">
                    <tbody>
                        <tr>
                            <td>Period *</td>
                            <td><app-entitylookup [picklisturl]="'Schedularperiod'" style="display: inline-block;"
                                    [formControl]="reportScheduler?.get('SchedulerName')" [label]="''"
                                    [picklistdisplaytext]="'Name'" [picklistsearchfields]="'Name'" [multiple]="false"
                                    [LinkId]="'SchedulerId'" (Onselectdataids)="GetselectedSchedularperiod($event)"
                                    [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Name'"
                                    [defaultvalue]="''"></app-entitylookup>
                            </td>
                        </tr>
                        <tr>
                            <td>Job Name*</td>
                            <td><input class="black-border" [formControl]="reportScheduler?.get('JobName')" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>Action Type*</td>
                            <td><select class="option caption-med-12-type-primary"
                                    [formControl]="reportScheduler?.get('ActionType')" ngDefaultControl>
                                    <option class="caption-med-12-type-primary"
                                        *ngFor="let data of ActionTypes; let i = index;" [value]="i">
                                        {{data}}
                                    </option>
                                </select></td>
                            <td><button mat-flat-button color="primary"
                                    (click)="schedulercondition()">Condition</button></td>
                        </tr>
                        <tr *ngIf="showEvalCondition">
                            <td>Eval Condition</td>
                            <td><textarea class="black-border"
                                    [formControl]="reportScheduler?.get('EventTypeActionDetailEvalCondition')"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Template</td>
                            <td><app-entitylookup [picklisturl]="'SchedularTemplate'"
                                    [formControl]="reportScheduler?.get('MailTemplateId')" [label]="''"
                                    [picklistdisplaytext]="'Name'" [picklistsearchfields]="'Name'" [multiple]="false"
                                    (Onselectdataids)="GetselectedSchedulartemplate($event)" [picklistselection]="'Id'"
                                    [width]="'200'" [picklisttitle]="'Name'" [defaultvalue]="''"
                                    [dependpicklist]="SchedulerPicklistTemplate"></app-entitylookup></td>
                        </tr>
                        <tr>
                            <td>Report</td>
                            <td><input class="black-border" [formControl]="reportScheduler?.get('MenuName')" type="text"
                                    [readonly]="isReadOnly"></td>
                        </tr>
                        <tr>
                            <td>Criteria Configuration</td>
                            <td><app-entitylookup [picklisturl]="'SchedulerCriteriaConfig'"
                                    [formControl]="reportScheduler?.get('CriteriaConfigId')" [label]="''"
                                    [picklistdisplaytext]="'Name'" [picklistsearchfields]="'Name'" [multiple]="false"
                                    (Onselectdataids)="GetselectedSchedularperiod($event)" [picklistselection]="'Id'"
                                    [width]="'200'" [picklisttitle]="'Name'" [defaultvalue]="''"
                                    [dependpicklist]="SchedulerPicklistCriteriaConfig"></app-entitylookup></td>
                        </tr>
                        <tr>
                            <td>ReportFormat</td>
                            <td><app-entitylookup [picklisturl]="'SchedulerReportFormat'"
                                    [formControl]="reportScheduler?.get('ReportFormatId')" [label]="''"
                                    [picklistdisplaytext]="'Name'" [picklistsearchfields]="'Name'" [multiple]="false"
                                    (Onselectdataids)="GetselectedSchedularperiod($event)" [picklistselection]="'Id'"
                                    [width]="'200'" [picklisttitle]="'Name'" [defaultvalue]="''"
                                    [dependpicklist]="SchedulerPicklistReportFormat"></app-entitylookup></td>
                        </tr>
                        <tr>
                            <td>To</td>
                            <td><input class="black-border" [formControl]="reportScheduler?.get('To')" type="text"></td>
                        </tr>
                        <tr>
                            <td>Reply To</td>
                            <td><input class="black-border" [formControl]="reportScheduler?.get('ReplyTo')" type="text">
                            </td>
                            <td><button mat-flat-button color="primary" (click)="AdvancedSchduler()">Advanced</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Group By Fields</td>
                            <td><app-entitylookup [picklisturl]="'SchedularGroupByFields'"
                                    [formControl]="reportScheduler?.get('SchedulerId')" [label]="''"
                                    [picklistdisplaytext]="'MemberName'" [picklistsearchfields]="'MemberName'"
                                    [multiple]="false" (Onselectdataids)="GetselectedSchedularperiod($event)"
                                    [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'MemberName'"
                                    [defaultvalue]="''"></app-entitylookup></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div id="AdvancedSchdulerModel" *ngIf="AdvancedSchdulerModels">
                    <button mat-raised-button color="primary" (click)="AdvancedTo()">TO</button>&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button color="primary" (click)="AdvancedCC()">Mail CC</button>&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button color="primary" (click)="AdvancedBCC()">Mail
                        BCC</button>&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button color="primary" (click)="AdvancedReportMail()">Report
                        Mail</button>&nbsp;&nbsp;&nbsp;

                    <span id="AdvancedSchdulerTo">
                        <span>Delivery Type</span><select class="option caption-med-12-type-primary"
                            [formControl]="reportScheduler?.get('ToDeliveryType')" ngDefaultControl>
                            <option class="caption-med-12-type-primary"
                                *ngFor="let data of DeliveryTypes; let i = index;" [value]="i">
                                {{data}}
                            </option>
                        </select><br>
                        <span>Content Type</span><select class="option caption-med-12-type-primary"
                            [formControl]="reportScheduler?.get('ToContentType')" ngDefaultControl>
                            <option class="caption-med-12-type-primary"
                                *ngFor="let data of ContentTypes; let i = index;" [value]="i">
                                {{data}}
                            </option>
                        </select><br>
                        <span>Send To</span><input [formControl]="reportScheduler?.get('To')" type="text">
                    </span>
                    <span id="AdvancedSchdulerMailCC">
                        <span>Delivery Type</span><select [formControl]="reportScheduler?.get('MailCCDeliveryType')"
                            class="option caption-med-12-type-primary" ngDefaultControl>
                            <option class="caption-med-12-type-primary"
                                *ngFor="let data of DeliveryTypes; let i = index;" [value]="i">
                                {{data}}
                            </option>
                        </select><br>
                        <span>Content Type</span><select class="option caption-med-12-type-primary"
                            [formControl]="reportScheduler?.get('MailCCContentType')" ngDefaultControl>
                            <option class="caption-med-12-type-primary"
                                *ngFor="let data of ContentTypes; let i = index;" [value]="i">
                                {{data}}
                            </option>
                        </select><br>
                        <span>CC To</span><input [formControl]="reportScheduler?.get('MailCC')" type="text">
                    </span>
                    <span id="AdvancedSchdulerMailBCC">
                        <span>Delivery Type</span><select class="option caption-med-12-type-primary"
                            [formControl]="reportScheduler?.get('MailBCCDeliveryType')" ngDefaultControl>
                            <option class="caption-med-12-type-primary"
                                *ngFor="let data of DeliveryTypes; let i = index;" [value]="i">
                                {{data}}
                            </option>
                        </select><br>
                        <span>Content Type</span><select class="option caption-med-12-type-primary"
                            [formControl]="reportScheduler?.get('MailBCContentType')" ngDefaultControl>
                            <option class="caption-med-12-type-primary"
                                *ngFor="let data of ContentTypes; let i = index;" [value]="i">
                                {{data}}
                            </option>
                        </select><br>
                        <span>BCC To</span><input [formControl]="reportScheduler?.get('MailBCC')" type="text">
                    </span>
                    <span id="AdvancedSchdulerReportMail">
                        <span>Format</span>
                        <span>ReportType</span><select class="option caption-med-12-type-primary"
                            [formControl]="reportScheduler?.get('ReportType')" ngDefaultControl>
                            <option class="caption-med-12-type-primary" *ngFor="let data of ReportTypes; let i = index;"
                                [value]="i">
                                {{data}}
                            </option>
                        </select><br>
                        <span>Template</span><app-entitylookup [picklisturl]="'SchedulerTemplate'"
                            style="display: inline-block;" [formControl]="reportScheduler?.get('FileName')" [label]="''"
                            [picklistdisplaytext]="'Name'" [picklistsearchfields]="'Name'" [multiple]="false"
                            [LinkId]="'FileId'" (Onselectdataids)="GetselectedSchedularperiod($event)"
                            [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Name'"
                            [dependpicklist]="SchedulerPicklistFile" [defaultvalue]="''"></app-entitylookup><br>
                        <span>Attachment Type</span><select [formControl]="reportScheduler?.get('ActionForType')"
                            class="option caption-med-12-type-primary" ngDefaultControl>
                            <option class="caption-med-12-type-primary" *ngFor="let data of AttachTypes; let i = index;"
                                [value]="i">
                                {{data}}
                            </option>
                        </select>
                    </span>
                </div>
                <br>
                <button mat-flat-button (click)="reportschedulerformsave()" color="primary">Save</button>&nbsp;&nbsp;
                <button mat-flat-button color="primary">Delete</button>&nbsp;&nbsp;
                <button mat-flat-button color="primary">Close</button>&nbsp;&nbsp;
                <button mat-flat-button color="primary">Clear</button>
            </div>
        </div>
        <br>
    </div>


    <div id="commentmodel">
        <div id="comment">
            <div id="commentlist" *ngIf="CommentListviewData">
                <div class="commemtlistviewheader">
                    <span style="color: rgb(226, 56, 113); font-weight: 600;">{{CommentListviewData[0].UserName}}</span>
                    <input type="checkbox" style="margin-left: 700px;">Show Resolved<span><mat-icon
                            style="color: rgb(226, 56, 113); margin-left: 30px; cursor: pointer;" (click)="commentclose()">cancel</mat-icon></span>
                </div>
                <br>
                <!-- LISTVIEWW>>>>>>>> -->
                <div *ngIf="commemtlistviewcontentvisible == true">
                    <div *ngFor="let value of CommentListviewData" id="commemtlistviewcontent"
                        style="cursor: pointer ;">
                        <img src="./../../../assets/icons/User.png" width="40px" height="40px">
                        <div (click)="CommentDetailview(value.children)">
                            <span style="font-weight:600;">{{value.UserName}}</span>&nbsp;&nbsp;<mat-icon
                                *ngIf="value.children" style="display: inline-block; vertical-align: middle;"
                                color="primary">reply</mat-icon><span *ngIf="value.children"
                                style="display: inline-block; vertical-align: middle;">{{value.children.length}}</span><br>
                            <span>{{value.CommentCommentText}}</span>
                        </div>
                        <span
                            style="margin-right: 20px; opacity: 0.6; color: #999; margin-left: auto;">{{value.CommentModifiedOn
                            | DateFormatter}}
                        </span><mat-icon style="color: rgb(36, 117, 67);" *ngIf="value.CommentCommentStatuss == 1">offline_pin</mat-icon>
                        <br>
                    </div>
                </div>

                <!-- DETAILVIEWW>>>>>>-->
                <div id="commentlistdetailcontent">
                    <div *ngFor="let value of SelectedCommentData">
                        {{value.UserName}}
                    </div>
                </div>
                <mat-icon *ngIf="commemtlistviewcontentvisible == true"
                    style="cursor: pointer; z-index: 99px; margin-left: 400px; color: rgb(226, 56, 113); font-size: 45px;"
                    (click)="Newcomment()">add_circle</mat-icon>
            </div>
            <div id="newcomment" *ngIf="CommentListviewData">
                <div class="commemtlistviewheader">
                    <span style="color: rgb(226, 56, 113); font-weight: 600;">{{CommentListviewData[0].UserName}}</span>
                    <span><mat-icon
                            style="color: rgb(226, 56, 113); margin-left: 845px; cursor: pointer;" (click)="commentclose()">cancel</mat-icon></span>
                </div><br><br>
                <form [formGroup]="form">
                    <quill-editor [styles]="{height: '200px'}"
                        formControlName="CommentCommentText"></quill-editor>
                </form><br><br>
                <mat-icon style="color: rgb(226, 56, 113); margin-left: 895px; cursor: pointer;" (click)="newcommentsave()">send</mat-icon>
            </div>
        </div>
    </div>



    <button class="icon FormIcon" mat-icon-button [matMenuTriggerFor]="menu"
        *ngIf="viewmode=='Forms' || viewmode =='FormsWithDataStoreValue'">
        <mat-icon class="more">more_vert</mat-icon>
    </button>
    <mat-menu id="mob_formaction" #menu="matMenu" [overlapTrigger]="false" style="overflow: hidden;">
        <button mat-menu-item class="movePrev" (click)="movePrev()" *ngIf="viewmode=='FormsWithDataStoreValue'">
            <mat-icon class="keyboard_arrow">keyboard_arrow_left</mat-icon>
        </button>
        <button mat-menu-item class="moveNext" (click)="moveNext()" *ngIf="viewmode=='FormsWithDataStoreValue'">
            <mat-icon class="keyboard_arrow">keyboard_arrow_right</mat-icon>
        </button>
        <button mat-menu-item class="save" (click)="saveRecord()" [disabled]="disableButton" [ngStyle]="{ 'opacity': buttonOpacity }">
            <mat-icon style="color: #32AE73 !important;">save</mat-icon><span>Save</span>
        </button>
        <button mat-menu-item class="delete" (click)="deleteRecord()" [ngStyle]="{ 'opacity': buttonOpacity }" [disabled]="disableButton">
            <mat-icon style="color: #ED2531 !important;">delete</mat-icon><span>Delete</span>
        </button>
        <button mat-menu-item class="edit" (click)="clearRecord()">
            <mat-icon style="color: #FFFFFF !important;">add_circle</mat-icon><span>AddNew</span>
        </button>
        <button mat-menu-item class="edit" (click)="editRecord()" [disabled]="editDisableButton" [ngStyle]="{ 'opacity': editButtonOpacity }">
            <mat-icon style="color: #6E3AB6 !important;">edit</mat-icon><span>Edits</span>
        </button>
        <button mat-menu-item class="edit" (click)="editRecord()">
            <mat-icon style="color: #6E3AB6 !important;">settings</mat-icon><span>Settings</span>
        </button>
    </mat-menu>
    <button class="icon ReportIcon" *ngIf="viewmode=='Reports'">
        <button mat-menu-item [matMenuTriggerFor]="for" class="more" style="border: 0.5px solid;border-color: #6E3AB6;border-radius: 4px;" height="32px"
            width="32px"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #for="matMenu" class="s">
            <button mat-menu-item style="display: flex; align-items: center;">
                <app-gbfilter style="height: 36px;"></app-gbfilter>
                <span class="caption-med-12-type-primary">Filter</span>
            </button>
            <button mat-menu-item>
                <mat-icon>autorenew</mat-icon>
                <span class="caption-med-12-type-primary">Refresh</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>receipt</mat-icon>
                <span class="caption-med-12-type-primary">Report</span>
            </button>
            <button mat-menu-item>
                <mat-icon>picture_as_pdf</mat-icon>
                <span class="caption-med-12-type-primary">PDF</span>
            </button>
            <button mat-menu-item>
                <mat-icon>photo_filter</mat-icon>
                <span class="caption-med-12-type-primary">CSV</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>email</mat-icon>
                <span class="caption-med-12-type-primary">Mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon (click)="gblogclick()">home</mat-icon>
                <span (click)="gblogclick()" class="caption-med-12-type-primary">Gb Log</span>
            </button>
            <button mat-menu-item>
                <mat-icon (click)="aboutclick()">home</mat-icon>
                <span (click)="aboutclick()" class="caption-med-12-type-primary">About</span>
            </button>
            <button mat-menu-item>
                <mat-icon>search</mat-icon>
                <span class="caption-med-12-type-primary">Pivot</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>open_in_new</mat-icon>
                <span class="caption-med-12-type-primary">View</span>
            </button>
            <button mat-menu-item>
                <mat-icon>build</mat-icon>
                <span class="caption-med-12-type-primary">View Settings</span>
            </button>
            <button mat-menu-item>
                <mat-icon>subject</mat-icon>
                <span class="caption-med-12-type-primary">Scheduler</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>print</mat-icon>
                <span class="caption-med-12-type-primary">Print</span>
            </button>
            <button mat-menu-item>
                <mat-icon>favorite_border</mat-icon>
                <span class="caption-med-12-type-primary">Add/Remove Favorite</span>
            </button>
        </mat-menu>
    </button>
</span>