<!-- <div class="container"> -->
    <app-map class="gmap" style="display: inline-block;" [ParentData]='RowData'></app-map>
    <div class="dbtable" style="margin-left: 8px;width: 46.5%;" ngif>
        <table class="Table">
            <thead class="thead">
                <tr class="theadtr">
                    <th class="th cap1-bold-12-white" style="min-width: 25px;">#</th>
                    <th class="th cap1-bold-12-white">Particulars</th>
                    <th class="th cap1-bold-12-white" style="min-width: 50px;">In-time</th>
                    <th class="th cap1-bold-12-white" style="min-width: 50px;">Out-time</th>
                    <th class="th cap1-bold-12-white" style="min-width: 50px;">Distance(kms)</th>
                    <th class="th cap1-bold-12-white">Remarks</th>
                </tr>
            </thead>
            <tbody class="tbody" *ngFor="let data of RowData; let i=index">
                <tr class="tr" *ngIf="data.Type=='In'">
                    <td class="td cap2-med-12-type-primary" style="min-width: 25px;">{{ countInOccurrencesUpToIndex(i) }}</td>
                    <td class="td cap2-med-12-type-primary" style="min-width: 25px;">{{ RowData[i].LocationName }}</td>
                    <td class="td cap2-med-12-type-primary" style="min-width: 50px;">{{ RowData[i+1].Type=='Out' ? RowData[i].PunchTime : '' }}</td>
                    <td class="td cap2-med-12-type-primary" style="min-width: 50px;">{{ RowData[i+1].Type=='Out' ? RowData[i+1].PunchTime : '' }}</td>
                    <td id="distance" class="td cap2-med-12-type-primary" style="min-width: 25px;">{{ RowData[i].GeoDistance }}-{{ calculateDuration(RowData[i].PunchTime, RowData[i+1].PunchTime) }}</td>
                    <td class="td cap2-med-12-type-primary">{{ RowData[i].Remarks }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div><app-map></app-map></div> -->
    <!-- </div> -->
    
    