<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<br>
<mat-card class="mat">
  <mat-card-actions>

    <mat-label class="update"><b>Update order details</b></mat-label>
    <button mat-stroked-button class="morevert">
      <mat-icon>more_vert</mat-icon>
    </button>

    <br>

    <mat-form-field class="Type">
      <mat-label>Type</mat-label>
      <mat-select matNativeControl required>
        <mat-option value="volvo">Volvo</mat-option>
        <mat-option value="saab">Saab</mat-option>
        <mat-option value="mercedes">Mercedes</mat-option>
        <mat-option value="audi">Audi</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="Number">
      <mat-label>Number</mat-label>
      <input matInput placeholder="Enter a number">
    </mat-form-field>

    <mat-form-field class="Date">
      <mat-label>Date</mat-label>
      <input matInput placeholder="Enter a date">
    </mat-form-field>

    <mat-form-field class="Person">
      <mat-label>Person</mat-label>
      <select matNativeControl required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </mat-form-field>

    <mat-form-field class="Gst">
      <mat-label>Gst</mat-label>
      <input matInput placeholder="Enter a Gst">
    </mat-form-field>

    <mat-form-field class="Value">
      <mat-label>Value</mat-label>
      <input matInput placeholder="Enter a value">
    </mat-form-field>
    <br>
    <mat-label class="Multiple"><b>Multiple schedule</b></mat-label>

    <ag-grid-angular style="width: 100%; height: 200px;" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs">
    </ag-grid-angular>
    <br>
    <button class="cancel" mat-raised-button>cancel</button>&nbsp;&nbsp;
    <button class="updatebtn" mat-raised-button>update</button>
    <br>
    <br>
  </mat-card-actions>
</mat-card>