<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>


        <app-entitylookup class="KeyField" [PicklistObj]="TransactionTypeJSON.default.ObjectFields[0].TransactionTypeCode"
            formControlName='TransactionTypeCode' (Onselectdata)="TransactionTypePicklistFillValue($event)"
            [defaultvalue]="form.get('TransactionTypeCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="TransactionTypeJSON.default.ObjectFields[0].TransactionTypeName"
            formControlName='TransactionTypeName' (Onselectdata)="TransactionTypePicklistFillValue($event)"
            [defaultvalue]="form.get('TransactionTypeName').value"></app-entitylookup>

       

<br>
        <app-gb-radiobox class="KeyField" formControlName='TransactionTypeTranscType'></app-gb-radiobox>
        <app-gb-checkbox class="KeyField" formControlName='ShowArchived'></app-gb-checkbox>
<br>
        <app-gb-combobox formControlName="TransactionTypeType"></app-gb-combobox>
        <app-gb-combobox formControlName="TransactionTypeLocationType"></app-gb-combobox>
        <app-gb-radiobox formControlName='TransactionTypeRegistration'></app-gb-radiobox>

        <app-gb-checkbox formControlName='TransactionTypeIsFormReceived'
            (click)="setPatchValueToZero()"></app-gb-checkbox>

            <app-entitylookup [PicklistObj]="TransactionTypeJSON.default.ObjectFields[0].TransactionTypeFormReceived"
            formControlName='TransactionTypeFormReceived' (Onselectdataids)="TransactionTypePicklistPatchValue($event)"
            [defaultvalue]="form.get('TransactionTypeFormReceived').value" *ngIf="form.get('TransactionTypeIsFormReceived').value == 0"></app-entitylookup>


        <app-gb-checkbox formControlName='TransactionTypeIsFormIssued' (click)="setPatchValue()"></app-gb-checkbox>
        
        <app-entitylookup  [PicklistObj]="TransactionTypeJSON.default.ObjectFields[0].TransactionTypeFormIssued"
            formControlName='TransactionTypeFormIssued' (Onselectdataids)="TransactionTypePicklistPatchValue($event)"
            [defaultvalue]="form.get('TransactionTypeFormIssued').value"  *ngIf="form.get('TransactionTypeIsFormIssued').value == 0"></app-entitylookup>


            <app-entitylookup [PicklistObj]="TransactionTypeJSON.default.ObjectFields[0].TransactionTypeVatCategory"
            formControlName='TransactionTypeVatCategory' (Onselectdataids)="TransactionTypePicklistPatchValue($event)"
            [defaultvalue]="form.get('TransactionTypeVatCategory').value"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="TransactionTypeJSON.default.ObjectFields[0].GSTCategoryName"
            formControlName='GSTCategoryName' (Onselectdataids)="TransactionTypePicklistPatchValue($event)"
            [defaultvalue]="form.get('GSTCategoryName').value"></app-entitylookup>

        <app-gb-radiobox formControlName='TransactionTypeCreditType'></app-gb-radiobox>
        <app-gb-radiobox formControlName='TransactionTypeTrackingType'></app-gb-radiobox>
        <app-gb-combobox formControlName='TransactionTypeRG1Category'></app-gb-combobox>
        <app-gb-combobox formControlName='TransactionTypeStatus'></app-gb-combobox>

    </form>
</div>