<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="AllocationTypeJSON.default.ObjectFields[0].AllocationTypeCode"
            formControlName='AllocationTypeCode' (Onselectdata)="AllocationTypePicklistFillValue($event)"
            [defaultvalue]="form.get('AllocationTypeCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="AllocationTypeJSON.default.ObjectFields[0].AllocationTypeName"
            formControlName='AllocationTypeName' (Onselectdata)="AllocationTypePicklistFillValue($event)"
            [defaultvalue]="form.get('AllocationTypeName').value"></app-entitylookup>

<br>
        <app-entitylookup class="KeyField" [PicklistObj]="AllocationTypeJSON.default.ObjectFields[0].CostCategoryName"
            formControlName='CostCategoryName' (Onselectdataids)="AllocationTypePicklistPatchValue($event)"
            [defaultvalue]="form.get('CostCategoryName').value"></app-entitylookup>

        <app-gb-checkbox class="KeyField" formControlName='AllocationTypeIsPostCostCenter'></app-gb-checkbox>
        <br>



        <app-entitylookup  class="KeyField"[PicklistObj]="AllocationTypeJSON.default.ObjectFields[0].EntityName"
            formControlName='EntityName' (Onselectdataids)="AllocationTypePicklistPatchValue($event)"
            [defaultvalue]="form.get('EntityName').value"></app-entitylookup>

        <app-gb-checkbox class="KeyField" formControlName='AllocationTypeIsMultiLevel'></app-gb-checkbox>
        <br>

        <app-gb-checkbox class="KeyField" formControlName='AllocationTypeIsDateBased'></app-gb-checkbox>


    </form>
</div>