
   .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #41394C;
    color: white;
    height:45px;
    font-family: Poppins;
    font-size: 12px;
 }
  .unisoft
  {
  float:left;
  text-align:left;
  margin-left:20px;
  }
  .goodbooks{
  float:right;
  text-align:right;
  margin-right:10px;
  margin-top:4px;
  margin-right:20px;
  }

