<p style="margin-left: 20px;" class="header-title-type-primary">{{BiztransactionClassName}} - {{ ReportType==0 ? 'Total' : 'Pending' }}</p>
<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" style="padding-left: 20px;">Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Number</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">No. of Details</th>
                <th class="th cap1-bold-12-white" style="text-align: right;">Total Quantity</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Total Value</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" [ngClass]="{'color': (i%2 == 0)}" *ngFor="let data of RowData; let i=index">
                <td class="td cap2-med-12-type-primary" style="padding-left: 20px;">{{data.PartyCode}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PartyName}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{ReportType==0 ? data.ActiveNumber : data.PendingNumber}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.UnApprovedNumber}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;">{{data.TotalQuantity}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 20px;">{{data.TotalValue.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</td>
            </tr>
        </tbody>
    </table>
</div>

