<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="TargetShareJSON.default.ObjectFields[0].OUName"
        formControlName='OUName' (Onselectdataids)="TargetSharePicklistPatchValue($event)"
        [defaultvalue]="form.get('OUName').value"></app-entitylookup>
        
        
        <app-entitylookup class="KeyField" [PicklistObj]="TargetShareJSON.default.ObjectFields[0].TargetName"
        formControlName='TargetName' (Onselectdata)="TargetSharePicklistFillValue($event)"
        [defaultvalue]="form.get('TargetName').value"></app-entitylookup>


        <app-gb-formgrid formControlName='TargetShareDetailArray'
            [ArrayDetail]="form.get('TargetId').value" ></app-gb-formgrid>

    </form>
</div>