@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

$thisTheme: (
  // General Settings
  general: (
    name: 'Default',
    darkby: 'media', // media | class
  ),

  // Color Settings
  colors: (

    basecolor: #6E3AB6, // Main Color (blue, #8333d8, hsl(220, 100, 50))

    palette: (
      harmonysettings: ( // com:- Complementary, mon:- Monochromatic, ana:- Analogous, tri:- Triadic, tet:- Tetradic, rot:- Rotation
        mon: (
          noofcolors: 5,  // 1-5
          stepby: 10%
        ),
        rot: (
          noofcolors: 10,  // 1-10
          stepby: 60
        ),
      ),
      // harmonies: ( // This would be auto generated (har-primary, (mon-primary, mon-secondary, mon-tertiary, ...), (ana-primary, ana-secondary, ana-tertiary, ...)), should be overridable and extendable (ref: https://www.canva.com/colors/color-wheel/)
      //   // Override harmony colors here...
      //   // mon-eleventh: red,
      // ),
    ),

    background: (
      surface: white,
      primary: (colors basecolor),
      secondary: (colors palette harmonies ana-secondary),
      tertiary: (colors palette harmonies ana-tertiary),
      warn: orange,
      error: red,
    ),

    text: (
        /*the threshold at which colors are considered "light".
        Range: integers from 0 to 100,
        recommended 50 - 70 */
        threshold: 70,
        forLightColor: #6E3AB6,
        forDarkColor: #6E3AB6,
    )
  ),

  // Typography Settings
  typography: (
    families: (
      sans: 'Arial, sans',
      serif: 'Times, serif',
      mono: '"Courier New", monospace',
      curs: '"Bungee Inline", cursive'
    ),
    fonts: (
      default: (
        style: normal,
        weight: '500',
        size: 14px,
        lineheight: 20px,
        family: (typography families sans),
      ),
      styles: (
        h1: (
          style: 'italic',
          variant: 'small-caps',
          weight: 'bold',
          size: 14px,
          lineheight: 20px,
          family: (typography families mono),
        ),
        h2: (
          style: 'italic',
          variant: 'small-caps',
          weight: '700',
          size: 12px,
          lineheight: 15px,
          family: mono,
        ),
        body1: (
          family: mono,
          size: 14px,
          lineheight: 20px,
        ),
      ),
    ),
  ),

  // Image Settings
  images: (
    logo: url('/assets/images/gblogo.png'),
  ),

  // Miscellaneous Settings
  misc: (
    someprop: somevalue,
  ),

  modes: (
    day: (
    ),
    night: (
      settings: (
        brightness: -60,
        saturation: 10
      ),
      // Override base colors here...
      colors: (
        background: (
          surface: black,
        ),
        text: (

        )
      ),
      typography: ()
    ),
  ),


  // Any framework specific settings should go here
  _fwksettings: (
    material: (
      // primary: (colors background primary),
      // accent: (colors background secondary),
      // warn: red,
      modes: (
        night: (
          type: dark,
          primary: $mat-blue-grey,
          accent: $mat-amber,
        ),
        dark: (
          type: dark,
          primary: $mat-blue-grey,
          accent: $mat-amber,
        ),
      ),
    )
  )
);



$call:initTheme();
// @debug $thisTheme;
@include GBTheme();


// @import './material.scss';

