<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="RoleJSON.default.ObjectFields[0].RoleCode" formControlName='RoleCode'
        (Onselectdata)="RoleRetrivalValue($event)" [defaultvalue]="form.get('RoleCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="RoleJSON.default.ObjectFields[0].RoleName" formControlName='RoleName'
        (Onselectdata)="RoleRetrivalValue($event)" [defaultvalue]="form.get('RoleName').value"></app-entitylookup> 

        
        <app-gb-textarea formControlName='RoleRemarks'></app-gb-textarea>
    </form>
</div>