<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-gb-combobox  formControlName="ActivityMaterialNature"></app-gb-combobox>

        <app-entitylookup  [PicklistObj]="AssetTypeMaterialJSON.default.ObjectFields[0].AssetTypeName"
            formControlName='AssetTypeName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('AssetTypeName').value"
            *ngIf="form.get('ActivityMaterialNature').value == 0"></app-entitylookup>

        <app-entitylookup 
            [PicklistObj]="AssetTypeMaterialJSON.default.ObjectFields[0].ResourceTypeName"
            formControlName='ResourceTypeName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('ResourceTypeName').value"
            *ngIf="form.get('ActivityMaterialNature').value == 1"></app-entitylookup>

        <app-entitylookup [PicklistObj]="AssetTypeMaterialJSON.default.ObjectFields[0].MachineTypeName"
            formControlName='MachineTypeName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('MachineTypeName').value"
            *ngIf="form.get('ActivityMaterialNature').value == 2"></app-entitylookup>


        <app-entitylookup 
            [PicklistObj]="AssetTypeMaterialJSON.default.ObjectFields[0].ActivityName"
            (Onselectdata)="FormFillFunction($event)" formControlName='ActivityName'
            [defaultvalue]="form.get('ActivityName').value">
        </app-entitylookup>

        <app-gb-textarea  formControlName='ActivityMaterialRemarks'></app-gb-textarea> <br>


        <app-gb-formgrid formControlName='AssetTypeMaterialArray'
            [ArrayDetail]="form.get('AssetTypeId').value"></app-gb-formgrid>


    </form>
</div>