<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PortJSON.default.ObjectFields[0].PortCode"
        formControlName='PortCode' (Onselectdata)="PortPicklistFillValue($event)"
        [defaultvalue]="form.get('PortCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PortJSON.default.ObjectFields[0].PortName"
        formControlName='PortName' (Onselectdata)="PortPicklistFillValue($event)"
        [defaultvalue]="form.get('PortName').value"></app-entitylookup>
      
        <app-entitylookup [PicklistObj]="PortJSON.default.ObjectFields[0].CountryName"
        formControlName='CountryName' (Onselectdataids)="PortPicklistPatchValue($event)"
        [defaultvalue]="form.get('CountryName').value" ></app-entitylookup>

        <app-gb-input formControlName='PortGstPortCode'></app-gb-input>

    </form>
</div>
