<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PayTaxSettingJSON.default.ObjectFields[0].PayTaxTypeName"
            formControlName='PayTaxTypeName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('PayTaxTypeName').value">
        </app-entitylookup>

        <app-gb-formgrid formControlName='PayTaxTypeDetailArray'
        [ArrayDetail]="form.get('PayTaxTypeName').value"></app-gb-formgrid>

    </form>
</div>