<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>
    <app-entitylookup class="KeyField" [PicklistObj]="PackSetJSON.default.ObjectFields[0].PackSetCode" formControlName='PackSetCode'
      (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('PackSetCode').value"></app-entitylookup>
    <app-entitylookup class="KeyField" [PicklistObj]="PackSetJSON.default.ObjectFields[0].PackSetName" formControlName='PackSetName'
      (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('PackSetName').value"></app-entitylookup>
    <app-gb-formgrid formControlName='PackSetDetailArray'
      [ArrayDetail]="form.get('PackSetCode').value"></app-gb-formgrid>
  </form>
</div>


<!-- <div *transloco="let t">
  <div *ngIf="form.bFormReady">
    <form [formGroup]='form' ngxsForm="PackSet.currentData" class="packsetform">
      <ng-select [items]="Picklistvalues" [virtualScroll]="true" (change)="changeFn(selection)" bindValue="Code"
        bindLabel="Code" formControlName='PackSetCode' placeholder="{{t('Common.code')}}" [closeOnSelect]="true"
        [clearable]="true" [loading]="dataLoading" [multiple]='false' addTagText="Create New" [addTag]="true"
        [(ngModel)]="selection" class="select" (change)="changeFn(selection)">
      </ng-select>
      <br>
      <app-gb-input formControlName='PackSetName' gbplaceholder="{{t('Common.name')}}"
        gblabel="{{t('Common.name')}}" gbwidth="250"></app-gb-input>
      <app-gridview [rowData]='rowData' [columnDefs]='columndata' #packsetdetails></app-gridview>
    </form>
  </div>
</div> -->