<div class="abb">
  <p>ST : Start Time</p>
  <p>ET : End time </p>
  <p>FHST : First half Start Time</p>
  <p>FHET : First half End Time</p>
  <p>SHST :Second half Start Time</p>
  <p>SHET : Second half End Time</p>
  <p>S-Min : Shift Min</p>
  

</div>

<div class="abc">
  <p>B-Min :  Break Min</p>
  <p>W-Min : Working Min</p>
  <p>G-Min : Grace Min</p>
  <p>HD : Half Day</p>
  <p>FD : Full Day</p>
  <p>CO-in : Cut Off In</p>
  <p>CO-out : Cut Off Out</p>
</div>
<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
        <!-- <th class="th cap1-bold-12-white" >Sno</th> -->
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Shift Name</th>
          <th class="th cap1-bold-12-white" >ST</th>
          <th class="th cap1-bold-12-white" >ET</th>
          <th class="th cap1-bold-12-white" >FHST</th>
          <th class="th cap1-bold-12-white" >FHET</th>
          <th class="th cap1-bold-12-white" >SHST</th>
          <th class="th cap1-bold-12-white" >SHET</th>
          <th class="th cap1-bold-12-white" >S-Min</th>
          <th class="th cap1-bold-12-white" >B-Min</th>
          <th class="th cap1-bold-12-white" >W-Min</th>
          <th class="th cap1-bold-12-white" >G-Min</th>
          <th class="th cap1-bold-12-white" >HD</th>
          <th class="th cap1-bold-12-white" >FD</th>
          <th class="th cap1-bold-12-white" >CO-in</th>
          <th class="th cap1-bold-12-white" >CO-out</th>


          
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowData, let i = index">
         <!-- <td class="td cap2-med-12-type-primary">{{ i + 1 }}</td> -->
          <td class="td cap2-med-12-type-primary" >{{data.ShiftCode}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftDescription}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftStartTime}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftEndTime}}</td> 
          <td class="td cap2-med-12-type-primary" >{{data.ShiftStartTime}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftFirstHalfEndTime}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftSecondHalfStartTime}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftEndTime}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftShiftMinutes}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftBreakMinutes}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftWorkingMinutes}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftGraceMinutes}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftFullDayMinutes}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftHalfDayMinutes}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftCutOffMinutes}}</td>
          <td class="td cap2-med-12-type-primary" >{{data.ShiftCutOffMinutesOut}}</td>


         
        </tr>
      </tbody>
    </table>
    </div>
