<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Code</th>
          <th class="th cap1-bold-12-white" >Name</th>
          <th class="th cap1-bold-12-white" >Activity</th>
          <th class="th cap1-bold-12-white" >Parameter Set</th>
          <th class="th cap1-bold-12-white" >Assigned To</th>
          <th class="th cap1-bold-12-white" >Duration</th>
          <th class="th cap1-bold-12-white" >Grace</th>
          <th class="th cap1-bold-12-white" >Ticket Time</th>
          <th class="th cap1-bold-12-white" style="min-width: 120px;">Last Generation On</th>
          <th class="th cap1-bold-12-white" >CRON Exp</th>

        </tr>
      </thead>
      <tbody class="tbody"> 
        <tr *ngFor="let data of rowDatas"> 
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.code}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.name}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.activity}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Parameterset}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Assignedto}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Duration}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Grace}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Tickettime}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.pl | DateFormatter}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.sl}}</td>
         
        </tr>
      </tbody>
    </table>
    </div>