<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

            <app-entitylookup class="KeyField" [PicklistObj]="ExpiryItemReturnJSON.default.ObjectFields[0].PartyExpiryName"
            formControlName='PartyExpiryName' (Onselectdataids)="ExpiryItemReturnNot($event)" (Onselectdata)="GetExpiryItemId($event)"
            [defaultvalue]="form.get('PartyExpiryName').value"></app-entitylookup>

            <app-gb-input formControlName='Expirydays'  (InputOutPut)="GetRequestName($event)" class="KeyField"></app-gb-input>
         
<br>
<app-entitylookup class="KeyField" [PicklistObj]="ExpiryItemReturnJSON.default.ObjectFields[0].BiztransactionExpiryName"
formControlName='BiztransactionExpiryName' (Onselectdataids)="ExpiryItemReturnNot($event)"
[defaultvalue]="form.get('BiztransactionExpiryName').value" (Onselectdataids)="GetRequestFieldName($event)" ></app-entitylookup>
            
            <app-gb-date formControlName='DocummentDate' [date]="form.get('PartyExpiryNameId').value" class="KeyField" (DateOutPut)="datenewvalue($event)"  (DateOutPut)="datenew($event)"></app-gb-date>

            <br>
<button id="generate" (click)="getGeneratealue()" class="save-button"> Generate</button>

    </form>
</div>