<div class="dbtable">
    <!-- <p class="Op">
        Opening : {{rowData[0].FinalOpening?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}} {{rowData[0].FinalOpening > 0 ? 'Dr' : 'Cr'}}
      </p>
       -->
      <p class="Db">Pending :{{rowData[0].TotalReceivable?.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>
    <p class="Cr">Unadjusted :{{rowData[0].TotalPayable?.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>

      <p class="Cl">
        Balance : {{ rowData[0].TotalBalance === 0 ? '' : (rowData[0].TotalBalance < 0 ? -rowData[0].TotalBalance :
        rowData[0].TotalBalance).toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2
        }) }}
      </p>


    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Number</th>
                <th class="th cap1-bold-12-white">Date</th>
                <th class="th cap1-bold-12-white">Ref.Number</th>
                <th class="th cap1-bold-12-white">Ref.date</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">Amount</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">Pending</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">Unadjusted</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">Balance</th>
                <th class="th cap1-bold-12-white">Currency</th>
                <th class="th cap1-bold-12-white">Due</th>
                <th class="th cap1-bold-12-white">DueAge</th>
                <th class="th cap1-bold-12-white">Age</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">BalanceFc</th>
                <th class="th cap1-bold-12-white">FC Currency</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of tabledata; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
                    {{data.voucherno }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
                    {{data.vdate}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
                    {{data.refno }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">
                    {{data.refdate}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 50px"
                    [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{ data.amountfc === 0 ? '' : (data.amountfc < 0 ? -data.amountfc : data.amountfc)?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 }) }} </td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 50px"
                    [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{ data.receivable === 0 ? '' : (data.receivable < 0 ? -data.receivable :
                        data.receivable)?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2
                        }) }} </td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 50px"
                    [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{ data.payable === 0 ? '' : (data.payable < 0 ? -data.payable :
                        data.payable)?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })
                        }} </td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 50px"
                    [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{ data.bal === 0 ? '' : (data.bal < 0 ? -data.bal :
                        data.bal)?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })
                        }} </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{ data.curcode }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{ data.duedate }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{ data.dueage }}
                </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{ data.billage }}
                </td>
                <td class="td cap2-med-12-type-primary" style="text-align: right; padding-right: 50px"
                    [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{ data.balancefc === 0 ? '' : (data.balancefc < 0 ? -data.balancefc :
                        data.balancefc)?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2
                        }) }} </td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">
                    {{ data.detailcurcode }}
                </td>
            </tr>
        </tbody>
    </table>
</div>