@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';
.grid-button {
    background-color: hsl(0, 5%, 64%); /* Blue background color */
    color: black; /* Text color */
    border: none; /* No border */
    padding: 5px 10px; /* Padding */
    cursor: pointer; /* Cursor style */
  }

  /* Define styles for the button on hover */
  .grid-button:hover {
    background-color: hsl(0, 5%, 64%); /* Darker blue background color */
  }
  .buuuton{
    display: flex;
    justify-content: flex-end;
    margin-right: 700px;
  }