<app-customerheader></app-customerheader>
<app-customernavbar></app-customernavbar>
<app-customersidebar></app-customersidebar>
<!-- <app-ad></app-ad>        -->
<div class="maincontent">
  <app-customermaincontent></app-customermaincontent>
</div>
<app-customerfooter></app-customerfooter>
<!-- <button>submit</button> 
<app-customerorder></app-customerorder> -->
