<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>

    <app-entitylookup class="KeyField" [PicklistObj]="KeyResultAreaJSON.default.ObjectFields[0].KRAName"
      formControlName='KRAName' (Onselectdata)="KeyResultAreaValue($event)"
      [defaultvalue]="form.get('KRAName').value"></app-entitylookup>

    <app-gb-combobox class="KeyField" formControlName="KRAStatus"></app-gb-combobox>

    <app-gb-checkbox class="KeyField" formControlName='PayPeriodIsVisible'></app-gb-checkbox>
    <br>

    <app-entitylookup class="KeyField" [PicklistObj]="KeyResultAreaJSON.default.ObjectFields[0].DepartmentName"
      formControlName='DepartmentName' (Onselectdataids)="KeyResultAreaNot($event)"
      [defaultvalue]="form.get('DepartmentName').value"></app-entitylookup>

    <app-gb-radiobox formControlName='KRANature' class="KeyField"></app-gb-radiobox>

    <br>
    <table>
      <tr style="display:flex;flex-direction:row;">

        <app-gb-textarea formControlName='KRADescription'></app-gb-textarea>

        <app-gb-input formControlName='KRASection' class="KeyField"></app-gb-input>

      </tr>
    </table>

    <app-gb-textarea formControlName='KRARemarks' class="KeyField"></app-gb-textarea>

  </form>
</div>