<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />

<div class="side-menu">
  <nav>
    <button class="quickmenu" mat-raised-button><b>Quick menu</b></button>
    <div class="submenus">
      <button class="submenu" mat-raised-button>
        <mat-icon>description</mat-icon>&nbsp;&nbsp;&nbsp;Inquiry
      </button>
      <button class="submenu" mat-raised-button>
        <mat-icon>description</mat-icon>&nbsp;&nbsp;Quotation
      </button>
      <button (click)="orderlist()" class="submenu" mat-raised-button>
        <mat-icon>assignment_turned_in</mat-icon>&nbsp;&nbsp;Order
      </button>
      <button
        class="submenu"
        mat-raised-button
        routerLinkActive="active"
        [routerLink]="'customerdispatch'"
      >
        <mat-icon>description</mat-icon>&nbsp;&nbsp;Dispatch
      </button>
      <button class="submenu" mat-raised-button>
        <mat-icon>description</mat-icon>&nbsp;&nbsp;Invoice
      </button>
    </div>
  </nav>
</div>
