.mainmenu
{
text-align:center;
margin-right:40px;
}
.side-menu{
    width: 200px;
    height: 0px;
    padding: 50px 0;
    box-sizing: border-box;
    background-color:#FFFFFF;
    position: absolute;
    color:#000000;
    transition: .5s;
    font-size:15px;
    margin-left:15px;
}
.quickmenu{
  height:60px;
  width:160px;
  text-align: left;
  border-bottom: 2px solid rgba(0,0,0,0.2);  
   color: #41394C;
   font-family: Poppins;
   font-size: 16px;
   margin-left: 10px;
   border-radius: 15px 15px 0px 0px;
 }
.submenu{
  height:60px;
  width:160px;
  text-align: left;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  margin-left: 10px;
  font-family: Poppins;
  border-left: 4px solid transparent;

   } 
   .submenu:hover {
    border-left: 4px solid orange;
   }
   @media (min-width: 1641px){
    button.submenu{
     display:inline-block
    
   }
 }
 @media(max-width: 1300px){
  div.submenus{
    margin-left: 220px;
margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
button.quickmenu{
  margin-left: 230px;
  margin-top: -20px;
  width:840px;
}
div.side-menu{
  height: 0;
  width: 0;
}
 }
