<div class='FormOverview' *ngIf="form.bFormReady">
  <form [formGroup]='form'>
    <app-entitylookup class="KeyField" [PicklistObj]="CompanyJSON.default.ObjectFields[0].CompanyCode"
      formControlName='CompanyCode' (Onselectdata)="CompanyPicklistFillValue($event)"
      [defaultvalue]="form.get('CompanyCode').value"></app-entitylookup>

    <app-entitylookup class="KeyField" [PicklistObj]="CompanyJSON.default.ObjectFields[0].CompanyName"
      formControlName='CompanyName' (Onselectdata)="CompanyPicklistFillValue($event)"
      [defaultvalue]="form.get('CompanyName').value"></app-entitylookup>

    <app-entitylookup class="KeyField" [PicklistObj]="CompanyJSON.default.ObjectFields[0].CompanyShortName"
      formControlName='CompanyShortName' (Onselectdata)="CompanyPicklistFillValue($event)"
      [defaultvalue]="form.get('CompanyShortName').value"></app-entitylookup>

    <app-gb-input formControlName='ImportExportCode'></app-gb-input>
    <app-gb-date formControlName="IECDate" [date]="form.get('CompanyId').value" [default]="'today'"></app-gb-date>

    <app-gb-input formControlName='CompanyCINNumber'></app-gb-input>

    <app-gb-input formControlName='CompanyMSMERegNo'></app-gb-input>

  </form>
</div>