<div class="dbtable">
    <table>
        <tr>
            <td style="font-weight: 700;">Duration:{{TotalDuration | NumberFormat: true}}</td>
            <td style="font-weight: 700;padding-left: 500px;">Rate:{{TotalRate | NumberFormat: true}}</td>
            <td style="font-weight: 700;padding-left: 600px;">Value:{{TotalValue | NumberFormat: true}}</td>
        </tr>
    </table>
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Date</th>
                <th class="th cap1-bold-12-white">Number</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white">WOrk Center</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Planned</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Rec/Prod</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Pending</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Available</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">WIP</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Nxt Process</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Nxt Proc. pend</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Duration</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Rate</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 70px;">Value</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr"*ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.IndentDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.IndentNumber}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.Name}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.WorkCenterName}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 70px;">{{data.Planned | NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 70px;">{{data.Produced | NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 70px;">{{data.Pending | NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 70px;">{{data.AvailableToWork | NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 70px;">{{data.WIPStock | NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 70px;">{{data.NextProcessName | NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 70px;">{{data.NextProcessPending | NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 70px;">{{data.Duration}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 70px;">{{data.TotalCost | NumberFormat: data.bold}}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}" style="text-align: right;padding-right: 70px;">{{data.Totalvalue | NumberFormat: data.bold}}</td>
            </tr>
        </tbody>
    </table>
</div>

