.topcorner{
    position:absolute;
    top:0;
    right:0;
    margin-right:5px;
   }

   mat-form-field{
       margin-right: 65px;
       margin-top: 18px;
   }

   .lang{
       font-weight: bolder;
       font-family: 'Poppins', sans-serif;
       height: 17px;
   }