

<div class="container">
  <div class="content">
    <canvas #htmlCanvas id="c"></canvas>
    </div>
    <div class="controls">
      <div class="card-header">Add images</div>
      <div style="width: 200px;overflow-x: scroll;" class="card-body max-height">
        <img style="width:110px;"
          draggable="true"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/horizontal-wall.svg"
        />
        <img style="width:110px;"
          draggable="true"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/large-corner-segment.svg"
        />
        <img style="width:110px;"
          draggable="true"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/long-segment.svg"
        />
        <img style="width:110px;"
          draggable="true"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/medium-corner-segment.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/dining-table.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/triple-sofa.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/stool-chair.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/plant.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/rounded-corner-segment.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/rounded-l-segment.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/short-segment.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/small-corner-segment.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/sofa.svg"
        />
    
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/stool-chair.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/triple-door-wardrobe.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/triple-sofa.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/content engine.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/general processor.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/iptv broadcast server.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/pc.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/server switch.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/storage array.svg"
        />
        <img style="width:110px;"
          class="images-item"
          (click)="getImgPolaroid($event)"
          src="assets/img/voice atm switch.svg"
        />
      </div>
    </div>
  <div class="controls"><button class="common-button" (click)="convertToJSON()">Save to DB</button>
  <button class="common-button" (click)="clearCanvas()">Clear Canvas</button>
  <button class="common-button" (click)="loadFromJSON()">Load from DB</button>
  
  <button class="common-button" (click)="addSVGToCanvas()">Add SVG</button>
  <input type="file" (change)="onFileSelected($event)" accept=".svg">
  <br>
  
  <button class="common-button" (click)="removeSelectedObject()">Remove Selected Object</button>
  <input type="text" [(ngModel)]="textInput" placeholder="Enter text">
  <button class="common-button" (click)="addText()">Add Text</button>
  <br>
  <button class="common-button" (click)="copySelectedObjectManually()">Copy Selected Object</button>
  <br>
  Add figure
  <br>
        <button
          type="button"
          class="common-button"
          (click)="addFigure('rectangle')"
        >
          Rectangle
        </button>
        <button
          type="button"
          class="common-button"
          (click)="addFigure('square')"
        >
          Square
        </button>
        <button
          type="button"
          class="common-button"
          (click)="addFigure('triangle')"
        >
          Triangle
        </button>
        <button
          type="button"
          class="common-button"
          (click)="addFigure('circle')"
        >
          Circle
        </button>
    <select style="color: black;" [(ngModel)]="selectedColor" (change)="setCanvasFill()">
      <option value="undefined" disabled>Select bg color</option>
      <option *ngFor="let color of colorOptions" [value]="color.value">{{ color.label }}</option>
    </select>
    
  <br>
  <button
              data-toggle="tooltip"
              data-placement="bottom"
              title="Export to image"
              type="button"
              class="common-button"
              (click)="rasterize()"
            >
              <i class="fa fa-download" aria-hidden="true"></i> Export to image
            </button>
            <br>
  
            
            Free Draw Mode :   <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customSwitch1"
                        (click)="drawMode()"
                      />
                      <label class="custom-control-label" for="customSwitch1"
                        >Enable / Disable</label
                      >
                    
  
                    </div>
                  </div>
  
  <div>
   
  <div class="card">
    
    <!-- <div class="card">
      <div class="card-header">
          <button type="button" class="common-button" (click)="rasterizeJSON()">
              <i class="fa fa-refresh" aria-hidden="true"></i> Render to json</button>
      </div>
      <div class="card-body">
          <pre>{{json}}</pre>
      </div>
  </div> -->
  
  <!-- Zoom: {{ canvas.getZoom() }} -->
  <br />
  <!-- <div style="max-width: 100vw; height: 500px; overflow-y: scroll">
    <div *ngFor="let i of output.reverse()">{{ i }}</div>
  </div> -->
  
  </div>
  </div>

  <div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="FloorPlanJSON.default.ObjectFields[0].RoleCode" formControlName='RoleCode'
        (Onselectdata)="RoleRetrivalValue($event)" [defaultvalue]="form.get('RoleCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="FloorPlanJSON.default.ObjectFields[0].RoleName" formControlName='RoleName'
        (Onselectdata)="RoleRetrivalValue($event)" [defaultvalue]="form.get('RoleName').value"></app-entitylookup> 

        
        <app-gb-textarea formControlName='RoleRemarks'></app-gb-textarea>
    </form>
    
</div>



