@import './../../styles/_themes.scss';
@import './../../styles/_utilities.scss';
.example-container {
  height: 500px;
}
:host {
  @include fullpage();
}
// *{
//   @include guideline();
// }

#layout {
  @include fullpage();
  display: grid;
  grid-template-rows: 68px var(--sidebarheight) auto 38px;
  grid-template-areas:
    "header"
    "menulist"
    "main"
    "footer";
}
app-gbappheader{
grid-area: header;
}
app-gbappsidebar{
  grid-area: menulist;
  overflow: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color) rgba(26, 26, 26, 0.32);
  background: linear-gradient(90deg, #FFCAD5 0%, #F8D2F2 54.67%, #E6DBF9 100%);
}
app-gbappfooter{
  grid-area: footer;
  }
main {
  // margin: 2px;
  // padding: 2px;
  grid-area: main;
  overflow-x: hidden;
}

.sidebarcontainer {
  height: 100%;
  // @include themeColors();
}

.leftmenu{
  // height: 100%;
  width:auto;
}

.leftsidebar{
  border-style: solid;
  border-radius: 0px;
  border-color: none;
  border-width: 1px;
}

::ng-deep .mat-drawer-inner-container{
  scrollbar-width: thin;
  scrollbar-color: var(--color) rgba(26, 26, 26, 0.32);
  background-color: var(--secondarycolor);
}

::ng-deep .mat-drawer-inner-container:hover{
  scrollbar-color: var(--color) rgba(26, 26, 26, 0.32);
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
  width: 5px;
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb {
  background: var(--color);
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

.app-gbappsidebar::-webkit-scrollbar {
  width: 5px;
}

.app-gbappsidebar::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}

.app-gbappsidebar::-webkit-scrollbar-thumb {
  background: var(--color);
}

.app-gbappsidebar::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

::ng-deep .mat-drawer-content{
  overflow: hidden !important;
}

@media (max-width: 768px) {
  #layout {
    grid-template-rows: 55px var(--sidebarheight) auto 25px;
  }
}

@media (max-width: 450px) {
  .mainfooter{
    display: none;
  }
  #layout {
    @include fullpage();
    display: grid;
    grid-template-rows: 60px var(--sidebarheight) auto 5px;
    grid-template-areas:
      "header"
      "menulist"
      "main"
      "footer";
  }

}
