<div id="layout" class="theme" [ngClass]="themeClass$ | async">
  <app-gbappheader class="thm"></app-gbappheader>
  <app-gbappsidebar class="app-gbappsidebar"></app-gbappsidebar>
  <main>
    <mat-drawer-container #sbcontainer class="sidebarcontainer" autosize>
      

    <!-- <div class="maincontent">
      <section id="content"> -->
        <app-gbmaincontent></app-gbmaincontent>
      <!-- </section>
    </div> -->

  </mat-drawer-container>
  </main>
  <app-gbappfooter class="mainfooter"></app-gbappfooter>
</div>


