<div *transloco="let t">
  <div [ngClass]="themeClass$ | async" class="font-mono">
    <br>
    <form [formGroup]="form" ngxsForm="EmployeeMaster.currentData">
      <div class="labels">
        <div class="category">
          <app-gb-input class="ssss" formControlName="EmployeeCodeDefineId"
            gbplaceholder="{{t('Employee.EmployeeCodeDefineId')}}"
            gblabel="{{t('Employee.EmployeeCodeDefineId')}}"></app-gb-input>
        </div>
        <div class="code">
          <ng-select [items]="Picklistvalues" [virtualScroll]="true" (change)="changeFn(selection)" bindValue="Code"
            bindLabel="Code" formControlName='EmployeeCode' placeholder="{{t('Common.code')}}" [closeOnSelect]="true"
            [clearable]="true" [loading]="dataLoading" [multiple]='false' addTagText="Create New" [addTag]="true"
            [(ngModel)]="selection">
          </ng-select>
        </div>
        <div class="firstname">
          <app-gb-input formControlName="FirstName" gbplaceholder="{{t('Employee.FirstName')}}"
            gblabel="{{t('Employee.FirstName')}}"></app-gb-input>
        </div>
      </div>
      <br>

      <div class='summery ana-quaternary'>

        <div class="img ana-tertiary">

          <div class="pic">

            <div class="avatar-upload">
              <div class="avatar-edit">
                <input formControlName="EmployeeDefaultImage" type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                  #fileInput (change)="uploadFile($event)" />
              </div>
              <div class="avatar-preview">
                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                </div>
              </div>
            </div>
            <div class="profile">
              <app-gb-input formControlName="EmployeeName" gbplaceholder="{{t('Common.name')}}"
                gblabel="{{t('Common.name')}}"></app-gb-input>
              <app-gb-input formControlName="DesignationName" gbplaceholder="{{t('Employee.Desgination')}}"
                gblabel="{{t('Employee.Desgination')}}"></app-gb-input>
              <app-gb-email formControlName="EmployeePrimaryEMailId" gbplaceholder="{{t('Employee.Email')}}"
                gblabel="{{t('Employee.Email')}}"></app-gb-email>
            </div>
          </div>
          <br>

          <div class="Number">
            <div class="Mobile_No">
            </div>
            <div class="Staff_name">
              <app-gb-input formControlName="StaffTypeName" gbplaceholder="{{t('Employee.StaffTypeName')}}"
                gblabel="{{t('Employee.StaffTypeName')}}"></app-gb-input>
            </div>
            <div class="Bloodgrp">
              <app-gb-input formControlName="EmployeeBloodGroup" gbplaceholder="{{t('Employee.Bloodgroup')}}"
                gblabel="{{t('Employee.Bloodgroup')}}"></app-gb-input>
            </div>
          </div>
          <br>
          <button class="uploadbtn" mat-raised-button color="primary"
            (click)="fileInput.click()">{{t('Employee.Upload')}}</button>
        </div>


        <div class="details ana-quaternary">
          <div class="buttons">
            <div class="status">
            </div>
            <div class="active">
            </div>
            <div class="btns">
            </div>
          </div>
          <br>
          <br>

          <div class="Family_details">
            <div class="Mother">
              <app-gb-input formControlName="EmployeeMotherName" gbplaceholder="{{t('Employee.EmployeeMotherName')}}"
                gblabel="{{t('Employee.EmployeeMotherName')}}"></app-gb-input>
              <br><br>
              <app-gb-input formControlName="EmployeeDateOfJoining" gbplaceholder="{{t('Employee.DateOfJoining')}}"
                gblabel="{{t('Employee.DateOfJoining')}}"></app-gb-input>
            </div>
            <div class="DOB">
              <app-gb-input formControlName="EmployeeDateOfBirth" gbplaceholder="{{t('Employee.DOB')}}"
                gblabel="{{t('Employee.DOB')}}"></app-gb-input>
              <br><br>
              <app-gb-input formControlName="OUGroupName" gbplaceholder="{{t('Employee.Branch')}}"
                gblabel="{{t('Employee.Branch')}}"></app-gb-input>
            </div>
            <div class="Martial">
              <app-gb-combobox formControlName="EmployeeMaritalStatus"></app-gb-combobox>
              <br><br><br>
            </div>
            <div class="Dept">
              <app-gb-input formControlName="DepartmentName" gbplaceholder="{{t('Employee.Department')}}"
                gblabel="{{t('Employee.Department')}}"></app-gb-input>
              <br><br>
            </div>
          </div>
        </div>
      </div>

      <br>


      <div class="info">
        <div class="Addtional_information">
          <h2>{{t('Employee.AdditionalInformation')}}</h2>
          <mat-accordion>
            <mat-expansion-panel #example hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.Working')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!example.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="example.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-input formControlName="DAPointGroupName" gbplaceholder="{{t('Employee.DAPointGroupName')}}"
                    gblabel="{{t('Employee.DAPointGroupName')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="DesignationName" gbplaceholder="{{t('Employee.Desgination')}}"
                    gblabel="{{t('Employee.Desgination')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="StaffTypeName" gbplaceholder="{{t('Employee.StaffTypeName')}}"
                    gblabel="{{t('Employee.StaffTypeName')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="UnitName" gbplaceholder="{{t('Employee.UnitName')}}"
                    gblabel="{{t('Employee.UnitName')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="VillageName" gbplaceholder="{{t('Employee.VillageName')}}"
                    gblabel="{{t('Employee.VillageName')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="PayGroupName" gbplaceholder="{{t('Employee.PayGroupName')}}"
                    gblabel="{{t('Employee.PayGroupName')}}"></app-gb-input>
                  <br>
                </div>
                <div class="Nationality">
                  <app-gb-input formControlName="EmployeeTypeName" gbplaceholder="{{t('Employee.EmployeeTypeName')}}"
                    gblabel="{{t('Employee.EmployeeTypeName')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="SegmentName" gbplaceholder="{{t('Employee.Segment')}}"
                    gblabel="{{t('Employee.Segment')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="WorkTypeName" gbplaceholder="{{t('Employee.Work_type')}}"
                    gblabel="{{t('Employee.Work_type')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="LocationName" gbplaceholder="{{t('Employee.Location')}}"
                    gblabel="{{t('Employee.Location')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="DepartmentName" gbplaceholder="{{t('Employee.Department')}}"
                    gblabel="{{t('Employee.Department')}}"></app-gb-input>
                 
                  <br>
                  <app-gb-input formControlName="SalaryGradeName" gbplaceholder="{{t('Employee.SalaryGradeName')}}"
                    gblabel="{{t('Employee.SalaryGradeName')}}"></app-gb-input>
                  <br>
                </div>
              </div>
            </mat-expansion-panel>


            <mat-expansion-panel #personal hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.Personal')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!personal.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="personal.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-input formControlName="EmployeeFatherName"
                    gbplaceholder="{{t('Employee.EmployeeFatherName')}}"
                    gblabel="{{t('Employee.EmployeeFatherName')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeMotherName"
                    gbplaceholder="{{t('Employee.EmployeeMotherName')}}"
                    gblabel="{{t('Employee.EmployeeMotherName')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="CasteName" gbplaceholder="{{t('Employee.CasteName')}}"
                    gblabel="{{t('Employee.CasteName')}}"></app-gb-input>
                  <br><br>
                  <mat-label>{{t('Employee.Sex')}}</mat-label>
                  <br><br>
                  <app-gb-combobox formControlName="EmployeeMaritalStatus"></app-gb-combobox>
                  <br>
                  <app-gb-input formControlName="EmployeeAdharNumber"
                    gbplaceholder="{{t('Employee.EmployeeAdharNumber')}}"
                    gblabel="{{t('Employee.EmployeeAdharNumber')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="ReligionId" gbplaceholder="{{t('Employee.Religion')}}"
                    gblabel="{{t('Employee.Religion')}}"></app-gb-input>
                  <br>
                  <app-mapcomponent [config]="geoconfig" (geoinfo)="getlocation($event)"></app-mapcomponent>
                </div>
                <div class="Nationality">
                  <app-gb-input formControlName="EmployeeDateOfBirth" gbplaceholder="{{t('Employee.DOB')}}"
                    gblabel="{{t('Employee.DOB')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeBloodGroup" gbplaceholder="{{t('Employee.Bloodgroup')}}"
                    gblabel="{{t('Employee.Bloodgroup')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="NationalityName" gbplaceholder="{{t('Employee.Nationality')}}"
                    gblabel="{{t('Employee.DOB')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeNominee" gbplaceholder="{{t('Employee.Nominee')}}"
                    gblabel="{{t('Employee.Nominee')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeNomineeRelation" gbplaceholder="{{t('Employee.Relation')}}"
                    gblabel="{{t('Employee.Relation')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeExperience" gbplaceholder="{{t('Employee.Experince')}}"
                    gblabel="{{t('Employee.Experince')}}"></app-gb-input>
                  <br>
                </div>
              </div>
            </mat-expansion-panel>


            <mat-expansion-panel #company hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.Company')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!company.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="company.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-input formControlName="EmployeeDateOfJoining" gbplaceholder="{{t('Employee.DateOfJoining')}}"
                    gblabel="{{t('Employee.DateOfJoining')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeProbationStartDate" gbplaceholder="{{t('Employee.EmployeeProbationStartDate')}}"
                  gblabel="{{t('Employee.EmployeeProbationStartDate')}}"></app-gb-input>
                  <br>
                  <app-gb-checkbox class="example-margin" formControlName="EmployeeIsConfirmed" gbplaceholder="{{t('Employee.confirmation')}}"
                  gblabel="{{t('Employee.confirmation')}}">
                    Confirmed</app-gb-checkbox>
                  <br><br>
                  <app-gb-input formControlName="EmployeeDateOfConfirmation" gbplaceholder="{{t('Employee.confirmation')}}"
                  gblabel="{{t('Employee.confirmation')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="WorkOUName" gbplaceholder="{{t('Employee.Organization')}}"
                  gblabel="{{t('Employee.Organization')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="OurBranchName" gbplaceholder="{{t('Employee.Branch')}}"
                  gblabel="{{t('Employee.Branch')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="DivisionName" gbplaceholder="{{t('Employee.Division')}}"
                  gblabel="{{t('Employee.Division')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeDateOfResignation" gbplaceholder="{{t('Employee.Resignation')}}"
                  gblabel="{{t('Employee.Resignation')}}"></app-gb-input>
                  <br>
                </div>
                <div class="Nationality">
                  <app-gb-input formControlName="EmployeeCalculatedDateOfRetirment" gbplaceholder="{{t('Employee.Retirement')}}"
                  gblabel="{{t('Employee.Retirement')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeActualDateOfRetirment" gbplaceholder="{{t('Employee.EmployeeActualDateOfRetirment')}}"
                  gblabel="{{t('Employee.EmployeeActualDateOfRetirment')}}"></app-gb-input>
                  <br>
                  <app-gb-combobox formControlName="EmployeeIsCrossOU"></app-gb-combobox>
                  <br>
                  <app-gb-combobox formControlName="EmployeeCostCenterType" ></app-gb-combobox>
                  <br><br>
                  <app-gb-input formControlName="CostCenterName" gbplaceholder="{{t('Employee.CostCenterName')}}"
                  gblabel="{{t('Employee.CostCenterName')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="ResourceTypeName" gbplaceholder="{{t('Employee.Resource')}}"
                  gblabel="{{t('Employee.Resource')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="GratuityGroupName" gbplaceholder="{{t('Employee.Gratuity')}}"
                  gblabel="{{t('Employee.Gratuity')}}"></app-gb-input>
                  <br>
                </div>
              </div>
            </mat-expansion-panel>




            <mat-expansion-panel #contact hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.Contact')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!contact.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="contact.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-email formControlName="EmployeePrimaryEMailId" gbplaceholder="{{t('Employee.EmployeePrimaryEMailId')}}"
                  gblabel="{{t('Employee.EmployeePrimaryEMailId')}}"></app-gb-email>
                  <br><br>
                  <app-gb-email formControlName="SecondaryMailId" gbplaceholder="{{t('Employee.SecondaryMailId')}}"
                  gblabel="{{t('Employee.SecondaryMailId')}}"></app-gb-email>
                </div>
                <div class="Nationality">
                  <app-gb-input formControlName="EmployeePrimaryMobile" gbplaceholder="{{t('Employee.EmployeePrimaryMobile')}}"
                  gblabel="{{t('Employee.EmployeePrimaryMobile')}}"></app-gb-input>
                  <br><br>
                  <app-gb-input formControlName="SecondaryMobile" gbplaceholder="{{t('Employee.SecondaryMobile')}}"
                  gblabel="{{t('Employee.SecondaryMobile')}}"></app-gb-input>
                  <br>
                </div>
              </div>
            </mat-expansion-panel>



            <mat-expansion-panel #Attendence hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.Attendence')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!Attendence.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="Attendence.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-input formControlName="ShiftDescription" gbplaceholder="{{t('Employee.Shift')}}"
                  gblabel="{{t('Employee.Shift')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="CalendarName" gbplaceholder="{{t('Employee.Calender')}}"
                  gblabel="{{t('Employee.Calender')}}"></app-gb-input>
                  <br>
                  <app-gb-combobox formControlName="EmployeeWeekOfDay"></app-gb-combobox>
                  <br>
                  <app-gb-combobox formControlName="EmployeeAttendanceType"></app-gb-combobox>
                  <br>
                  <app-gb-combobox formControlName="EmployeePunchType"></app-gb-combobox>
                  <br>
                  <button mat-raised-button>{{t('Employee.CreateRegister')}}</button>
                </div>
                <div class="Nationality">
                  <app-gb-input formControlName="EmployeeBioMatchNumber" gbplaceholder="{{t('Employee.EmployeeBioMatchNumber')}}"
                  gblabel="{{t('Employee.EmployeeBioMatchNumber')}}"></app-gb-input>
                  <br><br>
                  <app-gb-checkbox formControlName="EmployeeIsDailyReport" gbplaceholder="{{t('Employee.EmployeeIsDailyReport')}}"
                  gblabel="{{t('Employee.EmployeeIsDailyReport')}}">
                    {{t('Employee.EmployeeIsDailyReport')}}</app-gb-checkbox>
                  <br>
                  <app-gb-input formControlName="ReportInttoEmployeeName" gbplaceholder="{{t('Employee.ReportInttoEmployeeId')}}"
                  gblabel="{{t('Employee.ReportInttoEmployeeId')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="AdminReportingToName" gbplaceholder="{{t('Employee.AdminReportingToName')}}"
                  gblabel="{{t('Employee.AdminReportingToName')}}"></app-gb-input>
                  <br>
                </div>
              </div>
            </mat-expansion-panel>


            <mat-expansion-panel #Salary hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.Salary')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!Salary.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="Salary.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <mat-label>{{t('Employee.OfficeMail')}}</mat-label>
                  <br>
                  <app-gb-input formControlName="PayConfigurationName" gbplaceholder="{{t('Employee.PayConfigurationName')}}"
                  gblabel="{{t('Employee.PayConfigurationName')}}"></app-gb-input>
                  <br>
                  <app-gb-combobox formControlName="EmployeePayMode"></app-gb-combobox>
                  <br><br>
                  <app-gb-input formControlName="BankName" gbplaceholder="{{t('Employee.Bank')}}"
                  gblabel="{{t('Employee.Bank')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="OUGroupName" gbplaceholder="{{t('Employee.Branch')}}"
                  gblabel="{{t('Employee.Branch')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="BankBranchName"  gbplaceholder="{{t('Employee.Branch')}}"
                  gblabel="{{t('Employee.Branch')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeAccountNumber" gbplaceholder="{{t('Employee.EmployeeAccountNumber')}}"
                  gblabel="{{t('Employee.EmployeeAccountNumber')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="AccountName" gbplaceholder="{{t('Employee.AccountName')}}"
                  gblabel="{{t('Employee.AccountName')}}" ></app-gb-input>
                  <br>
                  <app-gb-combobox formControlName="EmployeeOTPayMode"></app-gb-combobox>
                  <br>
                </div>
                <div class="Nationality">
                  <br>
                  <app-gb-input formControlName="EmployeeIBANNumber" gbplaceholder="{{t('Employee.EmployeeIBANNumber')}}"
                  gblabel="{{t('Employee.EmployeeIBANNumber')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="SalaryAccountName" gbplaceholder="{{t('Employee.SalaryAccountName')}}"
                  gblabel="{{t('Employee.SalaryAccountName')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="AdvanceAccountName" gbplaceholder="{{t('Employee.AdvanceAccountName')}}"
                  gblabel="{{t('Employee.AdvanceAccountName')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="CurrencyName" gbplaceholder="{{t('Employee.Currency')}}"
                  gblabel="{{t('Employee.Currency')}}"></app-gb-input>
                  <br>
                  <app-gb-combobox formControlName="EmployeeIsTDSApplicable"></app-gb-combobox>
                  <br><br>
                  <app-gb-input formControlName="EmployeePANNumber" gbplaceholder="{{t('Employee.PanNo')}}"
                  gblabel="{{t('Employee.PanNo')}}"></app-gb-input>
                  <br>
                  <app-gb-combobox formControlName="EmployeeOtType"></app-gb-combobox>
                  <br>
                  <app-gb-checkbox formControlName="EmployeeIsPiRequired" gbplaceholder="{{t('Employee.PIRequired')}}"
                  gblabel="{{t('Employee.PIRequired')}}">
                    PI Required</app-gb-checkbox>
                </div>
              </div>
            </mat-expansion-panel>




            <mat-expansion-panel #PF hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.PF')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!PF.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="PF.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-combobox formControlName="EmployeeIsPFApplicable"></app-gb-combobox>
                  <br>
                  <app-gb-input formControlName="EmployeePFNumber" gbplaceholder="{{t('Employee.EmployeePFNumber')}}"
                  gblabel="{{t('Employee.EmployeePFNumber')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeStatutorypfPercentage" gbplaceholder="{{t('Employee.Statutory')}}"
                  gblabel="{{t('Employee.Statutory')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeEmployeePFPercentage" gbplaceholder="{{t('Employee.EmployeeEmployeePFPercentage')}}"
                  gblabel="{{t('Employee.EmployeeEmployeePFPercentage')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeEmployerPFPercentage" gbplaceholder="{{t('Employee.EmployeeEmployerPFPercentage')}}"
                  gblabel="{{t('Employee.EmployeeEmployerPFPercentage')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeePFUANNumber" gbplaceholder="{{t('Employee.EmployeePFUANNumber')}}"
                  gblabel="{{t('Employee.EmployeePFUANNumber')}}"></app-gb-input>
                  <br>
                  <br>
                </div>
                <div class="Nationality">
                  <br>
                    <div>
                      <span>{{t('Employee.Status')}}</span>
                        <div class="check"><app-gb-radiobox formControlName='EmployeePFStatus'></app-gb-radiobox></div>
                    </div>
                  <br><br>
                  <app-gb-input formControlName='EmployeePFJoinDate' gbplaceholder="{{t('Employee.EmployeePFJoinDate')}}"
                  gblabel="{{t('Employee.EmployeePFJoinDate')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName='EmployeePFEndDate' gbplaceholder="{{t('Employee.EmployeePFEndDate')}}"
                  gblabel="{{t('Employee.EmployeePFEndDate')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeReasonForPFLeaving" gbplaceholder="{{t('Employee.Reason')}}"
                  gblabel="{{t('Employee.Reason')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeFamilyPensionPercentage" gbplaceholder="{{t('Employee.EmployeeFamilyPensionPercentage')}}"
                  gblabel="{{t('Employee.EmployeeFamilyPensionPercentage')}}"></app-gb-input>
                  <br>
                  <app-gb-combobox formControlName="EmployeeIsFamilyPension"></app-gb-combobox>
                </div>
              </div>
            </mat-expansion-panel>



            <mat-expansion-panel #ESI hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.ESI')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!ESI.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="ESI.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-combobox formControlName="EmployeeIsESIApplicable"></app-gb-combobox>
                  <br><br>
                  <app-gb-input formControlName="EmployeeESINumber" gbplaceholder="{{t('Employee.EmployeeESINumber')}}"
                  gblabel="{{t('Employee.EmployeeESINumber')}}"></app-gb-input>
                  <br>
                  <div>
                    <span>{{t('Employee.Status')}}</span>
                      <div class="check1"><app-gb-radiobox formControlName='EmployeeESIStatus'></app-gb-radiobox></div>
                  </div>
                  <br>
                  <app-gb-input formControlName='EmployeeESIJoinDate' gbplaceholder="{{t('Employee.EmployeeESIJoinDate')}}"
                  gblabel="{{t('Employee.EmployeeESIJoinDate')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName='EmployeeESIEndDate' gbplaceholder="{{t('Employee.EmployeeESIEndDate')}}"
                  gblabel="{{t('Employee.EmployeeESIEndDate')}}"></app-gb-input>
                  <br>
                </div>
                <div class="Nationality">
                  <app-gb-input formControlName="EmployeeESIDispensary" gbplaceholder="{{t('Employee.EmployeeESIDispensary')}}"
                  gblabel="{{t('Employee.EmployeeESIDispensary')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeEmployeeESIPercentage" gbplaceholder="{{t('Employee.EmployeeEmployeeESIPercentage')}}"
                  gblabel="{{t('Employee.EmployeeEmployeeESIPercentage')}}"></app-gb-input>
                  <br><br>
                  <app-gb-input formControlName="EmployeeEmployerESIPercentage" gbplaceholder="{{t('Employee.EmployeeEmployerESIPercentage')}}"
                  gblabel="{{t('Employee.EmployeeEmployerESIPercentage')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeeReasonForESILeaving" gbplaceholder="{{t('Employee.Reason')}}"
                  gblabel="{{t('Employee.Reason')}}"></app-gb-input>
                  <br><br>
                  <app-gb-combobox formControlName="EmployeeIsESIHourlyContribution"></app-gb-combobox>
                  <br>
                </div>
              </div>
            </mat-expansion-panel>



            <mat-expansion-panel #Physical hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.Physical')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!Physical.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="Physical.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-input formControlName="EmployeeHeightInCMS" gbplaceholder="{{t('Employee.EmployeeHeightInCMS')}}"
                  gblabel="{{t('Employee.EmployeeHeightInCMS')}}"></app-gb-input>
                  <br><br>
                  <app-gb-input formControlName="EmployeeWeightInKGS" gbplaceholder="{{t('Employee.EmployeeWeightInKGS')}}"
                  gblabel="{{t('Employee.EmployeeWeightInKGS')}}"></app-gb-input>
                  <br><br>
                  <app-gb-input formControlName="EmployeeIdentificationMark" gbplaceholder="{{t('Employee.EmployeeIdentificationMark')}}"
                  gblabel="{{t('Employee.EmployeeIdentificationMark')}}"></app-gb-input>
                  <br>
                </div>
                <div class="Nationality">
                  <app-gb-input formControlName="EmployeeChestSize" gbplaceholder="{{t('Employee.EmployeeChestSize')}}"
                  gblabel="{{t('Employee.EmployeeChestSize')}}"></app-gb-input>
                  <br><br>
                  <app-gb-combobox formControlName="EmployeeIsHandiCapped" ></app-gb-combobox>
                  <br><br><br>
                  <app-gb-input formControlName="EmployeePhysicalCondition" gbplaceholder="{{t('Employee.EmployeePhysicalCondition')}}"
                  gblabel="{{t('Employee.EmployeePhysicalCondition')}}"></app-gb-input>
                  <br>
                </div>
              </div>
            </mat-expansion-panel>




            <mat-expansion-panel #Applicable hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.Applicable')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!Applicable.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="Applicable.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-checkbox formControlName="EmployeeIsPurchase" gbplaceholder="{{t('Employee.Purchase')}}"
                  gblabel="{{t('Employee.Purchase')}}">
                    Purchase</app-gb-checkbox>
                  <app-gb-checkbox formControlName="EmployeeIsSales" gbplaceholder="{{t('Employee.Sales')}}"
                  gblabel="{{t('Employee.Sales')}}">
                    Sales</app-gb-checkbox>
                  <app-gb-checkbox formControlName="EmployeeIsService" gbplaceholder="{{t('Employee.Service')}}"
                  gblabel="{{t('Employee.Service')}}">
                    Service</app-gb-checkbox>
                  <app-gb-checkbox formControlName="EmployeeIsProduction" gbplaceholder="{{t('Employee.Production')}}"
                  gblabel="{{t('Employee.Production')}}">
                    Production</app-gb-checkbox>
                  <app-gb-checkbox formControlName="EmployeeIsUser" gbplaceholder="{{t('Employee.User')}}"
                  gblabel="{{t('Employee.User')}}">
                    EmployeeIsUser</app-gb-checkbox>
                  <br>
                  <app-gb-checkbox formControlName="EmployeeIsMarketing" gbplaceholder="{{t('Employee.Marketing')}}"
                  gblabel="{{t('Employee.Marketing')}}">
                    Marketing</app-gb-checkbox>
                  <app-gb-checkbox formControlName="EmployeeIsPlanning" gbplaceholder="{{t('Employee.Planning')}}"
                  gblabel="{{t('Employee.Planning')}}">
                    Planning</app-gb-checkbox>
                  <app-gb-checkbox formControlName="EmployeeIsContract" gbplaceholder="{{t('Employee.Contract')}}"
                  gblabel="{{t('Employee.Contract')}}">
                    Contract</app-gb-checkbox>
                </div>
                <div class="Nationality">
                </div>
              </div>
            </mat-expansion-panel>



            <mat-expansion-panel #Addon hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.Addon')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!Addon.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="Addon.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-input formControlName="EmployeeAdharNumber" gbplaceholder="{{t('Employee.EmployeeAdharNumber')}}"
                  gblabel="{{t('Employee.EmployeeAdharNumber')}}"></app-gb-input>
                  <br>
                  <app-gb-input formControlName="EmployeePANNumber" gbplaceholder="{{t('Employee.PanNo')}}"
                  gblabel="{{t('Employee.PanNo')}}"></app-gb-input>
                  <br>
                </div>
                <div class="Nationality">
                </div>
              </div>
            </mat-expansion-panel>





            <mat-expansion-panel #Product hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{t('Employee.Product')}}
                </mat-panel-title>
                <mat-icon>edit</mat-icon>
                <mat-icon *ngIf="!Product.expanded" color="primary">add_circle</mat-icon>
                <mat-icon *ngIf="Product.expanded" color="primary">remove_circle</mat-icon>
              </mat-expansion-panel-header>
              <div class="Basic">
                <div class="Gender">
                  <app-gb-input formControlName="EmployeeProductCategoryNames" gbplaceholder="{{t('Employee.EmployeeProductCategoryNames')}}"
                  gblabel="{{t('Employee.EmployeeProductCategoryNames')}}"></app-gb-input>
                  <br>
                </div>
                <div class="Nationality">
                  <app-gb-input formControlName="EmployeeProductPriceCategoryNames" gbplaceholder="{{t('Employee.EmployeeProductPriceCategoryNames')}}"
                  gblabel="{{t('Employee.EmployeeProductPriceCategoryNames')}}">
                  </app-gb-input>
                  <br>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="Related_infomation">
          <h2>{{t('Employee.RelatedInfomation')}}</h2>
          <h3>{{t('Employee.BasicDetails')}}</h3>
          <mat-divider></mat-divider>

          <div class="Basic">
            <div class="Gender">
              <app-gb-combobox formControlName="EmployeeSex"></app-gb-combobox>
              <br><br><br>
              <app-gb-input formControlName="EmployeeAdharNumber" gbplaceholder="{{t('Employee.EmployeeAdharNumber')}}"
              gblabel="{{t('Employee.EmployeeAdharNumber')}}"></app-gb-input>
              <br><br>
              <app-gb-input formControlName="EmployeePANNumber" gbplaceholder="{{t('Employee.PanNo')}}"
              gblabel="{{t('Employee.PanNo')}}"></app-gb-input>
            </div>
            <div class="Nationality">
              <app-gb-input formControlName="NationalityName" gbplaceholder="{{t('Employee.Nationality')}}"
              gblabel="{{t('Employee.Nationality')}}"></app-gb-input>

              <br><br>
              <app-gb-input formControlName="EmployeePrimaryMobile" gbplaceholder="{{t('Employee.EmployeePrimaryMobile')}}"
              gblabel="{{t('Employee.EmployeePrimaryMobile')}}"></app-gb-input>

              <br><br>
            </div>
          </div>

          <div class="useful-links">
            <h2>{{t('Employee.UsefulLinks')}}</h2>
            <mat-divider></mat-divider>
            <div class="History">
              <mat-icon class="forward" color="primary">link</mat-icon>
              <p class="Leave">{{t('Employee.Leave')}}</p>
            </div>
            <div class="History">
              <mat-icon class="forward" color="primary">link</mat-icon>
              <p class="Leave">{{t('Employee.EmployeeExperience')}}</p>
            </div>
            <div class="History">
              <mat-icon class="forward" color="primary">link</mat-icon>
              <p class="Leave">{{t('Employee.EmployeeSalary')}}</p>
            </div>
            <div class="History">
              <mat-icon class="forward" color="primary">link</mat-icon>
              <p class="Leave">{{t('Employee.EmployeeNominee')}}</p>
            </div>
            <div class="History">
              <mat-icon class="forward" color="primary">link</mat-icon>
              <p class="Leave">{{t('Employee.EmployeeWorkingHistory')}}</p>
            </div>
            <div class="History">
              <mat-icon class="forward" color="primary">link</mat-icon>
              <p class="Leave">{{t('Employee.Transport')}}</p>
            </div>
            <div class="History">
              <mat-icon class="forward" color="primary">link</mat-icon>
              <p class="Leave">{{t('Employee.Documents')}}</p>
            </div>
            <div class="History">
              <mat-icon class="forward" color="primary">link</mat-icon>
              <p class="Leave">{{t('Employee.Insurance')}}</p>
            </div>
            <div class="History">
              <mat-icon class="forward" color="primary">link</mat-icon>
              <p class="Leave">{{t('Employee.Rewards')}}</p>
            </div>
          </div>

        </div>
      </div>

    </form>

  </div>
</div>