

.emp_img{
    width: 95px; 
    height: 95px;
    margin: 0 20px 0 0;
    border: solid 2px #bababa 
}

.uploadbtn{
    margin: 15px 31px 15px;
    cursor: pointer;
    font-family: 'Poppins';
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    width: 11vw;
    outline-style: none;
}
 
.check{
    float: right;
    margin-left: 59px;
    margin-top: -20px;
  }

  .check1{
    float: right;
    margin-left: 59px;
    margin-top: -20px;
    margin-bottom: 10px;
  }

.labels{
    font-family:'Poppins';
    min-height: 8vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "category code firstname";
    gap: 0.5rem;
    }

.category{
    grid-area: category;
    min-width: 32%;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgb(94, 104, 121, .288);
             
}

.code{
    grid-area: code;
    min-width: 32%;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgb(94, 104, 121, .288);
             
}

.firstname{
    grid-area: firstname;
    min-width: 32%;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgb(94, 104, 121, .288);
             
}


.summery{
    font-family:'Poppins';
    min-height: 48.5vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img details";
     margin-left: -10px;
}

.img{
    grid-area: img;
    min-width: 35%;
    padding-top: 30px;
    font-family: 'Poppins';
    background-image: linear-gradient( transparent 46%, #cfcfcf 180%);
}

.details{
    grid-area: details;
    min-width: 65%;
    padding-top: 30px;
    background: linear-gradient(145deg, transparent 46%, #cfcfcf 150%);   
}


.pic{
    display: flex;
    font-family:Arial;
}

.details_pic{
    width: 30%;
    padding-left: 10px;
}

.profile{
    width: 50%;
    margin-left: 20px;
    color:#fff;
}

.person_pic {
    border-radius: 50%;
    border: 1px solid rgb(172, 167, 167);
}
.emp_photo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 5px;
    width: 30%;
    margin-left: 120px;
}



.Number{
    display: flex;
    font-family:'Poppins';
    margin-left: 31px;
}

.Number .Bloodgrp{
    margin-left: 120px;
}

.Staff_name{
    width: 30%;
    font-family: 'Poppins';
}
.Bloodgrp{
    width: 30%;
    margin-left: 80px;
    font-family: 'Poppins';
}



.buttons{
    display: flex;
    font-family:Arial;
}
.status{
    width: 10%;
}
.active{
    width: 10%;
    margin-left: 10px;
}
.btns{
    width: 80%;
    margin-left: 350px;
}

.Family_details{
    display: flex;
    font-family:'Poppins';
    margin-top: 30px; 
}

.Mother{
    margin-left: 1.875em;
}
.DOB{
    margin-left: 1.875em;
}
.Martial{
    margin-left: 0.938rem;
}
.Dept{
    margin-left: 0.625rem;
}


.info{
    font-family: 'Poppins';
    min-height: 48.5vh;
    display: grid;
    grid-template-columns: 60% 38%;
    grid-template-rows: 100%;
    grid-template-areas: "Addtional_information Related_infomation";
}


.Addtional_information{
    grid-area: Addtional_information;
    font-family: 'Poppins';
    margin-left: 21px;
    margin-bottom: 20px;
}

.Addtional_information h2{
 font-family: 'Poppins';
 font-size: 24px;
 font-weight: 500;
}

.Related_infomation{
    grid-area: Related_infomation;
    margin-left: 10px;
    border-left: 1px solid black;
    border-style: dotted;
    padding-left: 30px;
}

.Related_infomation h2{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
}

.Related_infomation h3{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    color:#333333;
}

.Basic{
    display: flex;
    margin-top: 27.5px;
    font-family:'Poppins';
}
.Gender{
    width: 50%;
    font-family:'Poppins';
}

.Nationality{
    width: 50%;
}

.useful-links h2{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    margin-top: 19.5px;
    margin-bottom: 5px;
}
.History{
    display: flex;
    font-family:'Poppins';
    font-weight: 500;
    font-size: 14px;
    margin-top: 19.5px;
}
.forward{
    width:5%;
}
.Leave{
    width: 50%;
}



.custom-header .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    font: bolder;
    background-color: aqua;
  }

  .avatar-upload {
    width: 95px;
    height: 95px;
    position: relative; 
    border-radius: 100%;
    overflow: hidden;
    border: 0.5px solid #fff;
    margin-left: 31px;
    border-radius: 50%;
    background: transparent;    
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgb(94, 104, 121, .288);

  }

  .avatar-preview{
    width: 95px;
    height: 95px;
    position: relative; 
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
     box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  }

  .avatar-upload .avatar-edit input {
    display: none;
  }
  
  .avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
  }

 mat-panel-title{
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins';
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) {
  border-bottom: 1px solid #cccccc;
}

.mat-expansion-panel .mat-expanded{
    border-bottom: 1px solid #cccccc;
}

mat-icon{
   color:#666666;
   margin-left: 12px;
   margin-right: 22px;
   margin-bottom: 6px;
   width:16px;
   height:16px;
}

@media (max-width:640px) {
    .labels{
        grid-template-columns: none;
        grid-template-rows: 0.2fr 0.2fr 0.2fr;
        grid-template-areas: "category" "code" "firstname";
        gap:0.2rem;
        font-size: 3vw;
        max-width: 55%;
        min-height: 20%;
    }

    .summery{
        grid-template-columns: none;
        grid-template-rows: 0.6fr 0.8fr;
        grid-template-areas: "img" "details"  
    }

    .summery .img{
         max-width:100%;
    }

    .summery .details .Family_details{
        display: block;
        margin-top: -30px;
        font-size: 14px;
    }

    .Family_details .Martial, .Dept{
        margin-left: 28px;
    }
   
    .uploadbtn{
        font-size: 12px;
        font-weight: 500;
        width: 150px;
    }


    .info{
        grid-template-columns: none;
        grid-template-rows: 47% 35%;
        grid-template-areas: "Addtional_information" "Related_infomation";
    }
    
    .Addtional_information{
        margin-left: -10px;
    }

    .Addtional_information mat-expansion-panel{
        margin-left: -15px;
    }

    .Addtional_information h2{
        padding-left: 14px;
    }


    .Related_infomation{
        margin-left: -25px;
}

}

@media screen and (min-width:768px) and (max-width:1050px) {
    .labels{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "category code firstname";
        min-height: 5vh;
        width: 90%;        
        }

    .summery{
        grid-template-columns: 50% 50%;
        grid-template-rows:  100%;
        grid-template-areas: "img details";
        min-height: 35%;
        max-width: 100%;
    
    }

    .summery .img{
        max-width:100%;
   }
    
    .summery .details .Family_details{
        display: block;
        margin-top: -30px;
    }

    .Family_details .Mother, .DOB, .Martial, .Dept{
        margin-left: 50px;
    }



    .uploadbtn{
        font-size: 14px;
        font-weight: 500;
        width: 170px;
    }


    .info{
        grid-template-columns: none;
        grid-template-rows: 47% 35%;
        grid-template-areas: "Addtional_information" "Related_infomation";
    }
    
    .Addtional_information{
        margin-left: -10px;
    }

    .Addtional_information h2{
        padding-left: 14px;
    }

    .Addtional_information mat-expansion-panel{
        margin-left: -15px;
    }

    .Related_infomation{
        margin-left: -25px;
}
}


@media screen and (min-width:1051px) and (max-width:1500px) {

    .uploadbtn{
          width: 170px;
    }

}