<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="RegionTypeJSON.default.ObjectFields[0].RegionTypeCode"
        formControlName='RegionTypeCode' (Onselectdata)="RegionTypevalue($event)"
        [defaultvalue]="form.get('RegionTypeCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="RegionTypeJSON.default.ObjectFields[0].RegionTypeName"
        formControlName='RegionTypeName' (Onselectdata)="RegionTypevalue($event)"
        [defaultvalue]="form.get('RegionTypeName').value"></app-entitylookup>





        </form>
        </div>