<div class="MMLightBox">
    <div class="MMLightBoxHeader mon-sixth">
        <span class="headline-med-20-white" style="padding-left: 24px;">
            {{LightBoxData.BizTransactionTypeName}}
        </span>
        <span class="headline-med-20-white" style="padding-left: 24px;">
            {{LightBoxData.MMHeadNumber}}
        </span>
        <span class="headline-med-20-white-secondary" style="padding-left: 16px;">
            {{LightBoxData.MMHeadDate}}
        </span>
        <span class="rightalign">
            <span class="Attachment">
                <img style="display: inline-block;" width="20px" src="assets/icons/attachment.png">
                <span class="mon-sixth attachment">Attachment</span>
            </span>
            <!-- <span (click)="LightBoxClose()" style="padding-left: 20px; cursor: pointer;">
                <img style="display: inline-block;" width="24px" src="assets/icons/exiticon.png">
            </span> -->
        </span>
    </div>
    <div>
        <div>
            <span class="body-semi-14-type-primary" style="padding-left: 24px;">Bill to</span>
        </div>
        <div style="display: inline-flex; align-items: center;">
            <span class="PartyName mon-sixth WidthAdjustment1" style="padding-left: 24px;">{{LightBoxData.PartyName}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment2" >Ref No</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px; display: inline-block; width: 200px;">{{LightBoxData.MMHeadReferenceNumber}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment2" >Currency</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px; width: 100px;">{{LightBoxData.CurrencyCode}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment2" style=" width: 150px;">Total Net Value</span>
        </div>
        <div style="margin-top: 6px;">
            <span class="caption-med-12-type-primary WidthAdjustment1" style="padding-left: 24px;">{{LightBoxData.BillToAddressLine1}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment2" >Ref Date</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px; display: inline-block;width: 455px;">{{LightBoxData.MMHeadReferenceDate}}</span>
            <span class="NetValue mon-sixth" style="padding-left: 3px;">{{LightBoxData.MMHeadTotalNetValueFC}}</span>
        </div>
        <div>
            <span class="caption-med-12-type-primary" style="padding-left: 24px;">{{LightBoxData.BillToAddressLine2}}</span>
            </div>
        <div>
            <span class="caption-med-12-type-primary WidthAdjustment1" style="padding-left: 24px;">{{LightBoxData.BillToAddressLine3}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment2" >Duty Type</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px;">{{LightBoxData.DutyTransactionTypeName}}</span>
        </div>
        <div style="margin-top: 9px;margin-bottom: 24px;">
            <span class="captionsec-reg-12-type-primary" style="padding-left: 24px;">Contact Name</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px; display: inline-block; width: 150px;">{{LightBoxData.ContactName}}</span>
            <span class="captionsec-reg-12-type-primary" style=" width: 100px;">First Name</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px; display: inline-block; width: 154px;">{{LightBoxData.MMHeadOpenName}}</span>
            <span class="captionsec-reg-12-type-primary" style=" display: inline-block; width: 100px;text-align: right;">Store Code</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px;">{{LightBoxData.StoreName}}</span>
        </div>
    </div>
    <div style="margin-top: -20px;">
        <div class="LightBoxTable">
            <table class="Table" style="width: 100%;">
                <thead class="thead">
                    <tr class="theadtr">
                        <th class="th cap1-bold-12-white" style="padding-left: 32px;">Prev.</th>
                        <th class="th cap1-bold-12-white" style="min-width: 30px;">#</th>
                        <th class="th cap1-bold-12-white" >Code</th>
                        <th class="th cap1-bold-12-white" >Name</th>
                        <th class="th cap1-bold-12-white" style="min-width: 50px;">Qty</th>
                        <th class="th cap1-bold-12-white" style="min-width: 50px;">UOM</th>
                        <th class="th cap1-bold-12-white" style="text-align: right;">Rate</th>
                        <th class="th cap1-bold-12-white" style="text-align: right;">Value</th>
                        <th class="th cap1-bold-12-white" style="text-align: right;">Tax +</th>
                        <th class="th cap1-bold-12-white" style="text-align: right;">Tax -</th>
                        <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 32px;">Gross Value</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr class="tr" [ngClass]="{'color': (i%2 == 0)}" *ngFor="let data of LightBoxData.MMDetailArray; let i=index">
                        <td class="td captionsec-reg-12-type-primary" style="padding-left: 32px;">{{data.PreviousDocumentNumber}}</td>
                        <td class="td captionsec-reg-12-type-primary" style="min-width: 30px;">{{data.MMDetailSlNo}}</td>
                        <td class="td captionsec-reg-12-type-primary" >{{data.ItemCode}}</td>
                        <td class="td captionsec-reg-12-type-primary" >{{data.ItemName}}</td>
                        <td class="td captionsec-reg-12-type-primary" style="min-width: 50px;">{{data.MMDetailTransactionActualQuantity}}</td>
                        <td class="td captionsec-reg-12-type-primary" style="min-width: 50px;">{{data.TransactionUOMCode}}</td>
                        <td class="td captionsec-reg-12-type-primary" style="text-align: right;">{{data.MMDetailRateFC}}</td>
                        <td class="td captionsec-reg-12-type-primary" style="text-align: right;">{{data.MMDetailItemBasicValueFC}}</td>
                        <td class="td captionsec-reg-12-type-primary" style="text-align: right;">{{data.MMDetailItemAmountPlusFC}}</td>
                        <td class="td captionsec-reg-12-type-primary" style="text-align: right;">{{data.MMDetailItemAmountMinusFC}}</td>
                        <td class="td captionsec-reg-12-type-primary" style="text-align: right; padding-right: 32px;">{{data.MMDetailItemGrossValueFC}}</td>
                    </tr>
                    <tr class="tr" [ngClass]="{'color': (LightBoxData.MMDetailArray.length%2 == 0)}">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="td total mon-sixth" style="text-align: right;">{{LightBoxData.MMHeadTotalItemBasicValue}}</td>
                        <td class="td total mon-sixth" style="text-align: right;">{{LightBoxData.MMHeadTotalItemAmountPlus}}</td>
                        <td class="td total mon-sixth" style="text-align: right;">{{LightBoxData.MMHeadTotalItemAmountMinus}}</td>
                        <td class="td total mon-sixth" style="text-align: right; padding-right: 32px;">{{LightBoxData.MMHeadTotalItemGrossValueFC}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div style="margin-top: 24px;">
            <span class="captionsec-reg-12-type-primary WidthAdjustment3" >Remarks</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px; display: inline-block; width: 900px;">{{LightBoxData.MMHeadRemarks}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment3" >Other Amount +</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px; display: inline-block; width: 100px;">{{LightBoxData.MMHeadTotalOtherAmountPlus}}</span>
        </div>
        <div>
            <span class="captionsec-reg-12-type-primary WidthAdjustment3" >Reason</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px; display: inline-block; width: 900px;">{{LightBoxData.ReasonName}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment3" >Other Amount -</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px; display: inline-block; width: 100px;">{{LightBoxData.MMHeadTotalOtherAmountMinus}}</span>
        </div>
        <div>
            <span class="captionsec-reg-12-type-primary WidthAdjustment3" >Advance</span>
            <span class="captionHead-semibold-12-type-primary" style="padding-left: 16px; display: inline-block; width: 900px;">{{LightBoxData.MMHeadAdvanceAmount}}</span>
            <span class="captionsec-reg-12-type-primary WidthAdjustment2" >Total Net Value</span>
            <span class="NetValue mon-sixth" style="padding-left: 16px; display: inline-block; width: 100px;">{{LightBoxData.MMHeadTotalNetValueFC}}</span>
        
        </div>
    </div>
</div>