<!-- <div style="height: 36px; display: flex;">
    <mat-checkbox [checked]="!gbControl.value"
        style="min-width: 180px;display: inline-flex;justify-content: end;width: 180px;padding-right: 16px;"
        [disabled]="!isreadable" (change)="chkChanged(!$event.checked ? 1 : 0)"
        (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)">
    </mat-checkbox>
    <input *ngIf="!isreadable" style="outline-style: none;display: inline-block;width: 1px;"
            (focus)="isFocused = true" (focusout)="isFocused = false" readonly>
    <span class="form_value" [class.labelFocused]="isFocused" style="padding-top: 10px;">{{Field.Label}}</span>
</div> -->
<Table style="height: 36px;">
    <tbody>
        <tr>
            <td style="display: inline-flex;align-content: center;height: 36px;">
                <mat-checkbox [checked]="!gbControl.value" [style.width.px]="Field?.LabelWidth == undefined ? 180 : Field?.LabelWidth"
                    style="display: inline-flex;justify-content: end;padding-right: 16px;"
                    [disabled]="!isreadable" (change)="chkChanged(!$event.checked ? 1 : 0)"
                    (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)"></mat-checkbox>
            </td>
            <td [ngStyle]="{'width.px': Field?.Width}">
                <input *ngIf="!isreadable" style="outline-style: none;display: inline-block;width: 0.1px;"
                    (focus)="isFocused = true" (focusout)="isFocused = false" readonly>
                <span class="form_label tooltip" [class.labelFocused]="isFocused" style="padding-top: 10px;">{{Field.Label}}<span *ngIf="Field?.Tooltip && Field?.Tooltip.length > 0" class="tooltiptext">{{Field?.Tooltip}}</span></span>
            </td>
        </tr>
    </tbody>
</Table>