@import url('./../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss');

.focused {
  /* Add your focused styles here */
  border-bottom: 2px solid var(--color); /* For example */
  transition: .4s ease-in-out;
}

.labelFocused{
  color: var(--color);
  transition: .4s ease-in-out;
}

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #9A6CE0 !important;
  }
