<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="UserGroupJSON.default.ObjectFields[0].UserGroupCode"
        formControlName='UserGroupCode' (Onselectdata)="UserGroupPicklistFillValue($event)"
        [defaultvalue]="form.get('UserGroupCode').value"></app-entitylookup>
        
        
        <app-entitylookup class="KeyField" [PicklistObj]="UserGroupJSON.default.ObjectFields[0].UserGroupName"
        formControlName='UserGroupName' (Onselectdata)="UserGroupPicklistFillValue($event)"
        [defaultvalue]="form.get('UserGroupName').value"></app-entitylookup>
        
        
        <app-gb-formgrid formControlName='UserGroupDetailArray'
            [ArrayDetail]="form.get('UserGroupCode').value"></app-gb-formgrid>

    </form>
</div>