<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="ShiftPatternJSON.default.ObjectFields[0].ShiftPatternCode"
        formControlName='ShiftPatternCode' (Onselectdata)="ShiftPatternValue($event)"
        [defaultvalue]="form.get('ShiftPatternCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="ShiftPatternJSON.default.ObjectFields[0].ShiftPatternName"
        formControlName='ShiftPatternName' (Onselectdata)="ShiftPatternValue($event)"
        [defaultvalue]="form.get('ShiftPatternName').value"></app-entitylookup>

        <app-gb-combobox formControlName="ShiftPatternType"></app-gb-combobox>

        <app-gb-combobox formControlName="ShiftPatternDays" *ngIf="form.get('ShiftPatternType').value == 2 || form.get('ShiftPatternType').value == 4"></app-gb-combobox>


        <app-gb-input formControlName='ShiftPatternDates' *ngIf="form.get('ShiftPatternType').value == 1 || form.get('ShiftPatternType').value == 1"></app-gb-input>

        <!-- <app-gb-date formControlName='ShiftPatternDates' [date]="form.get('ShiftPatternId').value" *ngIf="form.get('ShiftPatternType').value == 1 || form.get('ShiftPatternType').value == 1"></app-gb-date> -->

        <app-gb-formgrid formControlName='ShiftPatternDaysArray'
        [ArrayDetail]="form.get('ShiftPatternCode').value"></app-gb-formgrid>

        </form>
        </div>