<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="PayTaxTypeJSON.default.ObjectFields[0].PayTaxTypeCode"
            formControlName='PayTaxTypeCode' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('PayTaxTypeCode').value">
        </app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PayTaxTypeJSON.default.ObjectFields[0].PayTaxTypeName"
            formControlName='PayTaxTypeName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('PayTaxTypeName').value"> 
        </app-entitylookup>
        <br>
        <app-gb-textarea class="KeyField" formControlName='PayTaxTypeRemarks'></app-gb-textarea> <br>

        <app-gb-input  class="KeyField" formControlName='PayTaxTypeSortOrder'></app-gb-input>

        <app-gb-formgrid formControlName='PayTaxTypeDetailArray'
            [ArrayDetail]="form.get('PayTaxTypeCode').value"></app-gb-formgrid>


    </form>
</div>