<input type="checkbox" (change)="changeCheckevent($event)">Code
<br>
<mat-form-field>
	<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
	<table [ngClass]="themeClass$ | async" mat-table [dataSource]="dataSource" matSort>

		<ng-container matColumnDef="Code">
			<th class="thm-primary" mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="!code"> Code </th>
			<td mat-cell *matCellDef="let element" [hidden]="!code"> {{element.Code}} </td>
		</ng-container>

		<ng-container matColumnDef="Name">
			<th class="thm-primary" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
			<td mat-cell *matCellDef="let element"> {{element.Name}} </td>
		</ng-container>

		<ng-container matColumnDef="DepartmentName">
			<th class="thm-primary" mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
			<td mat-cell *matCellDef="let element"> {{element.DepartmentName}} </td>
		</ng-container>

		<ng-container matColumnDef="PrimaryEMailId">
			<th class="thm-primary" mat-header-cell *matHeaderCellDef mat-sort-header> Email Id </th>
			<td mat-cell *matCellDef="let element"> {{element.PrimaryEMailId}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div> 
   