<div class='FormOverview' *ngIf="form.bFormReady">

    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="EventClassJSON.default.ObjectFields[0].EventClassCode"
        formControlName='EventClassCode' (Onselectdata)="EventclassFormVal($event)"
        [defaultvalue]="form.get('EventClassCode').value"></app-entitylookup> 


        <app-entitylookup class="KeyField" [PicklistObj]="EventClassJSON.default.ObjectFields[0].EventClassName"
        formControlName='EventClassName' (Onselectdata)="EventclassFormVal($event)"
        [defaultvalue]="form.get('EventClassName').value"></app-entitylookup> 

        <app-gb-input formControlName='EventClassColor'></app-gb-input>

        <app-gb-combobox formControlName="EventClassWeight"></app-gb-combobox>

        <app-gb-input formControlName='EventClassText'></app-gb-input>

        <app-gb-input formControlName='EventClassTag'></app-gb-input>

        <app-gb-input formControlName='EventClassSource'></app-gb-input>

        <app-gb-input formControlName='EventClassLink'></app-gb-input>

        <app-gb-input formControlName='EventClassSortOrder'></app-gb-input>

        </form>
        </div>