<div class="dbtable">
    <div style="white-space: nowrap;">
        <p class="D" style="display: inline-block; margin-left: 10px; color: black; font-weight: bold;">Bal :{{TotalBalance | NumberFormat}}</p>
        <p class="C" style="display: inline-block; margin-left: 20px; color: black; font-weight: bold;">Less Not Cr :{{TotalLessNotCr | NumberFormat}}</p>
        <p class="D" style="display: inline-block; margin-left: 20px; color: black; font-weight: bold;">Add Not Dr :{{TotalAddNotDr | NumberFormat}}</p>
        <p class="C" style="display: inline-block; margin-left: 20px; color: black; font-weight: bold;">A/c Not Cr :{{TotalAcNotCr.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
        <p class="C" style="display: inline-block; margin-left: 20px; color: black; font-weight: bold;">A/c Not Dr :{{TotalAcNotDr.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
        <p class="C" style="display: inline-block; margin-left: 20px; color: black; font-weight: bold;">Cal Balance :{{TotalCalBalance | NumberFormat}}</p>
    </div>    
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Account Name</th>
                <th class="th cap1-bold-12-white" >Bal</th>
                <th class="th cap1-bold-12-white" >Less Not CR</th>
                <th class="th cap1-bold-12-white" >Add Not CR</th>
                <th class="th cap1-bold-12-white" >A/c Not CR</th>
                <th class="th cap1-bold-12-white" >A/c Not DR</th>
                <th class="th cap1-bold-12-white" >Cal Bal</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr"*ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" >{{data.AccountCode }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.AccountName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.BookBalance | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.LessNotcr | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.AddNotDr | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.NotAcNotCr | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.NotAcNotDr | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.CalculatedBalance | NumberFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>

