<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="DeferralPlanJSON.default.ObjectFields[0].DeferalPlanCode"
            formControlName='DeferalPlanCode' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('DeferalPlanCode').value"></app-entitylookup> 

        <app-entitylookup class="KeyField" [PicklistObj]="DeferralPlanJSON.default.ObjectFields[0].DeferalPlanName"
            formControlName='DeferalPlanName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('DeferalPlanName').value"></app-entitylookup> <br>

        <app-entitylookup class="KeyField" [PicklistObj]="DeferralPlanJSON.default.ObjectFields[0].DeferalAccountName"
            formControlName='DeferalAccountName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('DeferalAccountName').value"></app-entitylookup> <br>

        <app-gb-combobox style="width: 520px;" class="KeyField" formControlName="DeferalPlanStartDateType"></app-gb-combobox> 

        <app-gb-combobox class="KeyField" formControlName="DeferalPlanCalculationMethod"></app-gb-combobox> <br>
        
        <app-gb-input  style="width: 520px;" class="KeyField" formControlName='DeferalPlanDeferalPercent'></app-gb-input>
        
        <app-gb-input class="KeyField" formControlName='DeferalPlanPeriods'></app-gb-input> <br>
        
        <app-gb-textarea class="KeyField" formControlName='DeferalPlanRemarks'></app-gb-textarea>
        
        <app-gb-textarea class="KeyField" formControlName='DeferalPlanPeriodRemarksTemplate'></app-gb-textarea>

    </form>
</div>