<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
  
      <app-entitylookup class="KeyField" [PicklistObj]="BintypeJSON.default.ObjectFields[0].BinTypeCode"
        formControlName='BinTypeCode' (Onselectdata)="BinTypeRetrivalValue($event)"
        [defaultvalue]="form.get('BinTypeCode').value"></app-entitylookup>
  
      <app-entitylookup class="KeyField" [PicklistObj]="BintypeJSON.default.ObjectFields[0].BinTypeName"
        formControlName='BinTypeName' (Onselectdata)="BinTypeRetrivalValue($event)"
        [defaultvalue]="form.get('BinTypeName').value"></app-entitylookup>

        <app-gb-input formControlName="BinTypeMaxWeight" (InputOutPut) = "BinTypeMaxWeightDeciVal($event)"></app-gb-input>
        <app-gb-input formControlName="BinTypeTotalCapacity" (InputOutPut) = "BinTypeTotalCapacitytDeciVal($event)"></app-gb-input>
        <app-gb-textarea formControlName="BinTypeRemarks"></app-gb-textarea>
  
    </form>
  </div>