<div class='FormOverview' *ngIf="form.bFormReady">
  <form [formGroup]='form'>
    
    <app-entitylookup [PicklistObj]="FindPicklist('DistributionListCode')" formControlName='DistributionListCode'
      (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('DistributionListCode').value"
      class="KeyField"></app-entitylookup>


    <app-entitylookup [PicklistObj]="FindPicklist('DistributionListName')" formControlName='DistributionListName'
      (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('DistributionListName').value"
      class="KeyField"></app-entitylookup>

    <app-gb-formgrid formControlName='DistributionListDetailArray'
      [ArrayDetail]="form.get('DistributionListCode').value"></app-gb-formgrid>

  </form>
</div>