@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

  .browse{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .browsebutton{
    cursor: pointer;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom:10px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 2px 2px 0px #0000000F;
    border-radius: 6px;
    padding-top: 7px;
    color: #FFFFFF;
    width: 120px;
    height: 32px;
    background-color: var(--color);
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
  }