<div class="dbtable">
    <p class="D">Debit :{{rowData[0].TotalDebit?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
    <p class="C">Credit :{{rowData[0].TotalCredit?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</p>
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">Code</th>
                <th class="th cap1-bold-12-white">Name</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Debit</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 20px;">Credit</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of totalamount; let i=index">
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.acccode }}</td>
                <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.accname}}</td>
                <td class="td cap2-med-12-type-primary"  style="text-align: right;padding-right: 20px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.debit | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary"  style="text-align: right;padding-right: 20px;" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.credit | NumberFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>