<div class="dbtable">
    <!-- <p class="Op">
        Opening : {{rowData[0].FinalOpening?.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}} {{rowData[0].FinalOpening > 0 ? 'Dr' : 'Cr'}}
      </p>
       -->
      <p class="Db">Pending :{{rowData[0].TotalReceivable?.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>
    <p class="Cr">Unadjusted :{{rowData[0].TotalPayable?.toLocaleString(undefined, { maximumFractionDigits: 2,
        minimumFractionDigits: 2 })}}</p>

      <p class="Cl">
        Balance : {{ rowData[0].TotalBalance === 0 ? '' : (rowData[0].TotalBalance < 0 ? -rowData[0].TotalBalance :
        rowData[0].TotalBalance).toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2
        }) }}
      </p>


    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white">AccountCode</th>
                <th class="th cap1-bold-12-white">AccountName</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">Pending</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">UnAdjusted</th>
                <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 50px">Balance</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" >
                    {{data.Code }}</td>
                <td class="td cap2-med-12-type-primary" >
                    {{data.Name}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px">
                    {{data.Receivable | NumberFormat}}
                </td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px">
                    {{data.Payable | NumberFormat}}</td>
                <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 50px">
                    {{ data.Balance  | NumberFormat}}
                </td>
            </tr>
        </tbody>
    </table>
</div>