<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

            <app-entitylookup class="KeyField" [PicklistObj]="RoleAlertJSON.default.ObjectFields[0].RoleName"
            formControlName='RoleName' (Onselectdataids)="RoleAlertPicklistPatchValue($event)"
            [defaultvalue]="form.get('RoleName').value"></app-entitylookup>

            <app-entitylookup class="KeyField" [PicklistObj]="RoleAlertJSON.default.ObjectFields[0].ModuleName"
            formControlName='ModuleName' (Onselectdata)="RoleAlertPicklistFillValue($event)"
            [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='RoleAlertArray'
            [ArrayDetail]="form.get('RoleAlertArray').value"></app-gb-formgrid>

    </form>
</div>