<div class="LeadStageDashboard">
  <!-- Status -->
  <div class="LeadStageStatus">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <span
          class="swiper-slide"
          *ngFor="let data of LeadStageData; let i = index"
        >
          <table
            [ngClass]="
              data.StageName == StageName
                ? 'LeadStageTileTableOutline'
                : 'LeadStageTileTable'
            "
            style="background: {{ RandomBackground[i] }};"
          >
            <thead>
              <tr>
                <td colspan="2" style="width: 140px" class="DashboardTileTitle">
                  {{ data.StageName }}
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td
                  style="width: 70px"
                  colspan="2"
                  style="cursor: pointer"
                  class="DashboardTileNumber"
                  (click)="LeadStageSummaryServiceCall(data, i)"
                >
                  <Span style="font-size: 20px">#</Span
                  >{{ data.StageCount | NumberFormatter }}
                </td>
              </tr>
              <tr *ngIf="data.StageValue != '0'">
                <td colspan="2" style="border-bottom: 1px solid #b4b4b4"></td>
              </tr>
              <tr *ngIf="data.StageValue != '0'">
                <td style="width: 70px" class="DashboardTileSmallNumber">
                  {{ data.StageValue | NumberFormatter }}
                </td>
                <td class="DashboardTileValue">Value</td>
              </tr>
            </tbody>
          </table>
        </span>
      </div>
    </div>
  </div>
  <!-- Radio Button -->
  <div
    class="SummaryOrList"
    style="display: flex"
    *ngIf="LeadStageTableVisible == true"
  >
    <span class="RadioButtonSelection">
      <span
        class="SelectOption"
        style="display: flex"
        *ngFor="let radiobutton of SummaryOrList; let j = index"
      >
        <input
          style="cursor: pointer"
          class="radiobutton"
          [id]="radiobutton + j"
          type="radio"
          (click)="SummaryOrListModel.option = radiobutton"
          [checked]="radiobutton === SummaryOrListModel.option"
          name="SummaryOrList"
        />
        <label
          style="padding-left: 8px; padding-right: 12px; cursor: pointer"
          class="cap1-bold-12-type-primary"
          [for]="radiobutton + j"
        >
          {{ radiobutton }}
        </label>
      </span>
      <span
        style="padding-left: 10px"
        *ngIf="SummaryOrListModel.option == 'Summary'"
        class="SummarySelect"
      >
        <!-- <mat-form-field> -->
        <mat-select name="SummarySelect" [(value)]="selected">
          <mat-option *ngFor="let obj of Summary" [value]="obj.id">
            {{ obj.name }}
          </mat-option>
        </mat-select>
        <!-- </mat-form-field> -->
      </span>
    </span>
    <span
      class="statusicondetail"
      *ngIf="SummaryOrListModel.option == 'List' || StatusIcon"
    >
      <span
        style="padding-right: 20px"
        *ngIf="SummaryOrListModel.option == 'List'"
        class="SummarySelect"
      >
        <!-- <mat-form-field> -->
        <mat-select
          style="width: 85px"
          name="MonthTypeSelect"
          [(value)]="MonthTypeselected"
        >
          <mat-option *ngFor="let obj of MonthType" [value]="obj.id">
            {{ obj.name }}
          </mat-option>
        </mat-select>
        <!-- </mat-form-field> -->
      </span>
      <label style="padding-right: 12px" class="cap1-bold-12-type-primary"
        >Status :
      </label>
      <img
        src="assets/Dashboard_Image/Progress.png"
        class="statusicon"
        alt="Progress"
      />
      <label style="padding-right: 5px" class="cap1-bold-12-type-primary"
        >- Progress</label
      >
      <img
        src="assets/Dashboard_Image/Hold.png"
        class="statusicon"
        alt="Hold"
      />
      <label style="padding-right: 5px" class="cap1-bold-12-type-primary"
        >- Hold</label
      >
      <img src="assets/Dashboard_Image/Won.png" class="statusicon" alt="Won" />
      <label style="padding-right: 5px" class="cap1-bold-12-type-primary"
        >- Won</label
      >
      <img
        src="assets/Dashboard_Image/Lost.png"
        class="statusicon"
        alt="Lost"
      />
      <label style="padding-right: 5px" class="cap1-bold-12-type-primary"
        >- Lost</label
      >
      <img
        src="assets/Dashboard_Image/Drop.png"
        class="statusicon"
        alt="Drop"
      />
      <label style="padding-right: 5px" class="cap1-bold-12-type-primary"
        >- Drop</label
      >
    </span>
  </div>
</div>
<!-- Summary Grid -->
<div
  *ngIf="
    SummaryOrListModel.option == 'Summary' && LeadStageTableVisible == true
  "
>
  <app-leadstagesummary
    [FilterData]="FilterData"
    [StageName]="StageName"
    [LeadStageData]="LeadStageData"
    [selected]="selected"
    (StatusIcon)="StatusIconChange($event)"
  ></app-leadstagesummary>
</div>
<!-- List Grid -->
<div
  *ngIf="SummaryOrListModel.option == 'List' && LeadStageTableVisible == true"
>
  <app-leadstagelist
    [FilterData]="FilterData"
    [TotalRecord]="TotalRecord"
    [StageName]="StageName"
    [MonthTypeselected]="MonthTypeselected"
  ></app-leadstagelist>
</div>
