<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>

    <app-entitylookup class="KeyField" [PicklistObj]="MaterialGroupJSON.default.ObjectFields[0].MaterialGroupCode"
      formControlName='MaterialGroupCode' (Onselectdata)="MaterialGroupRetrivalValue($event)"
      [defaultvalue]="form.get('MaterialGroupCode').value"></app-entitylookup>

    <app-entitylookup class="KeyField" [PicklistObj]="MaterialGroupJSON.default.ObjectFields[0].MaterialGroupName"
      formControlName='MaterialGroupName' (Onselectdata)="MaterialGroupRetrivalValue($event)"
      [defaultvalue]="form.get('MaterialGroupName').value"></app-entitylookup>

  </form>
</div>