<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionClassModuleName"
            formControlName='BIZTransactionClassModuleName'
            (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
            [defaultvalue]="form.get('BIZTransactionClassModuleName').value"></app-entitylookup>
        <app-entitylookup class="KeyField"
            [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionTypeClassName"
            formControlName='BIZTransactionTypeClassName'
            (Onselectdataids)="RVLEmployeeMasterRetrievalFillFunction($event)"
            [defaultvalue]="form.get('BIZTransactionTypeClassName').value"></app-entitylookup>
        <app-entitylookup class="KeyField"
            [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionTypeSubClassName"
            formControlName='BIZTransactionTypeSubClassName'
            (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
            [defaultvalue]="form.get('BIZTransactionTypeSubClassName').value"></app-entitylookup>
        <app-entitylookup class="KeyField"
            [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionName"
            formControlName='BIZTransactionName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
            [defaultvalue]="form.get('BIZTransactionName').value"></app-entitylookup>
        <br>
        <app-entitylookup class="KeyField"
            [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionTypeCode"
            formControlName='BIZTransactionTypeCode' (Onselectdata)="BizTransactionTypePicklistFillValue($event)"
            [defaultvalue]="form.get('BIZTransactionTypeCode').value"></app-entitylookup>
        <app-entitylookup class="KeyField"
            [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionTypeName"
            formControlName='BIZTransactionTypeName' (Onselectdata)="BizTransactionTypePicklistFillValue($event)"
            [defaultvalue]="form.get('BIZTransactionTypeName').value"></app-entitylookup>

        <app-gb-combobox class="KeyField" formControlName="BIZTransactionTypeStatus"></app-gb-combobox>
        <br>
        <app-gb-input class="KeyField" formControlName="BIZTransactionTypePurpose"></app-gb-input>

        <app-gb-input class="KeyField" formControlName="BIZTransactionTypeSortOrder"></app-gb-input>

        <div class="FormTab">
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Numbering')">
                Numbering</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Printing')">Printing</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Default')">Default</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Duties&Charges')">Duties &
                Charges</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Quality')">Quality</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Mat.Option')">Mat.Option</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Tracking')">Tracking</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Account Post')">Account Post</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Stock')">Stock</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'CC & Allocation')">CC &
                Allocation</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Batch/Lot & Pack')">Batch/Lot &
                Pack</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Option')">Option</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Date Control')">Date Control</button>
            <button class="FormTabLinks TabHeading" *ngIf="form.get('BIZTransactionTypeStockPostType').value == 0"  (click)="ChangeTab($event, 'Stock Account')">Stock Account</button>

        </div>
        <div class="TabView">
            <div id="Numbering" class="tabcontent">
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeNOGenerationType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeNOGenerationPeriodType'></app-gb-radiobox>
                <br>
                <app-gb-input formControlName='BIZTransactionTypeNumberSize'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='BIZTransactionTypePrefix'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='BIZTransactionTypeSuffix'></app-gb-input>
                <br>
                <app-gb-combobox class="KeyField" formControlName='BIZTransactionTypeSystemPrefix'></app-gb-combobox>
                <app-gb-combobox class="KeyField" formControlName='BIZTransactionTypeSystemSuffix'></app-gb-combobox>


            </div>
            <div id="Printing" class="tabcontent">
                <app-gb-radiobox formControlName='PrintType'></app-gb-radiobox>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].ReportFormatName"
                    formControlName='ReportFormatName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('ReportFormatName').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='BIZTransactionTypeDisplayName'></app-gb-input>
            </div>
            <div id="Default" class="tabcontent">
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].StoreName" formControlName='StoreName'
                    (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('StoreName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].ProcessName"
                    formControlName='ProcessName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('ProcessName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].WorkCenterName"
                    formControlName='WorkCenterName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('WorkCenterName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].SegmentName"
                    formControlName='SegmentName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('SegmentName').value"></app-entitylookup>


                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionTypePartyName"
                    formControlName='BIZTransactionTypePartyName'
                    (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('BIZTransactionTypePartyName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].CurrencyName"
                    formControlName='CurrencyName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('CurrencyName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].CounterName"
                    formControlName='CounterName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('CounterName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].ItemCriteriaConfigName"
                    formControlName='ItemCriteriaConfigName'
                    (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('ItemCriteriaConfigName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].PartyCriteriaConfigName"
                    formControlName='PartyCriteriaConfigName'
                    (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('PartyCriteriaConfigName').value"></app-entitylookup>
                <app-gb-combobox class="KeyField"
                    formControlName='BIZTransactionTypeContractDetailType'></app-gb-combobox>
                <br>
                <app-entitylookup [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].TermsSetName"
                    formControlName='TermsSetName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('TermsSetName').value"></app-entitylookup>

                <app-entitylookup [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].SamplePartyBranchName"
                    formControlName='SamplePartyBranchName'
                    (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('SamplePartyBranchName').value"></app-entitylookup>

            </div>
            <div id="Duties&Charges" class="tabcontent">
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].AdditionalChargeName"
                    formControlName='AdditionalChargeName'
                    (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('AdditionalChargeName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].ItemExciseRegisterName"
                    formControlName='ItemExciseRegisterName'
                    (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('ItemExciseRegisterName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].OtherChargeName"
                    formControlName='OtherChargeName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('OtherChargeName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].HeadExciseRegisterName"
                    formControlName='HeadExciseRegisterName'
                    (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('HeadExciseRegisterName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].TotalChargeName"
                    formControlName='TotalChargeName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('TotalChargeName').value"></app-entitylookup>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsExcise'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsCenVat'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsTransactionTypeChangeable'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsFormDetails'></app-gb-radiobox>

            </div>
            <div id="Quality" class="tabcontent">
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;left:400px"> Auto generation of NCR for </span>
<br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsQualityDetails'></app-gb-radiobox>         

                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypeRejectionNCR'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypeReworkNCR'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypeOtherNCR'></app-gb-checkbox>

                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsReasonApplicable'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].ReasonTypeName"
                    formControlName='ReasonTypeName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('ReasonTypeName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].NcrBiztransactionName"
                    formControlName='NcrBiztransactionName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('NcrBiztransactionName').value"></app-entitylookup>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeAutoRejectionApplicable'></app-gb-radiobox>

                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeShowFields'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsSeperateInspection'></app-gb-radiobox>

            </div>
            <div id="Mat.Option" class="tabcontent">
                <span class="FormSubHeading">Quantity Details</span>
                <br>
                <app-gb-checkbox class="KeyField"
                    formControlName='BIZTransactionTypeIsActualQuantity'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypeIsGoodQuantity'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField"
                    formControlName='BIZTransactionTypeIsRejectedQuantity'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField"
                    formControlName='BIZTransactionTypeIsReworkQuantity'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypeIsOtherQuantity'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypeIsGrossWeight'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypeIsNetWeight'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypeIsTareWeight'></app-gb-checkbox>

                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeSKUApplicable'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsMultipleUOM'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeSKUCreationAllowed'></app-gb-radiobox>
                <app-gb-input class="KeyField" formControlName='BIZTransactionTypeMaxDimensionAllowed'></app-gb-input>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeRatePerUOMApplicable'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsMultipleStores'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsDeliverySchedule'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsDiscountApplicable'></app-gb-radiobox>
                <app-gb-radiobox formControlName='BIZTransactionTypeMRPDetailsRequired'></app-gb-radiobox>
                <app-gb-radiobox formControlName='BIZTransactionTypeAttachmentType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsScheme'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsFree'></app-gb-radiobox>
                <br>
                <app-gb-input class="KeyField" formControlName='BIZTransactionTypeRateForFree'></app-gb-input>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeMaterialAccountChangeable'></app-gb-radiobox>
                <br>
               
                <app-gb-radiobox formControlName='BIZTransactionTypeIsDeliveryTracking'></app-gb-radiobox>
                <app-gb-radiobox formControlName='BIZTransactionTypeDefaultDeliveryType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsTripBill'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsSuppliementary'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeShowHistory'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeItemFromItemParty'></app-gb-radiobox>
                <br>
                <app-gb-radiobox formControlName='BIZTransactionTypeLinewiseReferenceRequired'></app-gb-radiobox>
            </div>
            <div id="Tracking" class="tabcontent">
                <span class="FormSubHeading">Selection</span>
                <span class="FormSubHeading">Pending</span>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsSelection'></app-gb-radiobox>
                
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsPendingPost'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeSelectionType'></app-gb-radiobox>
                <app-gb-checkbox class="KeyField"
                    formControlName='BIZTransactionTypePendingForProcess'  (CheckBoxOutPut)="YesNo($event)" ></app-gb-checkbox>
                <br>
                <app-gb-combobox class="KeyField"
                    formControlName='BIZTransactionTypeSelectionFromType'></app-gb-combobox>
                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypePreviousProcess'></app-gb-checkbox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].SelectionClassName"
                    formControlName='SelectionClassName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('SelectionClassName').value"></app-entitylookup>
                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypePendingForStock'></app-gb-checkbox>

                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].SelectionSubClassName"
                    formControlName='SelectionSubClassName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('SelectionSubClassName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].ConsumptionBIZTransactionName"
                    formControlName='ConsumptionBIZTransactionName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('ConsumptionBIZTransactionName').value"></app-entitylookup>
                <br>

                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].SelectionBIZTransactionName"
                    formControlName='SelectionBIZTransactionName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('SelectionBIZTransactionName').value"></app-entitylookup>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsInterCompanyTracking'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].MultiBIZTransactionName"
                    formControlName='MultiBIZTransactionName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('MultiBIZTransactionName').value"></app-entitylookup>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsVarianceAllowed'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].LoadInterMMBiztransactionName"
                    formControlName='LoadInterMMBiztransactionName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('LoadInterMMBiztransactionName').value"></app-entitylookup>
                <app-gb-checkbox class="KeyField"
                    formControlName='BIZTransactionTypeIsQuantityVariance'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField"
                    formControlName='BIZTransactionTypeIsQualityVariance'></app-gb-checkbox>
                <app-gb-checkbox class="KeyField" formControlName='BIZTransactionTypeIsRateVariance'></app-gb-checkbox>

                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsNonSelectionEntry'></app-gb-radiobox>
                <app-gb-combobox class="KeyField" formControlName='BIZTransactionTypeIsBizDimensionType'></app-gb-combobox>

                <app-gb-radiobox formControlName='BIZTransactionTypeLinewiseTrackingRequired'></app-gb-radiobox>
                <app-gb-radiobox formControlName='BIZTransactionTypeScanningRequired'></app-gb-radiobox>
                <app-gb-radiobox formControlName='BIZTransactionTypePendingPosting'></app-gb-radiobox>

            </div>
            <div id="Account Post" class="tabcontent">
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeAccountPostType'></app-gb-radiobox>
                <app-gb-combobox class="KeyField" formControlName='BIZTransactionTypeDebitType'></app-gb-combobox>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeAccountPostBasis'></app-gb-radiobox>

                <app-gb-combobox class="KeyField" formControlName='BIZTransactionTypeCreditType'></app-gb-combobox>
                <br>
                <app-entitylookup class="KeyField"
                [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].FixedAccountName"
                formControlName='FixedAccountName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                [defaultvalue]="form.get('FixedAccountName').value" *ngIf="form.get('BIZTransactionTypeAccountPostBasis').value == 0"></app-entitylookup>
                <app-gb-radiobox formControlName='BIZTransactionTypeBillAccountType'></app-gb-radiobox>
               
                <app-gb-radiobox formControlName='BIZTransactionTypeLedgerType' ></app-gb-radiobox>
                
                <app-gb-radiobox formControlName='BIZTransactionTypeIsCashCredit'></app-gb-radiobox>
               
                <app-gb-radiobox formControlName='BIZTransactionTypeCashBillAccountingType'></app-gb-radiobox>
                
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].CashAccountName"
                    formControlName='CashAccountName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('CashAccountName').value"></app-entitylookup>
                <app-gb-combobox class="KeyField" formControlName='BIZTransactionTypeClaimPostType'></app-gb-combobox>
                <app-gb-combobox class="KeyField" formControlName='BIZTransactionTypeIsRecoveryTrack'></app-gb-combobox>
                <br>

                <app-gb-radiobox formControlName='BIZTransactionTypeCostOfSalesPostingType'></app-gb-radiobox>
                
                <app-entitylookup
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionTypeCostOfSalesAccountName"
                    formControlName='BIZTransactionTypeCostOfSalesAccountName'
                    (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('BIZTransactionTypeCostOfSalesAccountName').value"></app-entitylookup>
                
                <app-gb-radiobox formControlName='BIZTransactionTypeAccountVoucherType'></app-gb-radiobox>
                <app-entitylookup
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].AccountBizTransactionName"
                    formControlName='AccountBizTransactionName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('AccountBizTransactionName').value"></app-entitylookup>
              
                <app-entitylookup
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].AccountBizTransactionTypeName"
                    formControlName='AccountBizTransactionTypeName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('AccountBizTransactionTypeName').value"></app-entitylookup>
                <app-entitylookup [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].FinanceBookName"
                    formControlName='FinanceBookName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('FinanceBookName').value"></app-entitylookup>

                <app-gb-radiobox formControlName='BIZTransactionTypeIsAdvanceAccountPosting'></app-gb-radiobox>

            </div>
            <div id="Stock" class="tabcontent">
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeStockPostType' ></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeStockCheckType'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsMovementType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeStockviewType'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsIoRatio'></app-gb-radiobox>
                <app-gb-combobox class="KeyField"
                    formControlName='BIZTransactionTypeKitExpansionType'></app-gb-combobox>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeTransferStockPostType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIssueType'></app-gb-radiobox>
                <br>
                <app-gb-combobox class="KeyField" formControlName='BIZTransactionTypeReservationType'></app-gb-combobox>
                <app-gb-combobox class="KeyField"
                    formControlName='BIZTransactionTypeReservationConsume'></app-gb-combobox>
                <br>
                <app-gb-combobox formControlName='BIZTransactionTypeReservationLoadFrom'></app-gb-combobox>

            </div>
            <div id="CC & Allocation" class="tabcontent">
                <span class="FormSubHeading"> CostCenter</span>
                <span class="FormSubHeading">Allocation</span>
<br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsCostCenter'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsAllocation'></app-gb-radiobox>
<br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsMultipleCostCategory'></app-gb-radiobox>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].AllocationTypeName"
                    formControlName='AllocationTypeName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('AllocationTypeName').value"></app-entitylookup>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsSplitCostCenter'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeAllocationNature'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].CostCenterTypeName"
                    formControlName='CostCenterTypeName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('CostCenterTypeName').value"></app-entitylookup>
            </div>
             <div id="Batch/Lot & Pack" class="tabcontent">
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsBatchDetails'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsPackingQuality'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsBatchCreationPossible'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsPackingDetails'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsSeparateBatchEntryPossible'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeExactPickConfirmation'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsBatchInHeader'></app-gb-radiobox>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionTypeFromPackStatus"
                    formControlName='BIZTransactionTypeFromPackStatus' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('BIZTransactionTypeFromPackStatus').value"></app-entitylookup>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeLotMarkType'></app-gb-radiobox>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionTypeToPackStatus"
                    formControlName='BIZTransactionTypeToPackStatus' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('BIZTransactionTypeToPackStatus').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].LotTypeName"
                    formControlName='LotTypeName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('LotTypeName').value"></app-entitylookup>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].BIZTransactionTypePackConfirmationStatus"
                    formControlName='BIZTransactionTypePackConfirmationStatus'
                    (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('BIZTransactionTypePackConfirmationStatus').value"></app-entitylookup>
            </div>
            <div id="Option" class="tabcontent">
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsMultiCurrency'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIncludeForPlanning'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeNarrationType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeRateLoading'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeIsCancelApplicable'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypePostToItemParty'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsZeroValue'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeItemAliasRequired'></app-gb-radiobox>
                <br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeAssetPostType'></app-gb-radiobox>
                <app-gb-radiobox class="KeyField"
                    formControlName='BIZTransactionTypeItemExtendedSearchRequired'></app-gb-radiobox>
                <br>
                <app-entitylookup class="KeyField"
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].DefaultItemName"
                    formControlName='DefaultItemName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('DefaultItemName').value"></app-entitylookup>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsBinRequired'></app-gb-radiobox>
                <br>
                <app-entitylookup [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].DefaultSKUName"
                    formControlName='DefaultSKUName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('DefaultSKUName').value"></app-entitylookup>
                <br>
                <span class="FormSubHeading" style="position: relative;top: 4px; padding: 0px;">Organization </span>
<br>
                <app-gb-radiobox class="KeyField" formControlName='BIZTransactionTypeIsMultipleOU'></app-gb-radiobox>

                <app-entitylookup class="KeyField"[PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].DefaultOUName"
                    formControlName='DefaultOUName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('DefaultOUName').value"></app-entitylookup>
                    <br>
                <app-gb-radiobox formControlName='BIZTransactionTypeOUType'></app-gb-radiobox>
                <app-entitylookup [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].OrganizationUnitName"
                    formControlName='OrganizationUnitName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('OrganizationUnitName').value"></app-entitylookup>
                <app-entitylookup [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].OrganizationGroupName"
                    formControlName='OrganizationGroupName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('OrganizationGroupName').value"></app-entitylookup>
            </div>
            <div id="Date Control" class="tabcontent">
                <app-gb-radiobox formControlName='BIZTransactionTypeBackDateCheckType'></app-gb-radiobox>
                <span class="FormSubHeading">Back Dated Days</span>
                <app-gb-input formControlName='BIZTransactionTypeBackDateEntryDay'></app-gb-input>
                <app-gb-input formControlName='BIZTransactionTypeBackDateUpdateDay'></app-gb-input>
                <app-gb-input formControlName='BIZTransactionTypeBackDateDeleteDay'></app-gb-input>
                <app-gb-input formControlName='BIZTransactionTypeForwardEntryDay'></app-gb-input>

            </div>
            <div id="Stock Account" class="tabcontent" *ngIf="form.get('BIZTransactionTypeStockPostType').value == 0" >
                <app-gb-radiobox formControlName='BIZTransactionTypeStockAccountPosting'></app-gb-radiobox>
                <app-entitylookup
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].StockAccountBiztransactionTypeName"
                    formControlName='StockAccountBiztransactionTypeName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('StockAccountBiztransactionTypeName').value" *ngIf="form.get('BIZTransactionTypeStockAccountPosting').value == 1 || form.get('BIZTransactionTypeStockAccountPosting').value == 2 || form.get('BIZTransactionTypeStockAccountPosting').value == 3 || form.get('BIZTransactionTypeStockAccountPosting').value == 4"></app-entitylookup>
                <app-entitylookup
                    [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].StockAccountBizTransactionName"
                    formControlName='StockAccountBizTransactionName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('StockAccountBizTransactionName').value" *ngIf="form.get('BIZTransactionTypeStockAccountPosting').value == 1 || form.get('BIZTransactionTypeStockAccountPosting').value == 2 || form.get('BIZTransactionTypeStockAccountPosting').value == 3 || form.get('BIZTransactionTypeStockAccountPosting').value == 4"></app-entitylookup>
              
                <app-gb-radiobox formControlName='BIZTransactionTypeStockAccountType'></app-gb-radiobox>
                <app-entitylookup [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].StockFixedAccountName"
                    formControlName='StockFixedAccountName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('StockFixedAccountName').value" *ngIf="form.get('BIZTransactionTypeStockAccountType').value == 0"></app-entitylookup>
           
                <app-gb-radiobox formControlName='BIZTransactionTypeStockContraType'></app-gb-radiobox>
                <app-entitylookup [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].StockContraAccountName"
                    formControlName='StockContraAccountName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('StockContraAccountName').value" *ngIf="form.get('BIZTransactionTypeStockContraType').value == 0"></app-entitylookup>
             
                <app-gb-checkbox formControlName='BIZTransactionTypeIsStockCC'></app-gb-checkbox>
                <app-entitylookup [PicklistObj]="BizTransactionTypeJSON.default.ObjectFields[0].StockCCName"
                    formControlName='StockCCName' (Onselectdataids)="BizTransactionTypePicklistPatchValue($event)"
                    [defaultvalue]="form.get('StockCCName').value"></app-entitylookup>



            </div>
        </div>
    </form>
        </div>