<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>

    <app-entitylookup class="KeyField" [PicklistObj]="ProcessGroupJSON.default.ObjectFields[0].MProcessGroupCode"
      formControlName='MProcessGroupCode' (Onselectdata)="ProcessGroupRetrivalValue($event)"
      [defaultvalue]="form.get('MProcessGroupCode').value"></app-entitylookup>

    <app-entitylookup class="KeyField" [PicklistObj]="ProcessGroupJSON.default.ObjectFields[0].MProcessGroupName"
      formControlName='MProcessGroupName' (Onselectdata)="ProcessGroupRetrivalValue($event)"
      [defaultvalue]="form.get('MProcessGroupName').value"></app-entitylookup>

    <app-gb-radiobox formControlName='MProcessGroupProductType'></app-gb-radiobox>

    <app-gb-radiobox formControlName='MProcessGroupProcessType'></app-gb-radiobox>

    <app-gb-radiobox formControlName='MProcessGroupResourceType'></app-gb-radiobox>

    <app-gb-radiobox formControlName='MProcessGroupPatternType'></app-gb-radiobox>

    <app-entitylookup class="KeyField" [PicklistObj]="ProcessGroupJSON.default.ObjectFields[0].ParameterSetName"
      formControlName='ParameterSetName' (Onselectdataids)="ProcessGroupPatchValue($event)"
      [defaultvalue]="form.get('ParameterSetName').value"></app-entitylookup>

    <app-gb-textarea formControlName="MProcessGroupRemarks"></app-gb-textarea>

  </form>
</div>