<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white">Code</th>
          <th class="th cap1-bold-12-white">Name</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 150px">Debit</th>
          <th class="th cap1-bold-12-white" style="text-align: right;padding-right: 150px">Credit</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <!-- <ng-container > -->
          <tr *ngFor="let data of tabledata">
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.agcode}}</td>
            <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.agname}}</td>
            <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 150px" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.debit.toLocaleString(undefined, { maximumFractionDigits:
                2, minimumFractionDigits: 2 })}}</td>
            <td class="td cap2-med-12-type-primary" style="text-align: right;padding-right: 150px" [ngStyle]="{fontWeight: data.bold ? 'bold' : 400}">{{data.credit.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2 })}}</td>
          </tr>
        <!-- </ng-container> -->
      </tbody>
    </table>
  </div>
  