<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
 
      <app-entitylookup class="KeyField" [PicklistObj]="PriceCategoryJson.default.ObjectFields[0].PriceCategoryCode"
        formControlName='PriceCategoryCode' (Onselectdata)="PricecategoryRetrivalValue($event)"
        [defaultvalue]="form.get('PriceCategoryCode').value"></app-entitylookup>
  
      <app-entitylookup class="KeyField" [PicklistObj]="PriceCategoryJson.default.ObjectFields[0].PriceCategoryName"
        formControlName='PriceCategoryName' (Onselectdata)="PricecategoryRetrivalValue($event)"
        [defaultvalue]="form.get('PriceCategoryName').value"></app-entitylookup>
  
      <app-gb-checkbox formControlName="PriceCategoryIsSelected" style="padding-right:10px;" ></app-gb-checkbox>
  
    </form>
  </div> 
  
  