<div class="container_slider">
    <div class="imageslide" style="padding-left: 20px;">
        <span *ngFor="let slide of slides; let i = index;">
            <img class="slideimage" *ngIf="isCurrentSlideIndex(i)" (swiperight)="nextSlide()" (swipeleft)="prevSlide()"
                [src]="slide.image">
        </span>
    </div>
    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" *ngFor="let slide of slides; let i = index;">
                    <span [ngClass]="{'active':isCurrentSlideIndex(i)}"
                        (click)="setCurrentSlideIndex(i);">{{slide.description}}</span>
                </li>
            </ul>
        </div>
    </nav>
</div>