<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<header>
  <button mat-icon-button class="responsive-header" [matMenuTriggerFor]="header"
    aria-label="Example icon-button with a menu">
    <mat-icon>menubar</mat-icon>
  </button>
  <mat-menu #header="matMenu">
    <button mat-menu-item>
      <mat-icon>notifications</mat-icon>
      <span>notifications</span>
    </button>
    <button mat-menu-item>
      <img src="assets/images/client.png" style="width:40px;height:30px;border-radius:50px"><b>{{(CustomerID$ | async).UserName}}</b>&nbsp;
      <i class="fa fa-angle-down"></i>
    </button>
    <div class="dropdown1-content">
      <a href="#">About</a>
      <a href="#">Logout</a>
    </div>
  </mat-menu>

  <a id="logo" href="index.html">
    <img src="assets/images/GBlogo.png" alt="logo" style="width:60px;height:40px;">
    <div class="ABC">
      <b>&nbsp;&nbsp; UNISOFT</b><br>&nbsp;&nbsp; Financial date(2021-2022)
    </div>
  </a>
  <div class="header-right">
    <mat-icon>notifications</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/client.png"
      style="width:40px;height:30px;border-radius:50px">
    <div class="dropdown1">
      <button class="dropbtn1"><b>{{(CustomerID$ | async).UserName}}</b>&nbsp;
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="dropdown1-content">
        <a href="#">About</a>
        <a href="#">Logot</a>
      </div>
    </div>
  </div>
</header>
  