header   {
    background: #FFFFFF;
    padding: 5px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

   }
   
   #logo         {
     display: inline-block;
     color: #FFF;
     text-decoration: none;
     margin-left: 15px;
     margin-top: -4px;
   }
   #logo img    {
     margin-right: 11px;
   }
   .ABC  {
     display: inline-block;
     border-left: 1px solid rgba(0,0,0,0.2);
     color:#41394C;
     font-family:Poppins;
   font-size:14px;
   margin-top:10px;
   line-height:1.5;
   
   }
   
   .header-right{
     float: right;
     display: block;
   }
   .dropbtn1 {
     background-color: #FFFFFF;
     padding: 13px;
     font-size: 13px;
     border: none;
     vertical-align:7px;
     font-family:Poppins;
   }
   .dropdown1 {
     position: relative;
     display: inline-block;
   }
   .dropdown1-content {
     display: none;
     position: absolute;
     background-color: #ffffff;
     min-width: 80px;
     z-index: 1;
     margin-left:5px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   }
   .dropdown1-content a {
     float: none;
     color: black;
     text-decoration: none;
     display: block;
     height:10px;
     text-align: center;
     border: none;
     font-size: 14px;
     padding: 17px 10px;
     transition: 0.3s ease all;
     font-family: Poppins;
   }
   .dropdown1-content a:hover {
     background-color: #ddd;
    }
   .dropdown1:hover .dropdown1-content {
     display: block;
   }

   .responsive-header{
    float: right;
    }
        @media (min-width: 641px){
          button.responsive-header{
           display:none
         }
       }
       @media(max-width: 650px){
        button.responsive-header{
          display:inline-block
        }
        button.dropbtn1{
          display:none
        }
        div.header-right{
          margin-top: 2px;
        }
      }
    