<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Leave.No</th>
                <th class="th cap1-bold-12-white" >Code</th>
                <th class="th cap1-bold-12-white" >Name</th>
                <th class="th cap1-bold-12-white" >Remarks</th>
                <th class="th cap1-bold-12-white" >Leave Dt</th>
                <th class="th cap1-bold-12-white" >Days</th>
                <th class="th cap1-bold-12-white" >Status</th>
                <th class="th cap1-bold-12-white" >Leave Name</th>
                <th class="th cap1-bold-12-white" >Approved By</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr" *ngFor="let data of rowData">
                <td class="td cap2-med-12-type-primary" >{{data.LeaveNumber }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.EmployeeCode}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.EmployeeName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.Remarks}}</td>

                <td class="td cap2-med-12-type-primary" >{{data.LeaveDate | DateFormatter}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.NoofDays}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.Status}}</td>
                
                <td class="td cap2-med-12-type-primary" >{{data.LeaveName}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.ReporttingToEmployeeName}}</td>
            </tr>
        </tbody>
    </table>
</div>

