.localcontainer {
  display: grid;
  grid-template-rows: var(--menubarheight) auto;
  grid-template-areas:
  "formHeader"
  // "formToolbar"
  "maincontent"
  ;
  height: 100%;
  overflow-x: hidden;
  background-color: #FBE8F8;
}

section#formHeader {
  grid-area: formHeader;
  margin: 2px 2px 0px 2px;
  padding: 5px 5px 0px 5px;
  background-color: #FBE8F8;
}

section#formToolbar {
  grid-area: formToolbar;
  margin: 2px;
  padding: 5px;
}

section#maincontent {
  grid-area: maincontent;
  margin: 0px 2px 2px 2px;
  padding: 0px 5px 5px 5px;
  background-color: #FBE8F8;
  width:100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0.32);
}

::-webkit-scrollbar-thumb {
  background: var(--color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

@media (max-width: 600px){
  .localcontainer {
    display: grid;
    grid-template-rows: 66px auto;
    grid-template-areas:
    "formHeader"
    "maincontent"
    ;
    height: 100%;
    overflow-x: hidden;
    background-color: #FBE8F8;
  }
}