<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <div class="picklistheader" style="display: flex;">
            <div class="picklist" style="display: flex; margin-left: 2px;  width: 831px;">
                <div class="codedefined" style="width: 236px;">
                    <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].CodeDefineCategoryName"
                        formControlName='CodeDefineCategoryName' (Onselectdataids)="AccountMasterPatchValue($event)"
                        [defaultvalue]="form.get('CodeDefineCategoryName').value" class="KeyField"></app-entitylookup>
                </div>

                <div class="automanual" style="padding-top: 10px;">
                    <span style="margin-left: 0px; color: red; padding-top: 10px; "
                        *ngIf="form.get('CodeDefineCategoryName').value.lookupdata=='Account AUTO'">Auto</span>
                    <span style="color: red;padding-top: 10px;"
                        *ngIf="form.get('CodeDefineCategoryName').value.lookupdata=='Account'">Manual</span>
                </div>

            </div>
            <div class="twofields" style="display: inline-flex; padding-left: 100px;">
                <app-gb-combobox formControlName="AccountStatus"></app-gb-combobox>

                <app-gb-checkbox formControlName='Archive' (CheckBoxOutPut)="Checkboxoutput($event)"></app-gb-checkbox>
            </div>
        </div>
        <div class="codename" style="padding-top: 2px; height: 94px;">
            <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].AccountCode"
                formControlName='AccountCode' (Onselectdata)="AccountMasterFillFunction($event)"
                [defaultvalue]="form.get('AccountCode').value" class="KeyField"></app-entitylookup>

            <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].AccountName"
                formControlName='AccountName' (Onselectdata)="AccountMasterFillFunction($event)"
                [defaultvalue]="form.get('AccountName').value" class="KeyField" ></app-entitylookup>

            <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].AccountShortName"
                formControlName='AccountShortName' (Onselectdataids)="AccountMasterPatchValue($event)"
                [defaultvalue]="form.get('AccountShortName').value" class="KeyField"></app-entitylookup>
        </div>

        <div class="FormTab">
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'General')">
                General</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Ledger')">Ledger</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Limits')">Limits</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Bank')">Bank</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'TDS')">TDS</button>

        </div>
        <div class="TabView">
            <div id="General" class="tabcontent">
                <app-gb-radiobox formControlName='AccountType'
                    (RadioButtonOutPut)="RadioButtonOutPut($event)"></app-gb-radiobox>
                <div class="forpadding" style="padding-top: 16px;">
                    <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].AccountGroupName"
                        formControlName='AccountGroupName' (Onselectdataids)="AccountMasterPatchValue($event)"
                        [defaultvalue]="form.get('AccountGroupName').value" class="KeyField"></app-entitylookup>

                    <app-gb-checkbox formControlName='AccountIsInterCompany' (CheckBoxOutPut)="Checkboxoutput($event)"
                        class="KeyField"></app-gb-checkbox>
                    <br>
                    <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].CurrencyName"
                        formControlName='CurrencyName' (Onselectdataids)="AccountMasterPatchValue($event)"
                        [defaultvalue]="form.get('CurrencyName').value" class="KeyField"></app-entitylookup>

                    <app-gb-checkbox formControlName='AccountIsSubAccountRequired'
                        (CheckBoxOutPut)="Checkboxoutput($event)" class="KeyField">
                    </app-gb-checkbox>
                    <br>
                    <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].CombineAccountName"
                        formControlName='CombineAccountName' (Onselectdataids)="AccountMasterPatchValue($event)"
                        [defaultvalue]="form.get('CombineAccountName').value" class="KeyField"
                        style="width: 679px;"></app-entitylookup>

                    <app-gb-combobox formControlName="AccountBillAllocationType"
                        (ComboBoxOutPut)="ComboBoxOutPut($event)" *ngIf="form.get('AccountType').value == 3"
                        class="KeyField"></app-gb-combobox>
                    <br>
                    <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].ParentName"
                        formControlName='ParentName' (Onselectdataids)="AccountMasterPatchValue($event)"
                        [defaultvalue]="form.get('ParentName').value" class="KeyField"
                        *ngIf="form.get('AccountType').value == 3"></app-entitylookup>

                    <app-gb-input formControlName='AccountOurCodeWithParty' (InputOutPut)="InputOutPut($event)"
                        *ngIf="form.get('AccountType').value == 3"></app-gb-input>
                </div>
            </div>
            <div id="Ledger" class="tabcontent">

                <div class="percentage" style="display: inline-flex; align-items: center;"> <app-gb-input
                        formControlName='AccountInterest' (InputOutPut)="InputOutPut($event)"></app-gb-input>
                    <span style="align-items: center; " class="form_label"> (Ex-> 999.99)</span>
                </div>

                <app-entitylookup
                    [PicklistObj]="AccountMasterJson.default.ObjectFields[0].AccountApplicableCostCenterNames"
                    formControlName='AccountApplicableCostCenterNames'
                    (Onselectdataids)="AccountMasterPatchValue($event)"
                    [defaultvalue]="form.get('AccountApplicableCostCenterNames').value"></app-entitylookup>

            </div>
            <div id="Limits" class="tabcontent">

                <div class="limitsdiv" style="height: 30px; width: 1090;">

                    <app-gb-input formControlName='AccountSafetyLimit'
                        (InputOutPut)="InputOutPut($event)"></app-gb-input>
                    <div class="cbla" style="padding-left: 44px;">
                        <span class="form_label" style="align-items: center;">Credit Balance Limit Applicable?</span>
                    </div>

                    <app-gb-checkbox formControlName='AccountIsCreditAllowed'
                        (CheckBoxOutPut)="Checkboxoutput($event)"></app-gb-checkbox>
                    <div class="aca" style="padding-left: 118px;display: flex;margin-left: 4px;padding-top: 3px; ">

                        <span class="form_label" style="align-items: center;padding-top: 4px;">Debit Balance Limit
                            Applicable?</span>


                    </div>
                    <app-gb-checkbox formControlName='AccountIsDebitAllowed' (CheckBoxOutPut)="Checkboxoutput($event)"
                        style="margin-left: 8px;width: 24px;"></app-gb-checkbox>

                </div>
                <div class="minimumbalance" style="display: flex;">
                    <app-gb-input formControlName='AccountMinimumBalance' (InputOutPut)="InputOutPut($event)"
                        class="KeyField"></app-gb-input>
                    <span style="width: 388px; height: 30px;">
                        <app-gb-input formControlName='AccountCreditLimit' (InputOutPut)="InputOutPut($event)"
                            *ngIf="form.get('AccountIsCreditAllowed').value == 0" class="KeyField"></app-gb-input>
                    </span>
                    <app-gb-input formControlName='AccountDebitLimit' (InputOutPut)="InputOutPut($event)"
                        *ngIf="form.get('AccountIsDebitAllowed').value == 0" class="KeyField"></app-gb-input>
                </div>

                <div class="blocked" style="display: flex; flex-direction: row;">
                    <div class="blockeddiv1">
                        <p style="padding-left: 47px; padding-top: 10px;">Is Blocked</p>
                    </div>
                    <div class="blockeddiv2"> <app-gb-checkbox formControlName='AccountIsBlocked'
                            (CheckBoxOutPut)="Checkboxoutput($event)" class="KeyField"></app-gb-checkbox></div>
                </div>
            </div>
            <div id="Bank" class="tabcontent">
                <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].AccountIFSCCode"
                    formControlName='AccountIFSCCode' (Onselectdataids)="AccountMasterPatchValue($event)"
                    [defaultvalue]="form.get('AccountIFSCCode').value" class="KeyField"></app-entitylookup>

                <div class="mat" style="display: flex;">
                    <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].BankId"
                        formControlName='BankId' (Onselectdataids)="AccountMasterPatchValue($event)"
                        [defaultvalue]="form.get('BankId').value"></app-entitylookup>

                    <mat-icon style="padding: 5px 0px 35px 35px; cursor: pointer;"
                        (click)="addnew(template)">add_box</mat-icon>
                </div>


                <app-gb-input formControlName='BankBranchName' (InputOutPut)="InputOutPut($event)"></app-gb-input>
                <app-gb-input formControlName='BankSwiftCode' (InputOutPut)="InputOutPut($event)"></app-gb-input>

                <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].AccountBankAccountType"
                    formControlName='AccountBankAccountType' (Onselectdataids)="AccountMasterPatchValue($event)"
                    [defaultvalue]="form.get('AccountBankAccountType').value" class="KeyField"></app-entitylookup>

                <app-gb-input formControlName='AccountBankAccountNumber'
                    (InputOutPut)="InputOutPut($event)"></app-gb-input>


                <app-gb-input formControlName='AccountFavouringName' (InputOutPut)="InputOutPut($event)"></app-gb-input>
            </div>
            <div id="TDS" class="tabcontent">
                <app-gb-checkbox formControlName='AccountIsCompany'
                    (CheckBoxOutPut)="Checkboxoutput($event)"></app-gb-checkbox>

                <app-gb-checkbox formControlName='AccountIsTDSApplicable'
                    (CheckBoxOutPut)="Checkboxoutput($event)"></app-gb-checkbox>

                <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].AccountTDSState"
                    formControlName='AccountTDSState' (Onselectdataids)="AccountMasterPatchValue($event)"
                    [defaultvalue]="form.get('AccountTDSState').value"></app-entitylookup>


                <app-entitylookup [PicklistObj]="AccountMasterJson.default.ObjectFields[0].TDSCategoryName"
                    formControlName='TDSCategoryName' (Onselectdataids)="AccountMasterPatchValue($event)"
                    [defaultvalue]="form.get('TDSCategoryName').value"></app-entitylookup>

            </div>
        </div>


    </form>
</div>

<ng-template #template>
    <h4>Bank</h4>
    <app-Gcm (Onselectdata)="BankRetrival($event)"></app-Gcm>
    <button mat-stroked-button color="primary" (click)="newsave()">Save</button>
</ng-template>