@import url('./../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss');
// .FormOverview{
//   width: 96vw;
// }

.TabView{
  width: 95vw;
  overflow: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  padding-top: 24px;
  scrollbar-color: var(--color);
}

.FormTab {
    overflow: hidden;
    border: #F6F6F6;
    background: #F6F6F6;
    // width: fit-content;
    width: 100%;
  }
  
  /* Style the buttons inside the tab */
  .FormTab .FormTabLinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px 16px;
    margin-right: 5px;
    transition: 0.5s;
  }
  
  /* Change background color of buttons on hover */
  .FormTab .FormTabLinks:hover {
    background: linear-gradient(97.95deg, #834DD0 11.48%, #CD309E 83.18%);
    color: #FFFFFF;
    border-radius: 6px;
  }
  
  /* Create an active/current tablink class */
  .FormTab .FormTabLinks.active {
    background: linear-gradient(97.95deg, #834DD0 11.48%, #CD309E 83.18%);
    color: #FFFFFF;
    border-radius: 6px;
  }

  .TabHeading{
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(26, 26, 26, 0.87);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    width: max-content;
  }

  .TabView::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
}

.TabView::-webkit-scrollbar-track {
    background: rgba(26, 26, 26, 0.32);
}

.TabView::-webkit-scrollbar-thumb {
    background: var(--color);
}

.TabView::-webkit-scrollbar-thumb:hover {
    background: var(--color);
}

.limitsdiv{
  // border: solid red;
  display: flex;
  flex-direction: row;
}

.cbla{
  // margin-top: 300px;
  padding-top: 5px;
  // border: solid green;
}
.aca{
  padding-top: 5px;
  padding-left: 100px;
height: 34px;
  // width: 250px;

  // padding-left: 450px; ;
  // border: solid rgb(128, 0, 85);
}
// .picklistHeader{
//   border: solid red 1px;
//   display: flex;
// }

// // .AccountStatus{
// //   padding-left: 200px;
// // }

// .Archive{
//   padding-left: 130px;
//   display: flex;
//   // align-content: right;
//   // justify-content: right;
//   width: 100px;
// }