<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="NarrationMasterJSON.default.ObjectFields[0].NarrationName"
            formControlName='NarrationName' (Onselectdata)="NarrationMasterFillFunction($event)"
            [defaultvalue]="form.get('NarrationName').value"></app-entitylookup>

            <app-gb-combobox formControlName="NarrationType"></app-gb-combobox>

            <app-entitylookup [PicklistObj]="NarrationMasterJSON.default.ObjectFields[0].ParameterSetName" formControlName='ParameterSetName'
            (Onselectdataids)="NarrationMasterPatchValue($event)" [defaultvalue]="form.get('ParameterSetName').value" *ngIf="form.get('NarrationType').value==2"></app-entitylookup>
            <br>
            <div style="display: flex;">
                <div style="margin-top: 130px; margin-left: 25px;">
                    <label style="min-width: 130px;">Narration*</label>
                </div>
                <div style="margin-left: 16px;">
                    <quill-editor [styles]="{height: '200px'}" formControlName="NarrationNarrations"></quill-editor>
                </div>
                
            </div>
           
    </form>
</div>