@import './../../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';


.subtotal{
    float: right;
    display: flex;
    margin-right: 30px;
}
.subtotal p{
    color: black;
    font-weight: bold;
    margin-right: 30px;
}