<div class="subtotal">
  <p class="C2C">QTY : {{TotalQuality | NumberFormat}}</p>
  <p class="CPH">Pending QTY : {{PendingQuality | NumberFormat}}</p>
  <p class="RPH">Cost : {{Totalcost | NumberFormat}}</p>
  <p class="P2P">Value : {{TotalValue | NumberFormat}}</p>

</div>
<div class="dbtable">
  <table class="Table">
    <thead class="thead">
      <tr class="theadtr">
        <th class="th cap1-bold-12-white">SNO</th>
        <th class="th cap1-bold-12-white">DOC.No</th>
        <th class="th cap1-bold-12-white">DOC.Date</th>
        <th class="th cap1-bold-12-white">Ref No</th>
        <th class="th cap1-bold-12-white">Ref Date</th>
        <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">QTY</th>
        <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Pend.Qty</th>
        <th class="th cap1-bold-12-white">UOM</th>
        <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Rate</th>
        <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Cost</th>
        <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Value</th>


      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let data of rowData">
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.sno}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.docnum}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.docdate}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.refnum}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.refdate}}</td>

        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
          style="text-align: right; padding-right: 50px;">{{data.actualquan | NumberFormat}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
          style="text-align: right; padding-right: 50px;">{{data.pendorder | NumberFormat}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.uomcode }}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
          style="text-align: right; padding-right: 50px;">{{data.rate | NumberFormat}}</td>
        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
          style="text-align: right; padding-right: 50px;">{{data.postedcost | NumberFormat}}</td>

        <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}"
          style="text-align: right; padding-right: 50px;">{{data.penvalue | NumberFormat}}</td>
      </tr>
    </tbody>
  </table>
</div>