<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="SupplygroupJson.default.ObjectFields[0].SupplyGroupCode"
        formControlName='SupplyGroupCode' (Onselectdata)="SupplygroupRetrivalValue($event)"
        [defaultvalue]="form.get('SupplyGroupCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="SupplygroupJson.default.ObjectFields[0].SupplyGroupName"
        formControlName='SupplyGroupName' (Onselectdata)="SupplygroupRetrivalValue($event)"
        [defaultvalue]="form.get('SupplyGroupName').value"></app-entitylookup>

        <app-gb-textarea formControlName='SupplyGroupRemarks'></app-gb-textarea>

        <app-gb-formgrid formControlName='SupplyGroupDetailArray'
            [ArrayDetail]="form.get('SupplyGroupCode').value"></app-gb-formgrid>

    </form>
</div>