:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    }
  
  // .mat-form-field {
  //   width: 300px;
  //   min-width: 500px;
  // }
  
  // mat-card-title,
  // mat-card-content {
  //   display: flex;
  //   justify-content: center;
  //   width: 350px;
  // }
  
  // .button {
  //   display: flex;
  //   justify-content: flex-end;
  //   width:260px;
  //   margin-top:5px;
  // }
  
  .Loginbtn{
    width:255px;
    margin-top:0px;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 99%);
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size:smaller;
  }
  
  .Forgtpassw{
    color:#a4508b;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-top:7px;
    font-size: smaller;
  }
  .container{
    display: flex;
    font-family:Arial;
    padding-left:0px;
    padding-right:6px;
    padding-top:0px;
    padding-bottom:0px;
    border-radius: 15px;
  }
  
  .left{
    width: 50%;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 99%);
    height:526px;
    border-radius: 15px 0px 0px 15px;
  }
  .right{
    width: 42%;
    margin-left: 50px;
  }
  
  .userpass{
    background-color: #a4508b;
    font-family: 'Poppins', sans-serif;
  }
  
  .image{
    margin-left:68px;
    margin-top: 80px;
  }
  
  .para1{
    color:white;
    font-family: 'Poppins', sans-serif;
    margin-left:68px;
    margin-top: 30px;
    padding-bottom: 12px;
    
  }
  
  .para2{
    color:white;
    font-family: 'Poppins', sans-serif;
    margin-left:68px;
    font-size: x-small;
    margin-top:30px;
  }
  
  .headingsign{
    font-size:large;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    margin-top: 68px;
    margin-bottom:-7px;
  }
  
  .hint{
    font-size: smaller;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 6px;
    font-weight: 600;
  }
  
  mat-card{
    width:700px;
  }
  .mat-card:not([class*=mat-elevation-z]) {
      box-shadow: 0 2px 1px -1px rgb(130, 128, 128), 
                  0 1px 1px 0 rgb(111, 109, 109), 
                  0 1px 3px 0 rgb(130, 128, 128);
  }
  
  .dvdleft{
    border-top-color: white;
    margin-left: 65px;
  }
  
  .signuphere{
    background-color: white;
    color: #5f0a87;
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
    margin-left: 65px;
    padding-left: 72px;
    padding-right: 82px;
  }
  
  .divd{
    border-top-color:green;
    margin-left: 400px;
  }
  
  .rightdvd{
    border-top-color:green;
    margin-left: 540px;
  }
  
  .or{
    margin-left:120px;
    margin-top: -10px;
  }
  
  .noaccount{
    font-family: 'Poppins', sans-serif;
    color: black; 
    font-weight: bolder;
    font-size: smaller;
  }
  
  .signup{
    margin-left: 148px;
    margin-top: -33px;
    color: #5f0a87;
    font-size: smaller;
  
  }
  
  .fa {
    padding: 7px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  