
<!--<div class='packserv' *ngIf="form.bFormReady">
  <form [formGroup]='form'>
  <app-gb-input formControlName='PackCode'></app-gb-input>
  <app-gb-input formControlName='PackName'></app-gb-input>
  <app-gb-input formControlName="PackConversionType"></app-gb-input>
  <app-gb-numeric formControlName='PackConversionFactor'></app-gb-numeric>

  <input formControlName="PackCode">
  <input formControlName="PackName">
  <input formControlName="PackConversionType">
  <input formControlName="PackConversionFactor">

  </form>
  </div>
-->

  <ActionBar class="action-bar">
    <GridLayout columns="*,2*,*" rows="*" width="100%">
        <Label text="Pack Form" row="0" col="1"></Label>
    </GridLayout>
</ActionBar>


<GridLayout rows="*,80">
    <ScrollView>
        <stacklayout row="0">
            <form [formGroup]="form">


            <stacklayout class="input-field" marginTop="15">
                <TextField class="gb-textfield accheight" id="PackCode" hint="PackCode Name" formControlName= "PackCode" >
                </TextField>
            </stacklayout>
            <stacklayout class="input-field">

                <TextField class="gb-textfield accheight" id="PackName" hint="PackName"
                formControlName="PackName" >
                </TextField>
            </stacklayout>
            <stacklayout class="input-field">
                <TextField class="gb-textfield accheight" id="PackConversionType" hint="PackConversionType"
                formControlName="PackConversionType"  >
                </TextField>
            </stacklayout>
            <stacklayout class="input-field">
              <TextField class="gb-textfield accheight" id="PackConversionFactor" hint="PackConversionFactor"
              formControlName="PackConversionFactor"  >
              </TextField>
          </stacklayout>
        </form>
        </stacklayout>
    </ScrollView>
    <stacklayout row="1" verticalAlignment="bottom" marginBottom="10">
        <StackLayout>
            <Button text="Savepack"></Button>
        </StackLayout>
    </stacklayout>
</GridLayout>







