<div  class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup *ngIf="GCMTypeId == -1" style="display: block;margin-bottom: 16px;" [PicklistObj]="GCMJSON.default.ObjectFields[0].GcmType"
        formControlName='GcmTypeCode' (Onselectdataids)="GCMPatchValue($event)"
            [defaultvalue]="form.get('GcmTypeCode').value" ></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="GCMJSON.default.ObjectFields[0].GcmCode"
            formControlName='GcmCode' (Onselectdata)="GCMFillFunction($event)"
            [defaultvalue]="form.get('GcmCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="GCMJSON.default.ObjectFields[0].GcmName"
            formControlName='GcmName' (Onselectdata)="GCMFillFunction($event)"
            [defaultvalue]="form.get('GcmName').value"></app-entitylookup>

        <app-gb-textarea formControlName='GcmRemarks'></app-gb-textarea>

    </form>
</div>