<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="BizTransactionJSON.default.ObjectFields[0].BIZTransactionCode"
            formControlName='BIZTransactionCode' (Onselectdata)="BizTransactionPicklistFillValue($event)"
            [defaultvalue]="form.get('BIZTransactionCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="BizTransactionJSON.default.ObjectFields[0].BIZTransactionName"
            formControlName='BIZTransactionName' (Onselectdata)="BizTransactionPicklistFillValue($event)"
            [defaultvalue]="form.get('BIZTransactionName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="BizTransactionJSON.default.ObjectFields[0].BIZTransactionSubClassName"
            formControlName='BIZTransactionSubClassName' (Onselectdataids)="BizTransactionPicklistPatchValue($event)"
            [defaultvalue]="form.get('BIZTransactionSubClassName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="BizTransactionJSON.default.ObjectFields[0].ProcessName"
            formControlName='ProcessName' (Onselectdataids)="BizTransactionPicklistPatchValue($event)"
            [defaultvalue]="form.get('ProcessName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="BizTransactionJSON.default.ObjectFields[0].FinanceBookName"
            formControlName='FinanceBookName' (Onselectdataids)="BizTransactionPicklistPatchValue($event)"
            [defaultvalue]="form.get('FinanceBookName').value"></app-entitylookup>

        <app-gb-input formControlName='BIZTransactionSortOrder'></app-gb-input>

        

    </form>
</div>