<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="CountMasterJSON.default.ObjectFields[0].MCountCode" formControlName='MCountCode'
        (Onselectdata)="CountMasterFillFunction($event)" [defaultvalue]="form.get('MCountCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="CountMasterJSON.default.ObjectFields[0].MCountName" formControlName='MCountName'
        (Onselectdata)="CountMasterFillFunction($event)" [defaultvalue]="form.get('MCountName').value"></app-entitylookup>

        <app-gb-combobox formControlName="MCountType" (ComboBoxOutPut)="MCountTypePatch($event)"></app-gb-combobox>

        <app-entitylookup [PicklistObj]="CountMasterJSON.default.ObjectFields[0].CategoryName" formControlName='CategoryName'
        (Onselectdataids)="CountMasterPatchValue($event)" [defaultvalue]="form.get('CategoryName').value" ></app-entitylookup>

        <app-entitylookup [PicklistObj]="CountMasterJSON.default.ObjectFields[0].SubCategoryName" formControlName='SubCategoryName'
        (Onselectdataids)="CountMasterPatchValue($event)" [defaultvalue]="form.get('SubCategoryName').value" ></app-entitylookup>

        <app-gb-input formControlName='MCountSingleCount'></app-gb-input>

        <app-gb-checkbox formControlName='MCountIsTwist'></app-gb-checkbox>
        
        <app-gb-input formControlName='MCountLengthPerKg'></app-gb-input>

        <app-gb-input formControlName='MCountWeightPerMeter'></app-gb-input>

        <app-entitylookup [PicklistObj]="CountMasterJSON.default.ObjectFields[0].FirstCountName" formControlName='FirstCountName'
        (Onselectdataids)="CountMasterPatchValue($event)" [defaultvalue]="form.get('FirstCountName').value" *ngIf="form.get('MCountType').value=='1'||form.get('MCountType').value=='2'"></app-entitylookup>

        <app-entitylookup [PicklistObj]="CountMasterJSON.default.ObjectFields[0].SecondCountName" formControlName='SecondCountName'
        (Onselectdataids)="CountMasterPatchValue($event)" [defaultvalue]="form.get('SecondCountName').value" *ngIf="form.get('MCountType').value=='1'||form.get('MCountType').value=='2'"></app-entitylookup>

        <app-entitylookup [PicklistObj]="CountMasterJSON.default.ObjectFields[0].ThirdCountName" formControlName='ThirdCountName'
        (Onselectdataids)="CountMasterPatchValue($event)" [defaultvalue]="form.get('ThirdCountName').value" *ngIf="form.get('MCountType').value=='2'"></app-entitylookup>

    </form>
</div>