<div style="margin-left: 15px;" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
      <app-entitylookup [picklisturl]="'Parametermap'" [label]="'Code*'" [picklistdisplaytext] = "'Code'" [picklistsearchfields]="'Code'" [multiple]="false"
        formControlName='ParameterMapCode' (Onselectdata)="Getselectedid($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Code,Name'" [defaultvalue]="form.get('ParameterMapCode').value"></app-entitylookup>

        <app-entitylookup [picklisturl]="'Parametermap'" [label]="'Name*'" [picklistdisplaytext] = "'Name'" [picklistsearchfields]="'Name'" [multiple]="false"
        formControlName='ParameterMapName' (Onselectdata)="Getselectedid($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Name'" [defaultvalue]="form.get('ParameterMapName').value"></app-entitylookup>

        <app-gb-combobox formControlName="ParameterMapType"></app-gb-combobox>

  

        <app-entitylookup [picklisturl]="'Parameterset'" [label]="'ParameterSet*'" [picklistdisplaytext] = "'Code,Name'" [width]="'200'" [picklistsearchfields]="'Code,Name'" [multiple]="false" [LinkId]="'ParameterSetName'"formControlName='ParameterSetCode' [picklistselection]="'Id'" (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'" [defaultvalue]="form.get('ParameterSetCode').value"></app-entitylookup>

        <!-- generate -->
     

        <app-entitylookup [picklisturl]="'Parameter'" [label]="'Start Time Parameter*'" [picklistdisplaytext] = "'Name'" [width]="'200'" [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'ParameterMapStartTimeParameterId'"formControlName='ParameterMapStartTimeParameterName' [picklistselection]="'Id'" (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'" [defaultvalue]="form.get('ParameterMapStartTimeParameterName').value"></app-entitylookup>

        <app-entitylookup [picklisturl]="'Parameter'" [label]="'End Time Parameter*'" [picklistdisplaytext] = "'Name'" [width]="'200'" [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'ParameterMapEndTimeParameterId'"formControlName='ParameterMapEndTimeParameterName' [picklistselection]="'Id'" (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'" [defaultvalue]="form.get('ParameterMapEndTimeParameterName').value"></app-entitylookup>

        <app-entitylookup [picklisturl]="'Parameter'" [label]="'Start Fuel Parameter*'" [picklistdisplaytext] = "'Name'" [width]="'200'" [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'ParameterMapStartFuelParameterId'"formControlName='ParameterMapStartFuelParameterName' [picklistselection]="'Id'" (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'" [defaultvalue]="form.get('ParameterMapStartFuelParameterName').value"></app-entitylookup>

        <app-entitylookup [picklisturl]="'Parameter'" [label]="'End Fuel Parameter*'" [picklistdisplaytext] = "'Name'" [width]="'200'" [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'ParameterMapEndFuelParameterId'"formControlName='ParameterMapEndFuelParameterName' [picklistselection]="'Id'" (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'" [defaultvalue]="form.get('ParameterMapEndFuelParameterName').value"></app-entitylookup>

        <app-entitylookup [picklisturl]="'Parameter'" [label]="'Start Unit Parameter*'" [picklistdisplaytext] = "'Name'" [width]="'200'" [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'ParameterMapStartUnitParameterId'"formControlName='ParameterMapStartUnitParameterName' [picklistselection]="'Id'" (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'" [defaultvalue]="form.get('ParameterMapStartUnitParameterName').value"></app-entitylookup>

        <app-entitylookup [picklisturl]="'Parameter'" [label]="'End Unit Parameter*'" [picklistdisplaytext] = "'Name'" [width]="'200'" [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'ParameterMapEndUnitParameterId'"formControlName='ParameterMapEndUnitParameterName' [picklistselection]="'Id'" (Onselectdataids)="Getselectedids($event)" [picklisttitle]="'Name'" [defaultvalue]="form.get('ParameterMapEndUnitParameterName').value"></app-entitylookup>



</form>
</div>