<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<div class="navbar">
  <div class="dropdown">
    <a href="page1.html" class="dropbtn">Dashboard</a>
  </div>
    <div class="dropdown">
      <button class="dropbtn">Financial
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Sales
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Catalogue
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="page1.html" class="dropbtn">Interaction </a>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Company
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Settings
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  