<div class="form-group" [formGroup]="gbFormGroup">

  <ng-template *ngIf="ReadOnly==false;then editableTemplate; else readonlyTemplate">
  </ng-template>

  <ng-template #readonlyTemplate>
    <mat-label>{{Field?.Label}}</mat-label><br />
    <mat-label>{{value}}</mat-label>
  </ng-template>

  <ng-template #editableTemplate>
    <table>
      <tr>
        <td>
          <app-gb-combobox formControlName='Code'></app-gb-combobox>
        </td>
        <td>
          <app-gb-numeric formControlName='DisCode'></app-gb-numeric>
        </td>
        <td>
          <app-gb-numeric formControlName='Phoneno'></app-gb-numeric>
        </td>
      </tr>
    </table>
  </ng-template>
</div>
