::ng-deep .cdk-overlay-pane{
    transform: none !important;
}

::ng-deep .mat-select-panel::-webkit-scrollbar {
    width: 2px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-track {
  background: #F7F7F7;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 4px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb:hover {
  background: var(--color);
  border-radius: 4px;
}
::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple){
  background-color: var(--selectcolor) !important;
  border-radius: 4px;
  color: #FFFFFF !important;
}

::ng-deep .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
  background-color: var(--color) !important;
  border-radius: 4px;
  color: #FFFFFF !important;
}

::ng-deep .mat-option.mat-active{
  background-color: var(--color) !important;
  border-radius: 4px;
  color: #FFFFFF !important;
}