<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup [PicklistObj]="Programjson.default.ObjectFields[0].ProgramClassName"
            formControlName='ProgramClassName' (Onselectdataids)="ProgramPatchValue($event)"
            [defaultvalue]="form.get('ProgramClassName').value"></app-entitylookup>
        
        <app-entitylookup style="display: inline-block;margin-top: 16px;" [PicklistObj]="Programjson.default.ObjectFields[0].ProgramName" formControlName='ProgramName'
            (Onselectdata)="ProgramFillFunction($event)"
            [defaultvalue]="form.get('ProgramName').value"></app-entitylookup>

        <app-gb-input formControlName='ProgramSection'></app-gb-input>

        <app-entitylookup [PicklistObj]="Programjson.default.ObjectFields[0].ProgramTypeName"
            formControlName='ProgramTypeName' (Onselectdataids)="ProgramPatchValue($event)"
            [defaultvalue]="form.get('ProgramTypeName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="Programjson.default.ObjectFields[0].ModuleName" formControlName='ModuleName'
            (Onselectdataids)="ProgramPatchValue($event)"
            [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>
        <app-gb-input formControlName='ProgramSortOrder'></app-gb-input>

        <app-gb-textarea formControlName='ProgramRemarks'></app-gb-textarea>

    </form>
</div>