<Table>
  <tbody>
    <tr>
      <td class="form_label" [class.labelFocused]="isFocused" *ngIf="Field?.Label != ''" [style.min-width.px]="Field?.LabelWidth == undefined ? 180 : Field?.LabelWidth">{{Field?.Label}}</td>
      <td class="form_value" style="display: flex;height: 36px;"  [ngStyle]="{'width.px': Field?.Width}">
        <input #datepicker matInput [matDatepicker]="picker1" name={{Field?.Name}} type="text"
          placeholder="{{Field?.Placeholder}}" class="period form_value" min={{Field?.MinValue}} max={{Field?.MaxValue}}
          (dateInput)="onDateChange($event.value)" [class.focused]="isFocused" (focus)="isFocused = true"
          (focusout)="isFocused = false" readonly>
        <mat-datepicker-toggle id="clearbutton" [style.display]="isreadable ? 'block' : 'none'" matSuffix (click)="clearStartDate()">
          <mat-icon style="font-size: 14px;width: 20px;" matDatepickerToggleIcon>clear</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker-toggle [style.display]="isreadable ? 'block' : 'none'" matSuffix id="datepicker2"
          class="dateperiod" [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker [style.display]="isreadable ? 'block' : 'none'" #picker1></mat-datepicker>
      </td>
    </tr>
  </tbody>
</Table>

<!-- <div *ngIf="Field?.isKeyField" style="position: relative;" [style.top.px]="!isreadable ? -4 : -7">
  <div style="height: 21px;">
    <span class="form_label" [ngStyle]="{'width.px': Field?.Width}" style="display: inline-block;text-align: left" [class.labelFocused]="isFocused">{{Field?.Label}}</span>
  </div>
  <div style="display: flex;height: 36px;"  [ngStyle]="{'width.px': Field?.Width}">
    <input #datepicker matInput [matDatepicker]="picker1" name={{Field?.Name}} type="text" [ngStyle]="{'width.px': Field?.Width-30}"
          placeholder="{{Field?.Placeholder}}" class="period form_key_value" min={{Field?.MinValue}} max={{Field?.MaxValue}}
          (dateInput)="onDateChange($event.value)" [class.focused]="isFocused" (focus)="isFocused = true"
          (focusout)="isFocused = false" readonly>
        <mat-datepicker-toggle id="clearbutton" [style.display]="isreadable ? 'block' : 'none'" matSuffix (click)="clearStartDate()">
          <mat-icon style="font-size: 14px;width: 20px;" matDatepickerToggleIcon>clear</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker-toggle [style.display]="isreadable ? 'block' : 'none'" matSuffix id="datepicker2"
          class="dateperiod" [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker [style.display]="isreadable ? 'block' : 'none'" #picker1></mat-datepicker>
  </div>
</div> -->

<!-- <div>
  <input class="period" #datepicker matInput [matDatepicker]="picker1" name={{Field?.Name}} type="text"
    placeholder="{{Field?.Placeholder}}" class="dateperiod" min={{Field?.MinValue}} max={{Field?.MaxValue}}
    (dateInput)="onDateChange($event)" readonly>
  <mat-datepicker-toggle matSuffix id="datepicker2" class="dateperiod" [for]="picker1" ></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</div> -->


<!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<div class="form-group">

  <ng-template *ngIf="ReadOnly===false;then editableTemplate; else readonlyTemplate">
  </ng-template>

  <ng-template #readonlyTemplate>
    <mat-label>{{Field?.Label}}</mat-label><br />
    <mat-label>{{value}}</mat-label>
  </ng-template>

  <ng-template #editableTemplate>
    <mat-form-field class="gb-input" [appearance]="appearance" [floatLabel]="floatLabel">
      <mat-label>{{Field?.Label}}</mat-label>
      <input #input matInput [matDatepicker]="picker1" [formControl]='gbControl' name={{Field?.Name}} type=text
        placeholder="{{Field?.Placeholder}}" min={{Field?.MinValue}}
        max={{Field?.MaxValue}} [readonly]='ReadOnly'>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="gbControl.hasError('email') && !gbControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="gbControl.hasError('pattern') && !gbControl.hasError('required')">
        Please enter a valid data
      </mat-error>
      <mat-error *ngIf="gbControl.hasError('required')">
        {{Field?.Label}} is <strong>required</strong>
      </mat-error>
      <mat-hint>{{Field?.Tooltip}}</mat-hint>
    </mat-form-field>
  </ng-template>

</div> -->