/* You can add global styles to this file, and also import other style files */

// @use "sass:math";

@import "./../../../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "./../../../../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "./../../../../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";
@import "./../../../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";


@import "./../../../../node_modules/@ng-select/ng-select/themes/material.theme.css";
@import "./../../../../node_modules/quill/dist/quill.core.css";
@import "./../../../../node_modules/quill/dist/quill.snow.css";
@import './../../../../features/themes/scss/_base/theming.scss';
@import './../../../../features/themes/scss/default/theme.scss';
@import './../../../../features/themes/scss/blue/theme.scss';
@import './../../../../features/themes/scss/pink/theme.scss';
@import './../../../../features/themes/scss/red/theme.scss';
@import './../../../../features/themes/scss/aqua/theme.scss';
@import './../../../../features/themes/scss/yellow/theme.scss';
@import './../../../../features/themes/scss/teal/theme.scss';
@import './../../../../features/themes/scss/alternate/theme.scss';
@import './../../../../features/themes/scss/test/theme.scss';


html, body { height: 100vh; margin: 0; padding: 0; }
* { margin: 0; padding: 0; }