<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form' class='Party'>

        <app-entitylookup class="KeyField" [PicklistObj]="Partyjson.default.ObjectFields[0].CodeDefineCategoryName"
            formControlName='CodeDefineCategoryName' (Onselectdataids)="PartyPicklists($event)"
            [defaultvalue]="form.get('CodeDefineCategoryName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="Partyjson.default.ObjectFields[0].ControlAccountName"
            formControlName='ControlAccountName' (Onselectdataids)="PartyPicklists($event)"
            [defaultvalue]="form.get('ControlAccountName').value"></app-entitylookup>
        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="Partyjson.default.ObjectFields[0].PartyCode"
            formControlName='PartyCode' (Onselectdata)="PartyPicklist($event)"
            [defaultvalue]="form.get('PartyCode').value"></app-entitylookup>

        <div class="KeyField" style="padding-bottom: 0px;height: 10px;margin-top: 0%;">
            <span class="KeyField" style="display: flex; color: red;"
                *ngIf="form.get('CodeDefineCategoryName').value.lookupdata=='PARTYs'">Auto</span>
            <span style="padding-bottom: 30px; color: red;"
                *ngIf="form.get('CodeDefineCategoryName').value.lookupdata=='PARTY MANUAL NUMBERING'">Manual</span>
            <span style="padding-bottom: 30px; color: red;"
                *ngIf="form.get('CodeDefineCategoryName').value.lookupdata=='12'">Auto</span>
                <span></span>
        </div>
        <br>
        <app-entitylookup [PicklistObj]="Partyjson.default.ObjectFields[0].PartyName" formControlName='PartyName'
            (Onselectdata)="PartyPicklist($event)" [defaultvalue]="form.get('PartyName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="Partyjson.default.ObjectFields[0].PartyShortName"
            formControlName='PartyShortName' (Onselectdata)="PartyPicklist($event)"
            [defaultvalue]="form.get('PartyShortName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="Partyjson.default.ObjectFields[0].CurrencyName" formControlName='CurrencyName'
            (Onselectdataids)="PartyPicklists($event)"
            [defaultvalue]="form.get('CurrencyName').value"></app-entitylookup>


        <app-entitylookup [PicklistObj]="Partyjson.default.ObjectFields[0].AccountGroupName"
            formControlName='AccountGroupName' (Onselectdataids)="PartyPicklists($event)"
            [defaultvalue]="form.get('AccountGroupName').value"></app-entitylookup>


        <app-gb-combobox formControlName="PartyStatus"></app-gb-combobox>


        <app-gb-checkbox formControlName='PartyIsAccount' (CheckBoxOutPut)="IsAccount($event)"></app-gb-checkbox>
        <app-gb-checkbox formControlName='PartyIsVendor'></app-gb-checkbox>
        <app-gb-checkbox formControlName='PartyIsProspect'></app-gb-checkbox>
        <app-gb-checkbox formControlName='PartyIsServiceProvider'></app-gb-checkbox>
        <app-gb-checkbox formControlName='PartyIsBank'></app-gb-checkbox>
        <app-gb-checkbox formControlName='PartyIsCustomer'></app-gb-checkbox>



        <app-entitylookup *ngIf="form.get('PartyIsAccount').value=='1'"
            [PicklistObj]="Partyjson.default.ObjectFields[0].AccountLinkName" formControlName='AccountLinkName'
            (Onselectdataids)="PartyPicklists($event)"
            [defaultvalue]="form.get('AccountLinkName').value"></app-entitylookup>

    </form>
</div>