@import url('./../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss');

// .main-container {
//     margin: 20px 26px 0px 26px;
//     font-family: 'Helvetica' !important;

// }
/* Parent container */
body,
html {
    height: 100%;

    margin: 17px 26px 0px 26px;
    font-family: 'Helvetica' !important;
}

/* Flex container */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header, Navigation, and other sections */
.header {
    /* styles */
}

.navigation {
    /* styles */
}

/* Main content container */
.main-container {
    flex: 1;
    /* This makes it take up remaining vertical space */
    //   overflow: auto; /* Add this if necessary */
    font-family: 'Helvetica' !important;
    margin: 17px 26px 0px 26px;
    //  height: 565px;
}



.row {
    display: flex;
}

.column {
    flex: 1;
}

.search-container {
    display: flex;
    align-items: center;
    width: 300px;
    line-height: 150%;
    /* 21px */
}

.search-input {
    flex: 1;
    padding: 8px 8px 2px 0px;
    outline: none;
    border: none;
    // font-family: 'Helvetica Neue' !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
    color: rgba(26, 26, 26, 0.87);

    /* Text color */
}

.search-input::placeholder {
    color: var(--type-primary, rgba(26, 26, 26, 0.87));
}

.search-input::-webkit-input-placeholder {
    color: var(--type-primary, rgba(26, 26, 26, 0.87));
}

.search-input::-moz-placeholder {
    color: var(--type-primary, rgba(26, 26, 26, 0.87));
}

.search-input:-ms-input-placeholder {
    color: var(--type-primary, rgba(26, 26, 26, 0.87));
}


.hr-styled {
    border-top-width: 1px;
    width: 300px;
}



.search-icon img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.column-buttons {
    display: flex;
    // padding-left: 136px;
    margin-top: 11px;
    /* Add some space between the search and buttons */
    color: var(--purple-accent, #6E3AB6);
    // font-family: 'Helvetica Neue' !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-underline-position: under;
}

.column-buttons-2 {
    display: flex;
    // margin-left: 30px;
    margin-top: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.column-buttons button {
    outline: none;
    /* Remove outline on button */
}

.on-behalf-button {
    width: 120px;
    height: 28px;
    flex-shrink: 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background: var(--purple-secondary-accent, #6B9EC7);
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Helvetica' !important;
    ;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: -80px;
    /* Adjust the margin-left value as needed */
    text-decoration: none;
    /* Remove underline */
}

.on-behalf-button:focus {
    outline: none;
    /* Remove outline on focus */
}

.Totalnum {
    color: var(--purple-accent, #6E3AB6);
    text-align: right;
    // font-family: 'Helvetica Neue' !important;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    //margin-right: 27px;
    line-height: 144%;
    /* 18px */

}

.Total {
    color: rgba(26, 26, 26, 0.87);
    /* content/hel-12-reg */
    // font-family: 'Helvetica Neue' !important;
    font-size: 12px;
    font-style: normal;
    line-height: 150%;
    /* 36px */
    font-weight: 400;
    // margin-right: 29px;

}

.tab {
    width: 240px;
    height: 40px;
    border-radius: 4px;
    background: var(--light-grey, #F7F7F7);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

}

.inner-tab {
    flex: 1;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    //     font-size: 12px;
    // font-style: normal;
    // font-weight: 400;
}

.inner-tab:hover {
    background: #6E3AB6;
    border-radius: 4px;
    color: #fff;
    /* Add hover effect if needed */
}

.tab-content {
    display: none;
    /* Hide tab content by default */
    padding: 10px;
}

.flex-container {
    display: flex;
    flex: 1;
    // height: 24px;
    /* align-items: center; */
}

.flex-container p {
    // margin-bottom: 0px;
    margin-bottom: -5px;
}

.flex-containers {
    display: flex;
    flex: 1;
    margin-top: 0px;
    /* align-items: center; */
}

.checkbox-container {
    position: relative;
    margin-right: 8px;
    cursor: pointer;

}

.checkbox-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    /* Set the height */
    width: 20px;
    /* Set the width */
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    padding-right: 3px;
}

.checkbox-container input:checked+.checkmark {
    background-color: #6E3AB6;
    /* Customize the color when the checkbox is checked */
}

.checkmark svg {
    fill: #6E3AB6;
    /* Customize the color of the checkmark icon */
}


.document {
    color: var(--purple-accent, #6E3AB6);
    /* content/hel-12-bol */
    // font-family: '' Helvetica Neue' !important';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-left: 20px;
    /* 18px */
}

.DatabaseName {
    color: rgba(26, 26, 26, 0.87);

    /* content/hel-12-reg */
    // font-family: 'Helvetica Neue' !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}

.UserName {
    color: rgba(26, 26, 26, 0.87);

    /* content/hel-12-reg */
    // font-family: 'Helvetica Neue' !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 20px;
    /* 18px */
}

.Date {
    margin-left: 20px;
    color: var(--type-primary, rgba(26, 26, 26, 0.87));
    /* content/hel-12-reg */
    font-family: 'Helvetica' !important;
    ;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;


    // font-family: 'Helvetica Neue' !important;
}

.workflow-line-2 p {
    margin-bottom: 0px;
}

.documentval {
    color: rgba(26, 26, 26, 0.87);
    /* content/hel-12-reg */
    // font-family: 'Helvetica Neue' !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 10px;
    line-height: 150%;

    /* 18px */
}

.waiting {
    color: var(--pending, #F58D00);
    /* content/hel-12-reg */
    // font-family: 'Helvetica Neue' !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 16px;
    /* 18px */
}

.ask {
    cursor: pointer;
    display: flex;
    color: var(--purple-accent, #6E3AB6);
    // font-family: 'Helvetica Neue' !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-decoration-line: underline;
    text-underline-position: under;
    margin-left: auto;
    //margin-right: 22px;
    line-height: 150%;
    /* 21px */

    margin-top: 8px;
    /* Adjust the margin to move it to the right */
}

#requestToMeTab.active,
#requestByMeTab.active {
    background: #ddd;
    /* Add a different background for the active tab */
}



.icon_imgs {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.icon_img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 14px;
    outline: none;
}

.icon_img:hover {
    // background-image: url('assets/icons/acceptimg.png');
    width: 40px;
    height: 40px;
    outline: none;
}






#requestToMeTab.active,
#requestByMeTab.active {
    background: #6E3AB6;
    color: #fff;
    border-radius: 4px;
    color: var(--white, #FFF);
    // text-align: center;

    /* content/hel-12-bol */
    // font-family: Helvetica Neue;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    // line-height: 150%; /* 18px */
    /* Set background and text color for the active tab */
}

#requestToMeTab.active:hover,
#requestByMeTab.active:hover {
    background: #6E3AB6;
    border-radius: 4px;
    // font-weight: 700;
    /* You can adjust the styles for the active tab on hover if needed */
}

#requestToMeTab.active+.tab-content,
#requestByMeTab.active+.tab-content {
    display: block;
    /* Show tab content for the active tab */
}

.LightBoxcloseicon {
    position: absolute;
    top: 29px;
    left: 550px;
    display: flex;
    justify-content: right;
    cursor: pointer;
    z-index: 9;



}

// .LightBox-content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     margin: auto;
//     padding: 20px;
//     width: 100%; /* Adjust as needed */
//     height: 100%; /* Adjust as needed */
// }
// .LightBoxmodal {
//     position: fixed;
//     z-index: 999999;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 600px;
//     height: 257px;
//     padding-top: 70px;
//     background: #FFFFFF;
//     border-radius: 10px;
//     border: 2px solid #F7F7F7; /* Border style: 2px width, solid line, black color */
//     /* Add any additional styles you need */
// }


// .disabled-container {
//     position: fixed;
//     width: 90%;
//     height: 60%;
//     backdrop-filter: blur(2px); /* Adjust the blur value as needed */
//     pointer-events: none; /* Allow interaction with elements beneath the overlay */
//     z-index: 999; /* Make sure it's above other elements */
// }

// .faded-text {
//     color: rgba(26, 26, 26, 0.5); /* Adjust the opacity as needed */
//     filter: blur(2px); /* Adjust the blur value as needed */
//     transition: all 0.3s ease; /* Add a transition for a smoother effect */
// }
/* Add this CSS to your existing styles */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 119px;
    background-color: #fff;
    border: 1px solid #6E3AB6;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    // line-height: 150%; /* 21px */

}

// .dropdown-content li {
//     list-style: none;
//     padding: 8px;
//     cursor: pointer;
//     font-family: 'Helvetica Neue';
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 21px;
// }

// .dropdown-content li img {
//     width: 21px;
//     height: 21px;
//     margin-right: 8px;
// }

// .dropdown-content li hr {
//     width: 121px;
//     height: 1px;
//     opacity: 0.32;
//     background: #6E3AB6;
//     margin: 5px 0;
// }

// .dropdown-content li:hover {
//     background: #6E3AB6;
//     color: #fff;
//     border-radius: 3px 3px 0 0;
// }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    list-style: none;
    padding: 8px;
    cursor: pointer;
    line-height: 150%;
    /* 21px */
    font-family: 'Helvetica' !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    position: relative;
    /* Add this to handle border-radius for first and last items */
}

.dropdown-content li img {
    width: 21px;
    height: 21px;
    margin-right: 8px;
}

.dropdown-content li hr {
    width: 121px;
    height: 1px;
    opacity: 0.32;
    background: #6E3AB6;
    margin: 5px 0;
}

/* Apply border-radius styles */
.dropdown-content li:first-child {
    border-radius: 3px 3px 0 0;
}

.dropdown-content li:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.dropdown-content li:last-child {
    border-radius: 0 0 3px 3px;
}

.dropdown-content li:hover {
    background: #6E3AB6;
    color: #fff;
}

.dropdown-content li:hover hr {
    background: #fff;
    /* Adjust the color for the hr on hover */
}

.LightBox-contents {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 600px;
    height: 257px;
    border-radius: 10px;
    background-color: #ffff;
}

.LightBox-contents-2 {
    display: flex;
    margin: auto;
    padding: 20px;
    width: 600px;
    height: 349px;
    border-radius: 10px;
    background-color: #ffff;
    text-align: start !important;
}

.load-button {
    width: 120px;
    height: 28px;
    flex-shrink: 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32AE73;
    /* Replace with your desired background color */
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 8px;
    margin-top: 16px;
}

.load-button img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 8px;
    /* Adjust as needed for spacing between image and text */
}

.load-button span {
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Helvetica' !important;
    ;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.span-table {
    color: var(--type-secondary, rgba(26, 26, 26, 0.50));
    font-family: 'Helvetica' !important;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    width: 418px !important;
    line-height: 150%;
    /* 15px */
}

.left-side {
    flex: 1;
    text-align: left;
    position: relative;
}

.left-p {
    margin: 0;
    color: rgba(26, 26, 26, 0.87);
    //font-family: 'Helvetica Neue';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-left: 8px;
}

.user-paragraph {
    position: absolute;
    margin-top: 20px !important;
    left: 0;
    margin: 0;
    color: var(--type-primary, rgba(26, 26, 26, 0.87));
    //font-family: 'Helvetica Neue';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.right-side {
    text-align: right;
}

.ng-select span {
    margin-left: 6px !important;
}

.documentNumber:focus {
    outline: none;
}

.documentNumber::placeholder {

    color: var(--type-primary, rgba(26, 26, 26, 0.87));

    /* content/hel-14-bol */
    font-family: 'Helvetica';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 21px */
}

.documentNumber {
    margin-top: 7px;
    color: var(--type-primary, rgba(26, 26, 26, 0.87));

    /* content/hel-14-bol */
    font-family: 'Helvetica';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 21px */
}

.heading {
    text-align: right;
    text-align: right;
    text-wrap: nowrap !important;
    width: 148px;
    vertical-align: top;
    padding-top: 8px;
    padding-right: 48px;
    color: var(--type-primary, rgba(26, 26, 26, 0.87));

    /* content/hel-14-reg */
    font-family: 'Helvetica' !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.tr-head {
    margin-top: 16px;

}

.LightBoxmodal {
    display: flex;
    // justify-content: center !important;
    // text-align: center;
}


.additional-box {
    width: 224px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
    height: 21px;
}

.additional-box-2 {
    height: 55px;
}

.additional-text {
    color: var(--type-primary, rgba(26, 26, 26, 0.87));
    font-family: 'Helvetica ';
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
}

.comment-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // gap: 4px;
    width: 544px;
    margin-top: 4px;
    // text-decoration: underline;
}

.comment-box textarea {
    color: var(--type-primary, rgba(26, 26, 26, 0.87));
    font-family: 'Helvetica' !important;
    ;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
    padding: 0px;
    border: none;
    border-radius: 4px;
    outline: none;
    resize: none;
    height: 35px;
    margin-left: 0px;
    overflow: hidden;
    margin-top: 8px;
    padding-top: 10px;
}

.comment-box textarea::placeholder {
    color: var(--type-primary, rgba(26, 26, 26, 0.87));
    font-family: 'Helvetica' !important;
    ;
    font-size: 14px;
    font-weight: 400;
}

.down-arrow {
    width: 20px;
    height: 20px;
    margin-top: 0px
}

.comment-hr {
    width: 544px;
    height: 1px;
    background: rgba(26, 26, 26, 0.32);
}

.sendbox {
    display: flex;
    margin-top: 30px;
}

.send-box {
    width: 120px;
    height: 28px;
    border-radius: 4px;
    border: 0.5px solid var(--purple-accent, #6E3AB6);
    background: var(--white, #FFF);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);

}

.send-box:hover {
    background: var(--purple-accent, #6E3AB6);
    color: white;
}

.send-box:hover p {
    color: white;
    /* Change the text color to white on hover */
}

.send-img {
    margin-right: 5px;
    /* Adjust spacing between image and text */
}

.send-box p {
    margin: 0;
    color: #6E3AB6;
    font-family: 'Helvetica' !important;
    ;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.send-boxs {
    width: 230px;
    height: 28px;
    border-radius: 4px;
    //border: 0.5px solid var(--purple-accent, #6E3AB6);
    background: var(--white, #FFF);
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-text {
    color: var(--type-secondary, rgba(26, 26, 26, 0.5));
    font-family: 'Helvetica' !important;
    ;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: auto;
}

.icon-approve {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
}

// .tooltip {
//     position: relative;
//     display: inline-block;
// }

// .tooltip .tooltiptext {
//     visibility: hidden;
//     width: 120px;
//     background-color: transparent;
//     color: var(--type-secondary, rgba(26, 26, 26, 0.5));
//     text-align: center;
//     border-radius: 6px;
//     padding: 10px 0;
//     position: absolute;
//     z-index: 1;
//     bottom: 80%;
//     left: 50%;
//     margin-left: -50px;
//     opacity: 0;
//     transition: opacity 0.3s;
// }

// .tooltip:hover .tooltiptext {
//     visibility: visible;
//     opacity: 1;
// }


.mobile-design {
    display: none;
}

@media (max-width: 600px) and (min-width: 450px) {
    .WebDesign {
        display: none;
    }
    .task{
        color: #6E3AB6; font-weight: 700; line-height: 18px;
    }
    .reqDate{
        color: #6E3AB6; font-weight: 400; line-height: 18px;
    }

    .mobile-design {
        display: block;
        font-family: 'Helvetica';
        margin-top: -18px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .mobile-design .row .column {
        flex: 1;
        /* Make the column take equal space */
        justify-content: center;
        align-items: center;
        font-family: 'Helvetica';

    }

    .mobile-design .row .column>#tab {
        flex: 1;
        /* Make each tab take equal space */
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Helvetica';
        text-align: center;
        height: 32px;
        /* Set the height of each tab */
        cursor: pointer;
        /* Changes cursor to pointer on hover */
    }

    #tab {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    #tab:hover,
    #tab.active,
    #tab.active:hover {
        color: var(--purple-accent, #6E3AB6);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* Bold text on hover */
        border-bottom: 2px solid #6E3AB6;
        /* Bottom border with background color */
        background-color: #F7F7F7;
        font-family: 'Helvetica';
    }

    .search-container {
        width: 85%;
        margin: auto;
        margin-top: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-input {
        width: 85%;
        outline: none;
        border: none;
        font-family: 'Helvetica';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
        color: rgba(26, 26, 26, 0.87);
    }

    .hr-styled {
        border-top-width: 1px;
        width: 85%;
        margin: auto;
        /* Centers the horizontal rule */
    }

    .select {
        color: var(--purple-accent, #6E3AB6);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-underline-position: under;
        text-decoration-line: underline;
        cursor: pointer;
    }

    .behalf {
        color: var(--purple-secondary-accent, #6B9EC7);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-underline-position: under;
        text-decoration-line: underline;
        cursor: pointer;
    }

    .DocumentNumber,
    .DisplayValue {
        color: var(--purple-accent, #6E3AB6);
        font-family: 'Helvetica';
        font-size: 12px;
        font-style: normal;
        font-weight: 700;

    }

    .DisplayValue {
        margin-left: 12px;
    }

    .requestes {
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 16px;
        /* margin-right: 16px; */
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
        height: 280px;
        overflow: auto;
    }

    /* For Webkit browsers like Chrome and Safari */
    .requestes::-webkit-scrollbar {
        width: 4px;
        flex-shrink: 0;
    }

    .requestes::-webkit-scrollbar-track {
        border-radius: 8px;
    }

    .requestes::-webkit-scrollbar-thumb {
        background: var(--purple-accent, #6E3AB6);
        border-radius: 8px;
    }

    /* For Firefox */
    .requestes {
        scrollbar-width: thin;
        scrollbar-color: var(--purple-accent, #6E3AB6) transparent;
    }

    // .tooltip {
    //     position: relative;
    //     display: inline-block;
    // }

    // .tooltip .tooltiptext {
    //     visibility: hidden;
    //     width: 120px;
    //     background-color: transparent;
    //     color: var(--type-secondary, rgba(26, 26, 26, 0.5));
    //     text-align: center;
    //     border-radius: 6px;
    //     padding: 10px 0;
    //     position: absolute;
    //     z-index: 1;
    //     bottom: 80%;
    //     left: 50%;
    //     margin-left: -50px;
    //     opacity: 0;
    //     transition: opacity 0.3s;
    // }

    // .tooltip:hover .tooltiptext {
    //     visibility: visible;
    //     opacity: 1;
    // }
    .LightBoxmodal {

        // justify-content: center !important;
        // text-align: center;
    }

    .LightBox-contents-mobiles {
        margin: auto;
        padding: 20px;
        width: 328px;
        height: 465px;
        border-radius: 10px;
        background-color: #ffff;
    }

    .LightBox-contents-mobile {

        // justify-content: center;
        margin: auto;
        padding: 20px;
        width: 328px;
        height: 301px;
        border-radius: 10px;
        background-color: #ffff;
    }

    .ask-button {
        color: var(--type-primary, rgba(26, 26, 26, 0.87));
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* 21px */
        font-family: 'Helvetica' !important;

    }

    .User-Mobile {
        color: var(--purple-accent, #6E3AB6);
        font-family: 'Helvetica';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        /* 120% */
    }

    .comment-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 296px;
        margin-top: -14px;
    }

    .comment-box textarea {
        color: var(--type-primary, rgba(26, 26, 26, 0.87));
        font-family: 'Helvetica' !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        width: 100%;
        padding: 0px;
        border: none;
        border-radius: 4px;
        outline: none;
        resize: none;
        height: 35px;
        margin-left: 0px;
        overflow: hidden;
        margin-top: 8px;
        padding-top: 10px;
    }

    .send-text {
        color: var(--type-secondary, rgba(26, 26, 26, 0.5));
        font-family: 'Helvetica' !important;
        ;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: auto;
    }
    .span-letter {
        color: var(--type-secondary, rgba(26, 26, 26, 0.50));
        font-family: 'Helvetica';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 8px;
        /* 15px */
    }
    .documentNumber {
        margin-top: -2px;
        color: var(--type-primary, rgba(26, 26, 26, 0.87));
    
        /* content/hel-14-bol */
        font-family: 'Helvetica';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* 21px */
    }
    .hidden {
        visibility: hidden;
    }
    .DocumentNumber-mobile{
        color: #6E3AB6;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        font-family: 'Helvetica';
    }
    .date-mobile{
        color: #6E3AB6;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        font-family: 'Helvetica'; 
    }
    
}

@media (max-width: 450px) {
    .WebDesign {
        display: none;
    }
    .task{
        color: #6E3AB6; font-weight: 700; line-height: 18px;
    }
    .reqDate{
        color: #6E3AB6; font-weight: 400; line-height: 18px;
    }

    .mobile-design {
        display: block;
        font-family: 'Helvetica';
        margin-top: -28px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .mobile-design .row .column {
        flex: 1;
        /* Make the column take equal space */
        justify-content: center;
        align-items: center;
        font-family: 'Helvetica';

    }

    .mobile-design .row .column>#tab {
        flex: 1;
        /* Make each tab take equal space */
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Helvetica';
        text-align: center;
        height: 32px;
        /* Set the height of each tab */
        cursor: pointer;
        /* Changes cursor to pointer on hover */
    }

    #tab {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    #tab:hover,
    #tab.active,
    #tab.active:hover {
        color: var(--purple-accent, #6E3AB6);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* Bold text on hover */
        border-bottom: 2px solid #6E3AB6;
        /* Bottom border with background color */
        background-color: #F7F7F7;
        font-family: 'Helvetica';
    }

    .search-container {
        width: 85%;
        margin: auto;
        margin-top: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-input {
        width: 85%;
        outline: none;
        border: none;
        font-family: 'Helvetica';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
        color: rgba(26, 26, 26, 0.87);
    }

    .hr-styled {
        border-top-width: 1px;
        width: 85%;
        margin: auto;
        /* Centers the horizontal rule */
    }

    .select {
        color: var(--purple-accent, #6E3AB6);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-underline-position: under;
        text-decoration-line: underline;
        cursor: pointer;
    }

    .behalf {
        color: var(--purple-secondary-accent, #6B9EC7);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-underline-position: under;
        text-decoration-line: underline;
        cursor: pointer;
    }

    .DocumentNumber,
    .DisplayValue {
        color: var(--purple-accent, #6E3AB6);
        font-family: 'Helvetica';
        font-size: 12px;
        font-style: normal;
        font-weight: 700;

    }

    .DisplayValue {
        margin-left: 12px;
    }

    .requestes {
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 16px;
        /* margin-right: 16px; */
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
        height: 321px;
        overflow: auto;
    }

    /* For Webkit browsers like Chrome and Safari */
    .requestes::-webkit-scrollbar {
        width: 4px;
        flex-shrink: 0;
    }

    .requestes::-webkit-scrollbar-track {
        border-radius: 8px;
    }

    .requestes::-webkit-scrollbar-thumb {
        background: var(--purple-accent, #6E3AB6);
        border-radius: 8px;
    }

    /* For Firefox */
    .requestes {
        scrollbar-width: thin;
        scrollbar-color: var(--purple-accent, #6E3AB6) transparent;
    }

    // .tooltip {
    //     position: relative;
    //     display: inline-block;
    // }

    // .tooltip .tooltiptext {
    //     visibility: hidden;
    //     width: 120px;
    //     background-color: transparent;
    //     color: var(--type-secondary, rgba(26, 26, 26, 0.5));
    //     text-align: center;
    //     border-radius: 6px;
    //     padding: 10px 0;
    //     position: absolute;
    //     z-index: 1;
    //     bottom: 80%;
    //     left: 50%;
    //     margin-left: -50px;
    //     opacity: 0;
    //     transition: opacity 0.3s;
    // }

    // .tooltip:hover .tooltiptext {
    //     visibility: visible;
    //     opacity: 1;
    // }
    .LightBoxmodal {

        // justify-content: center !important;
        // text-align: center;
    }

    .LightBox-contents-mobiles {
        margin: auto;
        padding: 20px;
        width: 328px;
        height: 465px;
        border-radius: 10px;
        background-color: #ffff;
    }

    .LightBox-contents-mobile {

        // justify-content: center;
        margin: auto;
        padding: 20px;
        width: 328px;
        height: 301px;
        border-radius: 10px;
        background-color: #ffff;
    }

    .ask-button {
        color: var(--type-primary, rgba(26, 26, 26, 0.87));
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* 21px */
        font-family: 'Helvetica' !important;

    }

    .User-Mobile {
        color: var(--purple-accent, #6E3AB6);
        font-family: 'Helvetica';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        /* 120% */
    }

    .comment-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 296px;
        margin-top: -14px;
    }

    .comment-box textarea {
        color: var(--type-primary, rgba(26, 26, 26, 0.87));
        font-family: 'Helvetica' !important;
        ;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        width: 100%;
        padding: 0px;
        border: none;
        border-radius: 4px;
        outline: none;
        resize: none;
        height: 35px;
        margin-left: 0px;
        overflow: hidden;
        margin-top: 8px;
        padding-top: 10px;
    }

    .send-text {
        color: var(--type-secondary, rgba(26, 26, 26, 0.5));
        font-family: 'Helvetica' !important;
        ;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: auto;
    }

        .span-letter {
            color: var(--type-secondary, rgba(26, 26, 26, 0.50));
            font-family: 'Helvetica';
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        margin-top: 8px;
        }
        .documentNumber {
            margin-top: -2px;
            color: var(--type-primary, rgba(26, 26, 26, 0.87));
        
            /* content/hel-14-bol */
            font-family: 'Helvetica';
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            /* 21px */
        }
        .hidden {
            visibility: hidden;
        }
        .DocumentNumber-mobile{
            color: #6E3AB6;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            font-family: 'Helvetica';
        }
        .date-mobile{
            color: #6E3AB6;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            font-family: 'Helvetica'; 
        }
        
}