<div class="WebDesign">
    <div class="LightBoxmodal" *ngIf="showLightbox==true">
        <div class="LightBox-contents">
            <div class="left-side">
                <div style="display: flex; justify-content: space-between;">
                    <p class="left-p">Ask</p>
                    <div>
                        <div class="right-side" (click)="closeLightBox()">
                            <img style="width: 24px;
                    height: 24px;" src="assets/icons/material-symbols_close.png">
                        </div>
                    </div>
                </div>

                <p class="user-paragraph">User</p>

                <div class="additional-box" id="UserName1">
                    <app-entitylookup [picklisturl]="'User'" [label]="''" [picklistdisplaytext]="'Name'"
                        [picklistsearchfields]="'Name'" [multiple]="false" (Onselectdata)="Getselectedid($event)"
                        [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Code'"></app-entitylookup>

                </div>
                <div class="comment-box">
                    <textarea placeholder="Comments" maxlength="20" height="10px" id="Comments"></textarea>
                    <hr class="comment-hr">
                </div>
                <div class="sendbox">

                    <div class="send-box" (click)="lighboxsend()" (mouseenter)="onSendBoxHover()"
                        (mouseleave)="onSendBoxLeave()">
                        <img class="send-img" [src]="sendBoxImageSource" width="20px" height="20px">
                        <p>Send</p>
                    </div>

                    <div class="send-boxs">
                        <p class="send-text">(Mail will send to the Respective User)</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="LightBoxmodal" *ngIf="showLightbox2 == true">
        <div class="LightBox-contents-2">
            <div style="width: 600px;">
                <div style="display: flex; justify-content: space-between; ">
                    <p class="left-p">On Behalf of</p>
                    <div>
                        <div class="right-side" (click)="closeLightBox()">
                            <img style="width: 24px; height: 24px;" src="assets/icons/material-symbols_close.png">
                        </div>
                    </div>
                </div>

                <table style="margin-top: 16px;">
                    <tr class="tr-head">
                        <td class="heading">Approver</td>
                        <td class="additional-box-2">
                            <div style="height: 21px;"><app-entitylookup [picklisturl]="'behalf'" [label]="''"
                                    [picklistdisplaytext]="'Name'" [picklistsearchfields]="'Name'" [multiple]="false"
                                    (Onselectdata)="Getselectedidbehalf($event)" [picklistselection]="'Id'"
                                    [width]="'200'" [height]="'30'" [picklisttitle]="'Code'"></app-entitylookup></div>
                            <div style="margin-top: 10px;"> <span class="span-table">(User can choose the approver’s
                                    pending
                                    requests sent to him, if that person gave him
                                    rights,</span> </div>
                            <div class="span-table"> when he was Out of office)</div>
                        </td>
                    </tr>

                </table>

                <table style="margin-top: 6px;">
                    <tr class="tr-head">
                        <td class="heading">Requester</td>
                        <td>
                            <div style="height: 21px;"><app-entitylookup [picklisturl]="'User'" [label]="''"
                                    [picklistdisplaytext]="'Name'" [picklistsearchfields]="'Name'" [multiple]="false"
                                    (Onselectdata)="Getselectedid($event)" [picklistselection]="'Id'" [width]="'200'"
                                    [picklisttitle]="'Code'"></app-entitylookup></div>
                            <div style="margin-top: 10px;"> <span class="span-table">(User can choose the requester’s
                                    pending requests sent by him, if that person gave him
                                    rights, </span></div>
                            <div class="span-table"> when he was Out of office)</div>

                        </td>
                    </tr>
                </table>
                <table style="margin-top: 6px;">
                    <tr class="tr-head">
                        <td class="heading">Document No</td>
                        <td> <input type="text" id="documentNumber" class="documentNumber" name="documentNumber"
                                placeholder="Enter document number" [(ngModel)]="DocumentNumber" />
                            <br>
                            <div style="margin-top: 0px;"> <span class="span-table">(User can choose the requester’s
                                    pending document number, if that person gave him rights,</span></div>
                            <div class="span-table"> when he was Out of office)</div>
                        </td>
                    </tr>
                </table>



                <button class="load-button" (click)="RequesttouserTabClick()">
                    <img src="assets/icons/tabler_loader-2.png" alt="Load Image">
                    <span>Load</span>
                </button>
            </div>
        </div>
    </div>

    <div class="localcontainer">
        <div class="main-container" [ngClass]="{'disabled-container': showLightbox, 'faded-text': showLightbox}"
            [ngClass]="{'disabled-container': showLightbox2, 'faded-text': showLightbox2}">


            <section class="row" style="display: flex; justify-content: space-between; width: 100%;">

                <div class="column" style="flex: 1.68">
                    <div class="search-container">
                        <input type="text" class="search-input" [(ngModel)]="searchText" placeholder="Search"
                            (keyup.enter)="SearchItemOnClick()">
                        <div class="search-icon">
                            <img *ngIf="!searchText" src="assets/icons/material-symbols_search-rounded.png"
                                alt="Search Icon" (click)="SearchItemOnClick()">
                            <img *ngIf="searchText" src="assets/icons/ph_x-bold.png" alt="Clear Icon"
                                (click)="clearSearch($event)">

                        </div>
                    </div>
                    <hr class="hr-styled">
                </div>



                <div class="column" style="flex: 1">
                    <div class="column-buttons">
                        <button (click)="selectAllItems()">Select All</button>
                        <button (click)="deselectAllItems()" style="margin-left: 20px;">Deselect All</button>
                    </div>

                </div>
                <div class="column" style="flex: 1">
                    <div class="column-buttons-2">
                        <button class="on-behalf-button" (click)="showlightbox2()">On behalf of</button>
                    </div>
                </div>
                <div class="column" style="text-align: right;margin-top: 8px;">
                    <p _ngcontent-ybd-c548="" class="Total" style="margin: 0 0 0px !important;">

                        Total Voucher Value
                    </p>

                    <p _ngcontent-ybd-c548="" class="Totalnum" style="margin: 0 0 0px !important;">
                        {{ Total | number:'1.2-2' }}
                    </p>
                </div>
            </section>


            <section class="row" style="display: flex; margin-top: 0px;">
                <div class="column " style=" flex: 0.5; display: flex; align-items: center; width: 300px;">
                    <div class="tab">
                        <div class="inner-tab" id="requestToMeTab" [ngClass]="{ 'active': isRequestOnMeTabActive }"
                            (click)="onRequestOnMeTabClick()">Request to Me</div>
                        <div class="inner-tab" id="requestByMeTab" (click)="onRequestByMeTabClick()"
                            [ngClass]="{ 'active': isRequestByMeTabActive }">Request by Me</div>

                    </div>
                    <div class="dropdown">
                        <img class="icon_imgs" src="assets/icons/bxs_sort-alt.png" alt="" (click)="toggleDropdown()">
                        <div class="dropdown-content" *ngIf="isDropdownOpen">
                            <li style="display: flex;" (mouseenter)="onItemHover(1)" (mouseleave)="onItemLeave(1)">
                                <img [src]="imageHovered === 1 ? 'assets/icons/ph_git-pull-request-white.png' : 'assets/icons/ph_git-pull-request.png'"
                                    alt="">
                                Request
                            </li>
                            <hr>
                            <li style="display: flex;" (mouseenter)="onItemHover(2)" (mouseleave)="onItemLeave(2)">
                                <img [src]="imageHovered === 2 ? 'assets/icons/reject_white.png' : 'assets/icons/ph_x-bold.png'"
                                    alt="">

                                Rejected
                            </li>
                            <hr>
                            <li style="display: flex;" (mouseenter)="onItemHover(3)" (mouseleave)="onItemLeave(3)">
                                <img [src]="imageHovered === 3 ? 'assets/icons/preview_white.png' : 'assets/icons/pajamas_clear-all.png'"
                                    alt="">

                                Resend
                            </li>
                        </div>

                    </div>

                </div>
                <div class="column icon-approve" *ngIf="!isRequestByMeTabActive">
                    <div class="column icon-approve">
                        <div class="tooltip" (mouseover)="onApproveIconMouseEnter()" (mouseout)="onIconMouseLeave()"
                            (click)="approve()">
                            <img class="icon_img" [src]="approveIconSource" alt="">
                            <span class="tooltiptext">Approve</span>
                        </div>

                        <div class="tooltip" (mouseover)="onRejectIconMouseEnter()" (mouseout)="onIconMouseLeave()"
                            (click)="RejectedItem()">
                            <img class="icon_img" [src]="rejectIconSource" alt="">
                            <span class="tooltiptext">Reject</span>
                        </div>

                        <div class="tooltip" (mouseover)="onResendIconMouseEnter()" (mouseout)="onIconMouseLeave()"
                            (click)="ResendItem()">
                            <img class="icon_img" [src]="resendIconSource" alt="">
                            <span class="tooltiptext">Resend</span>
                        </div>

                        <div class="tooltip" (mouseover)="onpreviewIconMouseEnter()" (mouseout)="onIconMouseLeave()">
                            <img class="icon_img" [src]="previewIconSource" alt="">
                            <span class="tooltiptext">Preview</span>
                        </div>
                    </div>

                </div>

            </section>




            <section class="column" *ngIf="isRequestByMeTabActive" style="margin-top: 25px; ">
                <div *ngFor="let data of rowData; let i=index">
                    <div class="flex-container">
                        <label class="checkbox-container">
                            <input type="checkbox" [(ngModel)]="data.selected" />
                            <span class="checkmark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18"
                                    fill="none">
                                    <path
                                        d="M6.36641 12.0001L2.56641 8.20007L3.51641 7.25007L6.36641 10.1001L12.4831 3.9834L13.4331 4.9334L6.36641 12.0001Z"
                                        fill="white" />
                                </svg>
                            </span>
                        </label>
                        <p class="document">{{data.DocumentNumber}}</p>
                        <p class="documentval" id="documentval">{{data.DisplayValue}}</p>
                        <!-- <p>{{data.Quantity}}</p> -->
                        <span class="ask">
                            <p (click)="showlightbox()">Ask</p>
                            <p style="margin-left: 20px;">History</p>
                        </span>
                    </div>

                    <div class="flex-containers workflow-line-2" style="margin-left: 27px;">
                        <p class="DatabaseName">{{data.DatabaseName}} </p>
                        <p class="UserName">{{data.UserName}} </p>
                        <p class="Date">{{data.Date | DateFormatter}} </p>
                        <p class=""> </p>
                        <p class="waiting">Waiting For Approval by {{data.ApproverName}}</p>
                        <p class=""> </p>

                    </div>
                    <hr style="margin-bottom: 17px;
            height: 0.5px;
            margin-top: 2px;">


                </div>

            </section>

            <section class="column" *ngIf="isRequestOnMeTabActive" style="margin-top: 25px; ">
                <div *ngFor="let data of rowData ;let i = index">
                    <div class="flex-container ">
                        <label class="checkbox-container">
                            <input type="checkbox" [(ngModel)]="data.selected" (change)="calculateTotal()" />
                            <span class="checkmark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18"
                                    fill="none">
                                    <path
                                        d="M6.36641 12.0001L2.56641 8.20007L3.51641 7.25007L6.36641 10.1001L12.4831 3.9834L13.4331 4.9334L6.36641 12.0001Z"
                                        fill="white" />
                                </svg>
                            </span>
                        </label>
                        <p class="document">{{data.DocumentNumber}}</p>
                        <p class="documentval" id="documentval">{{data.DisplayValue}}</p>
                        <!-- <p>{{data.Quantity}}</p> -->
                        <span class="ask">
                            <p (click)="showlightbox()">Ask</p>
                            <p style="margin-left: 20px;">History</p>
                        </span>
                    </div>

                    <div class="flex-containers workflow-line-2" style="margin-left: 27px;">
                        <p class="DatabaseName">{{data.DatabaseName}} </p>
                        <p class="UserName">{{data.UserName}} </p>
                        <p class="Date">{{data.Date | DateFormatter}} </p>
                        <p class=""> </p>
                        <p class="waiting">Waiting For Approval by {{data.ApproverName}}</p>
                        <p class=""> </p>


                    </div>
                    <hr style="margin-bottom: 17px;
            height: 0.5px;
            margin-top: 2px;">

                </div>

            </section>
        </div>
    </div>
</div>

<div class="mobile-design">
    <div class="LightBoxmodal" *ngIf="showLightbox2==true">
        <div class="LightBox-contents-mobiles">

            <div class="column" style="justify-content: space-between; display: flex;">
                <span class="ask-button">On Behalf of </span>
                <span (click)="closeLightBox()"><img src="assets/icons/material-symbols_close.png" alt=""
                        style="width: 24px; height: 24px"></span>
            </div>
            <div style="margin-top: 22px;">
                <span class="User-Mobile">Select Approver</span>
                <span><app-entitylookup [picklisturl]="'behalf'" [label]="''" [picklistdisplaytext]="'Name'"
                        [picklistsearchfields]="'Name'" [multiple]="false" (Onselectdata)="Getselectedidbehalf($event)"
                        [picklistselection]="'Id'" [width]="'296'" [picklisttitle]="'Code'"></app-entitylookup>
                    <hr style="margin-top: -8px;">
                </span>
                <span class="span-letter">(User can choose the approver’s pending requests sent to him, if that person
                    gave him rights, when he was Out of office)</span>
            </div>

            <div style="margin-top: 32px;">
                <span class="User-Mobile">Select Requester</span>
                <span><app-entitylookup [picklisturl]="'User'" [label]="''" [picklistdisplaytext]="'Name'"
                        [picklistsearchfields]="'Name'" [multiple]="false" (Onselectdata)="Getselectedid($event)"
                        [picklistselection]="'Id'" [width]="'296'" [picklisttitle]="'Code'"></app-entitylookup>
                    <hr style="margin-top: -8px;">
                </span>
                <span class="span-letter">(User can choose the requester’s pending requests sent by him, if that person
                    gave him rights, when he was Out of office)</span>
            </div>
            <div style="margin-top: 32px;">
                <span class="User-Mobile">Document No</span> <br>
                <span><input type="text" id="documentNumber" class="documentNumber" name="documentNumber"
                        placeholder="Enter document number" [(ngModel)]="DocumentNumber" />
                    <hr style="margin-top: 0px;">
                </span><br>
                <span class="span-letter">(User can choose the requester’s pending document number, if that person gave
                    him rights, when he was Out of office)</span>
            </div>
            <div style="margin-top: 16px; display: flex; align-items: center; justify-content: center;">
                <button class="load-button" (click)="RequesttouserTabClick()">
                    <img src="assets/icons/tabler_loader-2.png" alt="Load Image">
                    <span>Load</span>
                </button>
            </div>
        </div>
    </div>
    <div class="LightBoxmodal" *ngIf="showLightbox==true">
        <div class="LightBox-contents-mobile">

            <div class="column" style="justify-content: space-between; display: flex;">
                <span class="ask-button">Ask </span>
                <span (click)="closeLightBox()"><img src="assets/icons/material-symbols_close.png" alt=""
                        style="width: 24px; height: 24px"></span>
            </div>

            <div style="margin-top: 22px;">
                <span class="User-Mobile">User </span><br>
                <span style="height: 32px; margin-top: -26px;"><app-entitylookup [picklisturl]="'User'" [label]="''"
                        [picklistdisplaytext]="'Name'" [picklistsearchfields]="'Name'" [multiple]="false"
                        (Onselectdata)="Getselectedid($event)" [picklistselection]="'Id'" [width]="'296'"
                        [picklisttitle]="'Code'"></app-entitylookup>
                    <hr style="margin-top: -8px;">
                </span>
            </div>
            <div style="margin-top: 24px;">
                <span class="User-Mobile">Comments </span>
                <span class="comment-box"> <textarea placeholder="Comments" maxlength="20" height="10px"
                        id="Comments"></textarea></span>
            </div>
            <div style="justify-content: center; align-items: center; display: flex; margin-top: 40px;">
                <div class="send-box" (click)="lighboxsend()" (mouseenter)="onSendBoxHover()"
                    (mouseleave)="onSendBoxLeave()">
                    <img class="send-img" [src]="sendBoxImageSource" width="20px" height="20px">
                    <p>Send </p>
                </div> <br>

            </div>
            <div style="justify-content: center; align-items: center; display: flex; margin-top: 12px;">
                <div class="send-boxs">
                    <p class="send-text">(Mail will send to the Respective User)</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row"
        style="height: 32px; justify-content: center; text-align: center; align-items: center; background-color: #f6f6f6;">
        <div class="column"
            style="flex: 10; display: flex; justify-content: center; align-items: center; height: 32px;">
            <div class="column" id="tab" [ngClass]="{ 'active': isRequestOnMeTabActive }"
                (click)="onRequestOnMeTabClick()">Request to me</div>
            <div class="column" id="tab" (click)="onRequestByMeTabClick()"
                [ngClass]="{ 'active': isRequestByMeTabActive }">Request by me</div>
        </div>
        <div class="column dropdown">
            <img src="assets/icons/dropdwn.png" style="width: 32px; height: 32px;" (click)="toggleDropdown()">

            <div class="dropdown-content" *ngIf="isDropdownOpen" style="margin-left: -78px;">
                <li style="display: flex;" (mouseenter)="onItemHover(1)" (mouseleave)="onItemLeave(1)">
                    <img [src]="imageHovered === 1 ? 'assets/icons/ph_git-pull-request-white.png' : 'assets/icons/ph_git-pull-request.png'"
                        alt="">
                    Request
                </li>
                <hr>
                <li style="display: flex;" (mouseenter)="onItemHover(2)" (mouseleave)="onItemLeave(2)">
                    <img [src]="imageHovered === 2 ? 'assets/icons/reject_white.png' : 'assets/icons/ph_x-bold.png'"
                        alt="">

                    Rejected
                </li>
                <hr>
                <li style="display: flex;" (mouseenter)="onItemHover(3)" (mouseleave)="onItemLeave(3)">
                    <img [src]="imageHovered === 3 ? 'assets/icons/preview_white.png' : 'assets/icons/pajamas_clear-all.png'"
                        alt="">

                    Resend
                </li>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="search-container">
                <input type="text" class="search-input" [(ngModel)]="searchText" placeholder="Search"
                    (keyup.enter)="SearchItemOnClick()">
                <div class="search-icon">
                    <img *ngIf="!searchText" src="assets/icons/material-symbols_search-rounded.png" alt="Search Icon"
                        (click)="SearchItemOnClick()">
                    <img *ngIf="searchText" src="assets/icons/ph_x-bold.png" alt="Clear Icon"
                        (click)="clearSearch($event)">

                </div>
            </div>
            <hr class="hr-styled">
        </div>
    </div>
    <div class="row"
        style="display: flex; justify-content: space-between; margin-left: 16px; margin-right: 16px; margin-top: 20px;">
        <div class="column" style="display: flex;  justify-content: flex-start; ">
            <div class="select" (click)="selectAllItems()">Select All</div>
            <div class="select" style="margin-left: 20px;" (click)="deselectAllItems()">Deselect All</div>
        </div>
        <div class="column" style="text-align: right;">

            <div class="behalf" (click)="showlightbox2()">On behalf of </div>
        </div>
    </div>

    <div class="column requestes" *ngIf="isRequestOnMeTabActive">
        <div *ngFor="let data of rowData ;let i = index"
            style="display: flex;  height: 52px;align-items: center;   margin-bottom: 12px;">
            <div class="column" style="justify-content: center; margin-top: -10px;">


                <label class="checkbox-container">
                    <input type="checkbox" [(ngModel)]="data.selected" (change)="calculateTotal()" />
                    <span class="checkmark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18" fill="none">
                            <path
                                d="M6.36641 12.0001L2.56641 8.20007L3.51641 7.25007L6.36641 10.1001L12.4831 3.9834L13.4331 4.9334L6.36641 12.0001Z"
                                fill="white" />
                        </svg>
                    </span>
                </label>
            </div>
            <div class="column"
                style="display: flex; flex-direction: row; flex-wrap: nowrap; flex: 8; height: 52px; border-radius: 6px; background: var(--light-grey, #F6F6F6); margin-right: 16px; padding-top: 6px; padding-left: 8px; padding-right: 8px; font-size: 12px;">

                <div style="display: flex; flex-direction: column; white-space: nowrap;">
                    <div style="min-height: 20px;" class="DocumentNumber-mobile">{{ data.DocumentNumber }}</div>
                    <div style="min-height: 20px;">{{data.BizTransactionTypeName}}</div>
                </div>

                <div style="display: flex; flex-direction: column; margin-left: 10px; white-space: nowrap;">
                    <div style="min-height: 20px;" class="DocumentNumber-mobile">{{data.DisplayValue.split('/')[6]}}
                    </div>
                    <div style="min-height: 20px;">{{data.DisplayValue.split('/')[1]}}</div>
                </div>

                <div
                    style="display: flex; flex-direction: column; white-space: nowrap; text-align: right; margin-left: auto;">
                    <div style="min-height: 20px;" class="date-mobile">{{data.DisplayValue.split('/')[5]}}</div>
                    <div style="min-height: 20px;" class="behalf" (click)="showlightbox()">Ask</div>
                </div>
            </div>

        </div>

    </div>

    <div class="column requestes" *ngIf="isRequestByMeTabActive">

        <div *ngFor="let data of rowData ;let i = index"
            style="display: flex;  height: 82px;align-items: center;   margin-bottom: 12px;">
            <div class="column" style="justify-content: center; margin-top: -10px;">


                <label class="checkbox-container">
                    <input type="checkbox" [(ngModel)]="data.selected" (change)="calculateTotal()" />
                    <span class="checkmark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18" fill="none">
                            <path
                                d="M6.36641 12.0001L2.56641 8.20007L3.51641 7.25007L6.36641 10.1001L12.4831 3.9834L13.4331 4.9334L6.36641 12.0001Z"
                                fill="white" />
                        </svg>
                    </span>
                </label>
            </div>

            <div class="column" style="display: flex; flex-direction: row; flex-wrap: nowrap; flex: 8; height: 82px; 
                  border-radius: 6px; background: var(--light-grey, #F6F6F6); margin-right: 16px; padding-top: 6px; padding-left: 8px; 
                  padding-right: 8px; font-size: 12px;">
                <div class="row" style="display: flex; flex-direction: column; width: 100%;">
                    <!-- Row 1 with 3 columns -->
                    <div style="flex: 1;  display: flex;">
                        <!-- Column 1 (Auto width) -->
                        <div style="display: flex; flex-direction: column; width: auto;white-space: nowrap;">
                            <div style="min-height: 20px;" class="DocumentNumber-mobile">{{ data.DocumentNumber }}</div>
                            <div style="min-height: 20px; ">{{ data.DisplayValue.split('/')[2] }}</div>
                        </div>
                        <!-- Column 2 -->
                        <div style="flex: 1; display: flex; flex-direction: column;white-space: nowrap;">
                            <div style="min-height: 20px; " class="DocumentNumber-mobile">
                                {{data.BizTransactionTypeName}}</div>
                            <div style="min-height: 20px;">{{ data.DisplayValue.split('/')[2] }}</div>
                        </div>
                        <!-- Column 3 -->
                        <div
                            style="flex: 1; display: flex; flex-direction: column;text-align: right;white-space: nowrap;">
                            <div style="min-height: 20px; " class="DocumentNumber-mobile">
                                {{data.DisplayValue.split('/')[5]}}</div>
                            <div style="min-height: 20px; ">{{ data.DisplayValue.split('/')[2] }}</div>
                        </div>
                    </div>
                    <!-- Row 2 with 2 columns, each having 2 rows -->
                    <div style="flex: 1;  display: flex; justify-content: space-between;">
                        <!-- Column 1 aligned to left -->
                        <div style="display: flex; flex-direction: column; width: auto;">
                            <div style="min-height: 20px; ">Waiting for approval {{data.ApproverName}}</div>
                            <div style="min-height: 20px; "></div>
                        </div>
                        <!-- Spacer for between columns, remove if not needed -->
                        <div style="flex-grow: 1;"></div>
                        <!-- Column 2 aligned to right -->
                        <div style="display: flex; flex-direction: column; width: auto;text-align: right;">
                            <div style="min-height: 20px; ">{{ data.DisplayValue.split('/')[2] }}</div>
                            <div style="min-height: 20px;" class="behalf" (click)="showlightbox()">Ask</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"
        style="display: flex; justify-content: space-between; align-items: center; margin-left: 16px;margin-right: 16px;">
        <!-- First column with image aligned to the left -->
        <div class="column" style="flex-shrink: 0;">
            <img src="assets/icons/Group347.png" alt="" style="width: 28px; height: 28px;"
                (click)="backwardDataOnClick()">
        </div>

        <!-- Middle column with image centered -->
        <div class="column icon_image" [ngClass]="{'hidden': isRequestByMeTabActive}"
            style="flex-grow: 10; display: flex; justify-content: center; align-items: center;">
            <div class="tooltip"><img src="assets/icons/select.png" alt=""
                    style="width: 32px; height: 32px;margin-left: 20px;" (click)="approve()"><span
                    class="tooltiptext">Approve</span></div>
            <img src="assets/icons/rejectimg.png" alt="" style="width: 32px; height: 32px;margin-left: 20px;"
                (click)="RejectedItem()">
            <img src="assets/icons/resendimg.png" alt="" style="width: 32px; height: 32px;margin-left: 20px;"
                (click)="ResendItem()">
            <img src="assets/icons/previewing.png" alt="" style="width: 32px; height: 32px;margin-left: 20px;">

        </div>

        <!-- Last column with image aligned to the right -->
        <div class="column" style="flex-shrink: 0; margin-left: auto;">
            <img src="assets/icons/Group349.png" alt="" style="width: 28px; height: 28px;"
                (click)="forwardDataOnClick()">
        </div>
    </div>
</div>