
.background-image{
    position: absolute;
  }
  .signaccount{
      font-size: 25px;
      color: black;
      font-family: Poppins; 
      
  }
  .please{
      color: #acacac;
      font-family: Poppins;
      font-size: 13px;
    
  }
  .input{
    width:300px;
  }
   .label {
     font-family: Poppins;
     font-size: 20px;
   }
  
  .treva{
      float:center;
      margin-top: 10px;
  }
  .SIGN{
    background-color:#1184e8;
    color:#ffffff; 
    width:300px;
   }
   .forgot{
     font-family: Poppins;
     color:#1184e8;
     font-size: 15px;
   }
   .matcard{
     width:290px;
    margin-right:140px;
     padding:50px;
     padding-top: 20px;
     border-radius: 15px;
     float:right;
   }
  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #41394C;
      color: white;
      text-align: left;
      height:45px;
      font-family: Poppins;
      font-size: 12px;
   }
    .lt
    {
    float:left;
    text-align:left;
    margin-left:20px;
    }
    .rt{
    float:right;
    text-align:right;
    margin-right:30px;
    margin-top:4px;
    margin-right:20px;
    }
  
    @media (min-width: 641px){
      div.responsive-matcard{
      padding-left: none;
     }
    }
    @media (max-width: 650px){
      div.responsive-matcard{
        display: inline-block;
      padding-left:40px;
     }
    }