<div id="footer" style="background: linear-gradient(97.98deg, #B32384 0%, #5E3495 100%);
" class="mon-sixth">
  <section id="statusmessage">
    <app-gbstatus></app-gbstatus>
  </section>
  <section id="helpmsg">
    <app-gbhelp></app-gbhelp>
  </section>
</div>
