@import './../../styles/_themes.scss';
@import './../../styles/_utilities.scss';

#footer {
  width:100%;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-areas: "status helpmsg";
  @include themeColors();
}

.mon-sixth{
  background-color: var(--color);
}

#statusmessage {
  grid-area: status;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#helpmsg {
  grid-area: helpmsg;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
}

mat-divider{
  height: 100%;
  width: 2px;
  padding: 2px;
}


@media only screen and (min-width: 650px){
  #footer {
    display: grid;
    grid-template-columns: 55% auto;
    grid-template-areas: "status helpmsg";
  }
}

@media only screen and (max-width: 450px){
  #footer {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-areas: "status helpmsg";
  }
  #helpmsg {
    display: flex;
  }
}

@media only screen and (max-width: 420px){
  #footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "status";
  }
  #helpmsg {
    display: none;
  }
}