<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" *ngIf="GCMTypeId == -1" [PicklistObj]="BankJSON.default.ObjectFields[0].GCMType"
            formControlName='GCMTypeCode' (Onselectdata)="BankFillFunction($event)"
            [defaultvalue]="form.get('GcmCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="BankJSON.default.ObjectFields[0].GcmCode"
            formControlName='GcmCode' (Onselectdata)="BankFillFunction($event)"
            [defaultvalue]="form.get('GcmCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="BankJSON.default.ObjectFields[0].GcmName"
            formControlName='GcmName' (Onselectdata)="BankFillFunction($event)"
            [defaultvalue]="form.get('GcmName').value"></app-entitylookup>

        <app-gb-textarea formControlName='GcmRemarks'></app-gb-textarea>

    </form>
</div>