<button (click)="login()">goto login</button>
{{ bdaydate | ageFromDate}}

<button (click)="pack()">goto pack</button>
<button (click)="attach()">goto attachment</button>
<!--<angular-file-uploader
      [config]="afuConfig">
</angular-file-uploader>-->
<!-- <input type="file" (change)="onFileChange($event)" />
<button (click)="upload()">Upload</button> -->
