<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
   
        <app-entitylookup class="KeyField" [PicklistObj]="EventChannelJSON.default.ObjectFields[0].EventChannelCode"
            formControlName='EventChannelCode' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('EventChannelCode').value">
        </app-entitylookup> 
        
        <app-entitylookup class="KeyField" [PicklistObj]="EventChannelJSON.default.ObjectFields[0].EventChannelName"
            formControlName='EventChannelName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('EventChannelName').value">
        </app-entitylookup> <br>

        <app-entitylookup class="KeyField" [PicklistObj]="EventChannelJSON.default.ObjectFields[0].OwnerName" formControlName='OwnerName'
            (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('OwnerName').value"></app-entitylookup> <br>

        <app-entitylookup class="KeyField" [PicklistObj]="EventChannelJSON.default.ObjectFields[0].AdministratorName"
            formControlName='AdministratorName' (Onselectdataids)="PicklistPatchValue($event)"
            [defaultvalue]="form.get('AdministratorName').value"></app-entitylookup> <br>

        <app-gb-input class="KeyField" formControlName='EventChannelSortOrder'></app-gb-input>
    </form>
</div>