@import '@angular/material/_theming.scss';
@mixin sidenav-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
  
    .mat-drawer {
      background-color: mat-color($background, app-bar);
      color: mat-color($foreground, text);
      &[color="primary"] {
        @include _mat-toolbar-color($primary);
      }
      &[color="accent"] {
        @include _mat-toolbar-color($accent);
      }
      &[color="warn"] {
        @include _mat-toolbar-color($warn);
      }
    }
}