<!--<button mat-icon-button><mat-icon>account_circle</mat-icon></button>-->
<div>
<mat-list-item>
    <button mat-icon-button [color]="(theme$ | async)"  [matMenuTriggerFor]="claimsmenu"><mat-icon>account_circle</mat-icon></button>
    {{(loginDTOs$ | async).UserName}}
  </mat-list-item>
  <mat-menu #claimsmenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="logout()">
      <mat-icon>home</mat-icon>
      <span>{{(loginDTOs$ | async).DatabaseName}}</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
    <app-usersetting></app-usersetting>
  </mat-menu>
