<div class="FormOverview" *ngIf="form.bFormReady">

    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="GoalJSON.default.ObjectFields[0].EmployeeName"
        formControlName='EmployeeName' (Onselectdataids)="GoalNot($event)"
        [defaultvalue]="form.get('EmployeeName').value"></app-entitylookup>

        <app-entitylookup  [PicklistObj]="GoalJSON.default.ObjectFields[0].GoalName"
        formControlName='GoalName' (Onselectdata)="GoalValue($event)"
        [defaultvalue]="form.get('GoalName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="GoalJSON.default.ObjectFields[0].KRAName"
        formControlName='KRAName' (Onselectdataids)="GoalNot($event)"
        [defaultvalue]="form.get('KRAName').value"></app-entitylookup>

        <app-gb-combobox formControlName="GoalGoalOStatus" class="KeyField"></app-gb-combobox>
        <br>

        <app-gb-input formControlName='GoalPercentage' class="KeyField"></app-gb-input>

        <app-gb-date formControlName="GoalPlanDate" [Date]="form.get('GoalId').value"class="KeyField"></app-gb-date>

<br>
        <app-gb-textarea formControlName='GoalDescription' class="KeyField"></app-gb-textarea>

        <app-gb-textarea formControlName='GoalRemarks' class="KeyField"></app-gb-textarea>
        </form>

        </div>
