<div class='FormOverview' *ngIf="form.bFormReady && CallSetJSON">
    <form [formGroup]='form'>
        <app-entitylookup [PicklistObj]="CallSetJSON.default.ObjectFields[0].CallSetCode"
            (Onselectdata)="CallSetFillData($event)" formControlName='CallSetCode'
            [defaultvalue]="form.get('CallSetCode').value">
        </app-entitylookup>
        <app-entitylookup [PicklistObj]="CallSetJSON.default.ObjectFields[0].CallSetName"
        (Onselectdata)="CallSetFillData($event)" formControlName='CallSetName'
        [defaultvalue]="form.get('CallSetName').value">
        </app-entitylookup>
        

       <div>
            <app-gb-textarea class="KeyField" formControlName='CallSetRemarks'></app-gb-textarea>
       </div>
    
       <app-gb-formgrid formControlName='CallSetDetailArray'
       [ArrayDetail]="form.get('CallSetId').value"></app-gb-formgrid>
    </form>
</div>