<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

            <app-entitylookup  [PicklistObj]="AssemblyBOMJSON.default.ObjectFields[0].CodeCategoryCategoryName"
            formControlName='CodeCategoryCategoryName' (Onselectdataids)="AssemblyBOMPicklistPatchValue($event)"
            [defaultvalue]="form.get('CodeCategoryCategoryName').value"></app-entitylookup>

            <app-entitylookup  [PicklistObj]="AssemblyBOMJSON.default.ObjectFields[0].ItemCode"
            formControlName='ItemCode' (Onselectdata)="AssemblyBOMPicklistFillValue($event)"
            [defaultvalue]="form.get('ItemCode').value"></app-entitylookup>

            <app-entitylookup  [PicklistObj]="AssemblyBOMJSON.default.ObjectFields[0].ItemName"
            formControlName='ItemName' (Onselectdata)="AssemblyBOMPicklistFillValue($event)"
            [defaultvalue]="form.get('ItemName').value"></app-entitylookup>

            <app-entitylookup  [PicklistObj]="AssemblyBOMJSON.default.ObjectFields[0].StoreName"
            formControlName='StoreName' (Onselectdataids)="AssemblyBOMPicklistPatchValue($event)"
            [defaultvalue]="form.get('StoreName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='BOMDetailArray'
            [ArrayDetail]="form.get('BOMDetailArray').value"></app-gb-formgrid>

    </form>
</div>