@import './../../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.subformheader{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
    background-color: unset;
    color: rgba(26, 26, 26, 0.87);
    margin-left: 12px;
}

.formmenupath{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 0px;
    background-color: unset;
    color: rgba(26, 26, 26, 0.87);
    margin-left: 12px;
}