<!-- <div class="title">
  {{ formtitle }}

  <div *ngIf="this._formComponent?.templateNames?.length > 0">
    <select #template (change)="changeTemplate(template.value)">
      <option *ngFor="let a of this._formComponent?.templateNames" [value]="a">{{a}}</option>
    </select>
  </div>

</div>
 -->
 <p class="mon-sixth subformheader" *ngIf="viewmode!='Empty' && FormTitle==undefined">{{ MenuPath }}</p>
 <p class="mon-sixth subformheader" *ngIf="viewmode!='Empty' && FormTitle!=undefined">{{ FormTitle }}</p>
 <p class="mon-sixth formmenupath" *ngIf="viewmode!='Empty' && FormTitle!=undefined">{{ MenuPath }}</p>
 
 
 
