<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
  
      <app-entitylookup class="KeyField" [PicklistObj]="ForecastJSON.default.ObjectFields[0].ForeCastCode"
        formControlName='ForeCastCode' (Onselectdata)="ForecastRetrivalValue($event)"
        [defaultvalue]="form.get('ForeCastCode').value"></app-entitylookup>
      
      <app-entitylookup class="KeyField" [PicklistObj]="ForecastJSON.default.ObjectFields[0].ForeCastName"
        formControlName='ForeCastName' (Onselectdata)="ForecastRetrivalValue($event)"
        [defaultvalue]="form.get('ForeCastName').value"></app-entitylookup><br>
        
      <app-entitylookup class="KeyField" [PicklistObj]="ForecastJSON.default.ObjectFields[0].ForeCastSetName"
      formControlName='ForeCastSetName' (Onselectdataids)="ForecastPatchValue($event)" 
      [defaultvalue]="form.get('ForeCastSetName').value"></app-entitylookup>

      <app-gb-combobox class="KeyField" formControlName='ForeCastIsForeCastConsume' (ComboBoxOutPut)="ConsumptionFunction($event)" ></app-gb-combobox><br>

      <app-entitylookup   class="KeyField" [PicklistObj]="ForecastJSON.default.ObjectFields[0].InchargeName"
      formControlName='InchargeName' (Onselectdataids)="ForecastPatchValue($event)"
      [defaultvalue]="form.get('InchargeName').value"></app-entitylookup>

      <app-gb-input class="KeyField" formControlName="ForeCastForwardDays"  [style.display]="form.get('ForeCastIsForeCastConsume').value == 0 ? 'inline-block':'none'"></app-gb-input><br>

      <app-gb-combobox class="KeyField" formControlName='ForeCastPeriodType'></app-gb-combobox>
      <app-gb-input class="KeyField" formControlName="ForeCastMaxPercentPerDocument"  [style.display]="form.get('ForeCastIsForeCastConsume').value == 0 ? 'inline-block':'none'"></app-gb-input><br>

      <app-gb-combobox class="KeyField" formControlName='ForeCastLevel'></app-gb-combobox> 
      <app-gb-input class="KeyField" formControlName="ForeCastBackwardDays"  [style.display]="form.get('ForeCastIsForeCastConsume').value == 0 ? 'inline-block':'none'"></app-gb-input>

    </form>
  </div>