button{
    //margin: 5em 1em 2em;
    //justify-content: center;
    margin-left: 1em;
    margin-top: 2em;
    outline-style: none;
    background-image: linear-gradient(180deg, rgba(255,0,0,0) 46%, rgb(192, 54, 146) 160%);
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
}

.portlet{
    width: 100%;
    height: 100%;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  margin: 30px auto;
  width: 150px;
  height: 150px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}
.cardtext {
  text-align: left;
  padding: 62px;
  font-weight: bold;
  width: auto;
}
.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.portlet h2{
   padding: 5px 10px 5px;
   font-size: 15px;
   font-family: 'Poppins';
   width: 100%;
   height:10%;
}


table tr.heading{
    color:#343434;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins';
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 4px );
     border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media only screen and (max-width: 600px) {
    .portlet {
      width: 100%;
      height:auto;
    }
    .portlet h2{
      font-size: 0.938em;
    }

    button{
        width: 20em;
        font-size: 1.7vw;
        margin-bottom: 1em;
    }
  }


  @media only screen and (min-width: 768px) {

    .portlet {
        width: 100%;
        height:auto;
      }
      .portlet h2{
        font-size: 0.938em;
      }
  
      button{
          width: 20em;
          font-size: 2vw;
          margin-bottom: 1em;
      }
    }

    @media only screen and (min-width: 912px) {

        .portlet {
            width: 100%;
            height:auto;
          }
          .portlet h2{
            font-size: 1vw;
          }
      
          button{
              width: 18em;
              font-size: 1em;
              margin-left: 6em;
              margin-bottom: 1em;
          }
        }

        