<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
      <app-entitylookup class="KeyField" [PicklistObj]="EventTypeJSON.default.ObjectFields[0].EventTypeCode"
            formControlName='EventTypeCode' (Onselectdata)="EventTypeRetrivalValue($event)"
            [defaultvalue]="form.get('EventTypeCode').value"></app-entitylookup> 

            <app-entitylookup class="KeyField" [PicklistObj]="EventTypeJSON.default.ObjectFields[0].EventTypeName"
            formControlName='EventTypeName' (Onselectdata)="EventTypeRetrivalValue($event)"
            [defaultvalue]="form.get('EventTypeName').value"></app-entitylookup>
				
          <app-entitylookup [PicklistObj]="EventTypeJSON.default.ObjectFields[0].EntityModuleName"
          formControlName='EntityModuleName' (Onselectdataids)="EventTypePatchValue($event)"
          [defaultvalue]="form.get('EntityModuleName').value" ></app-entitylookup>

          <app-entitylookup [PicklistObj]="EventTypeJSON.default.ObjectFields[0].EntityName"
          formControlName='EntityName' (Onselectdataids)="EventTypePatchValue($event)"
          [defaultvalue]="form.get('EntityName').value" ></app-entitylookup>

          <app-gb-input formControlName='EventTypeSection'></app-gb-input>

          <app-gb-combobox formControlName='EventTypeType'></app-gb-combobox>

          <app-gb-input formControlName='EventTypeSecurityLevel' (input)="Security($event)"></app-gb-input>

          <app-gb-combobox formControlName='EventTypeCriticality'></app-gb-combobox>

          <app-gb-combobox formControlName='EventTypeNature'></app-gb-combobox>



          <app-entitylookup [PicklistObj]="EventTypeJSON.default.ObjectFields[0].LinkedFormName"
          formControlName='LinkedFormName' (Onselectdataids)="EventTypePatchValue($event)"
          [defaultvalue]="form.get('LinkedFormName').value" ></app-entitylookup>

          <app-gb-checkbox formControlName='EventTypeNotification' class="KeyField" ></app-gb-checkbox>

         
        <app-gb-checkbox formControlName='EventTypeAlter' class="KeyField" ></app-gb-checkbox>
       


    </form>
  </div>