<div>
  <button (click)="checkAll()">Select All</button> &nbsp;
  <button (click)="uncheckAll()">Deselect All</button>
</div>
<div class='filter'>
  <input type='text' placeholder="Filter" (keyup)="quicksearch($event.target.value)">
</div>
<mat-tab-group #tabRef (selectedTabChange)="onTabChanged(tabRef.selectedIndex)">

  <mat-tab label="Request To Me">
    <div class="example-small-box mat-elevation-z4">

      <li *ngFor="let list of approvallistdata;let i = index" (click)="selectall(list,i)">

        <p><input #checkboxes type="checkbox">&nbsp;<span style="color:rgb(2, 131, 2); font-weight: 500;">
            &nbsp;{{list.TASKNO}}</span><span style="color:rgb(5, 124, 221); font-weight: 500;"> &nbsp;
            {{list.TASKNAME}} &nbsp; {{list.TaskHrs}} &nbsp;{{list.TaskDate}}</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
            style="color:rgb(68, 66, 66)">{{list.TaskFromCode}}&nbsp;&nbsp;{{list.TaskFromName}}&nbsp;&nbsp;{{list.TaskFromDate}}&nbsp;&nbsp;{{list.displayoucode}}&nbsp;&nbsp;{{list.partyname}}</span><span
            style="color:rgb(252, 171, 22)">&nbsp;&nbsp;{{list.Approver}}</span><span
            style="color:rgb(5, 5, 201);font-weight: 500; ">&nbsp;&nbsp;Ask&nbsp;&nbsp;History</span>&nbsp;&nbsp;{{list.Remarks}}
        </p>
        <br>

      </li>

    </div>
  </mat-tab>
  <mat-tab label="Request By Me">
    <div class="example-small-box mat-elevation-z4">

      <li *ngFor="let list of approvallistdata" (click)="selectall(list)">
        <!--<input type="checkbox" [(ngModel)]="isMasterSel"  (change)="isAllSelected()"/>-->
        <p><input #checkboxes type="checkbox">&nbsp;<span style="color:rgb(2, 131, 2); font-weight: 500;">
            &nbsp;{{list.TASKNO}}</span><span style="color:rgb(5, 124, 221); font-weight: 500;"> &nbsp;
            {{list.TASKNAME}} &nbsp; {{list.TaskHrs}} &nbsp;{{list.TaskDate}}</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
            style="color:rgb(68, 66, 66)">{{list.TaskFromCode}}&nbsp;&nbsp;{{list.TaskFromName}}&nbsp;&nbsp;{{list.TaskFromDate}}&nbsp;&nbsp;{{list.displayoucode}}&nbsp;&nbsp;{{list.partyname}}</span><span
            style="color:rgb(252, 171, 22)">&nbsp;&nbsp;{{list.Approver}}</span><span
            style="color:rgb(5, 5, 201);font-weight: 500; ">&nbsp;&nbsp;Ask&nbsp;&nbsp;History</span>&nbsp;&nbsp;{{list.Remarks}}
        </p>
        <br>
      </li>
    </div>
  </mat-tab>
</mat-tab-group>
<br>
<div>
  <button mat-raised-button  style="background-color:rgba(118, 145, 76, 0.952); " (click)="approve()">Accept</button> &nbsp;
  <button mat-raised-button   style="background-color:rgba(133, 190, 207, 0.925); " (click)="resend()">Resend</button> &nbsp;
  <button mat-raised-button  style="background-color:rgb(160, 69, 69); " (click)="reject()">Reject</button> 
  
</div>