<div class="sticky-header">
  <div class="table-container styled-table" style="width: 100%;">
    <div class="search-container">
      <input id="SearchInput" type="text" placeholder="Search" class="searchtext" [(ngModel)]="searchText" #searchInput>

      <div>
        <img *ngIf="!searchText" src="assets/icons/searchcontact.png" alt="Search Icon" class="searchicon"
          (click)="focusSearchInput(searchInput)">
        <img *ngIf="searchText" src="assets/icons/ph_x-bold.png" alt="Clear Icon" (click)="clearSearch($event)"
          class="searchicon">
      </div>
    </div>

    <hr class="HorziontalLineone">

    <div class="Container">
      <table class="Table">
        <tbody class="tbody">
          <tr class="FilterTable" *ngFor="let data of contactlist">
            <td>
              <div class="three-column-container" (click)="ContactDetail(data.ContactId)">
                <div class="FirstDivision">
                  <img src="{{ data.ContactImageViewUrl }}" alt="{{data.ContactName.charAt(0).toUpperCase() }}"
                    class="rounded-image" title="">
                  <!-- <img src="{{ data.ContactImageViewUrl }}" 
     alt="{{ data.ContactDefaultImageId ? '' : (data.ContactName ? data.ContactName.charAt(0).toUpperCase() : data.ContactDefaultImageId) }}"
     class="rounded-image" 
     title=""> -->
                </div>
                <div class="SecondDivision">

                  <span class="ContactName">{{ data.ContactName }}</span>

                  <div class="RowContainerone">
                    <span class="ContactDesignation">{{ data.ContactDesignation }}</span>
                    <span class="MediaQueryDesCom" *ngIf="data.ContactDesignation && data.ContactCompany">
                      {{ data.ContactDesignation.length + data.ContactCompany.length <= 45 ? data.ContactDesignation
                        + ' - ' + data.ContactCompany : (data.ContactDesignation + ' - ' +
                        data.ContactCompany).substring(0, 40) + '...' }} </span>

                        <span class="ContactMobileno">{{ data.ContactMobileNo }}</span>
                  </div>
                  <div class="RowContainertwo">
                    <span class="ContactCompany"> {{ data.ContactCompany }}</span>
                    <span class="ContactMailid">{{ data.ContactMailId }}</span>
                    <span class="MediaQueryMobileno">{{ data.ContactMobileNo }}</span>
                  </div>

                </div>
              </div>
              <hr class="HorziontalLinetwo">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>