<div class="FormOverview" *ngIf="form.bFormReady">
  <form [formGroup]='form'>

    <app-entitylookup class="KeyField" [PicklistObj]="ParameterJSON.default.ObjectFields[0].ParameterCode"
      formControlName='ParameterCode' (Onselectdata)="ParameterRetrivalValue($event)"
      [defaultvalue]="form.get('ParameterCode').value"></app-entitylookup>

    <app-entitylookup class="KeyField" [PicklistObj]="ParameterJSON.default.ObjectFields[0].ParameterName"
      formControlName='ParameterName' (Onselectdata)="ParameterRetrivalValue($event)"
      [defaultvalue]="form.get('ParameterName').value"></app-entitylookup>



    <app-gb-combobox formControlName="ParameterDataType"></app-gb-combobox>

    <app-gb-input formControlName='ParameterDataSize'></app-gb-input>



    <app-entitylookup class="KeyField" [PicklistObj]="ParameterJSON.default.ObjectFields[0].ParameterUOMName"
      formControlName='ParameterUOMName' (Onselectdataids)="ParameterPatchValue($event)"
      [defaultvalue]="form.get('ParameterUOMName').value"></app-entitylookup><mat-icon style="padding: 0px 0px 30px 391px; cursor: pointer;" (click)="addnew(template)">add_box</mat-icon>


    <app-gb-combobox formControlName="ParameterTypeOfInfo" (click)=LovTypeValues()></app-gb-combobox>

    <app-gb-combobox formControlName="ParameterConsolidationType"></app-gb-combobox>



    <app-entitylookup class="KeyField" [PicklistObj]="ParameterJSON.default.ObjectFields[0].LovTypeName"
      formControlName='LovTypeName' (Onselectdataids)="ParameterPatchValue($event)"
      [defaultvalue]="form.get('LovTypeName').value"
      *ngIf="form.get('ParameterTypeOfInfo').value === 2 ||form.get('ParameterTypeOfInfo').value === 3||form.get('ParameterTypeOfInfo').value === 4 "></app-entitylookup>



    <div class="FormSubHeading"> Field Validations (Data Type Specific)</div>

    <app-gb-input formControlName="ParameterMinValue"></app-gb-input>

    <app-gb-input formControlName='ParameterFieldMin'></app-gb-input>

    <app-gb-input formControlName='ParameterMaxValue'></app-gb-input>

    <app-gb-input formControlName='ParameterFieldMax'></app-gb-input>

    <app-gb-combobox formControlName="ParameterStatus"></app-gb-combobox>

    <app-gb-textarea formControlName="ParameterRemarks"></app-gb-textarea>

  </form>
</div>


<ng-template #template>
  <h4>UOM Form</h4>
  <app-UOM (Onselectdata)="UOMRetrivalValue($event)"></app-UOM>
  <button mat-stroked-button color="primary" (click)="newsave()">Save</button>
</ng-template>