<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        
        <app-entitylookup class="KeyField" [PicklistObj]="StateJson.default.ObjectFields[0].StateCode"
        formControlName='StateCode' (Onselectdata)="StateRertivalValue($event)"
        [defaultvalue]="form.get('StateCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="StateJson.default.ObjectFields[0].StateName"
        formControlName='StateName' (Onselectdata)="StateRertivalValue($event)"
        [defaultvalue]="form.get('StateName').value"></app-entitylookup>

        <app-gb-input formControlName='StateGSTStateCode'></app-gb-input>
        
        <app-gb-input formControlName='StateTINStart'></app-gb-input>
 
        <app-entitylookup class="KeyField" [PicklistObj]="StateJson.default.ObjectFields[0].CountryName"
        formControlName='CountryName' (Onselectdataids)="StatePatchValue($event)"
        [defaultvalue]="form.get('CountryName').value"></app-entitylookup> 

    </form>
</div> 