<div class="sticky-header">
  <table class="styled-table">
    <thead>
      <tr>
        <th style="background-color:rgb(25, 102, 218)" style="color:black;">Type</th>
        <th style="background-color:rgb(25, 102, 218)" style="color:black;">Account Code</th>
        <th style="background-color:rgb(25, 102, 218)" style="color:black;">Account Name</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of rowData">
      <tr>
        <td><b>{{item.MaterialAccountName}}</b></td>
      </tr>
      <tr>
        <td><b>Stock Account</b></td>
        <td><b>{{item.StockAccountCode}}</b></td>
        <td><b>{{item.StockAccountName}}</b></td>
      </tr>
      <tr>
        <td><b>Consumption Account</b></td>
        <td><b>{{item.ConsumptionAccountCode}}</b></td>
        <td><b>{{item.ConsumptionAccountName}}</b></td>
      </tr>
      <tr>
        <td><b>Cost Of Goods Account</b></td>
        <td><b>{{item.CostOfGoodsAccountCode}}</b></td>
        <td><b>{{item.CostOfGoodsAccountName}}</b></td>
      </tr>
      <tr>
        <td><b>Wip Account</b></td>
        <td><b>{{item.WipAccountCode}}</b></td>
        <td><b>{{item.WipAccountName}}</b></td>
      </tr>
      <tr>
        <td><b>Wip Stock Account</b></td>
        <td><b>{{item.WipStockAccountCode}}</b></td>
        <td><b>{{item.WipStockAccountName}}</b></td>
      </tr>
      <tr>
        <td><b>COGM Account</b></td>
        <td><b>{{item.CogmAccountCode}}</b></td>
        <td><b>{{item.CogmAccountCode}}</b></td>
      </tr>
      <tr *ngFor="let data of item.MaterialAccountDetailArray">
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}"><b>{{data.TransactionTypeType}}</b></td>
        <td [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.TransactionTypeName}}</td>
      </tr>

    </tbody>
  </table>
</div>