<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
      <app-entitylookup class="KeyField" [PicklistObj]="CostDistributionJSON.default.ObjectFields[0].CostDistributionCode"
        formControlName='CostDistributionCode' (Onselectdata)="CostDistributionPicklistFillValue($event)"
        [defaultvalue]="form.get('CostDistributionCode').value"></app-entitylookup>
  
      <app-entitylookup class="KeyField" [PicklistObj]="CostDistributionJSON.default.ObjectFields[0].CostDistributionName"
        formControlName='CostDistributionName' (Onselectdata)="CostDistributionPicklistFillValue($event)"
        [defaultvalue]="form.get('CostDistributionName').value"></app-entitylookup>
  
  <br>
      <app-gb-radiobox class="KeyField" formControlName='CostDistributionCostDistributionType'></app-gb-radiobox>
  
      <app-gb-radiobox class="KeyField" formControlName='CostDistributionFieldType' (click)="settingPatchValueToZero()" ></app-gb-radiobox>
      
      
<br>
<td style="display: flex;flex-direction: row;" >
  <app-gb-textarea class="KeyField" formControlName='CostDistributionRemarks'></app-gb-textarea>
  <app-entitylookup class="KeyField" [PicklistObj]="CostDistributionJSON.default.ObjectFields[0].FieldName"
  formControlName='FieldName' (Onselectdataids)="CostDistributionPicklistPatchValue($event)"
  [defaultvalue]="form.get('FieldName').value"  *ngIf="form.get('CostDistributionFieldType').value == 1"></app-entitylookup>

<app-entitylookup class="KeyField" [PicklistObj]="CostDistributionJSON.default.ObjectFields[0].FormulaName"
  formControlName='FormulaName' (Onselectdataids)="CostDistributionPicklistPatchValue($event)"
  [defaultvalue]="form.get('FormulaName').value"  *ngIf="form.get('CostDistributionFieldType').value == 2"></app-entitylookup>

  
</td>
     
    </form>
  </div>