@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.MenuList{
    padding-top: 28px;
    background-color: #FFFFFF;
    height: 61.5vh;
    border-radius: 8px;
    overflow: auto;
    scrollbar-width: thin;
    background-color: #FFFFFF;
    scrollbar-color: var(--color) rgba(26, 26, 26, 0.32);
}

.MenuListBox{
    display: inline-block;
    width: 211px;
    height: 60px;
    margin: 15px 10px;
    cursor: pointer;
}

.MenuListBoxFolder{
    display: inline-block;
    width: 215px;
    height: 60px;
    margin: 15px 10px;
    cursor: pointer;
    border: 1px solid var(--color);
}

.description{
    color:rgba(26, 26, 26, 0.87);
    font-family: "Helvetica";
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.FrequentBox{
    display: inline-block;
    width: 170px;
    height: 20px;
    margin: 5px 5px;
    cursor: pointer;
}

.top-align {
    vertical-align: top;
}
  