<div class="MenuList">
    <span *ngFor="let data of MenuList.children">
        <table class="MenuListBox" (click)='MenuData(data)' *ngIf="data.children.length==0">
            <tr>
                <td rowspan="2" class="top-align" style="width: 40px;"><img style="display: inline-block;" src='{{ "assets/MenuList/" + theme + "/Vehicle.png" }}' width="40px"></td>
                <td class="captionHead-semibold-12-purple-accent" style="width: 130px;">{{data.DisplayName}}</td>
            </tr>
            <tr>
                <td class="description tooltip">{{data.MenuDescription | Truncate}} <span class="tooltiptext" style="width: 200px;">{{data.MenuDescription}}</span></td>
            </tr>
        </table>
        <table class="MenuListBox" (click)='MenuFolder(data)' *ngIf="data.children.length!=0">
            <tr>
                <td rowspan="2" class="top-align" style="width: 40px;"><img style="display: inline-block;" src='{{ "assets/MenuList/" + theme + "/Vehicle.png" }}' width="40px"></td>
                <td class="captionHead-semibold-12-purple-accent" style="width: 130px;">{{data.DisplayName}}</td>
                <td rowspan="2" class="top-align" style="width: 40px;"><img style="display: inline-block;" src='{{ "assets/MenuList/right_arrow.png" }}' width="40px"></td>
            </tr>
            <tr>
                <td class="description tooltip">{{data.MenuDescription | Truncate}}<span class="tooltiptext" style="width: 200px;">{{data.MenuDescription}}</span></td>
            </tr>
        </table>
    </span>
</div>
<!-- <div>
    <p class="body-semi-14-purple-accent">Frequently Used</p>
    <span *ngFor="let data of frequentlyused">
        <table class="FrequentBox" (click)='MenuData(data)' *ngIf="data.children.length==0">
            <tr>
                <td style="width: 40px;"><img style="display: inline-block;" src="assets/MenuList/Default/Vehicle.png" width="40px"></td>
                <td class="captionHead-semibold-12-purple-accent">{{data.DisplayName}}</td>
            </tr>
        </table>
    </span>
</div> -->