<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField"
            [PicklistObj]="PayConfigurationJSON.default.ObjectFields[0].PayConfigurationCode"
            formControlName='PayConfigurationCode' (Onselectdata)="PayConfigurationFillFunction($event)"
            [defaultvalue]="form.get('PayConfigurationCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField"
            [PicklistObj]="PayConfigurationJSON.default.ObjectFields[0].PayConfigurationName"
            formControlName='PayConfigurationName' (Onselectdata)="PayConfigurationFillFunction($event)"
            [defaultvalue]="form.get('PayConfigurationName').value"></app-entitylookup>
        <br>
        <app-entitylookup class="KeyField"
            [PicklistObj]="PayConfigurationJSON.default.ObjectFields[0].TotalEarningFormulaName"
            formControlName='TotalEarningFormulaName' (Onselectdataids)="PayConfigurationPatchValue($event)"
            [defaultvalue]="form.get('TotalEarningFormulaName').value"></app-entitylookup>

        <app-entitylookup class="KeyField"
            [PicklistObj]="PayConfigurationJSON.default.ObjectFields[0].TotalDeductionFormulaName"
            formControlName='TotalDeductionFormulaName' (Onselectdataids)="PayConfigurationPatchValue($event)"
            [defaultvalue]="form.get('TotalDeductionFormulaName').value"></app-entitylookup>
        <br>
        <app-entitylookup class="KeyField"
            [PicklistObj]="PayConfigurationJSON.default.ObjectFields[0].SalaryAccountName"
            formControlName='SalaryAccountName' (Onselectdataids)="PayConfigurationPatchValue($event)"
            [defaultvalue]="form.get('SalaryAccountName').value"></app-entitylookup>

        <app-entitylookup class="KeyField"
            [PicklistObj]="PayConfigurationJSON.default.ObjectFields[0].NetSalaryFormulaName"
            formControlName='NetSalaryFormulaName' (Onselectdataids)="PayConfigurationPatchValue($event)"
            [defaultvalue]="form.get('NetSalaryFormulaName').value"></app-entitylookup>

            <br>
        <app-entitylookup class="KeyField"
            [PicklistObj]="PayConfigurationJSON.default.ObjectFields[0].StdSalaryGrossFormulaName"
            formControlName='StdSalaryGrossFormulaName' (Onselectdataids)="PayConfigurationPatchValue($event)"
            [defaultvalue]="form.get('StdSalaryGrossFormulaName').value"></app-entitylookup>

        <app-entitylookup class="KeyField"
            [PicklistObj]="PayConfigurationJSON.default.ObjectFields[0].StdOneDaySalaryFormulaName"
            formControlName='StdOneDaySalaryFormulaName' (Onselectdataids)="PayConfigurationPatchValue($event)"
            [defaultvalue]="form.get('StdOneDaySalaryFormulaName').value"></app-entitylookup>
            <br>
            <app-entitylookup class="KeyField"
                [PicklistObj]="PayConfigurationJSON.default.ObjectFields[0].C2CFormulaName"
                formControlName='C2CFormulaName' (Onselectdataids)="PayConfigurationPatchValue($event)"
                [defaultvalue]="form.get('C2CFormulaName').value"></app-entitylookup>
    
            <app-entitylookup class="KeyField"
                [PicklistObj]="PayConfigurationJSON.default.ObjectFields[0].ReportFormatName"
                formControlName='ReportFormatName' (Onselectdataids)="PayConfigurationPatchValue($event)"
                [defaultvalue]="form.get('ReportFormatName').value"></app-entitylookup>

<br>
                <app-gb-checkbox class="KeyField" formControlName='PayConfigurationAccoundPostingCheckbox'></app-gb-checkbox>

                <app-gb-checkbox class="KeyField" formControlName='PayConfigurationClaimCheckbox'></app-gb-checkbox>

                <app-gb-checkbox class="KeyField" formControlName='PayConfigurationIsPartialProcessRequired'></app-gb-checkbox>

                <app-gb-formgrid formControlName='PayConfigurationDetailArray' [ArrayValues]="form.value"
                [ArrayDetail]="form.get('PayConfigurationId').value"></app-gb-formgrid>

    </form>
</div>