<div class="dbtable">
    <table class="Table">
        <thead class="thead">
            <tr class="theadtr">
                <th class="th cap1-bold-12-white" >Date</th>
                <th class="th cap1-bold-12-white" >Type</th>
                <th class="th cap1-bold-12-white" >No</th>
                <th class="th cap1-bold-12-white" >Ref No</th>

                <th class="th cap1-bold-12-white" >Ref Date</th>
                <th class="th cap1-bold-12-white" >Store</th>
                <th class="th cap1-bold-12-white" >In Qty</th>
                <th class="th cap1-bold-12-white" >Out Qty</th>
                
                <th class="th cap1-bold-12-white" >Cost</th>
                <th class="th cap1-bold-12-white" >Value</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tr"*ngFor="let data of rowData; let i=index">
                <td class="td cap2-med-12-type-primary" >{{data.StockLedgerDate }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.BIZtransactionTypeCode}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.StockLedgerNumber}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.ReferenceNumber}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.ReferenceDate}}</td>

                <td class="td cap2-med-12-type-primary" >{{data.StoreCode }}</td>
                <td class="td cap2-med-12-type-primary" >{{data.InwardGoodQuantity}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.OutwardGoodQuantity}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PostedCost}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.PostedValue}}</td>
                <td class="td cap2-med-12-type-primary" >{{data.Rate}}</td>
            </tr>
        </tbody>
    </table>
</div>

