<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].ResourceTypeName"
            formControlName='ResourceTypeName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
            [defaultvalue]="form.get('ResourceTypeName').value"></app-entitylookup>
        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].ResourceCode"
            formControlName='ResourceCode' (Onselectdata)="ResourcePicklistFillValue($event)"
            [defaultvalue]="form.get('ResourceCode').value"></app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].ResourceName"
            formControlName='ResourceName' (Onselectdata)="ResourcePicklistFillValue($event)"
            [defaultvalue]="form.get('ResourceName').value"></app-entitylookup>
        <br>

        <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].ModelName"
            formControlName='ModelName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
            [defaultvalue]="form.get('ModelName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].BrandName"
            formControlName='BrandName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
            [defaultvalue]="form.get('BrandName').value"></app-entitylookup>

        <br>

        <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].CategoryName"
            formControlName='CategoryName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
            [defaultvalue]="form.get('CategoryName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].SubCategoryName"
            formControlName='SubCategoryName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
            [defaultvalue]="form.get('SubCategoryName').value"></app-entitylookup>

        <br>
        <div class="FormTab">
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Particulars')"> Particulars</button>
            <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'Details')">Details</button>
            <button class="FormTabLinks TabHeading"
                (click)="ChangeTab($event, 'Warranty')">Warranty/Maintenance</button>
        </div>
        <div class="TabView">
            <div id="Particulars" class="tabcontent">
                <app-gb-input class="KeyField" formControlName='ResourceCapacity'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ResourceLotPerDay'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ResourceMinCapacity'></app-gb-input>
                <app-gb-input class="KeyField" formControlName='ResourceSpeed'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ResourceMaxCapacity'></app-gb-input>
                <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].UOMName"
                    formControlName='UOMName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
                    [defaultvalue]="form.get('UOMName').value"></app-entitylookup>
                <br>
                <app-gb-input class="KeyField" formControlName='ResourceEfficiency'></app-gb-input>
                <app-gb-checkbox class="KeyField" formControlName="ResourceIsCritical"></app-gb-checkbox>
                <br>

                <app-gb-combobox class="KeyField" formControlName="ResourceItemLinkType"></app-gb-combobox>
                <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].ItemName"
                    formControlName='ItemName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
                    [defaultvalue]="form.get('ItemName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].ProcessName"
                    formControlName='ProcessName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
                    [defaultvalue]="form.get('ProcessName').value"></app-entitylookup>
                <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].WorkCenterName"
                    formControlName='WorkCenterName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
                    [defaultvalue]="form.get('WorkCenterName').value"></app-entitylookup>
                <br>
                <app-entitylookup class="KeyField" [PicklistObj]="ResourceJSON.default.ObjectFields[0].BatchNumber"
                    formControlName='BatchNumber' (Onselectdataids)="ResourcePicklistPatchValue($event)"
                    [defaultvalue]="form.get('BatchNumber').value"></app-entitylookup>

                <app-gb-input class="KeyField" formControlName='ResourceLastNumber'></app-gb-input>
                <br>
            </div>
            <div id="Details" class="tabcontent">
                <app-gb-combobox class="KeyField" formControlName="ResourceYOM"></app-gb-combobox>
                <app-gb-input class="KeyField" formControlName='ResourceMfrSlNo'></app-gb-input>
                <br>
                <app-gb-input class="KeyField" formControlName='ResourceBillNumber'></app-gb-input>
                <app-gb-date class="KeyField" formControlName='ResourceBillDate'
                    [date]="form.get('ResourceId').value"></app-gb-date>
                <br>
                <app-gb-input class="KeyField" formControlName='ResourceValueInBill'></app-gb-input>
                <app-gb-date class="KeyField" formControlName='ResourcePurchaseDate'
                    [date]="form.get('ResourceId').value"></app-gb-date>
                <br>
                <app-entitylookup [PicklistObj]="ResourceJSON.default.ObjectFields[0].SupplierName"
                    formControlName='SupplierName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
                    [defaultvalue]="form.get('SupplierName').value"></app-entitylookup>

                <app-gb-input formControlName='ResourceResourceValue'></app-gb-input>
                <br>
            </div>
            <div id="Warranty" class="tabcontent">
                <app-gb-combobox formControlName='ResourceServiceStatus'></app-gb-combobox>

                <app-entitylookup [PicklistObj]="ResourceJSON.default.ObjectFields[0].ServiceProviderName"
                    formControlName='ServiceProviderName' (Onselectdataids)="ResourcePicklistPatchValue($event)"
                    [defaultvalue]="form.get('ServiceProviderName').value"></app-entitylookup>

                <app-gb-date formControlName='ResourceServiceFromDate'
                    [date]="form.get('ResourceId').value"></app-gb-date>

                <app-gb-date formControlName='ResourceServiceToDate'
                    [date]="form.get('ResourceId').value"></app-gb-date>

                <app-gb-date formControlName='ResourceInstallationDate'
                    [date]="form.get('ResourceId').value"></app-gb-date>

            </div>

        </div>
    </form>
</div>