<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="TargetMasterJSON.default.ObjectFields[0].TargetCode"
            formControlName='TargetCode' (Onselectdata)="TargetMasterRetrivalValue($event)"
            [defaultvalue]="form.get('TargetCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="TargetMasterJSON.default.ObjectFields[0].TargetName"
            formControlName='TargetName' (Onselectdata)="TargetMasterRetrivalValue($event)"
            [defaultvalue]="form.get('TargetName').value"></app-entitylookup>
        
        <br>
        <app-entitylookup class="KeyField" [PicklistObj]="TargetMasterJSON.default.ObjectFields[0].ItemLevelName"
            formControlName='ItemLevelName' (Onselectdataids)="TargetMasterPatchValue($event)"
            [defaultvalue]="form.get('ItemLevelName').value"></app-entitylookup>

        <span class="KeyField FormSubHeading" style="position: relative;top: -15px; padding: 0px;"> Period</span>
 
        <br>

        <app-gb-checkbox class="KeyField" formControlName="TargetIsQuantity"></app-gb-checkbox>

        <app-gb-radiobox class="KeyField" formControlName='TargetPeriodType'
            (RadioButtonOutPut)="settingPatchValueToZero($event)" style="width: 580px;"></app-gb-radiobox>
        <!-- split -->
        <app-entitylookup class="KeyField" [PicklistObj]="TargetMasterJSON.default.ObjectFields[0].SplitTypeName"
            formControlName='SplitTypeName' (Onselectdataids)="TargetMasterPatchValue($event)"
            [defaultvalue]="form.get('SplitTypeName').value"></app-entitylookup>
         
        <br>

        <app-gb-checkbox class="KeyField" formControlName="TargetIsCost"></app-gb-checkbox>
        <span style="display: inline-block;width: 580px;">
            <app-gb-date class="KeyField" formControlName='TargetFromDate' [date]="form.get('TargetCode').value"
            [style.display]="form.get('TargetPeriodType').value == 1 ? 'inline-block':'none'"></app-gb-date>
            <app-gb-date class="KeyField" formControlName='TargetCompareFromDate' [date]="form.get('TargetCode').value"
            [style.display]="form.get('TargetPeriodType').value == 1 ? 'inline-block':'none'"></app-gb-date>
            <app-entitylookup class="KeyField" [PicklistObj]="TargetMasterJSON.default.ObjectFields[0].GBPeriodName"
            formControlName='GBPeriodName' (Onselectdataids)="TargetMasterPatchValue($event)"
            [style.display]="form.get('TargetPeriodType').value == 2 ? 'inline-block':'none'"
            [defaultvalue]="form.get('GBPeriodName').value"></app-entitylookup>
        </span>
        
        <!-- costcenter and allocation -->
         <app-entitylookup class="KeyField" [PicklistObj]="TargetMasterJSON.default.ObjectFields[0].CostCategoryName"
            formControlName='CostCategoryName' (Onselectdataids)="TargetMasterPatchValue($event)"
            [defaultvalue]="form.get('CostCategoryName').value"
            [style.display]="form.get('SplitTypeName').value.lookupdata == 'Cost Center'? 'inline-block':'none'"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="TargetMasterJSON.default.ObjectFields[0].AllocationTypeName"
            formControlName='AllocationTypeName' (Onselectdataids)="TargetMasterPatchValue($event)"
            [defaultvalue]="form.get('AllocationTypeName').value"
            [style.display]="form.get('SplitTypeName').value.lookupdata == 'Allocation'? 'inline-block':'none'"></app-entitylookup> 

        <br>

        <app-gb-checkbox class="KeyField" formControlName="TargetIsValue"></app-gb-checkbox>

        <app-gb-date class="KeyField" formControlName='TargetToDate' [date]="form.get('TargetCode').value"
            [style.display]="form.get('TargetPeriodType').value == 1 ? 'inline-block':'none'"></app-gb-date>
        
        <app-gb-date class="KeyField" formControlName='TargetCompareToDate' [date]="form.get('TargetCode').value"
            [style.display]="form.get('TargetPeriodType').value == 1 ? 'inline-block':'none'"></app-gb-date>

        <app-entitylookup class="KeyField" [PicklistObj]="TargetMasterJSON.default.ObjectFields[0].CompareGBPeriodName"
            [style.display]="form.get('TargetPeriodType').value == 2 ? 'inline-block':'none'"
            formControlName='CompareGBPeriodName' (Onselectdataids)="TargetMasterPatchValue($event)"
            [defaultvalue]="form.get('CompareGBPeriodName').value"></app-entitylookup>

        <br>
        
        <app-gb-textarea class="KeyField" formControlName='TargetRemarks'></app-gb-textarea>
        
        <br>
    </form>
</div>