
<div class="sticky-header">
  <table class="styled-table" >
    <thead>
      <tr>
        <th *ngFor="let head of columnData" class="mon-eighth">{{head.headerName}}</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of rowData">
        <td *ngFor='let field of columnData'>{{item[field.field]}}</td>
      </tr>
    </tbody>
  </table>
</div>






<!-- <div class="styled-header">
    <table class="styled-table">

        <thead class="mon-eighth">
            <tr>
                <th><b>Item Code</b></th>
                <th><b>Item Name</b></th>
                <th><b>SKU Code</b></th>
                <th><b>SKU Name</b></th>
                <th><b>UOM</b></th>
                <th><b>BIN No</b></th>
                <th><b>SOH</b></th>
                <th><b>Cycle Class</b></th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let stcodegp of partylistview">
                <td [ngStyle]="{ fontWeight: stcodegp.bold ? 'bold' : 400 }">
                    {{ stcodegp.code }}
                </td>
                <td [ngStyle]="{ fontWeight: stcodegp.bold ? 'bold' : 400 }">{{ stcodegp.name }}</td>
                <td>{{ stcodegp.skucode }}</td>
                <td>{{ stcodegp.skuname }}</td>
                <td>{{ stcodegp.uom }}</td>
                <td>{{ stcodegp.binno }}</td>
                <td>{{ stcodegp.soh }}</td>
                <td>{{ stcodegp.cycleclass }}</td>
    
            </tr>
        </tbody>
    </table>
</div> -->