<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" formControlName='AnalysisCode'
            [PicklistObj]="AnalysisJSON.default.ObjectFields[0].AnalysisCode" (Onselectdata)="AnalysisRetrivalValue($event)"
            [defaultvalue]="form.get('AnalysisCode').value"></app-entitylookup>

        <app-entitylookup formControlName='AnalysisName' class="KeyField" (Onselectdata)="AnalysisRetrivalValue($event)"
            [PicklistObj]="AnalysisJSON.default.ObjectFields[0].AnalysisName"
            [defaultvalue]="form.get('AnalysisName').value"></app-entitylookup>

        <app-gb-textarea formControlName='AnalysisDescription'></app-gb-textarea>

        <app-entitylookup class="KeyField" formControlName='BaseObjectName'
        [PicklistObj]="AnalysisJSON.default.ObjectFields[0].BaseObjectName" (Onselectdataids)="AnalysisPatchValue($event)"
        [defaultvalue]="form.get('BaseObjectName').value"></app-entitylookup>

        <app-gb-formgrid formControlName='AnalysisObjectsArray'
            [ArrayDetail]="form.get('AnalysisId').value"></app-gb-formgrid>

    </form>
</div>