<div class="DashboardTable">
  <table style="width: fit-content">
    <thead class="DashboardTablethead">
      <tr>
        <th
          (click)="onSortClick('Code')"
          class="theadth"
          style="padding-left: 20px"
        >
          Code<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'Code'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'Code'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th (click)="onSortClick('Name')" class="theadth">
          Name<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'Name'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'Name'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('Rawdata')"
          *ngIf="
            shouldShowElement('Rawdata') &&
            (StageName == 'Rawdata' || StageName == 'Total')
          "
          class="theadth"
          style="text-align: right"
        >
          Rawdata<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'Rawdata'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'Rawdata'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('Unqualified')"
          *ngIf="
            shouldShowElement('Unqualified') &&
            (StageName == 'Unqualified' || StageName == 'Total')
          "
          class="theadth"
          style="text-align: right"
        >
          Unqualified<i
            *ngIf="
              TableSortType === 'ascending' &&
              TableModifiedHead === 'Unqualified'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' &&
              TableModifiedHead === 'Unqualified'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('MQL')"
          *ngIf="
            shouldShowElement('MQL') &&
            (StageName == 'MQL' || StageName == 'Total')
          "
          class="theadth"
          style="text-align: right"
        >
          MQL<i
            *ngIf="TableSortType === 'ascending' && TableModifiedHead === 'MQL'"
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'MQL'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('SAL')"
          *ngIf="
            shouldShowElement('SAL') &&
            (StageName == 'SAL' || StageName == 'Total')
          "
          class="theadth"
          style="text-align: right"
        >
          SAL<i
            *ngIf="TableSortType === 'ascending' && TableModifiedHead === 'SAL'"
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'SAL'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('SQL')"
          *ngIf="
            shouldShowElement('SQL') &&
            (StageName == 'SQL' || StageName == 'Total')
          "
          class="theadth"
          style="text-align: right"
        >
          SQL<i
            *ngIf="TableSortType === 'ascending' && TableModifiedHead === 'SQL'"
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'SQL'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('Opportunity')"
          *ngIf="
            shouldShowElement('Opportunity') &&
            (StageName == 'Opportunity' || StageName == 'Total')
          "
          class="theadth"
          style="text-align: right"
        >
          Opportunity<i
            *ngIf="
              TableSortType === 'ascending' &&
              TableModifiedHead === 'Opportunity'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' &&
              TableModifiedHead === 'Opportunity'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('Pipeline')"
          *ngIf="
            shouldShowElement('Pipeline') &&
            (StageName == 'Pipeline' || StageName == 'Total')
          "
          class="theadth"
          style="text-align: right"
        >
          Pipeline<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'Pipeline'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'Pipeline'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('Closing')"
          *ngIf="
            shouldShowElement('Closing') &&
            (StageName == 'Closing' || StageName == 'Total')
          "
          class="theadth"
          style="text-align: right"
        >
          Closing<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'Closing'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'Closing'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('WonLoss')"
          *ngIf="
            shouldShowElement('WonLoss') &&
            (StageName == 'WonLoss' || StageName == 'Total')
          "
          class="theadth"
          style="text-align: right"
        >
          WonLoss<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'WonLoss'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'WonLoss'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('Others')"
          *ngIf="
            shouldShowElement('Others') &&
            (StageName == 'Others' || StageName == 'Total')
          "
          class="theadth"
          style="text-align: right"
        >
          Others<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'Others'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'Others'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick('Total')"
          *ngIf="shouldShowElement('Total') && StageName == 'Total'"
          class="theadth"
          style="text-align: right"
        >
          Total<i
            *ngIf="
              TableSortType === 'ascending' && TableModifiedHead === 'Total'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' && TableModifiedHead === 'Total'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
        <th
          (click)="onSortClick(StageName + 'Value')"
          class="theadth"
          style="text-align: right; padding-right: 20px"
        >
          Value<i
            *ngIf="
              TableSortType === 'ascending' &&
              TableModifiedHead === StageName + 'Value'
            "
            class="fa fa-sort-up"
          ></i>
          <i
            *ngIf="
              TableSortType === 'descending' &&
              TableModifiedHead === StageName + 'Value'
            "
            class="fa fa-sort-down"
          ></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="tbodytr"
        [ngClass]="{ color: i % 2 == 0 }"
        *ngFor="let data of RowData; let i = index"
      >
        <td class="tbodytd" style="padding-left: 20px">
          {{ data.Code }}
        </td>
        <td class="tbodytd">{{ data.Name }}</td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'Rawdata')"
          *ngIf="
            shouldShowElement('Rawdata') &&
            (StageName == 'Rawdata' || StageName == 'Total')
          "
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.Rawdata }}
        </td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'Unqualified')"
          *ngIf="
            shouldShowElement('Unqualified') &&
            (StageName == 'Unqualified' || StageName == 'Total')
          "
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.Unqualified }}
        </td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'MQL')"
          *ngIf="
            shouldShowElement('MQL') &&
            (StageName == 'MQL' || StageName == 'Total')
          "
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.MQL }}
        </td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'SAL')"
          *ngIf="
            shouldShowElement('SAL') &&
            (StageName == 'SAL' || StageName == 'Total')
          "
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.SAL }}
        </td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'SQL')"
          *ngIf="
            shouldShowElement('SQL') &&
            (StageName == 'SQL' || StageName == 'Total')
          "
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.SQL }}
        </td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'Opportunity')"
          *ngIf="
            shouldShowElement('Opportunity') &&
            (StageName == 'Opportunity' || StageName == 'Total')
          "
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.Opportunity }}
        </td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'Pipeline')"
          *ngIf="
            shouldShowElement('Pipeline') &&
            (StageName == 'Pipeline' || StageName == 'Total')
          "
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.Pipeline }}
        </td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'Closing')"
          *ngIf="
            shouldShowElement('Closing') &&
            (StageName == 'Closing' || StageName == 'Total')
          "
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.Closing }}
        </td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'WonLoss')"
          *ngIf="
            shouldShowElement('WonLoss') &&
            (StageName == 'WonLoss' || StageName == 'Total')
          "
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.WonLoss }}
        </td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'Others')"
          *ngIf="
            shouldShowElement('Others') &&
            (StageName == 'Others' || StageName == 'Total')
          "
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.Others }}
        </td>
        <td
          (click)="LeadStageSummaryToList(data, $event, 'Total')"
          *ngIf="shouldShowElement('Total') && StageName == 'Total'"
          class="tbodytd tooltip"
          style="text-align: right"
        >
          {{ data.Total }}
        </td>
        <td class="tbodytd" style="text-align: right; padding-right: 20px">
          {{ data[StageName + 'Value'] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="ListTableVisible == true">
  <app-leadstagelist
    [FilterData]="FilterData"
    [StageName]="SummaryStageName"
    [selected]="selected"
    [EmployeeId]="EmployeeId"
  ></app-leadstagelist>
</div>
