<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup  [PicklistObj]="FormulaFieldJSON.default.ObjectFields[0].ModuleName"
        formControlName='ModuleName' (Onselectdataids)="FormulaFieldNot($event)"
        [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>

        <app-entitylookup  style="display: inline-block;margin-top: 16px;"  class="KeyField" [PicklistObj]="FormulaFieldJSON.default.ObjectFields[0].FormulaFieldCode"
        formControlName='FormulaFieldCode' (Onselectdata)="FormulaFieldvalue($event)"
        [defaultvalue]="form.get('FormulaFieldCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="FormulaFieldJSON.default.ObjectFields[0].FormulaFieldName"
        formControlName='FormulaFieldName' (Onselectdata)="FormulaFieldvalue($event)"
        [defaultvalue]="form.get('FormulaFieldName').value"></app-entitylookup>

       <br>

        <app-gb-input formControlName='FormulaFieldSection' class="KeyField"></app-gb-input>

        <app-gb-combobox formControlName="FormulaFieldDataType"  (ComboBoxOutPut)="Clickcombobox()" class="KeyField"></app-gb-combobox>

        <br>
        <app-gb-input formControlName='FormulaFieldDataSize'></app-gb-input>

        <app-gb-combobox formControlName="FormulaFieldAddedType"></app-gb-combobox>

        <app-entitylookup  [PicklistObj]="FormulaFieldJSON.default.ObjectFields[0].EntityName"
        formControlName='EntityName' (Onselectdataids)="FormulaFieldNot($event)"
        [defaultvalue]="form.get('EntityName').value"></app-entitylookup>

    </form>
    </div>