<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField"
            [PicklistObj]="InsuranceMasterjson.default.ObjectFields[0].InsurancePolicyNumber"
            formControlName='InsurancePolicyNumber' (Onselectdata)="InsuranceMasterFillFunction($event)"
            [defaultvalue]="form.get('InsurancePolicyNumber').value"></app-entitylookup>

        <table>
            <tr>
                <td>

                    <app-gb-radiobox formControlName='InsuranceOUType' (RadioButtonOutPut)="setPatchValueToZero($event)"
                        class="KeyField"></app-gb-radiobox>

                    <app-gb-combobox formControlName="InsuranceInsuranceType"
                        (ComboBoxOutPut)="setPatchValueToZero2($event)" class="KeyField"></app-gb-combobox>

                </td>
            </tr>

        </table>
        <div class="extradiv" class="KeyField">
            <div class="KeyField" style="width: 424px;">

                <app-entitylookup [PicklistObj]="InsuranceMasterjson.default.ObjectFields[0].OUGroupName"
                    formControlName='OUGroupName' (Onselectdataids)="InsuranceMasterPatchValue($event)"
                    [defaultvalue]="form.get('OUGroupName').value"
                    [style.display]="form.get('InsuranceOUType').value == 1 ? 'block':'none'"></app-entitylookup>

                <app-entitylookup [PicklistObj]="InsuranceMasterjson.default.ObjectFields[0].OUName"
                    formControlName='OUName' (Onselectdataids)="InsuranceMasterPatchValue($event)"
                    [defaultvalue]="form.get('OUName').value"
                    [style.display]="form.get('InsuranceOUType').value == 2 ? 'block':'none'"></app-entitylookup>
            </div>
        </div>

        <div class="KeyField">
            <!-- <app-gb-combobox formControlName="InsuranceInsuranceType"
            (ComboBoxOutPut)="setPatchValueToZero2($event)"></app-gb-combobox> -->

            <app-entitylookup [PicklistObj]="InsuranceMasterjson.default.ObjectFields[0].PartyName"
                formControlName='PartyName' (Onselectdataids)="InsuranceMasterPatchValue($event)"
                [defaultvalue]="form.get('PartyName').value"
                [style.display]="form.get('InsuranceInsuranceType').value == 1||form.get('InsuranceInsuranceType').value == 2||form.get('InsuranceInsuranceType').value == 0 ? 'block':'none'"></app-entitylookup>

            <app-entitylookup [PicklistObj]="InsuranceMasterjson.default.ObjectFields[0].MachineName"
                formControlName='MachineName' (Onselectdataids)="InsuranceMasterPatchValue($event)"
                [defaultvalue]="form.get('MachineName').value"
                [style.display]="form.get('InsuranceInsuranceType').value == 3 ? 'block':'none'"></app-entitylookup>

            <app-entitylookup [PicklistObj]="InsuranceMasterjson.default.ObjectFields[0].AssetName"
                formControlName='AssetName' (Onselectdataids)="InsuranceMasterPatchValue($event)"
                [defaultvalue]="form.get('AssetName').value"
                [style.display]="form.get('InsuranceInsuranceType').value == 4 ? 'block':'none'"></app-entitylookup>

            <app-entitylookup [PicklistObj]="InsuranceMasterjson.default.ObjectFields[0].EmployeeName"
                formControlName='EmployeeName' (Onselectdataids)="InsuranceMasterPatchValue($event)"
                [defaultvalue]="form.get('EmployeeName').value"
                [style.display]="form.get('InsuranceInsuranceType').value == 5 ? 'block':'none'"></app-entitylookup>
        </div>

        <div>
            <div class="divdate2" style="width: 482px;" class="KeyField">
                <app-gb-date formControlName="InsuranceStartDate" [date]="form.get('InsuranceStartDate').value"
                    [default]="'today'" (DateOutPut)="calculateDateDifferences()"></app-gb-date>
            </div>

            <app-entitylookup [PicklistObj]="InsuranceMasterjson.default.ObjectFields[0].VehicleNumber"
                formControlName='VehicleNumber' (Onselectdataids)="InsuranceMasterPatchValue($event)"
                [defaultvalue]="form.get('VehicleNumber').value" class="KeyField"
                *ngIf="form.get('InsuranceInsuranceType').value == 2"></app-entitylookup>
        </div>

        <div class="date">
            <div class="divdate" class="KeyField" style="width: 482px;">
                <app-gb-date formControlName="InsuranceEndDate" [date]="form.get('InsuranceEndDate').value"
                    [default]="'today'" class="KeyField" (DateOutPut)="calculateDateDifferences()"></app-gb-date>
            </div>

            <div class="KeyField" style="display: inline-flex ; padding-top: 2px;"> <app-gb-input
                    formControlName='InsurancePremiumAmount'></app-gb-input>
                <span style="align-items: center;padding-top: 9px;padding-left: 2px;" class="form_label">(9999999.99)</span>
            </div>

        </div>
        <div class="insurance3">
            <div class="combo2" style="width: 482px; " class="KeyField">
                <app-gb-combobox formControlName="InsurancePeriodType"></app-gb-combobox>
            </div>

            <div class="KeyField" style="display: inline-flex ;padding-top: 2px;">
                <app-gb-input formControlName='InsuranceCoverageAmount'></app-gb-input>
                <span style="align-items: center;padding-top: 9px;padding-left: 2px;"
                    class="form_label">(9999999.99)</span>
            </div>
        </div>
        <div class="insurance4">
            <div class="combo4" style="width: 482px;" class="KeyField"> <app-gb-combobox
                    formControlName="InsuranceInsuranceOStatus"></app-gb-combobox></div>
            <app-gb-date formControlName="InsuranceLastPaidOn" [date]="form.get('InsuranceId').value"
                [default]="'today'" class="KeyField"></app-gb-date>
        </div>
        <div class="insurance6"> 
            <div class="combo6" class="KeyField" style="width: 482px;">
                <app-gb-date formControlName="InsurancePremiumDueOn"
                [date]="form.get('InsuranceId').value" [default]="'today'" class="KeyField"></app-gb-date>
            </div>
                    <app-gb-date formControlName="InsuranceLastPaidTill" [date]="form.get('InsuranceId').value"
                [default]="'today'" class="KeyField"></app-gb-date>
        </div>

        <div class="insurance5">
            <app-gb-textarea formControlName='InsuranceRemarks' class="KeyField"></app-gb-textarea>
        </div>
    </form>
</div>