<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="BizTransactionSubClassJSON.default.ObjectFields[0].BIZTransactionSubClassCode"
            formControlName='BIZTransactionSubClassCode' (Onselectdata)="BizTransactionSubClassPicklistFillValue($event)"
            [defaultvalue]="form.get('BIZTransactionSubClassCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="BizTransactionSubClassJSON.default.ObjectFields[0].BIZTransactionSubClassName"
            formControlName='BIZTransactionSubClassName' (Onselectdata)="BizTransactionSubClassPicklistFillValue($event)"
            [defaultvalue]="form.get('BIZTransactionSubClassName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="BizTransactionSubClassJSON.default.ObjectFields[0].BIZTransactionClassName"
            formControlName='BIZTransactionClassName' (Onselectdataids)="BizTransactionSubClassPicklistPatchValue($event)"
            [defaultvalue]="form.get('BIZTransactionClassName').value"></app-entitylookup>

     

    </form>
</div>