<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="WorkCenterJSON.default.ObjectFields[0].WorkCenterCode" formControlName='WorkCenterCode'
        (Onselectdata)="WorkCenterFillFunction($event)" [defaultvalue]="form.get('WorkCenterCode').value"></app-entitylookup> 
       
        <app-entitylookup class="KeyField" [PicklistObj]="WorkCenterJSON.default.ObjectFields[0].WorkCenterName" formControlName='WorkCenterName'
        (Onselectdata)="WorkCenterFillFunction($event)" [defaultvalue]="form.get('WorkCenterName').value"></app-entitylookup> 
      
        <app-entitylookup [PicklistObj]="WorkCenterJSON.default.ObjectFields[0].OrganizationUnitName" formControlName='OrganizationUnitName'
        (Onselectdataids)="WorkCenterPatchValue($event)" [defaultvalue]="form.get('OrganizationUnitName').value" ></app-entitylookup>
      
        <app-entitylookup [PicklistObj]="WorkCenterJSON.default.ObjectFields[0].DepartmentName" formControlName='DepartmentName'
        (Onselectdataids)="WorkCenterPatchValue($event)" [defaultvalue]="form.get('DepartmentName').value" ></app-entitylookup>
     
        <app-entitylookup [PicklistObj]="WorkCenterJSON.default.ObjectFields[0].ProcessName" formControlName='ProcessName'
        (Onselectdataids)="WorkCenterPatchValue($event)" [defaultvalue]="form.get('ProcessName').value" ></app-entitylookup>

        <app-gb-input formControlName='WorkCenterNumberOfUnits'></app-gb-input>

        <app-entitylookup [PicklistObj]="WorkCenterJSON.default.ObjectFields[0].UOMName" formControlName='UOMName'
        (Onselectdataids)="WorkCenterPatchValue($event)" [defaultvalue]="form.get('UOMName').value" ></app-entitylookup>

        <app-gb-input formControlName='WorkCenterAvailableCapacity' (InputOutPut)="GetDecimalValue($event)"></app-gb-input>

        <app-gb-input formControlName='WorkCenterWorkingMinutes'></app-gb-input>

        <app-gb-input formControlName='WorkCenterUtilizationPercentage'></app-gb-input>

        <app-gb-input formControlName='WorkCenterEfficiencyPercentage'></app-gb-input>

        <app-entitylookup [PicklistObj]="WorkCenterJSON.default.ObjectFields[0].InchargeName" formControlName='InchargeName'
        (Onselectdataids)="WorkCenterPatchValue($event)" [defaultvalue]="form.get('InchargeName').value" ></app-entitylookup>

        <!-- <app-entitylookup [picklisturl]="'Employee'" [label]="'Incharge*'" [picklistdisplaytext] = "'Code,Name'" [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'InchargeId'"
        formControlName='InchargeName' (Onselectdataids)="Getselectedids($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Name'" [defaultvalue]="form.get('InchargeName').value"></app-entitylookup> -->
        <app-entitylookup [PicklistObj]="WorkCenterJSON.default.ObjectFields[0].CostCenterName" formControlName='CostCenterName'
        (Onselectdataids)="WorkCenterPatchValue($event)" [defaultvalue]="form.get('CostCenterName').value" ></app-entitylookup>
        <!-- <app-entitylookup [picklisturl]="'CostCenter'" [label]="'Cost Center*'" [picklistdisplaytext] = "'Code,Name'" [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'CostCenterId'"
        formControlName='CostCenterName' (Onselectdataids)="Getselectedids($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Name'" [defaultvalue]="form.get('CostCenterName').value"></app-entitylookup> -->
        <app-entitylookup [PicklistObj]="WorkCenterJSON.default.ObjectFields[0].CalendarName" formControlName='CalendarName'
        (Onselectdataids)="WorkCenterPatchValue($event)" [defaultvalue]="form.get('CalendarName').value" ></app-entitylookup>
        <!-- <app-entitylookup [picklisturl]="'Calendar'" [label]="'Calendar *'" [picklistdisplaytext] = "'Code,Name'" [picklistsearchfields]="'Name'" [multiple]="false" [LinkId]="'CalendarId'"
        formControlName='CalendarName' (Onselectdataids)="Getselectedids($event)" [picklistselection]="'Id'" [width]="'200'" [picklisttitle]="'Name'" [defaultvalue]="form.get('CalendarName').value"></app-entitylookup> -->

        <app-gb-combobox formControlName="WorkCenterStatus"></app-gb-combobox>

        <!-- <app-gb-input formControlName='WorkCenterStartTime'></app-gb-input> -->
        <app-gb-datetime formControlName="StartTime" (Minute)="WorkCenterGetMinute($event)"
        [time]="form.get('WorkCenterStartTime').value"></app-gb-datetime>
    </form>
</div>