<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <!-- <app-entitylookup [PicklistObj]="FindPicklist('ProcessTypeCode')" formControlName='ProcessTypeCode'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('ProcessTypeCode').value" class="KeyField"></app-entitylookup>
        
        <app-entitylookup [PicklistObj]="FindPicklist('ProcessTypeName')" formControlName='ProcessTypeName'
        (Onselectdata)="Getselectedid($event)" [defaultvalue]="form.get('ProcessTypeName').value" class="KeyField"></app-entitylookup> -->

        <app-entitylookup class="KeyField" [PicklistObj]="ProcessTypeJSON.default.ObjectFields[0].ProcessTypeCode" formControlName='ProcessTypeCode'
        (Onselectdata)="ProcessTypeFillFunction($event)" [defaultvalue]="form.get('ProcessTypeCode').value"></app-entitylookup>
  
        <app-entitylookup class="KeyField" [PicklistObj]="ProcessTypeJSON.default.ObjectFields[0].ProcessTypeName" formControlName='ProcessTypeName'
        (Onselectdata)="ProcessTypeFillFunction($event)" [defaultvalue]="form.get('ProcessTypeName').value"></app-entitylookup>


        <app-gb-input formControlName='ProcessTypeCharges' (InputOutPut)="GetDecimal($event)"></app-gb-input>

        <app-gb-formgrid formControlName='ProcessTypeDetailArray'
      [ArrayDetail]="form.get('ProcessTypeCode').value"></app-gb-formgrid>

    </form>
</div>