<div [ngClass]="themeClass$ | async" color="primary" class="colors thm-primary">
  <mat-menu #childMenu="matMenu" [overlapTrigger]="false">
    <div class="mon-eighth">
      <span *ngFor="let child of items">
        <!-- Handle branch node menu items -->
        <span *ngIf="child.children && child.children.length > 0">
          <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
            <!-- <mat-icon>{{child.iconName}}</mat-icon>-->
            <span class="mon-eighth">{{child.DisplayName}}</span>

            <div class="menu-divider"></div>
          </button>
          <app-menu-item #menu [items]="child.children"></app-menu-item> 
          <div class="menu-divider"></div>
        </span>
        <!-- Handle leaf node menu items -->
        <span class="btns" *ngIf="!child.children || child.children.length === 0">
          <span *ngIf="child.MenuType == '2'; else forms">
            <span class="btns" (click)='selecteddata({Id: child.Id, View: child.DisplayName})'>{{child.DisplayName}}</span><br>
        
          <div class="menu-divider"></div>
          </span>
          <ng-template #forms>
            <li><a class="btns" (click)='selected(child.DisplayName)' [routerLink]="child.WebFormSecondURL">{{child.DisplayName}}</a></li><br>
            <div class="menu-divider"></div>
          </ng-template>
        </span>
      </span>
    </div>
  </mat-menu>
</div>