<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white">Code</th>
          <th class="th cap1-bold-12-white">Name</th>
          <th class="th cap1-bold-12-white">Type</th>
          <th class="th cap1-bold-12-white">Category</th>
          <th class="th cap1-bold-12-white">Sub Cat</th>
          <th class="th cap1-bold-12-white">Group</th>
          <th class="th cap1-bold-12-white">Brand</th>
          <th class="th cap1-bold-12-white">Model</th>
          <th class="th cap1-bold-12-white">UOM</th>
          <th class="th cap1-bold-12-white">GST Type</th>
          <!-- <th class="th cap1-bold-12-white">Tax Type</th>
          <th class="th cap1-bold-12-white">HSN Code</th>
          <th class="th cap1-bold-12-white">GST %</th> -->
        </tr>
      </thead>
      <tbody class="tbody">
        <!-- <ng-container > -->
          <tr *ngFor="let data of rowData">
            <td class="td cap2-med-12-type-primary" >{{data.code}}</td>
            <td class="td cap2-med-12-type-primary" >{{data.name}}</td>
            <td class="td cap2-med-12-type-primary" >{{data.tname}}</td>
            <td class="td cap2-med-12-type-primary" >{{data.catname}}</td>
            <td class="td cap2-med-12-type-primary" >{{data.subcatname}}</td>
  
            <td class="td cap2-med-12-type-primary" >{{data.igname}}</td>
            <td class="td cap2-med-12-type-primary" >{{data.ibname}}</td>
            <td class="td cap2-med-12-type-primary" >{{data.mname}}</td>
            <td class="td cap2-med-12-type-primary" >{{data.uomcode}}</td>
            <td class="td cap2-med-12-type-primary" >{{data.gsttype}}</td>
  
          </tr>
        <!-- </ng-container> -->
      </tbody>
    </table>
  </div>
  