<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="OrganizationGroupJSON.default.ObjectFields[0].OrganizationGroupCode"
        formControlName='OrganizationGroupCode' (Onselectdata)="OrganizationGroupPicklistFillValue($event)"
        [defaultvalue]="form.get('OrganizationGroupCode').value"></app-entitylookup>
        
        
        <app-entitylookup class="KeyField" [PicklistObj]="OrganizationGroupJSON.default.ObjectFields[0].OrganizationGroupName"
        formControlName='OrganizationGroupName' (Onselectdata)="OrganizationGroupPicklistFillValue($event)"
        [defaultvalue]="form.get('OrganizationGroupName').value"></app-entitylookup>


        <app-gb-formgrid formControlName='OrganizationGroupDetailArray'
            [ArrayDetail]="form.get('OrganizationGroupCode').value" ></app-gb-formgrid>

    </form>
</div>