<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="DivisionJSONName.default.ObjectFields[0].DivisionCode"
            formControlName='DivisionCode' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('DivisionCode').value">
        </app-entitylookup>
        <app-entitylookup class="KeyField" [PicklistObj]="DivisionJSONName.default.ObjectFields[0].DivisionName"
            formControlName='DivisionName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('DivisionName').value">
        </app-entitylookup>
        <app-entitylookup  class="KeyField" [PicklistObj]="DivisionJSONName.default.ObjectFields[0].DivisionShortName"
            formControlName='DivisionShortName' (Onselectdata)="FormFillFunction($event)"
            [defaultvalue]="form.get('DivisionShortName').value"> 
        </app-entitylookup>
    </form>
</div>