<div class='FormOverview' *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="KPIPostingJSON.default.ObjectFields[0].ModuleName"
        formControlName='ModuleName' (Onselectdataids)="KPIPostingNot($event)"
        [defaultvalue]="form.get('ModuleName').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="KPIPostingJSON.default.ObjectFields[0].Section"
        formControlName='Section' (Onselectdataids)="KPIPostingNot($event)"
        [defaultvalue]="form.get('Section').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="KPIPostingJSON.default.ObjectFields[0].KPIName"
        formControlName='KPIName' (Onselectdataids)="KPIPostingNot($event)"
        [defaultvalue]="form.get('KPIName').value"></app-entitylookup>

        <app-gb-radiobox formControlName='DateType'></app-gb-radiobox>
      
        <app-gb-datetime formControlName="FromDate" [time]="form.get('ModuleName').value"></app-gb-datetime>

        <app-gb-datetime formControlName="TimeSlipFromTimeMailTemplate" [time]="form.get('ModuleName').value"></app-gb-datetime>

        <button id="Post" (click)="PostValue()" class="save-button"> POST</button>
        </form>
        </div>
