@import './../../../../../apps//Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.VoucherLightBox{
    margin-left: 30px;
    margin-bottom: 20px;
    width: 930px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
}

.VoucherLightBoxHeader{
    display: flex;
    width: 930px;
    align-items: center;
    height: 64px;
    border-radius: 8px 8px 0px 0px;
}

.HeaderButton{
    display: inline-flex;
    width: 120px;
    justify-content: center;
    align-items: center;
    height: 28px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
    border: 0.5px solid #69297F;
    background: #FFFFFF;
}

.ButtonContent{
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background: unset;  
}

.WidthAdjustment1{
    display: inline-block; 
    width: 480px;
}

.WidthAdjustment2{
    display: inline-block; 
    width: 100px;
    text-align: right;
}

.WidthAdjustment3{
    display: inline-block; 
    height: 28px; 
    width: 100px;
    text-align: right;
}

.LightBoxTable{
    position:relative;
    overflow: auto;
    max-height: 150px;
    filter: drop-shadow(0.1px 2px 2px rgba(0, 0, 0, 0.15));
}

.thead{
    position: relative;
    height: 40px;
    background: var(--color);    
}

.th{
    min-width: 100px;
    height: 20px;
    text-align: left;
    padding: 4px;
}

.tr{
    height: 36px;
    background-color: #F6F6F6;
}

.td{
    min-width: 100px;
    height: 20px;
    text-align: left;
    padding: 4px;
    font-weight: 700;
}

.color{
    background-color: #FFFFFF;
}

.LightBoxTable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.LightBoxTable::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.LightBoxTable::-webkit-scrollbar-thumb {
    background: var(--color);
}
.LightBoxTable::-webkit-scrollbar-thumb:hover {
    background: var(--color);
}