<div>
  <p class="C2C">Total Bill Amount:{{TotalBill | NumberFormat}}</p>
  <p class="CPH">Total TDS Amount:{{TotalTds | NumberFormat}}</p>
  <p class="RPH">Total Cess Amount:{{TotalCess | NumberFormat}}</p>
</div>
<div class="dbtable">
  
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >SNo</th>
          <th class="th cap1-bold-12-white" >Bill No</th>
          <th class="th cap1-bold-12-white" >Date</th>
          <th class="th cap1-bold-12-white" >Doc.No</th>
          <th class="th cap1-bold-12-white" >Doc.Dt</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Bill Amt</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">TDS Amt</th>
          <th class="th cap1-bold-12-white" style="text-align: right; padding-right: 50px;">Cess Amt</th>
          <th class="th cap1-bold-12-white" >Certi.No</th>
          <th class="th cap1-bold-12-white" >Date</th>

        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowData"> 
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.sno}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.billnum}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.bildate}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Vocnum}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Vocdate}}</td>
          
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.billamnt | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.tdsamnt | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}" style="text-align: right; padding-right: 50px;">{{data.Cessamnt | NumberFormat}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.certnum}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.certdate}}</td>
        </tr>
      </tbody>
    </table>
    </div>
