<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="Depreciationjson.default.ObjectFields[0].DepreciationCode"
            formControlName='DepreciationCode' (Onselectdata)="DepreciationFillFunction($event)"
            [defaultvalue]="form.get('DepreciationCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="Depreciationjson.default.ObjectFields[0].DepreciationName"
            formControlName='DepreciationName' (Onselectdata)="DepreciationFillFunction($event)"
            [defaultvalue]="form.get('DepreciationName').value"></app-entitylookup>


        <app-gb-radiobox formControlName='DepreciationCalculationMethod'></app-gb-radiobox>
        <div class="subhead" style="display: flex;">
            <div class="FormSubHeading">Period</div>
            <div class="FormSubHeading" style="padding-left: 543px;">Residual Value</div>
        </div>

        <app-gb-radiobox formControlName='DepreciationPeriodType' (RadioButtonOutPut)="setPatchValueToZero($event)"
            class="KeyField"></app-gb-radiobox>

        <app-gb-radiobox formControlName='DepreciationResidualType' class="KeyField"></app-gb-radiobox>
        <br>
        <span style="display: inline-block;width: 460px;">
            <app-gb-input formControlName='DepreciationDaysperYear'
                *ngIf="form.get('DepreciationPeriodType').value=='0'||form.get('DepreciationPeriodType').value=='1'"
                class="KeyField" (input)="validatePercent($event)"></app-gb-input>

            <app-gb-combobox formControlName="DepreciationPartialMonth"
                *ngIf="form.get('DepreciationPeriodType').value=='2'" class="KeyField"></app-gb-combobox>
        </span>
        <app-gb-input formControlName='DepreciationResidual' class="KeyField"></app-gb-input>
        <br>
        <app-gb-input formControlName='DepreciationPartialPercentage'
            *ngIf="form.get('DepreciationPeriodType').value=='2'" class="KeyField"></app-gb-input>

    </form>
</div>