<div class="FormOverview"  *ngIf="form.bFormReady" >
    <form [formGroup]='form'>

        <app-entitylookup class="KeyField" [PicklistObj]="PeriodJson.default.ObjectFields[0].PeriodCode"
        formControlName='PeriodCode' (Onselectdata)="PeriodRetrivalValue($event)"
        [defaultvalue]="form.get('PeriodCode').value"></app-entitylookup>

        <app-entitylookup class="KeyField" [PicklistObj]="PeriodJson.default.ObjectFields[0].PeriodName"
        formControlName='PeriodName' (Onselectdata)="PeriodRetrivalValue($event)"
        [defaultvalue]="form.get('PeriodName').value"></app-entitylookup>

   

        <app-gb-date formControlName='PeriodFromDate' [date]="form.get('PeriodCode').value"
            [default]="'today'"></app-gb-date>

        <app-gb-date formControlName='PeriodToDate' [date]="form.get('PeriodCode').value"
            [default]="'today'"></app-gb-date>

        <app-gb-radiobox formControlName='PeriodGroup'></app-gb-radiobox>



    </form> 
</div>