<div class="dbtable">
    <table class="Table">
      <thead class="thead">
        <tr class="theadtr">
          <th class="th cap1-bold-12-white" >Type</th>
          <th class="th cap1-bold-12-white" >Level</th>
          <th class="th cap1-bold-12-white" >Activity</th>
          <th class="th cap1-bold-12-white" >Parent</th>
          <th class="th cap1-bold-12-white" >Group</th>
          <th class="th cap1-bold-12-white" >Employee</th>
          <th class="th cap1-bold-12-white" >Role</th>
          <th class="th cap1-bold-12-white" >Remarks</th>

        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of rowData"> 
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Type}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Level}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Activity}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Parent}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Group}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Employee}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Role}}</td>
          <td class="td cap2-med-12-type-primary" [ngStyle]="{fontWeight: data.bold ? 'bold':400}">{{data.Remarks}}</td>

        </tr>
      </tbody>
    </table>
    </div>
