.navigation {
  text-align: right;
}

table {
  border-collapse: collapse;
  width          : auto;
  height         : 400px;
  overflow-x     : scroll;
  display        : block;

}

thead {
  width   : 100%;
  height  : 40px;
  position: sticky;
  top     : 0;

}

tbody {
  font-family: verdana;
  font-size  : 13px;
  font-weight: 500;
  overflow-y : scroll;


}

th {
  padding   : 4px 10px;
  text-align: left;
  width     : 100%;
  resize    : horizontal;
  overflow  : auto;
}

td {
  padding   : 4px 10px;
  text-align: left;
  word-wrap : break-word;

}