<div  class="FormOverview" *ngIf="form.bFormReady" >
    <form [formGroup]='form'>

      <app-entitylookup class="KeyField" [PicklistObj]="DBJoinJson.default.ObjectFields[0].DBJoinDescription"
      formControlName='DBJoinDescription' (Onselectdata)="DBJoinRetrivalValue($event)"
      [defaultvalue]="form.get('DBJoinDescription').value"></app-entitylookup>
      <br>

      <app-entitylookup  class="KeyField"[PicklistObj]="DBJoinJson.default.ObjectFields[0].FromDBObjectName"
      formControlName='FromDBObjectName' (Onselectdataids)="DBJoinPatchVaue($event)"
      [defaultvalue]="form.get('FromDBObjectName').value"></app-entitylookup> 

      <!-- Type -->
      <app-gb-radiobox class="KeyField" formControlName='DBJoinRelationType'  (RadioButtonOutPut)="DBJoinIndirect($event)"></app-gb-radiobox>
      <br>
    
      <app-entitylookup class="KeyField" [PicklistObj]="DBJoinJson.default.ObjectFields[0].ToObjectName"
      formControlName='ToObjectName' (Onselectdataids)="DBJoinPatchVaue($event)"
      [defaultvalue]="form.get('ToObjectName').value"></app-entitylookup> 
      <!-- Type -->
      <app-entitylookup class="KeyField" [PicklistObj]="DBJoinJson.default.ObjectFields[0].IndirectFromDbobjectName"
      formControlName='IndirectFromDbobjectName' (Onselectdataids)="DBJoinPatchVaue($event)"
      [defaultvalue]="form.get('IndirectFromDbobjectName').value" [style.display]="form.get('DBJoinRelationType').value == 1 ? 'inline-block':'none'" ></app-entitylookup>
      <br>

      <app-gb-radiobox class="KeyField" formControlName='DBJoinJoinType'></app-gb-radiobox>
        
      <app-entitylookup class="KeyField"  [PicklistObj]="DBJoinJson.default.ObjectFields[0].IndirectToDbobjectName"
      formControlName='IndirectToDbobjectName' (Onselectdataids)="DBJoinPatchVaue($event)"
      [defaultvalue]="form.get('IndirectToDbobjectName').value"[style.display]="form.get('DBJoinRelationType').value == 1 ? 'inline-block':'none'" ></app-entitylookup>
    <br>

      <app-gb-textarea class="KeyField" formControlName='DBJoinExpression'></app-gb-textarea>

    </form>
</div>
