<button mat-raised-button color="primary"(click)='themechange()'>Indigo</button>
<button mat-raised-button color="accent"(click)='themechanges()'>Green</button> 
<button mat-raised-button color="warn"(click)='themechangess()'>Red</button> 
