<div class="card m-3">
  <h5 class="card-header">Angular Reactive Form Rules Engine</h5>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <label>Title</label>
          <select
            formControlName="title"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
          >
            <option value=""></option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
          </select>
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>First Name</label>
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
          />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">
              First Name is required
            </div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Last Name</label>
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
          />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>DOB</label>
          <input
            formControlName="dob"
            type="date"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.dob.touched && f.dob.errors }"
          />
          <div *ngIf="f.dob.touched && f.dob.errors" class="invalid-feedback">
            <div *ngIf="f.dob.touched && f.dob.errors.required">dob is required</div>
          </div>
        </div>
        <div class="form-group col">
          <label>Age</label>
          <input
            formControlName="age"
            type="number"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.age.errors }"
          />
          <div *ngIf="f.age.errors" class="invalid-feedback">
            <div *ngIf="f.age.errors.required">age is required</div>
            <div *ngIf="f.age.errors.ageValidator">age not appropriate</div>
            <div *ngIf="f.age.errors.ageappro">{{ f.age.errors.errMsg }}</div>
          </div>
        </div>
      </div>
        <div class="form-row">
          <div class="form-group col">
            <label>Marital Status</label>
            <select
              formControlName="ms"
              class="form-control"
              [ngClass]="{ 'is-invalid': f.ms.touched && f.ms.errors }"
            >
              <option [ngValue]="null" disabled>Choose your status</option>
              <option *ngFor="let prf of allstatus" [ngValue]="prf">
                {{ prf }}
              </option>
            </select>
          </div>
          <div class="form-group col">
            <label>Spouse Name</label>
            <input
              formControlName="snm"
              class="form-control"
              [ngClass]="{ 'is-invalid': f.snm.errors }"
            />
            <div *ngIf="f.snm.errors" class="invalid-feedback">
              <div *ngIf="f.snm.errors.required">snm is required</div>
            </div>
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
        <label>DOM</label>
        <input
          formControlName="dom"
          type="date"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.dom.touched && f.dom.errors }"
        />
        <div *ngIf="f.dom.touched && f.dom.errors" class="invalid-feedback">
          <div *ngIf="f.dom.touched && f.dom.errors.required">dom is required</div>
        </div>
        </div><div class="form-group col">
        <label>Div Date</label>
        <input
          formControlName="dod"
          type="date"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.dod.touched && f.dod.errors }"
        />
        </div>
        <div class="form-group col">
        <label>Death Date</label>
        <input
          formControlName="dodt"
          type="date"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.dodt.touched && f.dodt.errors }"
        />
        </div>
      </div>
        <label>CC NUM</label>
        <input
          formControlName="ccnum"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.ccnum.errors }"
        />
        <div *ngIf="f.ccnum.errors" class="invalid-feedback">
          <div *ngIf="f.ccnum.errors.required">ccnum is required</div>
        </div>


      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label>Confirm Password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
          />
          <div
            *ngIf="submitted && f.confirmPassword.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.confirmPassword.errors.required">
              Confirm Password is required
            </div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">
              Passwords must match {{ f.confirmPassword.errors.errMsg }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          formControlName="acceptTerms"
          id="acceptTerms"
          class="form-check-input"
          [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"
        />
        <label for="acceptTerms" class="form-check-label"
          >Accept Terms & Conditions</label
        >
        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
          Accept Ts & Cs is required
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Register</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
