<div>
    <div class="workorder" (click)="viewtable('WorkOrderDetailArray')">
        <div class="heading">Work Orders</div>
        <span *ngIf="Heading.WorkOrderCurrent>Heading.WorkOrderPrevious; else downs"><img class="arrow"
                src="assets/icons/uparrow.png" width="13px" height="16px"></span>
        <p class="values">{{dummyHeaading.WorkOrderCurrent}}</p>
    </div>

    <div class="item" (click)="viewtable('ItemDetailArray')">
        <div class="title">Items</div>
        <span *ngIf="Heading.ItemCurrent>Heading.ItemPrevious; else down"><img class="arrows"
                src="assets/icons/uparrow.png" width="13px" height="16px"></span>
        <p class="value1">{{dummyHeaading.ItemCurrent}}</p>
    </div>
    <div class="process" (click)="viewtable('ProcessDetailAray')">
        <div class="title">Processes</div>
        <span *ngIf="Heading.ProcessCurrent>Heading.ProcessPrevious; else down"><img class="arrows"
                src="assets/icons/uparrow.png" width="13px" height="16px"></span>
        <p class="value1">{{dummyHeaading.ProcessCurrent}}</p>
    </div>
    <div class="orderquantity">
        <div class="title">Order Quantity</div>
        <span *ngIf="Heading.OrderQuantityCurrent>Heading.OrderQuantityPrevious; else down"><img class="arrows"
                src="assets/icons/uparrow.png" width="13px" height="16px"></span>
        <p class="value1">{{dummyHeaading.OrderQuantityCurrent}}</p>
    </div>
    <div class="inprocessorder">
        <div class="title">In-Process Orders</div>
        <span *ngIf="Heading.InProcessOrderCurrent>Heading.InProcessOrderPrevious; else down"><img class="arrows"
                src="assets/icons/uparrow.png" width="13px" height="16px"></span>
        <p class="value1">{{dummyHeaading.InProcessOrderCurrent}}</p>
    </div>
    <div class="plannedorder">
        <div class="title">Planned Orders</div>
        <span *ngIf="Heading.PlannedOrderCurrent>Heading.PlannedOrderPrevious; else down"><img class="arrows"
                src="assets/icons/uparrow.png" width="13px" height="16px"></span>
        <p class="value1">{{dummyHeaading.PlannedOrderCurrent}}</p>
    </div>
    <div class="firmplannedorder">
        <div class="title">Firm Planned Orders</div>
        <span *ngIf="Heading.FirmPlannedOrderCurrent>Heading.FirmPlannedOrderPrevious; else down"><img class="arrows"
                src="assets/icons/uparrow.png" width="13px" height="16px"></span>
        <p class="value1">{{dummyHeaading.FirmPlannedOrderCurrent}}</p>
    </div>
    <div class="firmreleaseorder">
        <div class="title">Firm Ready to Release Orders</div>
        <span *ngIf="Heading.FirmReadyOrderCurrent>Heading.FirmReadyOrderPrevious; else down"><img class="arrows"
                src="assets/icons/uparrow.png" width="13px" height="16px"></span>
        <p class="value1">{{dummyHeaading.FirmReadyOrderCurrent}}</p>
    </div>
    <div class="releaseorder">
        <div class="title">Released Orders</div>
        <span *ngIf="Heading.ReleaseOrderCurrent>Heading.ReleaseOrderPrevious; else down"><img class="arrows"
                src="assets/icons/uparrow.png" width="13px" height="16px"></span>
        <p class="value1">{{dummyHeaading.ReleaseOrderCurrent}}</p>
    </div>
    <ng-template #down><img class="arrows" src="assets/icons/downarrow.png" width="13px" height="16px"></ng-template>
    <ng-template #downs><img class="arrow" src="assets/icons/downarrow.png" width="13px" height="16px"></ng-template>
    <div class="chart">

    </div>
    <div id="worktable">
        <div class="tableheading">No. of Work Orders</div>
        <div class="dbtable">
            <table class="Table">
                <thead class="thead">
                    <tr class="theadtr">
                        <th class="th" style="min-width: 60px;">WO#</th>
                        <th class="th" style="min-width: 70px;">WO Date</th>
                        <th class="th" style="min-width: 60px;">Code</th>
                        <th class="th" style="min-width: 100px;">Name</th>
                        <th class="th" style="min-width: 80px;">Status</th>
                        <th class="th" style="min-width: 100px;">Material</th>
                        <th class="th" style="min-width: 70px;">Duration</th>
                        <th class="th" style="min-width: 130px;">Sch.Start</th>
                        <th class="th" style="min-width: 130px;">Sch.End</th>
                        <th class="th" style="min-width: 100px;">Order Quantity</th>
                        <th class="th" style="min-width: 80px;">Produced</th>
                        <th class="th" style="min-width: 70px;">Rejected</th>
                        <th class="th" style="min-width: 40px;">WIP</th>
                        <th class="th" style="min-width: 60px;">Pending</th>
                        <th class="th" style="min-width: 40px;">P1</th>
                        <th class="th" style="min-width: 40px;">P2</th>
                        <th class="th" style="min-width: 40px;">P3</th>
                        <th class="th" style="min-width: 40px;">P4</th>
                        <th class="th" style="min-width: 40px;">P5</th>

                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr class="tr" [ngClass]="{'color': (i%2 == 0)}" *ngFor="let data of tabledata; let i = index">
                        <td class="td">{{data.WONo}}</td>
                        <td class="td">{{data.WODate}}</td>
                        <td class="td">{{data.Code}}</td>
                        <td class="td">{{data.Name}}</td>
                        <td class="td">{{data.Status}}</td>
                        <td class="td">{{data.Material}}</td>
                        <td class="td">{{data.Duration}}</td>
                        <td class="td">{{data.SchStart}}</td>
                        <td class="td">{{data.SchEnd}}</td>
                        <td class="td">{{data.OrderQuantity}}</td>
                        <td class="td">{{data.Produced}}</td>
                        <td class="td">{{data.Rejected}}</td>
                        <td class="td">{{data.WIP}}</td>
                        <td class="td">{{data.Pending}}</td>
                        <td class="td">{{data.P1}}</td>
                        <td class="td">{{data.P2}}</td>
                        <td class="td">{{data.P3}}</td>
                        <td class="td">{{data.P4}}</td>
                        <td class="td">{{data.P5}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="itemtable">
        <div class="tableheading">No. of Items</div>
        <div class="dbtable">
            <table class="Table">
                <thead class="thead">
                    <tr>
                        <th class="th" style="min-width: 60px;">Code</th>
                        <th class="th" style="min-width: 100px;">Name</th>
                        <th class="th" style="min-width: 80px;"># of Orders</th>
                        <th class="th" style="min-width: 100px;">Order Quantity</th>
                        <th class="th" style="min-width: 80px;">Produced</th>
                        <th class="th" style="min-width: 70px;">Rejected</th>
                        <th class="th" style="min-width: 40px;">WIP</th>
                        <th class="th" style="min-width: 60px;">Pending</th>
                        <th class="th" style="min-width: 40px;">P1</th>
                        <th class="th" style="min-width: 40px;">P2</th>
                        <th class="th" style="min-width: 40px;">P3</th>
                        <th class="th" style="min-width: 40px;">P4</th>
                        <th class="th" style="min-width: 40px;">P5</th>

                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr class="tr" [ngClass]="{'color': (i%2 == 0)}" *ngFor="let data of tabledata; let i = index">
                        <td class="td">{{data.Code}}</td>
                        <td class="td">{{data.Name}}</td>
                        <td class="td">{{data.NoofOrder}}</td>
                        <td class="td">{{data.OrderQuantity}}</td>
                        <td class="td">{{data.Produced}}</td>
                        <td class="td">{{data.Rejected}}</td>
                        <td class="td">{{data.WIP}}</td>
                        <td class="td">{{data.Pending}}</td>
                        <td class="td">{{data.P1}}</td>
                        <td class="td">{{data.P2}}</td>
                        <td class="td">{{data.P3}}</td>
                        <td class="td">{{data.P4}}</td>
                        <td class="td">{{data.P5}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="processtable">
        <div class="tableheading">No. of Process</div>
        <div class="dbtable">
            <table class="Table">
                <thead class="thead">
                    <tr>
                        <th class="th" style="min-width: 60px;">Pr.Code</th>
                        <th class="th" style="min-width: 100px;">Process Name</th>
                        <th class="th" style="min-width: 80px;"># of Orders</th>
                        <th class="th" style="min-width: 100px;">Type</th>
                        <th class="th" style="min-width: 60px;">Code</th>
                        <th class="th" style="min-width: 100px;">Name</th>
                        <th class="th" style="min-width: 100px;">Order Quantity</th>
                        <th class="th" style="min-width: 80px;">Produced</th>
                        <th class="th" style="min-width: 70px;">Rejected</th>
                        <th class="th" style="min-width: 40px;">WIP</th>
                        <th class="th" style="min-width: 60px;">Pending</th>
                        <th class="th" style="min-width: 200px;" colspan="4">Available to work</th>

                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr class="tr" [ngClass]="{'color': (i%2 == 0)}" *ngFor="let data of tabledata; let i = index">
                        <td class="td">{{data.PrCode}}</td>
                        <td class="td">{{data.ProcessName}}</td>
                        <td class="td">{{data.NoofOrder}}</td>
                        <td class="td">{{data.Type}}</td>
                        <td class="td">{{data.Code}}</td>
                        <td class="td">{{data.Name}}</td>
                        <td class="td">{{data.OrderQuantity}}</td>
                        <td class="td">{{data.Produced}}</td>
                        <td class="td">{{data.Rejected}}</td>
                        <td class="td">{{data.WIP}}</td>
                        <td class="td">{{data.Pending}}</td>
                        <td class="td">{{data.P1}}</td>
                        <td class="td">{{data.P2}}</td>
                        <td class="td">{{data.P3}}</td>
                        <td class="td">{{data.P4}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>