@import url("https://fonts.googleapis.com/css?family=Montserrat");

.workorder{
    position: absolute;
    width: 146px;
    height: 284px;
    left: 36px;
    top: 96px;
    cursor: pointer;
    background: linear-gradient(165.15deg, #69297F 0%, #A952C7 99.72%);
    border-radius: 2px;
}

.item{
    position: absolute;
    width: 146px;
    height: 134px;
    left: 198px;
    top: 96px;
    cursor: pointer;
    background: linear-gradient(130.11deg, #972180 0%, #D92FB8 100%);
    border-radius: 2px;
}

.process{
    position: absolute;
    width: 146px;
    height: 134px;
    left: 360px;
    top: 96px;
    cursor: pointer;
    background: linear-gradient(130.94deg, #BF1C7F 0%, #E863B4 101.39%);
    border-radius: 2px    
}

.orderquantity{
    position: absolute;
    width: 146px;
    height: 134px;
    left: 522px;
    top: 96px;
    cursor: pointer;
    background: linear-gradient(129.75deg, #C75F93 1.93%, #D78EB2 100%);
    border-radius: 2px;    
}

.inprocessorder{
    position: absolute;
    width: 146px;
    height: 134px;
    left: 684px;
    top: 96px;
    cursor: pointer;
    background: linear-gradient(130.84deg, #E98118 0%, #EFA65C 101.21%);
    border-radius: 2px;    
}

.plannedorder{
    position: absolute;
    width: 146px;
    height: 134px;
    left: 198px;
    top: 246px;
    cursor: pointer;
    background: linear-gradient(130.11deg, #48A9A6 0%, #70C2C0 100%);
    border-radius: 2px;    
}

.firmplannedorder{
    position: absolute;
    width: 146px;
    height: 134px;
    left: 360px;
    top: 246px;
    cursor: pointer;
    background: linear-gradient(165.15deg, #69297F 0%, #A952C7 99.72%);
    border-radius: 2px    
}

.firmreleaseorder{
    position: absolute;
    width: 146px;
    height: 134px;
    left: 522px;
    top: 246px;
    cursor: pointer;
    background: linear-gradient(130.11deg, #972180 0%, #D92FB8 100%);
    border-radius: 2px;    
}

.releaseorder{
    position: absolute;
    width: 146px;
    height: 134px;
    left: 684px;
    top: 246px;
    cursor: pointer;
    background: linear-gradient(130.94deg, #BF1C7F 0%, #E863B4 101.39%);
    border-radius: 2px;    
}

.chart{
    position: absolute;
    width: 240px;
    height: 284px;
    left: 850px;
    top: 96px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;    
}

.heading{
    width: 70px;
    height: 56px;
    margin-top: 12px;
    margin-left: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
}

.title{
    width: 110px;
    height: 20px;
    margin-top: 12px;
    margin-left: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    color: #FFFFFF;
}

.arrow{
    position: relative;
    left: 13.5px;
    top: 33px;    
}

.arrows{
    position: relative;
    left: 13.5px;
    top: 53px;    
}

.values{
    position: relative;
    width: 52px;
    height: 50px;
    left: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
}

.value1{
    position: relative;
    width: 52px;
    height: 50px;
    left: 36px;
    top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
}

.tableheading{
    position: absolute;
    width: 138px;
    height: 22px;
    left: 36px;
    top: 404px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    
    color: rgba(26, 26, 26, 0.87);    
}
.Table{
    border: 1px solid #666;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px 4px 0px 0px;    
}


.dbtable{
    left: 32px;
    top: 438px;
    position:absolute;
    overflow: scroll;
    max-width: 1060px;
    max-height: 120px;
}

.thead{
    height: 40px;
    background: #69297F;    
}

.th{
    height: 20px;
    width: 10px;
    text-align: center;
    padding: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    
    color: #FFFFFF;
}

.tr{
    height: 36px;
    background-color: #F6F6F6;
}

.td{
    height: 20px;
    text-align: center;
    padding: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    color: rgba(0, 0, 0);
}

.color{
    background-color: #FFFFFF;
}

.dbtable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.dbtable::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.dbtable::-webkit-scrollbar-thumb {
    background: #888;
}
.dbtable::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#worktable{
    display: none;
}

#itemtable{
    display: none;
}

#processtable{
    display: none;
}