<div class="FormOverview" *ngIf="form.bFormReady">
    <form [formGroup]='form'>
        <app-entitylookup class="KeyField" [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].JobProfileName"
            formControlName='JobProfileName' (Onselectdata)="JobProfileLibraryFillFunction($event)"
            [defaultvalue]="form.get('JobProfileName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].DepartmentName"
            formControlName='DepartmentName' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
            [defaultvalue]="form.get('DepartmentName').value"></app-entitylookup>

        <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].JobDescription"
            formControlName='JobDescription' (Onselectdataids)="GetJobTittle($event)"
            [defaultvalue]="form.get('JobDescription').value"></app-entitylookup>

        <app-gb-textarea formControlName='JobProfileSummary'></app-gb-textarea>

        <app-gb-textarea formControlName='JobProfileRemarks'></app-gb-textarea>

        <div class="TabView">

            <div class="FormTab">
                <button class="FormTabLinks TabHeading"
                    (click)="ChangeTab($event, 'ResponsibilitiesAndDuties')">Responsibilities And Duties</button>

                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'KRA')">KRA</button>

                <button class="FormTabLinks TabHeading"
                    (click)="ChangeTab($event, 'Requirements')">Requirements</button>

                <button class="FormTabLinks TabHeading" (click)="ChangeTab($event, 'SkillsandProficiencies')">Skills and
                    Proficiencies</button>
            </div>
<!-- RAD TAB -->
            <div id="ResponsibilitiesAndDuties" class="tabcontent">
                <app-gb-formgrid formControlName='JobProfileDetailArray1'
                    [ArrayDetail]="EditArray" (EditOutPut)="EditRAD($event)"></app-gb-formgrid>
                <button class="Addbtn" (click)="RADLightBox()" [disabled]="isButtonDisabled">Addrow</button>

                <div id="myModal" class="modal">
                    <div class="modal-content">
                        
                        <span class="title mon-sixth">{{title}}</span>
                        <span class="TabName" >{{"Responsibilities And Duties"}}</span>
                        <span class="closeicon" (click)="RADclose()"><mat-icon>cancel</mat-icon></span>

                        <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].DomainName"
                            formControlName='DomainName' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            (Onselectdataids)="GetDomainValue($event)"
                            [defaultvalue]="form.get('DomainName').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].SectionName" (Onselectdataids)="GetSectionValue($event)"
                            formControlName='SectionName' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('SectionName').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].JobProfileDetailParticulars" (Onselectdataids)="GetParticularsValue($event)"
                            formControlName='JobProfileDetailParticulars' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('JobProfileDetailParticulars').value"></app-entitylookup>
                            <br>
                            <div>
                                <Button class="SaveBtn" id="lightBoxSaveRAD" (click)="RADSave()">Save</Button>
                                <button class="SaveBtn" id="lightboxUpdateRAD" (click)="RADUpdateValue()">Update</button>
                                <button class="ClearBtn" (click)="ClearValue()">Clear</button>
                            </div>
                           
                    </div>
                </div>
            </div>
            <div id="KRA" class="tabcontent">
                <app-gb-formgrid formControlName='JobProfileDetailArray2'
                    [ArrayDetail]="EditArray" (EditOutPut)="EditKRA($event)"></app-gb-formgrid>
                <button class="Addbtn" (click)="KRALightBox()" [disabled]="isButtonDisabled">Addrow</button>

                <div id="myModal1" class="modal">
                    <div class="modal-content">
                        
                        <span class="title mon-sixth">{{title}}</span>
                        <span class="TabName" >{{"KRA"}}</span>
                        <span class="closeicon" (click)="KRAClose()"><mat-icon>cancel</mat-icon></span>

                        <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].DomainName"
                            formControlName='DomainName' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            (Onselectdataids)="GetDomainValue($event)"
                            [defaultvalue]="form.get('DomainName').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].SectionName" (Onselectdataids)="GetSectionValue($event)"
                            formControlName='SectionName' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('SectionName').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].JobProfileDetailParticulars" (Onselectdataids)="GetParticularsValue($event)"
                            formControlName='JobProfileDetailParticulars' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('JobProfileDetailParticulars').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].ObjectiveName" (Onselectdataids)="GetObjectiveValue($event)"
                            formControlName='ObjectiveName' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('ObjectiveName').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].KRAName"
                            formControlName='KRAName' (Onselectdataids)="JobProfileLibraryPatchValue($event)" (Onselectdataids)="GetKRAValue($event)"
                            [defaultvalue]="form.get('KRAName').value"></app-entitylookup>

                            <br>
                            <Button class="SaveBtn" id="lightboxSaveKRA" (click)="KRASave()">Save</Button>
                            <button class="SaveBtn" id="lightboxUpdateKRA" (click)="RADUpdateValue()">Update</button>
                            <button class="ClearBtn" (click)="ClearValue()">Clear</button>
                    </div>
                </div>
            </div>
            <div id="Requirements" class="tabcontent">
                <app-gb-formgrid formControlName='JobProfileArray3'
                    [ArrayDetail]="EditArray" (EditOutPut)="EditRequiremants($event)"></app-gb-formgrid>
                <button class="Addbtn" (click)="RequirementsLightBox()" [disabled]="isButtonDisabled">Addrow</button>

                <div id="myModal2" class="modal">
                    <div class="modal-content">
                        
                        <span class="title mon-sixth">{{title}}</span>
                        <span class="TabName" >{{"Requirements"}}</span>
                        <span class="closeicon" (click)="Requirementsclose()"><mat-icon>cancel</mat-icon></span>

                        <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].DomainName"
                            formControlName='DomainName'  (Onselectdataids)="GetDomainValue($event)" (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('DomainName').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].SectionName" (Onselectdataids)="GetSectionValue($event)"
                            formControlName='SectionName' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('SectionName').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].JobProfileDetailParticulars" (Onselectdataids)="GetParticularsValue($event)"
                            formControlName='JobProfileDetailParticulars' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('JobProfileDetailParticulars').value"></app-entitylookup>

                            <br>
                            <Button class="SaveBtn" id="lightboxSaveRequirement" (click)="RequirementSave()">Save</Button>
                            <button class="SaveBtn" id="lightboxUpdateRequirement" (click)="RADUpdateValue()">Update</button>
                            <button class="ClearBtn" (click)="ClearValue()">Clear</button>
                    </div>
                </div>
            </div>
            <div id="SkillsandProficiencies" class="tabcontent">
                <app-gb-formgrid formControlName='JobProfileArray4'
                    [ArrayDetail]="EditArray" (EditOutPut)="EditSkill($event)"></app-gb-formgrid>
                <button class="Addbtn" (click)="SkillLightBox()" [disabled]="isButtonDisabled">Addrow</button>

                <div id="myModal3" class="modal">
                    <div class="modal-content">
                        
                        <span class="title mon-sixth">{{title}}</span>
                        <span class="TabName" >{{"Skill"}}</span>
                        <span class="closeicon" (click)="Skillclose()"><mat-icon>cancel</mat-icon></span>

                        <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].DomainName"
                            formControlName='DomainName'  (Onselectdataids)="GetDomainValue($event)" (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('DomainName').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].SectionName" (Onselectdataids)="GetSectionValue($event)"
                            formControlName='SectionName' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('SectionName').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].SkillName"
                            formControlName='SkillName' (Onselectdataids)="JobProfileLibraryPatchValue($event)" (Onselectdataids)="GetSkillValue($event)" (Onselectdataids)="GetSkillValue($event)"
                            [defaultvalue]="form.get('SkillName').value"></app-entitylookup>

                            <app-entitylookup [PicklistObj]="JobProfileLibraryJSON.default.ObjectFields[0].JobProfileDetailParticulars" (Onselectdataids)="GetParticularsValue($event)"
                            formControlName='JobProfileDetailParticulars' (Onselectdataids)="JobProfileLibraryPatchValue($event)"
                            [defaultvalue]="form.get('JobProfileDetailParticulars').value"></app-entitylookup>

                            <br>
                            <Button class="SaveBtn" id="lightboxSaveSkill" (click)="SkillsSave()">Save</Button>
                            <button class="SaveBtn" id="lightboxUpdateSkill" (click)="RADUpdateValue()">Update</button>
                            <button class="ClearBtn" (click)="ClearValue()">Clear</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>