@import './../../../../../apps/Goodbooks/Goodbooks/src/assets/Style_Sheet/CommonStyleSheet.scss';

.TabView{
    width: 95vw;
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color);
  }

  .title{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    background-color: #FFFFFF;
  }

  .TabName{
    font-family: 'Helvetica';
    font-style: normal;
    margin-left: 400px;
    width: 800px;
    // justify-content: right;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    background-color: #FFFFFF;
  }

  .closeicon {
    width: 935px;
    display: flex;
    justify-content: right;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: -35px;
  }

  .modal-content {
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border: 1px solid #888;
    width: 960px;
    height: 300px;
    border-radius: 10px;
  }

.ClearBtn {
  color: white;
  font-size: 15px;
  border-radius: 7px;
  width: 80px;
  background-color: #332b3f;
  height: 30px;
  border-color: blueviolet;
  margin-bottom: 15px;
  margin-left: 20px;
}

.SaveBtn{
  color: white;
  font-size: 15px;
  border-radius: 7px;
  width: 80px;
  background-color: #0db239;
  height: 30px;
  border-color: blueviolet;
  margin-bottom: 15px;
}
  .modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .Addbtn {
    color: white;
    font-size: 15px;
    border-radius: 10px;
    width: 80px;
    background-color: #834DD0;
    height: 30px;
    border-color: blueviolet;
    margin-bottom: 15px;
  }
  .FormTab {
      overflow: hidden;
      border: #F6F6F6;
      background: #F6F6F6;
      width: fit-content;
    }
    
    /* Style the buttons inside the tab */
    .FormTab .FormTabLinks {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 9px 16px;
      margin-right: 5px;
      transition: 0.5s;
    }
    
    /* Change background color of buttons on hover */
    .FormTab .FormTabLinks:hover {
      background: linear-gradient(97.95deg, #834DD0 11.48%, #CD309E 83.18%);
      color: #FFFFFF;
      border-radius: 6px;
    }
    
    /* Create an active/current tablink class */
    .FormTab .FormTabLinks.active {
      background: linear-gradient(97.95deg, #834DD0 11.48%, #CD309E 83.18%);
      color: #FFFFFF;
      border-radius: 6px;
    }
  
    .TabHeading{
      font-family: Helvetica;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(26, 26, 26, 0.87);
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      width: max-content;
    }
  
    .TabView::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      border-radius: 10px;
  }
  
  .TabView::-webkit-scrollbar-track {
      background: rgba(26, 26, 26, 0.32);
  }
  
  .TabView::-webkit-scrollbar-thumb {
      background: var(--color);
  }
  
  .TabView::-webkit-scrollbar-thumb:hover {
      background: var(--color);
  }
  .dateChange{
    padding-left: 20px;
  }
  .spanLabel{
    padding-left: 77px;
  }
  .addbox{
    cursor: pointer;
}