<!-- <goodbooks-gbgrid
[rowData]='rowData' 
[columnData]='columnData'
[defaultColDef]='defaultColDef'>
</goodbooks-gbgrid> -->


<div class="dbtable">
  <table class="Table">
      <thead class="thead">
          <tr class="theadtr">
              <th class="th cap1-bold-12-white" >Code</th>
              <th class="th cap1-bold-12-white" >Name</th>
              <th class="th cap1-bold-12-white" >Type</th>
              <th class="th cap1-bold-12-white" >No. of Decimal</th>
          </tr>
      </thead>
      <tbody class="tbody">
          <tr *ngFor="let data of rowData; let i=index">
              <td class="td cap2-med-12-type-primary" >{{data.UOMCode }}</td>
              <td class="td cap2-med-12-type-primary" >{{data.UOMName}}</td>
              <td class="td cap2-med-12-type-primary" >{{data.UOMType}}</td>
              <td class="td cap2-med-12-type-primary" >{{data.UOMNoOfDecimals}}</td>
          </tr>
      </tbody>
  </table>
</div>


  